[2018-12-03 19:15] gr2m commented on #1262
try change `reject();` to something more useful, like `reject(new Error('Unexpected response code: ' + response.statusCode)`;

[2018-12-03 19:24] junaidahmed92 commented on #1262
Thanks for the answer. Is there anyway to do that with current
implementation? Means without changing anything?

On Tue, Dec 4, 2018, 12:15 AM Gregor Martynus <notifications@github.com
wrote:

[2018-12-03 19:56] gr2m commented on #1262
I don’t know. Where does the `callback` come from?

[2018-12-03 21:40] #1199 closed

[2018-12-07 19:01] labsvisual opened #1265 "default parameter for `method`"
**What is the expected behavior?**
When `nock( host ).intercept( ... )` is invoked **without** a method as the second argument, it should automatically assume the `GET` verb or, if that is done for a reason, an error should be thrown.

**What is the actual behavior?**
On [this line](https://github.com/nock/nock/blob/master/lib/interceptor.js#L24), when `method.toUpperCase()` is called and if `meth

[2018-12-07 19:12] gr2m commented on #1265
as `.intercept()` is a lower-level method, I’d be careful to add too many defaults, I like the idea of throwing an explicit error. Could you send a pull request with a test?

[2018-12-07 19:14] labsvisual commented on #1265
@gr2m, oh, alright!

And yes, on it!  👍

[2018-12-07 19:19] labsvisual commented on #1265
Are we using `test_intercept.js` to test for the low-level `.intercept()` function?

[2018-12-07 19:30] gr2m commented on #1265
yes. I know it’s confusing right now, we are preparing an effort to clean up the code base right now :)

[2018-12-07 19:39] labsvisual commented on #1265
Take a look. What do you think?

I haven't included validated for every possible argument but only for `method`.

[2018-12-07 19:41] gr2m commented on #1265
can you start a pull request? It will be easier to discuss there

[2018-12-07 20:15] labsvisual commented on #1265
@gr2m all done! 😃

[2018-12-08 16:06] gr2m commented on #1178
We will work on #1077 on Friday, Dec 14th and invite new contributors to join us :)

[2018-12-08 19:40] atishay commented on #1178
Sure. I can definitely help. Considering I am new to nock, please assign me a small set.

[2018-12-08 21:14] gr2m commented on #1178
We’ll setup a live chat, we will publish an update on Tuesday with more information

[2018-12-09 07:07] weekly-digest[bot] opened #1267 "Weekly Digest (2 December, 2018 - 9 December, 2018)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 5 issues were created.
Of these, 4 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #1262 [How to use replyWithError with return reject using nock?](https://github.com/nock/nock/issues/1262), by [junaidahmed92](https://github.com/junaidahmed92)
## CLOSED ISSUES

[2018-12-10 18:42] #1191 closed

[2018-12-10 19:21] gr2m commented on #1212
We would love if you or someone else could work on the issue

[2018-12-11 14:22] LinusU commented on #540
Would still love to see this ☺️ hopefully I can send a PR for this 👍

[2018-12-11 16:32] gr2m opened #1268 "💌📯 Updates"
If you are interested in the most important updates around nock, subscribe to this issue. We will post a comment with a summary of changes each month-ish

[2018-12-11 16:47] pvdlg commented on #578
This feature would still be great and would allow to use nock with tools that run tests concurrently.

[2018-12-11 16:57] RichardLitt commented on #1268
## Hackathon this Friday 14, 1200-1700 local time

👋 Hey there! We're hosting an extended office hours and hackathon this Friday, to get us to complete code coverage and to fix all of the tests.

@gr2m has written up a great post about Nock's roadmap, here: https://medium.com/nodenock/the-nock-roadmap-where-we-are-and-where-we-are-going-8844df218649

And I wrote a post about the hackathon and why

[2018-12-11 17:09] gr2m commented on #578
I agree, let’s leave the issue open.

We could release this as a feature by supporting something like `require('nock/setup')`

[2018-12-12 16:18] paulmelnikow opened #1269 "Hackathon coordination"
Hi! I was going to respond to https://github.com/nock/nock/issues/1268#issuecomment-446277931 but realized that is probably not the best place to have a discussion. 😄

I've used Nock in a handful of projects, though most heavily in [Shields](https://github.com/badges/shields) abstracted through our test framework (see badges/shields#927) which uses [IcedFrisby](https://github.com/icedfrisby/icedfr

[2018-12-12 17:02] gr2m commented on #1269
Hi Paul, that sounds great! Shall we reopen these two issues?

[2018-12-12 19:13] paulmelnikow commented on #1269
Sure, if you'd like! #884 probably is a breaking change, though I'm happy to discuss it. Re #870 I've no idea, though it seems like something tests would help with.

I'm happy to work in a targeted way on tests on Friday; it makes sense that's a hurdle which blocks progress elsewhere.

[2018-12-12 20:10] gr2m commented on #1269
awesome! Yes if we could try to get https://github.com/nock/nock/issues/1077 done first, that would make everything else simpler because we wouldn't have so many false positives on CI

[2018-12-13 16:58] gr2m commented on #1061
@Overdrivr we do a remote hackathon this Friday, wanna join? #1269

[2018-12-14 17:34] RichardLitt commented on #1077
I'm working on tests/test_intercept.js#L2684 now.

[2018-12-14 18:23] RichardLitt opened #1271 "Tests don't skip using `--only` when there is a hashmark in the test name"
**What is the expected behavior?**

Tests should skip if you're running `tap --only test/*.js`.

**What is the actual behavior?**

They don't if there is a `#` in the test description.

**Possible solution**

Just move all of the `(#921)` like comments from the test descriptions.

**How to reproduce the issue**

Run `AIRPLANE=true tap --only ./tests/test_intercept.js -Rspec`.

[2018-12-14 18:32] #1271 closed

[2018-12-14 20:12] gurpreetatwal commented on #1269
Hi all! I'll join in around 4pm PST to work on #892

[2018-12-14 21:03] RichardLitt commented on #1269
@gurpreetatwal Sweet! Looking forward to it. I might be off, but I think that @gr2m should be on around then.

[2018-12-14 21:54] gr2m commented on #1077
I’ll work on `tests/test_nock_off.js#L6`

[2018-12-14 22:40] gr2m commented on #1077
I’ll work on `tests/test_recorder.js#L62` next

[2018-12-14 23:41] paulmelnikow commented on #1077
I've got another half hour here. I'm on a train and my signal is a bit limited, though I'll work on `tests/test_recorder.js#L852` and keep working my way back until time runs out.

[2018-12-15 23:01] #1269 closed

[2018-12-16 07:07] weekly-digest[bot] opened #1282 "Weekly Digest (9 December, 2018 - 16 December, 2018)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 14 issues were created.
Of these, 12 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #1281 [test(test_recorder): De-airplane more recorder tests](https://github.com/nock/nock/pull/1281), by [paulmelnikow](https://github.com/paulmelnikow)
:green_heart: #1268 [💌📯

[2018-12-16 17:16] #1261 closed

[2018-12-16 17:16] #1282 closed

[2018-12-16 17:16] #1267 closed

[2018-12-16 17:18] gr2m commented on #1223
I investigated further and there is something odd ... I can reproduce when I run this locally using Coverall’s repo token

[code]

[2018-12-16 17:32] gr2m commented on #1223
aaaaaand we are back in coverage business \o/ https://travis-ci.org/nock/nock/jobs/468705770

[2018-12-16 17:32] #1223 closed

[2018-12-16 20:00] paulmelnikow commented on #1077
I'm going to see if I can't knock off the rest of these.

[2018-12-17 00:48] paulmelnikow opened #1285 "Replace lodash with native where appropriate"
I noticed there are a lot of uses of lodash. I think where lodash shines is in avoiding reimplementation of functions like `mapValues` within the codebase. However there are a lot of places in the codebase where native functions like `Array#map`, `Object.assign`, and `Array.from(new Set(...))` would be equally understandable, and without the added layer of a library function.

A borderline case is

[2018-12-17 01:02] gr2m commented on #1285
`_.flat` can often times be replace by `[].concat` :)

[code]

There will probably be lots of this all around the codebase, both in tests and the code base. It will be lots of fun to simplify the code base :)

Right now we only have https://medium.com/nodenock/the-nock-roadmap-where-we-are-and-where-we-are-going-8844df218649

Before we jump into refactorings, I’d like to try to have all parts of t

[2018-12-17 01:15] paulmelnikow commented on #1285
Nice!

Could you explain that a bit further? I'm pretty new to semantic-release and can't say I've really digested the whole of what it can do.

[2018-12-17 02:50] gr2m commented on #1285
I’ll get this going 👍

[2018-12-17 13:59] RichardLitt commented on #1223
Yeah! Good work, Gregor!

[2018-12-17 17:46] paulmelnikow opened #1300 "Code formatting"
Shields uses [Prettier](https://prettier.io/) for formatting and I've started using it on all my JavaScript projects. The experience is really delightful. You type, save, and then your syntactically correct valid JavaScript is transformed into pretty JavaScript.

A dev I worked with on Shields who works at Facebook once said he takes auto-formatting so much for granted that, when he sees an editor

[2018-12-17 19:46] paulmelnikow opened #1302 "Coverage updates"
1. I'm not seeing updated coverage numbers in PRs. I _think_ the reason is that coveralls only runs on `master`, and not for PR builds. Does it make sense to change that?
2. Given #1297 we should probably start measuring coverage on the `beta` branch. I don't see a big advantage to measuring on `master`. Should we transition over the config and the badge on the master readme from one to the other?

[2018-12-18 15:13] #576 closed

[2018-12-18 15:13] #579 closed

[2018-12-18 15:13] #530 closed

[2018-12-18 19:08] gr2m commented on #1302
Ooops! Yes, let's change that

Hmmm that's tricky. Maybe we could change it in the beta branch and make the beta branch the default branch for the repository while we work on it? Maybe add a note in the README for clarification?

[2018-12-18 19:11] paulmelnikow commented on #1302
Yea, if changing the default branch doesn’t break things that seems ideal. It’ll help everyone open PRs which target what likely is the correct branch.

[2018-12-18 19:13] gr2m commented on #1302
agree! Can you get this going? I'll review your PRs but then have to drop my broken MacBook, it died on me today :( I'm on my old MacBook right now which sorta works but it's slowing me down quite a bit

[2018-12-18 19:18] nockbot opened #1304 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2018-12-18 19:19] gr2m commented on #1227
I fear nobody is super familiar with the code base right now, but we are working on cleaning that up. We just dropped support for Node < 10, come join the fun :)

[2018-12-18 19:33] gr2m commented on #1304
see https://github.com/semantic-release/semantic-release/issues/563#issuecomment-448341949

[2018-12-18 19:33] #1304 closed

[2018-12-18 20:56] paulmelnikow commented on #529
It would be good to find a way to keep the state intact without modifying the request (especially since we're starting to adopt `got` for testing: #1294).

[2018-12-18 20:57] paulmelnikow commented on #1300
Sure! I think that page I linked to does a pretty good job of it: https://prettier.io/docs/en/editors.html

[2018-12-18 20:59] paulmelnikow commented on #1302
I'd be happy to take this on though I think I'd need admin access to the repo. I'm not sure if there's a need to change any Coveralls config which I think requires it. Changing the default branch definitely does.

[2018-12-18 21:58] gr2m commented on #1302
I've changed the default branch to "beta" :) I don't think there is a need to change anything in coveralls, just all the badges should point to the beta branch, and maybe we could add two npm badges, one showing the "@latest" and one the "@beta" release?

[2018-12-18 22:00] gr2m commented on #1300
Agree 👍

[2018-12-18 22:10] paulmelnikow commented on #1302
sg about the npm badge :)

Coveralls badge image and link both hard-code `master` so they'll need updating. Also in Coveralls, it's showing default branch is master; not sure if it will pick up that change on its own.

[2018-12-18 22:17] gr2m commented on #1302
I've re-synced on coveralls, it now shows "beta" as default branch.

We should probably start writing this all down in "CONTRIBUTING.md", in a maitainers section

[2018-12-18 22:20] paulmelnikow commented on #1300
I can get the tooling change into PR, though running prettier will rewrite the entire repo so it will conflict with everything. Any thoughts on how to time that in relation to the open PRs?

There is a workaround: https://github.com/badges/shields/pull/1866#issuecomment-411567524

[2018-12-18 22:22] gr2m commented on #1300
We can do it now in "beta"? We don't have other open PRs against beta so I don't see much room for conflict. All the older PRs will probably be needed to redone anyway. With or without prettier, I expect to use lots of the new JavaScript features that Node 10+ gives us

[2018-12-18 22:23] paulmelnikow commented on #1302
Yea… I've lots of questions about other aspects too, particularly the release process, the comments, the bot accounts. Could be helpful to capture the reasoning on no package-lock, too.

I'm happy to help draft something, and/or take notes while you talk about how things are set up :)

[2018-12-18 22:49] paulmelnikow opened #1305 "Test runner"
tap is a bit of a bear.

It's slowing me down, though I'm not sure by how much.

Mostly tap is unfamiliar; though an unfamiliar test runner is a still a hurdle to contribution.

Some things it does well, like making sure a certain number of assertions are called or holding up a test until two things have each finished. Though those could be accomplished with `Promise.all` and an async test with an

[2018-12-18 22:55] gr2m commented on #1305
I've yet to find a test runner that works great :) I think "mocha" is probably good choice in the longer term when we want to run tests in both Node & browsers. But for now honestly I'd just stick with tap.

I'm not a big fan of things like Sazerac that packages other things up, it's nice when it works, it's hard when there are subtle problems.

I'm not a fan of Jest either.

Another contended is

[2018-12-19 00:21] paulmelnikow commented on #1305
For what it's worth, Sazerac doesn't package up a runner, it just registers tests with whichever runner you're using. I've only run into two issues using Sazerac with Mocha: it unexpectedly no-ops when `given()` is invoked outside of `test()`. That's not great, though I've only run into it once. The second was a trivial bug which I fixed: mikec/sazerac#12.

Nock doesn't have a ton of data-driven t

[2018-12-19 02:50] paulmelnikow commented on #1305
Is it possible to exclusively run a subtest? If I `.only` the parent test, the entire thing runs. If I don't, none of it runs.

[2018-12-19 16:34] gr2m commented on #1305
I think you have to add the {only: true} setting to both, the parent and the child.

I general I try to avoid sub-tests if possible, where did you run into it?

[2018-12-19 16:35] nockbot opened #1319 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2018-12-19 16:36] gr2m commented on #1319
I know the problem, it has already been resolved. I'll update to the latest semantic-release beta

[2018-12-19 16:37] paulmelnikow commented on #1305
Makes sense. Looks like they're in `test_back.js`, `test_basic_auth.js`, and `test_intercept.js`. They're there for grouping more than anything else, and surely could be flattened.

[2018-12-19 16:39] #1319 closed

[2018-12-19 16:42] gr2m commented on #1305
also we ca split up into more files, I think test_intercept is quite huge

[2018-12-19 16:44] nockbot opened #1321 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2018-12-19 16:46] #1321 closed

[2018-12-19 16:46] gr2m commented on #1321
Hmm might have been a build that was still running after I fixed it with #1320. I hope 🙏

[2018-12-19 17:21] nockbot opened #1323 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2018-12-19 17:30] gr2m commented on #1323
hmm that seemed to be okay now? https://travis-ci.org/nock/nock/jobs/470125339

[2018-12-19 17:30] #1323 closed

[2018-12-19 19:19] #1302 closed

[2018-12-19 19:24] nockbot opened #1327 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2018-12-20 07:17] #1221 closed

[2018-12-20 11:46] #1111 closed

[2018-12-20 15:53] RichardLitt commented on #1282
What a good week. :)

[2018-12-20 21:11] #1300 closed

[2018-12-21 19:05] protoEvangelion opened #1330 "nockBack `before` preprocessing function not executing if there are no fixtures"
Disclaimer: This very well may be the intended behavior and not a bug.

**What is the expected behavior?**

I would expect the `before` function passed to `nockBack` to **execute in both scenarios**. The reason being, I would like to respond with a preprocessed body even if there are no fixtures. In other words, I have a preprocessing function that I would like to run **whether or not there are fi

[2018-12-21 21:50] gr2m commented on #1330
Could you share a code example with comments about how you’d like nock to work for your scenario? Can you elaborate why you "would like to respond with a preprocessed body even if there are no fixtures"?

[2018-12-22 00:41] modestfake commented on #1208
@gr2m I've reproduced it here https://runkit.com/modestfake/node-nock-nock-768
The problem is in this lines of code https://github.com/nock/nock/blob/v10.0.4/lib/request_overrider.js#L405-L426

[2018-12-22 23:49] protoEvangelion commented on #1330
So the more I think about it, the current behavior is something I can live with.

Digging further, my problem was that on the initial generation of fixtures, my test suite fails. After the fixtures are generated however, my test suite passes. I am going to close as solving this does not seem worth modifying this library in order to address.

It was a bit of a learning curve, but I am really enjoyi

[2018-12-22 23:49] #1330 closed

[2018-12-23 07:07] weekly-digest[bot] opened #1331 "Weekly Digest (16 December, 2018 - 23 December, 2018)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 48 issues were created.
Of these, 44 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #1327 [The automated release is failing 🚨](https://github.com/nock/nock/issues/1327), by [nockbot](https://github.com/nockbot)
:green_heart: #1308 [fix: package.engines shows i

[2018-12-23 16:15] gr2m commented on #1331
Awesome week :)

[2018-12-23 16:15] #1331 closed

[2018-12-23 20:44] modestfake commented on #1228
Seems like issue [#1208](https://github.com/nock/nock/issues/1208) is related to this one.

[2018-12-27 01:51] #1117 closed

[2018-12-27 02:45] #1229 closed

[2018-12-27 02:45] #1230 closed

[2018-12-27 13:27] arvydaszenitech opened #1332 "nockBack for AWS dynamodb batchGet"
Hi, i'm trying to use nockBack for AWS dynmamoDB batchGet request. It runs well for the first time and creates a fixture, but when it should use stored fixture `dynamodb.batchGet` times out.

It seems like batchGet makes multiple requests, so I tried to enable [persist](https://github.com/nock/nock#persist) mode. I couldn't find how to do it properly for nockBack so after some debugging I did it t

[2018-12-27 14:19] arvydaszenitech commented on #1332
Found the issue. It was AWS SDK dynamoDbCrc32 check. For some reason check failed when running with mocked response. Disabling it before running test solved this issue:
`const dynamodb = new AWS.DynamoDB.DocumentClient({ dynamoDbCrc32: false });`

[2018-12-27 14:19] #1332 closed

[2018-12-30 07:07] weekly-digest[bot] opened #1333 "Weekly Digest (23 December, 2018 - 30 December, 2018)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #1332 [nockBack for AWS dynamodb batchGet](https://github.com/nock/nock/issues/1332), by [arvydaszenitech](https://github.com/arvydaszenitech)
## NOISY ISSUE
:speaker: #1332 [nockBack for AWS dynamodb batchGet](https://github.com/n

[2018-12-31 14:03] Chengxuan commented on #677
This could have been communicated better, our tests started failing after picked up 10.0.5 because most of them use fakeTimer which didn't impact `nock`. Now they all timing out and it took me a while to figure out why. I agree to give more control is better, but I don't think most of existing users know it uses a separate timer due to existing behaviour. They'll need to go through the same debugg

[2018-12-31 14:14] Chengxuan opened #1334 "Mocked request starts timing out after picking up v10.0.5"
**What is the expected behavior?**
A minor version update of `nock` library shouldn't impact my existing tests.
**What is the actual behavior?**
All my tests uses `fakeTimers` are now timing out.
**Possible solution**
Revert the fix for https://github.com/nock/nock/issues/677, or make it optional if it has to go as a minor version update.
**How to reproduce the issue**
Have `sinon.useFakeTimers()`

[2019-01-01 20:02] paulmelnikow commented on #1334
Hi! Sorry about the difficulty and thanks for opening an issue. Do you mean an example of using fake timer? Sinon's fake timers? I'm not familiar with using fake timers with nock. Could you create an example?

Adding a test would be really helpful. It would document the behavior and prevent a future regression. Your help with that would be really welcome :)

[2019-01-01 20:50] humantree commented on #1334
I'm also encountering this issue. Here is a simple example of it occurring: https://github.com/humantree/nock-fake-timers

This test passes on 10.0.4, but fails on 10.0.5.

[2019-01-01 21:07] Chengxuan commented on #1334
@gr2m @taylor1791 would appreciate your opinions on this issue since the change was introduced by you.

[2019-01-01 23:15] taylor1791 commented on #1334
Regarding the statement:

I completely agree, but I think that I think that should be discussed in a different MR. In addition, it is certainly a breaking change if !677 is.

If the maintainers of nock deem it appropriate, I am happy to help contribute a fix. I think there are a few choices to fix it, but I agree with @chenghung. I think the best "fix" is to revert, mark it as a breaking change, a

[2019-01-02 02:12] paulmelnikow commented on #1334
I can see the argument that this should be a breaking change. It begs the question though: is the new behavior desirable?

@humantree thanks for the example:

[code]

How would you take advantage of fake timers in a test with nock?

@taylor1791 do you have an example where fake-timing nock's internal timer was desirable?

[2019-01-02 02:20] humantree commented on #1334
In my case, the test that broke was testing a library that hit a list of URLs multiple times a second. In order to prevent this, I was using Sinon to freeze the timer so that I could use Nock to fake these URLs and be sure they were only hit once.

[2019-01-02 07:55] Chengxuan commented on #1334
@paulmelnikow I'd like to address that if you only use fake timer without using `nock` in a test and let the application call out to the real http endpoint, you DO NOT need to manipulate the timer to make the test receiving those http responses (example test: https://github.com/Chengxuan/http-response-test/blob/master/test.js).

I'd encourage whatever new capability introduced by this change shoul

[2019-01-02 08:13] Chengxuan commented on #1334
@paulmelnikow @taylor1791 @humantree To make sure we don't go too far away from the original issue. Can we work on fixing this first by reverting the change if we all agree on the follows:
1. a minor version update shouldn't change the existing behaviour of the library
2. the change of the behaviour is introduced as a `side effect` of fixing a code consistency issue
4. the change of the behaviour

[2019-01-02 16:53] gr2m commented on #1334
I'm not yet sure if this is a breaking change? The behaviour that broke for you was never documented or tested. But as this affects so many people I’d be okay with reverting it for now.

We can release it as a breaking change, but what would the migration path be? I use [lolex](https://www.npmjs.com/package/lolex) whenever I need to mock time and never had problems with it when using the [`.instal

[2019-01-02 18:07] Chengxuan commented on #1334
@gr2m `lolex` is extracted `sinon`. The same issue can be recreated with `lolex` as well. Here is the same broken test from @humantree. It's using `lolex` instead of `sinon` fake timer: https://github.com/Chengxuan/nock-fake-timers/blob/master/test/test.js and the issue is still there. The test passes with 10.0.4, but not 10.0.5. I agree that a test should be written to avoid regression in the fut

[2019-01-02 18:12] gr2m commented on #1334
Thanks @Chengxuan.

Could someone send a PR to revert #677? We will release it as a fix release

[2019-01-02 18:40] paulmelnikow commented on #1334
It'd be helpful to include a test, as well, that `lolex.install()` does not interfere with `nock`.

[2019-01-02 19:52] Chengxuan commented on #1334
I'll work on a PR then.

[2019-01-02 21:39] RichardLitt commented on #677
@Chengxuan Well articulated! I think an example would be great. We're sorry about how this inconvenienced you.

[2019-01-02 21:39] RichardLitt commented on #1332
Bizarre. Thanks for logging, @arvydaszenitech,

[2019-01-02 21:40] #1333 closed

[2019-01-02 21:48] Chengxuan commented on #677
FYI @RichardLitt more discussion have happened in https://github.com/nock/nock/issues/1334.

[2019-01-02 21:56] RichardLitt commented on #677
Ah, sweet. Closing this.

[2019-01-02 21:56] #677 closed

[2019-01-02 23:56] nockbot opened #1339 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-01-03 04:47] paulmelnikow commented on #1305
I'm reading this stack trace from https://github.com/nock/nock/pull/1336#issuecomment-451014272:

[code]

The line numbers seem really wonky.

e.g. ` lib/request_overrider.js:13:2146` which is line 13, character 2146.

Any idea what's going on?

[2019-01-03 05:36] paulmelnikow commented on #1305
Huh… are the line numbers changing because `const` declarations are being hoisted?

[2019-01-03 06:05] #1334 closed

[2019-01-03 06:12] #1339 closed

[2019-01-03 19:59] nockbot opened #1345 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-01-03 20:12] gr2m commented on #1345
Still seems to happen when merging multiple pull requests while one is still running. Maybe updating to latest https://github.com/semantic-release/semantic-release/releases/tag/v16.0.0-beta.15%40beta will fix it

[2019-01-03 21:22] paulmelnikow opened #1349 "Coverage status in PR"
I think Coveralls has a way to report the new coverage amount in a PR check… without posting a comment (those comments are so noisy).

@gr2m what do you think about turning that on?

Seeing the effect makes improving coverage more fun, and also makes it easy to see if the change is working.

[2019-01-04 05:20] gr2m commented on #1349
Hmm I’m curious why it isn’t reporting, I had the "USE STATUS API?" setting enabled. I’ve now also set thresholds, maybe it’ll work now

[2019-01-04 15:38] paulmelnikow commented on #1349
Could it be an authorization issue between Coveralls and GH?

[2019-01-04 18:04] gr2m commented on #1349
Hmm I don’t think so, I only set it up from scratch because there was a problem caused by the rename of the org from `node-nock` to just `nock`. Let me try to sync again.

I think coveralls is just not that reliable in general unfortunately

[2019-01-04 18:09] paulmelnikow commented on #1349
😢

[2019-01-04 18:11] paulmelnikow opened #1351 "Tests should send mocked requests to fake hostname"
Let's change them all from e.g. `example.com` and `www.google.com` to `example.test`.

See https://github.com/nock/nock/pull/1347#discussion_r245127963

[2019-01-05 16:56] #1236 closed

[2019-01-05 16:57] #1345 closed

[2019-01-05 17:03] nockbot opened #1353 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-01-05 17:08] gr2m commented on #1353
That was caused by a built that didn’t have the semantic-release update yet, I think

[2019-01-05 17:08] #1353 closed

[2019-01-05 22:01] paulmelnikow commented on #1349
Is it also set up through Marketplace?

https://github.com/marketplace/coveralls

[2019-01-05 22:16] gr2m commented on #1349
no let me try that

[2019-01-05 22:20] gr2m commented on #1349
actually it says the app was already installed. But I think I found the problem

https://github.com/nock/nock/blob/0d29ef1e12de66cb12ca1dbbdcb6412a5384fcf3/.travis.yml#L43-L47

The coverage build is currently only run in the release stage, we have to move it to the general test stage. Sorry, my fault, will fix right away

[2019-01-05 22:35] paulmelnikow commented on #1349
Ah, fabulous!

[2019-01-05 22:37] #1349 closed

[2019-01-05 23:37] paulmelnikow commented on #1305
This test is giving me `not ok test unfinished`. I tried adding a `t.end()` but no dice.

[code]

[2019-01-06 05:56] gr2m commented on #1305
that usually means that some process is still hanging. I’ll have a look

[2019-01-06 07:07] weekly-digest[bot] opened #1360 "Weekly Digest (30 December, 2018 - 6 January, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 26 issues were created.
Of these, 23 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #1359 [test(Scope): Cover implicit `replyDate()`](https://github.com/nock/nock/pull/1359), by [paulmelnikow](https://github.com/paulmelnikow)
:green_heart: #1357 [test(Scope):

[2019-01-06 07:46] #1243 closed

[2019-01-06 07:46] #1360 closed

[2019-01-06 10:13] nockbot opened #1361 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-01-06 11:56] paulmelnikow opened #1365 "CI should fail when `npm run toc` hasn't been run"
I noticed that `npm run toc` hadn't been run on `CONTRIBUTING.md`. Probably it would be a good idea to check in CI that `npm run toc` does not produce any changes to the tree.

[2019-01-06 15:34] jlilja commented on #1305
I can agree that tap is at times strange to work with. Before this I'd never heard of tap before.

I've only worked with projects where we've migrated from mocha so I don't really have an opinion on if I like mocha or not, but I found it much more readable than comparing to tap.

Jest is where I'm at usually, but if there are issues like @paulmelnikow mentions that could be a blocker somewhere alo

[2019-01-06 16:34] gr2m commented on #1305
As we keep running into these weird test cases, we could use them as an opportunity to try another runner. I’m tending towards giving ava a try, but happy to use mocha, too.

[2019-01-06 16:35] gr2m commented on #1365
Ohhh I found the perfect thing for us: https://github.com/pholleran/toc-me I just installed it on https://github.com/octokit/rest.js and works like a charm!

Any objections or shall I set it up?

[2019-01-06 16:50] paulmelnikow commented on #1365
Whoa nice! Yea please do :)

One wrinkle is that prettier has opinions about the formatting of the readme, so we may need to either run prettier, or configure it to format just like prettier wants.

[2019-01-06 18:34] jlilja commented on #1351
Mind if I take this? Seeing as its marked as a first time issue, should I let someone else take it? :)

[2019-01-06 18:37] paulmelnikow commented on #1351
Go for it!!

I try to be really generous with tagging good first issues. There's a _ton_ of work that can be done on this project and I don't think we need to worry about not creating enough of it. 😁

[2019-01-06 18:40] gr2m commented on #1351
Thanks @paulmelnikow, this great!

[2019-01-07 06:18] lihail commented on #1240
Is anyone working on this? If not, I could take a look and try to help.

[2019-01-07 14:46] RichardLitt commented on #1240
@lihail Let me know if you need help!

[2019-01-07 16:33] gr2m commented on #1285
We added a badge in the README, we are at 93%:

![image](https://user-images.githubusercontent.com/39992/50779936-8935c280-1256-11e9-81b2-ccd8f9ed9da1.png)

It links to Coveralls which has more details about the current coverage:
https://coveralls.io/github/nock/nock

You can also run `npm test && npm run coverage` to see the coverage report locally

[2019-01-07 16:36] lihail commented on #1285
@gr2m and what about my other question?

[2019-01-07 16:44] gr2m commented on #1285
I have no strong feelings either way. I don’t mind replacing usage of lodash as long as it doesn’t make the code harder to read. The coverage is decent now thanks to the relentless effort by Paul :)

[2019-01-07 16:50] jlilja commented on #1285
Yeah thank you Paul! :)

While on the topic of code coverage. Would you say that ~ 80% would be enough? And that 80% would then cover the most essential pieces of code. I know that there is quite the debate on how much you must cover but I just want to know your thoughts :)

[2019-01-07 16:51] lihail commented on #1285
I see. Actually I was a bit afraid making this change without proper coverage first could cause trouble , but now that I saw the 93% coverage, sounds like we're good to go with this one.
I'm starting to take part in nock on the last couple of days and planning on doing so at least for a few more days, so I don't mind doing that too @gr2m, but it might take a few days until I have the time to reach

[2019-01-07 16:59] gr2m commented on #1285
Any contribution is welcome :)

@jlilja I’m a big fan of 100% and would like to reach it one. Once reached it becomes a test by itself. But we don’t need to reach it before we start refactoring, our current coverage is decent. I’d avoid to lower it through, each code change PR should slightly increase it

[2019-01-07 16:59] lihail commented on #1285
@jlila here's my opinion about tests: I can say that in my team (where I work), we honestly don't look at the coverage percentage. Instead, *every* new code that is inserted to the codebase must be inserted with tests too. The exception is the backend, in which we do only integration tests. I find this method a bit tedious but very rewarding in the long term, and I believe this project could benef

[2019-01-07 17:06] paulmelnikow commented on #1285
I don't think 100% is a bad target for a library like this. There are a bajillion edge cases and lots of ways in which people's tests can be broken. If we're going to break things I'd rather do it deliberately and with notice in the changelog :) Agreed with @gr2m that we maybe shouldn't aim all the way for 100% before starting the refactor, as we may wand to just remove big chunks of code. @lihail

[2019-01-07 17:07] paulmelnikow commented on #1365
#1369 is handling this.

Should we remove the old `markdown-toc` tasks?

[2019-01-07 17:17] gr2m commented on #1365
Yeah I think we can remove it now, but we should update https://github.com/nock/nock/blob/beta/CONTRIBUTING.md#generate-readme-toc and mention that it’s generated automatically now, but maybe also explain how to generate it locally using `npx`?

[2019-01-07 17:30] lihail commented on #1285
@paulmelnikow great work so far! Maybe you could finish what you've already started and tell us what's the coverage at that point? Then we could decide what to do next.

[2019-01-07 17:32] paulmelnikow commented on #1285
Nothing in progress right now!

[2019-01-07 17:44] lihail commented on #1285
Oh lol, so what's the coverage now?

[2019-01-08 07:19] lihail commented on #1240
Thanks, I've started working on this. It doesn't look like too much work, the problem is that I don't have much time so it will take a few days.

[2019-01-08 19:43] paulmelnikow commented on #1285
@gr2m Any thoughts on that?

[2019-01-08 20:40] gr2m commented on #1285
I think that’s a great theme for the next nock open source Friday /cc @RichardLitt

[2019-01-09 07:47] lihail commented on #1240
This is the first time I'm creating and using GitHub Probot apps (and GitHub apps generally), so I've created a probot app and a test repo, and installed the app on the repo. I've defined the app to comment on any new issue (just for testing) and it works. If you've got some experience with probot, I'll be glad if you could help me:

1. I've found a probot [extension](https://github.com/probot/sch

[2019-01-09 18:01] RichardLitt commented on #1240
I would update every month. This isn't related to the code, and every week is a bit noisy.

Oooh, glitch. I still haven't played with that. Would be a cool solution.

[2019-01-09 23:48] protoEvangelion commented on #1212
@richardscarrott thanks for pointing me in the right direction with this. The additional problem I had to figure out was that I needed to re-gzip after normalizing. This was because https://github.com/octokit/rest.js expects the response to be gzipped.

To work with `nockBack`, without changing nock internally, here is what I did in the `afterRecord` callback:

[code]

[2019-01-10 13:02] parky128 opened #1373 "How to change reply on same matched request between tests"
Im having a problem using `nock` to change the response to a matching request between by tests.

My test is as follows:

    describe('When performing a Fetch operation', () => {
      const params = { service_name: 'a-service', path: '/some-path' };
      const responseBodyStub = { foo: 'bar' };

      before(() => {
        nock(apiHostName)
          .get('/a-service/v1/some-path')
          .r

[2019-01-10 13:44] #1373 closed

[2019-01-10 16:57] kbakba commented on #540
You can see https://github.com/3rd-Eden/nock-knock

[2019-01-10 17:03] kbakba commented on #507
I think native 'querystring'

see https://github.com/nock/nock/pull/563#issuecomment-338104773

[2019-01-10 18:32] gr2m commented on #540
me too!

[2019-01-10 18:32] gr2m commented on #540
PR welcome @LinusU  :)

[2019-01-10 18:51] gr2m commented on #1241
Actually I think the readme example is the problem here. As we use `this` we cannot use the arrow function

can you try this instead?

[code]

[2019-01-10 19:06] gr2m commented on #1241
Yeah that's it, here is a runkit notebook: https://runkit.com/gr2m/nock-nock-1241/1.0.0

Could you please update the README?

[2019-01-10 19:17] paulmelnikow commented on #540
There are a lot of things we can do to make nock friendlier to use. I do think it's worth changing or extending the API to support things like [passing the entire URL in one string](https://github.com/timjnh/knockers#basic-usage).

At the same time, we've discussed wanting to make nock more modular and breaking out modules into smaller packages and/or repos. I'd like to stay on that track. Do you

[2019-01-10 19:19] paulmelnikow commented on #1241
Oops! I didn't realize we were doing this! It's so… mocha-y.

[2019-01-10 19:23] gr2m commented on #1241
yeah I don’t like relying on `this` either. Definitely something we should get rid of

[2019-01-10 21:26] RichardLitt opened #1374 "Next Maintainathon: Friday, January 18th!"
Let's have another one! Does this date work for you, @paulmelnikow and @jlilja? Gregor and I should be free for most of it (just talked to him). Anyone else want to join us, too, for a fun day of pair programming and collaborative hacking on Nock?

I think the goal for next week ought to be getting our coverage metrics a bit higher.

---

### Update

Gitter chat: https://gitter.im/nock/Lobby
Zoom

[2019-01-11 02:10] paulmelnikow commented on #1374
That day should work for me!

I've been working on the coverage metric and I think more hands on that would be great. Though even more important to me is setting a goalpost together. We're in this phase where we're focused on improving the coverage before starting on bigger refactors, and it would be nice to have clarity on what work needs to be done to get there. I suggested a line-by-line triage

[2019-01-11 02:17] gr2m commented on #1374
For the line-by-line triage we’d all need to be on a call, right? I think that might be hard. But maybe we can do that before hand with a few people with the goal to create separate issues (or a meta issues such as #1077) that we can then work off independently during the hackathon?

[2019-01-11 04:20] gr2m commented on #1374
I’ve some time this weekend. Maybe Saturday 10am Pacific time?

[2019-01-11 09:42] jlilja commented on #1374
I've actually got another hackathon planned for that entire weekend. But I've planned to do some work this weekend on Nock, in case anyone wants to have a zoom chat. 😃

[2019-01-11 09:49] RichardLitt commented on #1374
Hmm. Perhaps Saturday at 10am PST would work for you? I can see if I can phone in.

[2019-01-11 10:46] jlilja commented on #1374
Sounds good to me! That'd be 19:00 CET for me, if I've got it right this time 😄

[2019-01-11 16:36] paulmelnikow commented on #1374
Great! It's on my calendar :)

[2019-01-11 16:39] RichardLitt commented on #1374
I've scheduled a Zoom meeting for ya'll. Details:

Join Zoom Meeting https://zoom.us/j/468734613
One tap mobile +19294362866,,468734613# US +16699006833,,468734613# US (San Jose) Dial by your location +1 929 436 2866 US +1 669 900 6833 US (San Jose) Meeting ID: 468 734 613 Find your local number: https://zoom.us/u/aMUEFGB9G

[2019-01-12 18:04] gr2m commented on #1374
I’ll be there in a minute

[2019-01-14 18:07] gr2m commented on #1374
@paulmelnikow @jlilja we had to move a doctor’s appointment and I think I won’t be able to make our call on Wednesday at 10.30 Pacific Time. Can we push it back (the later the more likely I’ll be able to make it) or do it at 7am Pacific time?

[2019-01-14 18:09] paulmelnikow commented on #1374
7–8:30 UTC-8 works for me.

Later also works, though it'll be evening @jlilja's time.

[2019-01-14 21:56] RichardLitt commented on #1374
I posted a Medium post about last time, and this Friday. :)

https://medium.com/nodenock/the-nock-maintainathon-success-f0f5ae07457a

[2019-01-15 23:28] sstern6 opened #1378 "replyWithError overriding arguments of object that contains`response`."
**What is the expected behavior?**
when calling

test.js
[code]
promise.js
[code]
I have access to error.response in the error object.
**What is the actual behavior?**
Currently error.response is undefined.
**Possible solution**
N/A
**How to reproduce the issue**

Runkit: _[Example link](https://runkit.com/gr2m/node-nock-nock-768)_

_Having problem producing a test case? Try and ask the community

[2019-01-16 15:31] gr2m commented on #1374
Sorry I just saw we were meant to start 7am! I’ve put it in my calendar for 7.30, are you around?

[2019-01-16 15:41] paulmelnikow commented on #1374
Joining now!

[2019-01-16 15:51] #1077 closed

[2019-01-16 15:53] jlilja commented on #1374
So many time zones, hah. I haven't even gone for the day at my workplace yet. :)

That'd be 20:30 for me if I've counted right - works for me.

[2019-01-16 15:54] gr2m commented on #1077
![](https://media.giphy.com/media/10hO3rDNqqg2Xe/giphy.gif)

[2019-01-16 17:24] paulmelnikow commented on #1374
Hey @RichardLitt there was a comment in gitter by someone who landed on a locked post via medium. Could you link the old article to the new article? Since folks can’t post announcements maybe the CTA should also invite them to this thread.

[2019-01-16 18:08] RichardLitt commented on #1268
Update! So, we have finished the old hackathon above. Now, it's time for a new one. This Friday.

## Friday January 18, 12-1600 Local time

Description:Richard Littauer is inviting you to a scheduled Zoom meeting.

Join Zoom Meeting
https://zoom.us/j/714137753

One tap mobile
+19294362866,,714137753# US
+16699006833,,714137753# US (San Jose)

Dial by your location
        +1 929 436 2866 US

[2019-01-16 18:11] RichardLitt commented on #1374
Ok. I'll update the CTA. I also posted the article in that issue. :)

[2019-01-16 18:19] ehabdevel commented on #1374
Hi,
Thank your guys for the opening invitation, you all do a great work.
and I think this day will be more helpful for me.
hope I can do be good support.

[2019-01-16 20:48] gr2m commented on #1374
I'll be on-and-off on Friday. Unfortunately we won’t have help with the kids and we have a doctors appointment at noon so I’m more restricted than I hoped. I’ll be around

- 9.00 - 10.30am
- 2.30 - 4.00pm

All in pacific time

[2019-01-16 21:35] paulmelnikow commented on #1374
I'm gonna aim for around 12-4 UTC-5 on Friday (which is 9-1 Pacific).

[2019-01-16 21:37] RichardLitt commented on #1374
I'm scheduled to be on for the same time! See you soon. :)

[2019-01-17 21:08] jlilja commented on #1351
Alright. I think I got most of these done. Some of the tests make assertions based on actually getting through - like enable net connect and allowUnmocked options.

How about setting google.com for those requests that actually have to go through, and a.google.com for subdomain checks?

[2019-01-17 21:12] paulmelnikow commented on #1351
Ah, I came across one like that before as well. If the tests are still based on getting through, they need to be rewritten. Basically, they should have used `AIRPLANE` but didn't. You could add TODOs, I think…

[2019-01-18 01:34] gr2m commented on #1351
Maybe instead of using `google.com`, we could spawn our own servers and mock `localhost`?

[2019-01-18 14:10] ehabdevel commented on #1374
( UTC-5 | pacific time | ET/PT | UTC-8 | CET | PST ) ...  o.O

We still miss the GMT here,
I think the Maintainathon will start at 7:00 PM by my local Cairo time (GMT+2)

Hope somebody can find me online if I'm lost :laughing:

[2019-01-18 14:47] RichardLitt commented on #1374
Heh! We wanted to make it work for any time zone, so that people don't feel the need to be on at weird hours; hence setting it for 12-4, local time. It does mean you're likely to be alone, though. :/ Might be worth reconsidering this.

I'll be on from 12-4:00 EST today.

[2019-01-18 16:52] gr2m commented on #1374
Gitter chat: https://gitter.im/nock/Lobby
Zoom call: https://zoom.us/j/714137753

Today’s instructions

1. search the code base for "TODO-coverage":
https://github.com/nock/nock/search?q=todo-coverage&unscoped_q=todo-coverage and just
2. Pick which of the comments you’d like to work on
3. Let us know which one you work on :)

[2019-01-18 17:13] gr2m commented on #1374
I’ll work on this one the one in socket.js https://github.com/nock/nock/blob/950a7db51d51debe49cdfc22c949f4618f30661d/lib/socket.js#L46-L56

[2019-01-18 17:34] RichardLitt commented on #1374
Nice. I got the one in libRecorder.

[2019-01-18 17:36] RichardLitt commented on #1374
What branch do I submit a PR to?

[2019-01-18 17:37] paulmelnikow commented on #1374
`beta` :)

[2019-01-18 17:50] paulmelnikow commented on #1374
I'm going to work on the coverage TODOs in `request_overrider.js`.

[2019-01-19 03:07] nockbot opened #1387 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-01-19 03:16] #1387 closed

[2019-01-20 05:17] kevinnio commented on #1259
Sorry, I've been quite busy since the end of last year. I'm going to spend some time working on this tomorrow.

[2019-01-20 07:07] weekly-digest[bot] opened #1388 "Weekly Digest (13 January, 2019 - 20 January, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 12 issues were created.
Of these, 11 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #1378 [replyWithError overriding arguments of object that contains`response`.](https://github.com/nock/nock/issues/1378), by [sstern6](https://github.com/sstern6)
## CLOSED ISS

[2019-01-21 21:49] paulmelnikow commented on #1374
Should we open a new issue for the remaining TODO-coverage? I don't want this to get boring, though feel like we're going to need to tackle a few more of those before we can declare success.

Our coverage metric keeps creeping up, which is nice to see!

[2019-01-21 21:50] paulmelnikow commented on #1365
Seems like this is obsoleted by toc-bot.

Should we remove the `markdown-toc` references from `package.json` or are they still useful?

[2019-01-22 00:17] gr2m commented on #1365
I’ve run into another bug with `toc-bot` where it would create empty commits: https://github.com/pholleran/toc-me/issues/13

Other than that I think we are good :)

Yeah I think we can get rid of `markdown-toc` 👍

[2019-01-22 00:20] gr2m commented on #1374
good idea! Let's do a follow up issue for further discussion and then close this issue

[2019-01-22 19:02] #1365 closed

[2019-01-22 19:53] kevinnio commented on #1259
So, just finished my first attempt to it. Ready for review.

[2019-01-22 22:41] dizzyrow opened #1392 "Nock intercept appears to prevent sinon stubs from working"
Im running unit tests against a software application. Within the specific part of the application I have some async functions, followed by an http request, followed by more async functions. I am working on just stubbing everything out with sinon to test the code within this function. The first few functions that are hit are stubbed out correctly. The http request is intercepted by my nock and then

[2019-01-23 02:36] dizzyrow commented on #1392
As a temporary fix I ended up removing nock and replacing it with:
[code]
This ended up fixing my problem and all my stubs worked. I would prefer to use nock though since I think it provides a more accurate test case.

If I remove sinon though (short of using a different library to stub out functions) I will fail prior to intercepting the request.

As a background I regularly use nock and sinon bu

[2019-01-23 05:05] paulmelnikow commented on #1392
Also if it's an interop problem, I agree that having a clearer example would make it easier to determine what is going on with nock vs sinon. In your example you're stubbing an async function with a non-awaitable, non-promise return value and your test function doesn't return anything. I know you're saying it's not your actual code, though it is kind of hard to debug. Could you provide a minimal e

[2019-01-23 11:44] nglgzz opened #1393 "Nock does not support OPTIONS method"
I'm trying to mock requests to an API where there are OPTIONS requests. It seems like I cannot do that with nock, is there any plan to add this, or is there some other way I can do it?

I have tried `nock(baseURL).intercept(path, 'OPTIONS').reply(200, data)`, but as I understand from the docs it's not supported.

[2019-01-23 14:38] nglgzz commented on #1393
Never mind. I realized while digging in the code that the 'OPTIONS' method is supported and the problem was with the codebase I'm working on.

It would be great to have that mentioned in the README though.

[2019-01-23 15:36] marbuser opened #1395 "Nock doesn't appear to be intercepting middleware requests?"
**What is the expected behavior?**
Nock successfully finds request inside of middleware.

**What is the actual behavior?**
I have a piece of middleware that performs authentication with a third-party service via request. I do this request with superagent. Obviously I want to mock this in my tests since it slows them down quite a lot and also is dependant on the third-parties server.

When using no

[2019-01-23 15:46] paulmelnikow commented on #1393
Thanks for the PR!

[2019-01-23 15:46] #1393 closed

[2019-01-23 16:33] dizzyrow commented on #1392
Hey sorry about that. I tried to update the function so that the stub returns a promise and the function actually has a return now. I unfortunately cant provide the actual code so this is about as close as possible to what is running. The nock intercepts my request perfectly fine and returns the correct value its just the behavior that occurs afterwards. Someone suggested attempting to use request

[2019-01-23 16:44] paulmelnikow commented on #1392
Can you make a runnable test case in RunKit?

[2019-01-23 18:06] paulmelnikow commented on #1351
@jlilja How are you coming with this? It'd be great to get these updated so new contributors add tests in the style we want. Even if it's only partly done we could merge it.

[2019-01-24 16:59] harshthakur92 commented on #1395
I am using Same URL in different test file, Also added persist(), still i am getting error of
"Expected false to be truthy" please help its irritating.

[2019-01-24 17:05] gr2m commented on #1395
@marbuser you are sending a query?

[code]

Try

[code]

Does that help?

[2019-01-24 17:30] harshthakur92 commented on #1395
it('Should return re details', async () => {
            resServer= nock('https://test.bed.com')
                .persist()
                .get('test?includeDetails=true')
                .reply(successStatusCode, responder);
            const cloudBedsReservationHandler = new CloudBedsReservationHandler();
            await resHandler.getDetail();
            expect(resServer.isDone()).toBeTruth

[2019-01-24 18:01] paulmelnikow commented on #1395
The call to `nock` is not supposed to include the path; could that be the problem?

`nock('https://domain.com/session/')` -> `nock('https://domain.com')`

[2019-01-24 22:52] kevinnio commented on #1259
Given https://github.com/nock/nock/pull/1391#discussion_r250725610, we decided to make nock raise an error whenever the user forgets to add a leading slash into the intercepted path, instead of adding it itself.

[2019-01-25 02:08] #1259 closed

[2019-01-25 10:17] marbuser commented on #1395
@paulmelnikow

I actually managed to figure this out about an hour ago.
I didn't realise Nock was incredibly specific in what URL's it captured, including query params.

I ended up just doing `.query(true)` and it started working, so the query string I was providing must have somehow been differing to the one I had in my code (although on the log statements they were exactly the same?)

[2019-01-25 11:08] pooja098 opened #1399 ".log(console.log) prints null instead of true or false!"
**What is the expected behavior?**
I have requests made from a newman - a command line collection runner for postman. `.log(console.log)` should print either true or false according to the request match. In my case, it should be false, and allowUnmocked set to true should fetch the response from the internet.

I have used this specific regex because i want `/get` and `/get/...` paths to be answere

[2019-01-25 12:49] frequentredundancy opened #1400 "How to avoid repetition in Nock calls?"
So I was wondering if it was possible to create a single Nock instance, and dynamically change the data/response on it based on what test it's on?

For example, 99% of my tests need a mock that succeeds and has no other changes to it, but the other 1% I need to be able to change the data to test for stuff like unauthorised users, banned users, etc...

Is there an easy way to do this with Nock or w

[2019-01-26 20:40] kamalarieff commented on #1373
@parky128 did you manage to solve this?

[2019-01-27 10:01] weekly-digest[bot] opened #1403 "Weekly Digest (20 January, 2019 - 27 January, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 14 issues were created.
Of these, 9 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #1402 [test(delayed_body): Cover delayBody with buffer or delayed stream](https://github.com/nock/nock/pull/1402), by [paulmelnikow](https://github.com/paulmelnikow)
:green_hear

[2019-01-27 14:15] jlilja commented on #1351
Hi, yes of course. I'm working on it right now.

I'll push the changing of names soon, then another PR for converting the other ones needing its own server.

[2019-01-27 16:58] gr2m commented on #1403
great work everyone :)

[2019-01-27 16:58] #1403 closed

[2019-01-28 03:13] #1187 closed

[2019-01-29 18:11] paulmelnikow opened #1404 "Help wanted to reach ~100% code coverage"
As discussed in #1374 and elsewhere, our current milestone is to reach close to 100% coverage on the `beta` branch. With 100% test coverage, the tests take on a life of their own in maintaining the project, and will allow us to refactor – and add functionality – with confidence.

@jlilja, @gr2m and I conducted a line-by-line triage and added 46 comments marked `TODO-coverage` in #1375 and #1380. T

[2019-01-29 18:11] paulmelnikow commented on #1374
Continuation in #1404.

[2019-01-29 18:11] #1374 closed

[2019-01-29 18:13] paulmelnikow commented on #1404
I am no longer working in this file. I got through a lot of the header code, which is what prompted the umbrella `TODO-coverage` comment we wrote at the top of the file. The file is less of a mystery now. Though there are a smattering of uncovered lines for various edge cases. It may need another round of triage.

[2019-01-29 18:38] paulmelnikow commented on #1404
I just tackled the last one in `common.js`.

[2019-01-29 20:11] nockbot opened #1408 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-01-29 20:15] #1408 closed

[2019-01-31 17:43] gr2m commented on #1245
Could you start a pull request against the latest `beta` branch? Then we can have a look into it, otherwise we focus on improving the code base right now, to ease future contributions

[2019-01-31 23:34] elliotf opened #1413 "Provide diffs/potential matches for "Nock: No match for request <string>""
**Context**

Q: What are you trying to do and how would you want to do it differently? Is it something you currently you cannot do? Is this related to an issue/problem?

Nock is very useful, but is has a usability problem when it comes to requests coming in that do not match what has been nocked out. It is a difficult problem to diagnose, often involving comparing two blobs of text side by side.

[2019-02-01 03:13] paulmelnikow opened #1414 "In our test suite, Nock state should reset between tests"
When I ran the tests while offline today, I got a rather confusing set of failures.

<details>

[code]

</details>

It was confusing because many of these tests individually worked fine, but failed this time for reasons related to test ordering or the sequence of failures.

Test failures can of course leave nock in an inconsistent state. That's pretty much expected.

Other manifestations of this i

[2019-02-01 17:30] gr2m commented on #1413
I very, very much am looking forward to see that improved myself. I’d like to finish up code coverage first and maybe do some cleanup of the code so we have a better understanding of its internals and to lower the barrier for (new) contributors. But if you’d like to look into it, please be our guest :)

[2019-02-01 18:28] nockbot opened #1420 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-02-01 18:33] gr2m commented on #1420
all good

[2019-02-01 18:33] #1420 closed

[2019-02-01 21:33] NatalieWolfe opened #1421 "allowUnmocked + query string = interception fail"
**What is the expected behavior?**

When `allowUnmocked` is set to `true` there should be no change in how nock matches requests.

**What is the actual behavior?**

When `allowUnmocked` is set to `true`, query strings _must_ be specified using the `.query` function, not in the path string.

**Possible solution**

This is sort of the opposite problem as #490, which was fixed in #955. That fix may h

[2019-02-01 22:24] NatalieWolfe opened #1422 "allowUnmocked + https causes protocol error"
**What is the expected behavior?**

Making a request for an unmocked HTTPS endpoint should work the same as one for an HTTP endpoint.

**What is the actual behavior?**

An unhandled, invalid protocol error is thrown instead.

[code]

**Possible solution**

Instead of always using `http.ClientRequest` regardless of request protocol, choose between that and the `https.ClientRequest` class.

https://

[2019-02-01 22:33] paulmelnikow commented on #1413
Oh man, yes! So much this. Nock works, but it is very difficult to use. The difficulty in getting nocks and requests lined up when using TDD is incredibly frustrating. The error messages are unhelpful, the interface is confusing (`cleanAll()` vs `activate` vs `enableNetConnect`), the terminology is also confusing (what's a scope? what's an interceptor?). And basically nothing works until everythin

[2019-02-02 01:10] elliotf commented on #1413
Happy to hear that folks are positive about this. I started messing about a bit attempting to get some sort of normalized view of an interceptor vs a request, using a form of levenshtein to sort the available interceptors (though it looks like Jaro-Winkler might yield better results) -- so far I've learned that I have a lot to learn, but it at least looks doable.

[2019-02-02 03:16] paulmelnikow opened #1427 "Testing nock–client integration issues"
The more I read issues like #26 and https://github.com/nodejitsu/mock-request/issues/4 and try to understand why nock is implemented the way it is, the more I wonder if we ought to keep a battery of integration tests using various http clients.

These tests could be used to validate new releases, help client library authors detect quickly when they've made changes that break nock, and be a place w

[2019-02-02 16:19] nijynot commented on #1227
@gr2m I'll join in on the fun :-), just submitted a PR (https://github.com/nock/nock/pull/1428) that fixes the bug. Would be cool if someone could review it.

[2019-02-02 19:20] gr2m commented on #1413
we can start by collaborating on an RFC-kind of Markdown document, explaining the use cases and error message we would aim for to retrieve in these cases, then once we agree on that we can implement it backwards from there :) By that time we might be done with the coverage and refactoring, too.

We don’t have an RFC process yet, we could create a pull request with a throw-away file such as `RFC-14

[2019-02-02 22:14] elliotf commented on #1413
I'll open a pull request shortly, @gr2m :)

[2019-02-02 22:40] elliotf commented on #1413
Closing issue, moving discussion over to #1429.

[2019-02-02 22:40] #1413 closed

[2019-02-03 03:15] paulmelnikow commented on #1404
@gr2m Do you want to finish the one in `socket.js`?

https://github.com/nock/nock/issues/1374#issuecomment-455620276

[2019-02-03 10:01] weekly-digest[bot] opened #1437 "Weekly Digest (27 January, 2019 - 3 February, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 28 issues were created.
Of these, 21 issues have been closed and 7 issues are still open.
## OPEN ISSUES
:green_heart: #1429 [Discussion: better error messages](https://github.com/nock/nock/pull/1429), by [elliotf](https://github.com/elliotf)
:green_heart: #1428 [fix(intercept): Add support for

[2019-02-03 15:54] #1437 closed

[2019-02-03 16:03] paulmelnikow commented on #1427
@gr2m Do you have any thoughts about this? It would be good to start separating the tests that test library–nock integration. They should at least be moved out of the main test suite.

[2019-02-03 16:03] #1206 closed

[2019-02-03 16:36] gr2m commented on #1427
Maybe we create separate repositories for nock + [request library] which would always test the latest nock version against the latest version of [request library].

[2019-02-03 16:55] paulmelnikow commented on #1427
That sounds good. I set up something similar for Shields: https://github.com/badges/daily-tests

I think it may be necessary to test on multiple versions of the request libraries and maybe multiple versions of nock. There are four kinds of failures, and I think we care about three of them:

1. New nock causes incompatibility with current library. **Action:** Determine whether the bug is in nock or

[2019-02-03 17:11] gr2m commented on #1427
I would rather not, at least not ourselves. If people need to use older version that is usually companies. And companies should provide the resources to support older versions, not us. We could for example mention in the readme that people can approach us to create similar repositories for older versions and we can link to them, but we will always and only support the latest versions

We can start

[2019-02-03 17:15] paulmelnikow commented on #1404
After the open PRs are merged, these are the coverage TODOs that are left:

[code]

I may pick up one or two of these, though TBH I've gone about as far as I want to with this. If anyone else is interested in working on these, help would be really appreciated! They tend to be good puzzles!

[2019-02-03 17:19] paulmelnikow commented on #1427
That all makes sense to me! If we maintain the key ones, and test on current library versions in multiple node versions, that creates a formula that people can use to test whatever they want. 👍

[2019-02-03 19:01] pooja098 opened #1442 "Global flag to enable/disable .log(console.log) statement for all the nocks"
**Context**
I have a script that mocks multiple paths of different methods on the same host.

What are you trying to do? Is it something you currently you cannot do?
Requests' match information can be viewed by .log(consol.log) on nock. To see this info for all the nocks I need to put .log() statement on all nocks, and once everything is working as required, I need to remove this statement from ev

[2019-02-04 04:39] gr2m commented on #1427
I can maintain node-fetch as I’m maintainer of that, too. And I depend heavily on it for Octokit.

[2019-02-04 12:00] pooja098 commented on #1442
Yeah, it's quite useful. Basically, I have a script that runs many [postman collections](https://www.getpostman.com/collection) having a variety of requests and some repeating requests, out of which some requests I want to be answered by the original server. So, I've written mocks for the requests (host+path combinations) I want to be mocked and set `allowedUnmocked = true`. Now, I need to put `.l

[2019-02-06 17:17] ericcarino opened #1445 "nock not matching (possibly due to special characters?)"
**What is the expected behavior?**
Here's my nock setup:
[code]

This is the http request:
[code]

I expect the nock to match.

**What is the actual behavior?**
Here's the output from the nock log:
[code]

**Versions**

| Software | Version(s) |
| -------- | ---------- |
| Nock     |      9.2.5      |
| Node     |     10.13.0       |

[2019-02-07 15:22] mukkachaitanya opened #1446 "Nock doesn't reply when data to be sent is `false`"
Consider the snippet:
[code]

**What is the expected behavior?**
The return value when queried the host should be `false`.

**What is the actual behavior?**
The query returns nothing.

**Possible solution**
Couldn't figure it.

**How to reproduce the issue**

Runkit: https://runkit.com/mukkachaitanya/5c5c25d7a3eb1d00121f6041

**Versions**

| Software | Version(s) |
| -------- | ---------- |
| Nock

[2019-02-07 18:06] #1245 closed

[2019-02-07 22:51] ericcarino commented on #1445
BTW, I have worked around the issue by doing:

[code]

This works great.

[2019-02-10 10:01] weekly-digest[bot] opened #1447 "Weekly Digest (3 February, 2019 - 10 February, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 14 issues were created.
Of these, 9 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #1446 [Nock doesn't reply when data to be sent is `false`](https://github.com/nock/nock/issues/1446), by [mukkachaitanya](https://github.com/mukkachaitanya)
:green_heart: #1445

[2019-02-10 16:43] #1239 closed

[2019-02-10 16:43] #1249 closed

[2019-02-12 12:04] ehabdevel commented on #1351
I may came late to this but,
wasn't it be more clear if using a domain like this:-> http://www.someSite.url
which also doesn’t send requests to a real domain.

[2019-02-14 15:15] #1447 closed

[2019-02-14 15:15] RichardLitt commented on #1388
Thank you, @weekly-digest bot.

[2019-02-14 15:15] #1388 closed

[2019-02-14 15:17] RichardLitt commented on #1404
Thank you so much, @paulmelnikow! I'll grab a couple. Perhaps we should schedule another open source friday hackathon, too?

[2019-02-14 15:57] paulmelnikow commented on #1404
That sounds good!

[2019-02-14 20:01] gr2m commented on #1446
Thanks for reporting this issues @mukkachaitanya! The runkit demo is very helpful! I forked it here to see if it works if you replace `false` with a`'false'` string, and it works: https://runkit.com/gr2m/5c65c8a30263bc00126e6ec9

So that is a work around for the time being.

Next step to get this fixed would be to start a pull request (draft) with a failing test. Would you like to give that a go?

[2019-02-14 20:03] gr2m commented on #1445
That is likely due to the special characters.

Could you get create pull request (draft) with a failing test, maybe a little simpler than your example above? Then we can figure out together what the problem is.

The maintainers are currently focused on other things to work on, see #1404. But we sure can help review pull requests and help if you get stuck in some way

[2019-02-14 20:07] gr2m commented on #1351
I think `.test` is made for exactly this use case, see https://en.wikipedia.org/wiki/.test

[2019-02-14 20:38] RichardLitt commented on #1268
Hey all!

The last Maintainathon went really well, so we're going to have another one. The date is **February 22nd**, from **12 noon to 4pm EST**. All of the same details as above apply.

Our goal is to [**finish up code coverage.**](https://github.com/nock/nock/issues/1404)

Throw it in your calendars, tell your friends, see you then!

[2019-02-14 20:41] RichardLitt commented on #1404
Posted a note about it, and scheduled it for next week with a Zoom meeting. See you then!

[2019-02-14 20:41] gr2m commented on #1404
Can you tweet it out, too?

[2019-02-14 20:46] RichardLitt commented on #1404
Done!

[2019-02-15 04:52] avaly opened #1448 "Memory leaked when requiring nock"
**What is the expected behavior?**

Nock should not keep any references that leaks memory.

**What is the actual behavior?**

Nock leaks memory as soon as it is `require`d in a test.

**How to reproduce the issue**

Repro files: https://gist.github.com/avaly/8965470dfc5891836e57e2f95933f3cd

[code]

As soon as the `require('nock');` line is removed/commented out:

[code]

**Versions**

| Software

[2019-02-15 15:54] RichardLitt commented on #1202
We're doing something similar with the #1268 open source fridays maintainathon calls. I am going to close this as being superseded by that initiative.

[2019-02-15 15:54] #1202 closed

[2019-02-15 15:55] RichardLitt commented on #1240
@lihail How are you getting on? Need any help?

[2019-02-16 16:22] lihail commented on #1240
Unfortunately I haven't been working on this for the last few weeks. I'll probably continue when I have some time, but I don't want to hold up anyone, so if someone else wants to do this in the meantime they can.

[2019-02-16 23:04] gr2m commented on #1240
@RichardLitt I would love to give the new All Contributors App a try: https://allcontributors.org/

It’s not exactly what you had in mind initially, but maybe more useful? I don’t think we need to list everyone from the past years. I think we should pick the ones who contributed significantly and then focus on new contributors

[2019-02-16 23:13] gr2m commented on #1448
Thanks @avaly! I fear the reason for this is that requiring `nock` has currently side effects. I think the current way should have been

[code]

But it is what it is :) We were discussing adding a new way to require nock

[code]

I hope that this would resolve the memory leak.

Maybe we could start a pull request to give this a try?

We could add a memory test using leakage, here is an example:
ht

[2019-02-17 03:37] weekly-digest[bot] opened #1450 "Weekly Digest (10 February, 2019 - 17 February, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #1449 [docs: Add some FAQ questions](https://github.com/nock/nock/pull/1449), by [RichardLitt](https://github.com/RichardLitt)
:green_heart: #1448 [Memory leaked when requiring n

[2019-02-17 04:04] #1450 closed

[2019-02-17 16:02] marbuser opened #1451 "Nock "No Matches" for a URL I'm not even mocking?"
**What is the expected behavior?**
Only capture the requests we are actually mocking...

**What is the actual behavior?**
I'm mocking a url;
[code]

This part works as intended.

However if I then have another url on the same domain make a request, it ends up saying;
`No match for request https://example.com/api/avatars/1` (As you can see, this call is to avatars, not users.)

**Possible solution*

[2019-02-18 01:15] gr2m commented on #1451
Does that help? https://github.com/nock/nock#allow-unmocked-requests-on-a-mocked-hostname

[2019-02-18 08:26] marbuser commented on #1451
@gr2m Yep that appears to fix it. Never saw that config option before and swear I couldn't find it when searching lol.

Thanks for your help! :)

[2019-02-18 08:26] #1451 closed

[2019-02-18 15:15] atulkumar-it opened #1452 "Req match with body only not header"
We primarily use GitHub as an issue tracker; for usage and support questions we primairly use StackOverflow. Please tag the questions with `nock` so the community can easily find it. [Go to StackOverflow](https://stackoverflow.com/questions/tagged/nock).

If you want to submit a feature request you can do that [here](https://github.com/nock/nock/issues/new?template=feature_request.md) or bug repor

[2019-02-18 15:19] atulkumar-it commented on #1452
I have many POST requests where header is same, only one of the body parameter is different. So I want to nock based on body matches. Currently what is happening , if some one applied nock 10 times, and even though I am using body matching in my post request, but it just match header (which is same for others) and use the nock defined by other, it doesn't check post body is different. Can you prov

[2019-02-18 16:42] RichardLitt commented on #1240
Yeah, I think it might be more useful. Let's do it! Want me to set it up?

R

[2019-02-18 16:50] gr2m commented on #1240
I got it, I want to collaborate more with the all contributor folks, so this will be a good exercise for me. Thanks :)

[2019-02-18 17:00] RichardLitt commented on #1240
I've been working with @Berkmann18 on this. See https://github.com/all-contributors/all-contributors/issues/18#issuecomment-463686608. He's now a maintainer for name-your-contributors, too. :)

[2019-02-18 17:09] gr2m opened #1453 "🤖 Install Open Collective app"
See https://github.com/apps/opencollective-bot. I’d just like to give this a try. Any objections @nock/maintainers?

[2019-02-18 17:12] gr2m commented on #1240
@all-contributors please add @RichardLitt for maintenance

[2019-02-18 17:32] paulmelnikow commented on #1240
Whoa cool!

[2019-02-18 18:02] gr2m commented on #1452
Can you please post the question to Stackoverflow as the issue template suggests? You can paste the link to the question here for reference. Thanks!

[2019-02-18 18:02] #1452 closed

[2019-02-18 18:21] Berkmann18 commented on #1240
@paulmelnikow It is and it's on the way to be improved alongside `name-your-contributors`.

[2019-02-19 01:19] avaly commented on #1448
I gave it a shot at writing a test for the memory leak, but I am not certain it's very accurate: https://github.com/avaly/nock/commit/2cd505fb4d073ac5cbd3098f76e3c8646ef38650

[2019-02-19 20:37] RichardLitt commented on #1240
Looks like we can close this?

[2019-02-19 21:22] gr2m commented on #1240
I think so 👍

[2019-02-19 21:22] #1240 closed

[2019-02-20 15:13] paulmelnikow commented on #1305
After stepping away from the library for a couple weeks, I'm back and running these tests again.

With that perspective, I'm struck by the poor ergonomics of the output (compared to Mocha). It's hard to find the failing tests, and the stack traces aren't formatted in a way that makes them easy to find.

I'm also struck by the relative difficulty of running individual tests.

It's clear that the te

[2019-02-20 17:19] nockbot opened #1459 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-02-20 17:20] gr2m commented on #1305
+1 from me, let’s give Ava a try. Thanks Paul for all the great work on the tests!

[2019-02-20 17:20] #1459 closed

[2019-02-20 17:21] nockbot opened #1460 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-02-20 17:28] #1460 closed

[2019-02-20 17:36] RichardLitt commented on #1305
Ava has always treated me well. I do wish it was easier to get individual tests working - I feel it's a bit hard, at the moment. let's do it.

[2019-02-21 19:44] gr2m opened #1461 "Add chadfawcett to list of contributors ❤️"
Thanks for backing nock and other Open Source projects, Chad
https://opencollective.com/chadfawcett

[2019-02-21 19:44] gr2m commented on #1461
@allcontributors please add @chadfawcett for financial.

[2019-02-21 20:09] #1461 closed

[2019-02-24 03:37] weekly-digest[bot] opened #1467 "Weekly Digest (17 February, 2019 - 24 February, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 16 issues were created.
Of these, 12 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #1466 [refactor: Remove unnecessary conditional, add test for undefined data](https://github.com/nock/nock/pull/1466), by [RichardLitt](https://github.com/RichardLitt)
:green_h

[2019-02-25 08:07] Levino opened #1470 "Whitelist for "lockdown" mode"
**Context**

I have an express app, which has to do some queries to third parties in order to answer its own queries. I use `supertest` to test the app. Now I record the queries going to the third party with nock and want to play them back on my tests. When I now use `NOCK_BACK_MODE=lockdown`, I get an error because `supertest` tries to connect to the app running at `localhost:34227` or something.

[2019-02-25 14:11] paulmelnikow commented on #1470
I wonder if this is possible by calling [`enableNetConnect('localhost')`](https://github.com/nock/nock#enabling-requests), maybe from the nockBack callback.

[2019-02-26 08:16] Levino commented on #1470
That would add a lot of boilerplate code in every test. Quite annoying. Should be easy to set this as an environment variable, right?

[2019-02-26 09:05] filipeamoreira opened #1471 "Nock setup with Jasmine and Karma"
**What is the expected behavior?**

When using Nock outside of the browser it works (with Jasmine for example). However, running within the browser does not work. At this point I'm not sure if/how nock works within the browser context.

**What is the actual behavior?**

Test fails when running within the browser.

**Possible solution**

It would run successfully within the browser.

**How to repro

[2019-02-26 10:07] rohan-paul opened #1472 "Multiple test running in same file not working giving 404 error"
**What is the expected behavior?**
Multiple test with GET and POST should run (to the same URL)

**What is the actual behavior?**
When I am running both GET and POST API together (see my actual code below) getting below error.

**Request failed with status code 404**

While the individual GET and POST working fine as expected, when I am running ONLY one of them (ie commenting out the code for the

[2019-02-26 14:46] paulmelnikow commented on #1470
It would be nice to pass options into `nockBack`.

The maintainers are currently focused on working on other things, see #1404 and #1441. But we sure can help review pull requests and help if you get stuck in some way.

[2019-02-26 18:29] gr2m commented on #1471
Nock does not yet work in the browser I’m afraid. It's something I’d love to be added in future, but we first have to get some chore work out of the way :) Currently, that’s the Code coverage – any help is welcome: #1404. The faster we get there, the faster we can work on browser support

[2019-02-26 18:29] #1471 closed

[2019-02-26 18:33] gr2m commented on #1472
It will be easier for us to understand the problem if you create a runkit notebook that shows the error without us needing to do any setup.Runkit: Example: https://runkit.com/gr2m/node-nock-nock-768

[2019-02-26 19:13] #1253 closed

[2019-03-03 03:37] weekly-digest[bot] opened #1475 "Weekly Digest (24 February, 2019 - 3 March, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 7 issues were created.
Of these, 3 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #1474 [[RFC] Analysis of lifecycle methods](https://github.com/nock/nock/pull/1474), by [paulmelnikow](https://github.com/paulmelnikow)
:green_heart: #1472 [Multiple test running

[2019-03-03 05:48] gr2m commented on #1475
Good job y’all 👍

[2019-03-03 05:48] #1475 closed

[2019-03-07 19:12] simlu opened #1476 "Detecting unmatched recordings when using nockBack"
**Context**

I'm trying to fail tests when unmatched recordings are present in the recording file when using nockBack.

**Alternatives**

I was hoping I could do something with `before` or `after`, but unfortunately they are not helpful.

Is there maybe a callback that one could use to count the amount of mocked requests?

**Has the feature been requested before?**

Not that I have seen.

**If the

[2019-03-07 21:14] paulmelnikow commented on #1476
Hi!

I've been doing some work on proposing some new lifecycle methods in #1474 (and #1441 before that). In #1441 there was discussion about adding a `nock.assertMocksUsed()` function which would assert that all mocks have been satisfied.

See https://github.com/nock/nock/blob/e644ff350de214823cf80d902df335e179da3928/rfcs/NOCK-001.md#analysis, where I talk about the current way to do this being `s

[2019-03-07 22:26] simlu commented on #1476
@paulmelnikow Beauty! That works perfectly (see pr [here](https://github.com/blackflux/lambda-tdd/pull/317/files)).

Thank you very much for the help! If you think this is a duplicate ticket please feel free to close it,

[2019-03-08 21:33] paulmelnikow commented on #1178
The way this is accomplished in the nock tests is to specify the request body as a function. It'll be called just before the mock request is fulfilled.

[code]

[2019-03-10 03:37] weekly-digest[bot] opened #1477 "Weekly Digest (3 March, 2019 - 10 March, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #1476 [Detecting unmatched recordings when using nockBack](https://github.com/nock/nock/issues/1476), by [simlu](https://github.com/simlu)
## LIKED ISSUE
:+1: #1476 [Detecting unmatched recordings when using nockBack](https://g

[2019-03-10 16:06] gr2m commented on #1477
👍

[2019-03-10 16:06] #1477 closed

[2019-03-10 20:42] #1262 closed

[2019-03-11 18:33] simlu opened #1478 "Enforce Order of Recordings"
**Context**

We use `nockBack` and would like to enforce the order of our recording files. Ideally there is a timeout option that can be set to allow for parallel recordings.

Example:
One request is made, then two other requests are made in parallel. Assuming a correct recording file already exists, the first request should match the first recorded request. However the second request might match

[2019-03-12 21:02] paulmelnikow commented on #1478
Hi! Thanks for raising this.

It sounds like you’re asking to delay requests that happen to fire out of the pre-determined sequence. Is that correct? What does that accomplish / make possible in your test suite?

[2019-03-12 21:36] simlu commented on #1478
@paulmelnikow Thank you for the quick reply! That is correct: delay them and ultimately fail if the previous recordings are never matched.

Main reason is that we look at cassettes in our pr reviews. We strip them down without headers in most cases, so they're actually short and not that bad to review.

While we do use real recordings in many cases, there are also many cases where the cassettes ar

[2019-03-12 22:46] paulmelnikow commented on #1478
Ah, that's really helpful to understand.

Is it necessary that the requests delay when they are out of order, or would it be sufficient to fail if they are out of order?

Yours is an unusual process! It makes sense that you need the requests in order. Since I've never encountered this kind of use case before I'm trying to think of how this would generalize to other scenarios.

[2019-03-12 23:41] simlu commented on #1478
@paulmelnikow I think it is necessary to delay since otherwise you can not handle parallel requests. And those are very essential for performance for us. Immediate nock failure would just result in random failures for those tests...

Unless... the nock interception prevents any true async handling and hence the order would always be consistent? In that case it might be fine? But even then the reco

[2019-03-13 01:00] gr2m commented on #892
@gurpreetatwal are you still interested in working on this? Anything we can help with?

[2019-03-13 03:52] paulmelnikow commented on #1478
I'd love to find a way to do this on top of some kind of lifecycle hook. To give you an idea of what I mean, consider `filteringRequestBody()`. This allows custom code to run during the process of matching up requests with mocks. It's not async, but if it were, it would be possible to conditionally delay a request based on some other state.

There is also a `delay()` function, though that's for un

[2019-03-17 21:04] thib3113 opened #1479 "nock.recorder don't log redirection (302) with axios"
**What is the expected behavior?**
nock seems to record 302 redirections ( I've seen an unit test with super agent, working )

**What is the actual behavior?**
nock doesn't record the redirection when called by axios (only the first call recorded)

**Possible solution**

**How to reproduce the issue**
Here is a test I wrote in `test_recorder.js` :
[code]

[2019-03-17 23:14] gr2m commented on #1479
Thanks for opening the issue! I’m not sure how redirects are currently handled / why 302 are currently not recorded, we would need to investigate. Did you find out anything? Is it the same with libraries other than `axios`?

Just for your information, I use axios on https://github.com/octokit/fixtures/ but with the `maxRedirects: 0` option, that way redirects are recorded, maybe that would be a wo

[2019-03-18 08:36] thib3113 commented on #1479
Hum, for the moment, I've a workaround for my problem ( checking all the records from nock, and manually re-do 302 request, without following the redirection, and doing a request each time axios return à 302 ) .

About the 302 in general, this part : https://github.com/nock/nock/blob/beta/tests/test_recorder.js#L129 , seems to work, so I suppose this 302 error doesn't exist with superagent ? ( in

[2019-03-18 18:00] gr2m commented on #1479
Yes, I agree that nock should correctly record redirects as two requests/responses.

That is very interesting indeed 🤔 We can start a pull request with your failing test and then use it as a starting point to investigate why it seems to work with superagent but not axios. Maybe try with `got` and `request` to see how nock behaves using these?

[2019-03-18 20:07] paulmelnikow commented on #1479
Huh, this sounds like a similar issue to #529. I wonder if the cause might be related.

[2019-03-18 20:12] thib3113 commented on #1479
Ok, so some tests ( It's my first time with TAP)
[code]

with DEBUG=nock.recorder,
produce :
[code]

To use lines number, my line `test('test 302 redirections', t => {`, is line 10 .

Hard to read, but it seems got and axios doesn't record correctly the 302

[2019-03-18 21:00] thib3113 commented on #1479
To try, I put a breakpoint here : https://github.com/nock/nock/blob/beta/lib/recorder.js#L324
And it's called once for got and axios, but twice for request .

By debugging, I found axios use  [follow-redirects](https://github.com/follow-redirects) And in fact, it return the correct url with this line : https://github.com/follow-redirects/follow-redirects/blob/master/index.js#L339 .
But it happen a

[2019-03-18 21:28] thib3113 commented on #1479
After some tests, It seems, we can record the two call here : https://github.com/nock/nock/blob/beta/lib/common.js#L97
I change it to :
[code]
And put a breakpoint on the console.log . This is called two times . Each times with datas .

------
Seems to be the same things with got .

 and the same with request, but callBack is not a function .

Maybe use this, to emit an event ? To record after ?

[2019-03-23 23:15] paulmelnikow commented on #1305
Yikes! Today's tap issue: since `t.rejects` technically creates a _descendent test_, [our `afterEach`
hook](https://github.com/nock/nock/blob/beta/tests/cleanup_after_each.js) runs after each `t.rejects`. This led to unexpected results, where assertions after a `t.rejects` intended to test the post-reject-pre-cleanup state are instead testing the post-cleanup state.

I'm not sure how to fix that i

[2019-03-24 21:25] joetidee opened #1482 "Getting 404 response"
Hello, I have posted a question on stack overflow, but would appreciate some suggestions if I am missing something obvious :)

https://stackoverflow.com/questions/55326651/nock-getting-404-response

[2019-03-25 09:42] seriousManual opened #1483 "Assert that requests have been performed in a certain order"
In my current use-case a transaction is opened and after doing some intermediate requests it is commited.

I ran into an error where the commit happened before some of the intermediate requests, which lead to weird errors. My unit tests are green though because all that has been checked is that all requests have been performed, but not in which order the tests have been performed.

Is there a way

[2019-03-25 20:47] gr2m commented on #1482
Can you reduce the test case? It's hard to follow with the code as is. The best would be a RunKit notebook such as https://runkit.com/gr2m/nock-nock-1241

[2019-03-26 01:31] paulmelnikow commented on #1483
Hi! While this is a similar request to #1478, it sounds like your use cases might also be slightly different.

Are you defining the mocks in code or using `nock.recorder`?

Could you paste in a stripped-down test example to make this concrete?

[2019-03-26 08:55] seriousManual commented on #1483
Hello Paul,

yes I'm defining the mocks manually in the code.

A stripped-down example of the use case may look like this. I added annotations, I hope that makes it clearer!

[code]

[2019-03-26 13:33] #1467 closed

[2019-03-26 13:37] RichardLitt commented on #1268
I've set up a recurring event for the second Friday of the month, for next month, for the next Maintainathon. You can add the event to your Google Calendar, [here](https://calendar.google.com/event?action=TEMPLATE&tmeid=NWduZ2ZyZzZqZnRzbG1sNDA3bmNvaTRsMWlfMjAxOTA0MTJUMTYwMDAwWiA5MWdiY2xrbXNodThoc2E0N2Y1bW9lcms4c0Bn&tmsrc=91gbclkmshu8hsa47f5moerk8s%40group.calendar.google.com&scp=ALL).

See you on

[2019-03-27 17:26] Americas opened #1485 "`allowUnmocked` with body matching fails to get the actual response"
**What is the expected behavior?**

When an interceptor does not match the body of the request, and `allowUnmocked` is true, the request should return the actual response.

**What is the actual behavior?**

The response object is somehow not getting the data from the request and just returns an undefined body.

**Possible solution**

I am a little bit stumped as to what is happening, but I did fin

[2019-03-27 18:26] paulmelnikow commented on #1485
Hi! Could you try with the latest beta release? As of now that's **11.0.0-beta.6**.

[2019-03-28 15:10] Americas commented on #1485
Hi, tested it and the result is the same. The response gets no data.

[2019-03-29 01:05] greenkeeper[bot] opened #1486 "An in-range update of sinon is breaking the build 🚨"
## The devDependency [sinon](https://github.com/sinonjs/sinon) was updated from `7.3.0` to `7.3.1`.

🚨 [View failing branch](https://github.com/nock/nock/compare/beta...nock:greenkeeper%2Fsinon-7.3.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sinon is a devDependency of this project. It **might not break your produc

[2019-03-29 04:05] #1486 closed

[2019-03-30 17:33] greenkeeper[bot] opened #1490 "An in-range update of aws-sdk is breaking the build 🚨"
## The devDependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.431.0` to `2.432.0`.

🚨 [View failing branch](https://github.com/nock/nock/compare/beta...nock:greenkeeper%2Faws-sdk-2.432.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a devDependency of this project. It **might not brea

[2019-03-30 18:55] greenkeeper[bot] opened #1491 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.15.3` to `5.16.0`.

🚨 [View failing branch](https://github.com/nock/nock/compare/beta...nock:greenkeeper%2Feslint-5.16.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **might not break your

[2019-03-30 22:33] #1228 closed

[2019-03-31 15:37] #1491 closed

[2019-04-01 22:19] #1490 closed

[2019-04-02 07:56] karl0ss opened #1492 "PUT is blocking GET?"
I am trying to intercept a PUT request using nock, but something is going really strange...

My code has 2 calls, a GET request

    http://internal-jira.com/rest/api/2/issue/CCC-2142

and a PUT request with payload

    http://internal-jira.com/rest/api/2/issue/CCC-2142
         { fields: { reporter: { name: '8778469' } } }

The process is that it does the GET then uses info from there to do the

[2019-04-02 15:32] RichardLitt commented on #1305
That's not ideal. Maybe this is just another reason to get rid of tap?

[2019-04-02 17:57] gr2m commented on #1492
Hi Karl,

we have an issue template that we would like you to fill out when you create an issue, it helps us to help you.

Especially a RunKit notebook such as https://runkit.com/gr2m/nock-nock-1241 is helpful, we can see the problem directly if there is one, without the need to set up anything locally, at least I don’t have time to do that myself.

[2019-04-02 19:33] kadler15 opened #1493 "HTTP IncomingMessage (response) complete property is false"
Not sure how much of this is mocked as part of this library, but I noticed that the `complete` property on the response to a http request remains false, even after the entire reply message is received by the client (`data` and `end` events handled). E.g.:

[code]

[code]

[2019-04-04 11:23] Americas commented on #1492
Hey, this issue is caused by the same one I have (see #1485).

The interceptor is the url `http://internal-jira.com.com` so it does match the GET request. It then mocks the request, but when mocking it, it realizes that the request does not actually match any scope inside the interceptor and reverts back to calling the request.

The issue then is that the new request is not propagated correctly to

[2019-04-08 12:11] rbrtribeiro commented on #1485
I believe this issue is related with a potential bug in the `propagate` package. We have just submitted an [issue](https://github.com/pgte/propagate/issues/9) there and a [PR](https://github.com/pgte/propagate/pull/8).

[2019-04-08 12:40] Americas commented on #1485
Context:

`propagate` replaces the `emit` method with its own method that is not returning whether the event is handled or not. As we can see [in the docs](https://nodejs.org/api/events.html#events_emitter_emit_eventname_args), `emit` `Returns true if the event had listeners, false otherwise`.

This causes node's `http` class to discard the response, since it thinks that there are no listeners for

[2019-04-10 14:53] andykais commented on #1178
any update on the 'done' event feature @gr2m @atishay? The above example gets to be a pain managing state once a scope has more than one request. E.g.

[code]

[2019-04-10 17:05] kibertoad opened #1494 "Port wildcard support for nockBack mocks"
**Context**

Currently you need to explicitly manage port on which your test application is running when executing nockBack mocks so that recorded port matches the one you are currently running application on. This is a major inconvenience since `supertest` randomizes execution port.

It should be possible to specify wildcard port (*) that would match request against any possible port value or pos

[2019-04-10 19:00] andykais opened #1495 "Difficulty clearing one scope"
**Context**
In a parallel test suite, it is not easy to clear a single nock scope if there are multiple initialized. Calling `nock.cleanAll()` is not an option per test file, since that would break other in progress test files. `scope.complete()` almost gets there, but I have some test suites that will not use all routes set up for a scope (I reuse and re-initialize the same scope for multiple tes

[2019-04-10 19:24] paulmelnikow commented on #1495
Hi!

I think this is what `scope.remove()` does. Have you tried that?

That said, I don't quite understand this use case. Since there is only one http module, the parallel tests would need their mocks not to conflict with each other. If you're not asserting that they are used, why bother to clean them up at all?

[2019-04-10 20:56] paulmelnikow commented on #1241
The test case was fixed by not using an arrow function, and the docs were corrected in #1377.

[2019-04-10 20:56] #1241 closed

[2019-04-10 22:45] kibertoad commented on #1470
@Levino I've just created https://www.npmjs.com/package/nockback-harder using solutions that community came up with to work around current limitations. I'll try to distill them into more idiomatic solution inside nock itself, but I'm not sure it will end up being accepted.

[2019-04-11 20:43] RichardLitt commented on #1268
We have our monthly Hackathon tomorrow! If anyone has space in their #OpenSourceFriday, join us.

Some things we can work on this week include the tests (of course), but also work getting [nock/propagate](https://github.com/nock/propagate) up to date. It's just been moved into our organization by Pedro (thanks!). One thing we could do would be to add code coverage to it. We can also take another l

[2019-04-11 23:06] paulmelnikow opened #1499 "Dependency updates"
I very rarely see greenkeeper PRs for this repo. We are several versions out of date on Prettier, Tap, and others.

Can it be configured to open PRs that keep our dev dependencies up to date?

Any reason not to do that for our production dependencies, too?

[2019-04-12 03:00] gr2m commented on #1499
I’ve triggered a reset for the repo on https://account.greenkeeper.io/account/nock. Let’s give it some time :)

[2019-04-12 14:49] andykais commented on #1495
`scope.remove` doesnt appear to do anything, requests still go through as if the mocks are there. Its not in the documentation either. I did find `nock.removeInterceptor(interceptor)`, which seems to serve my purposes if I keep track of all the routes I create.

I guess the purpose of removing interceptors was for safety. Heres an example:
Assume I have a scope with two routes: `/a` and `/b`.  I a

[2019-04-12 14:50] andykais commented on #1495
I have found a solution to my problem so feel free to close this issue, but it might be a good place to track the buggy `scope.remove` method now too.

[2019-04-12 20:06] paulmelnikow opened #1502 "Avoid inserting extra stuff like `getHeader()` into `options` object"
See this comment: https://github.com/nock/nock/pull/1480#issuecomment-476436663

Placing random additional internal state – and especially behaviors – into the `options` object is confusing. It would be better to pass the state around directly, or recompute it when it is needed, and to keep behaviors as much as possible in classes and functions.

[2019-04-13 21:59] nockbot opened #1505 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-04-13 22:00] #1505 closed

[2019-04-17 04:33] paulmelnikow commented on #1212
This has a PR: #1496

[2019-04-17 20:20] panva opened #1509 "issues under node 12"
A quick heads up, feel free to close once you acknowledge. The test suite does not pass under node 12 (both nock latest and beta channels).

Tested using node nighly build, installed using

[code]

Here's the trace i'm getting when pre-testing my modules' test suite relying on nock under node 12, same issue.

[code]

[2019-04-17 20:51] paulmelnikow commented on #1509
Thanks for the report!

We'd be happy to have help looking into and addressing the root cause!

[2019-04-17 20:58] paulmelnikow commented on #1509
It looks like it has to do with the [allowed arguments to `request.end`](https://nodejs.org/api/http.html#http_request_end_data_encoding_callback). We don't handle the case where `callback` is specified but `buffer` and `encoding` are not, or where `buffer` and `callback` are provided but `encoding` is not.

Not sure why this is different in Node 12, though. 🤔

It would be helpful to have some mor

[2019-04-22 19:17] cnguyenp opened #1510 "Response return String instead of JSON format on defaultReplyHeaders with Content-Enconding="gzip, deflate""
**What is the expected behavior?**
Nock should return a response as JSON format when ```defaultReplyHeaders``` contains ```"content-encoding":"gzip,deflate"```

**What is the actual behavior?**
Nock response returns String instead.
Note: In the example: ```response.data``` return undefined. However  response = {"data" : "test"} is a String

**Possible solution**

**How to reproduce the issue**
- T

[2019-04-23 01:39] #1378 closed

[2019-04-23 19:30] panva commented on #1509
The "problem" is that `Buffer.from` now throws on invalid inputs.

V11
[code]

V11
[code]

request_overrider's req.write should handle the "optionality" of arguments and not blindly pass them to `Buffer.from`

[2019-04-24 09:01] panva commented on #1509
I am now applying [this patch](https://github.com/panva/node-oidc-provider/blob/1b7e51b/patches/nock%2B10.0.6.patch) to nock 10.0.6 to have my CI pass under node 12. It's probably not the complete solution tho.

[2019-04-24 16:35] gr2m commented on #1509
@panva meta question: how do the patches get applied in https://github.com/panva/node-oidc-provider?

[2019-04-24 16:53] panva commented on #1509
@gr2m travis.yml before_script hook using patch-package module.

[2019-04-24 16:54] gr2m commented on #1510
@cnguyenp hey just want to make sure the token you use at https://runkit.com/cnguyenp/node-nock-nock-768 is not sensitive?

Do you think you could reduce the test case so it wouldn’t use smartsheet and instead send a request with a simpler request library such as `got` or the built-in `http.request`?

[2019-04-25 21:50] cnguyenp commented on #1510
- The token is fake.
- I have modified the script to use ```request``` and ```axios```. ```Request``` still return string, but ```Axios``` return JSON object. ```Nock``` could not be able to intercept the calls at all. I don't know what is going on?
I need suggestion. Thank you. [https://runkit.com/cnguyenp/node-nock-nock-768](url)

[2019-04-27 00:38] mastermatt opened #1513 "Interceptor.reply to allow callback and raw headers."
I was working on `@types/nock` and found an [inconsistency in `Interceptor.reply`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/471da78a9ecea7d494e4c47e07c2530640c5ec92/types/nock/index.d.ts#L93).
Before fixing it there, I wanted to make sure this isn't a bug here.
Should it be valid to provide two arguments to `reply`, where the first is a callback for the body and the second is an obj

[2019-04-28 05:51] tagyoureit opened #1514 "Typescript definitions missing - encodedQueryParams and activeMocks"
**What is the expected behavior?**
Typescript will know about these parameters.

**What is the actual behavior?**
They are missing from the Typescript files

**Possible solution**
Add them.  :)

**How to reproduce the issue**
`nock.activeMocks()` is missing => add `export function activeMocks(): string[];` to the nock namespace.
`nock( 'https://api.github.com' , {"encodedQueryParams":true})` => ad

[2019-04-28 15:50] gr2m commented on #1514
We do not maintain @types/nock I’m afraid. Please file an issue at https://github.com/DefinitelyTyped/DefinitelyTyped/issues

[2019-04-28 15:50] #1514 closed

[2019-04-28 15:51] gr2m commented on #1513
I’m not sure myself, I’d need to dig into the code base and tests. Maybe @paulmelnikow will know?

[2019-04-30 17:28] #1392 closed

[2019-04-30 21:42] mastermatt commented on #1509
For reference, here is how Node handles the optional params for `end`.
https://github.com/nodejs/node/blob/master/lib/_http_outgoing.js#L672-L678

Personally, I prefer @panva version because Node allows for `.end(callback, encoding)` but [the docs don't cover it](https://nodejs.org/api/http.html#http_request_end_data_encoding_callback).

[2019-05-01 14:31] jsumners opened #1515 "Cannot respond with a 500 status"
**What is the expected behavior?**

Nock should return a response with a status code equal to `500`.

**What is the actual behavior?**

`Nock: No match for request` is returned.

**Possible solution**

**How to reproduce the issue**

[code]

Note: Nock will actually log that it matches the request but the final result is that it _doesn't_ match the request.

**Does the bug have a test case?**

**V

[2019-05-01 14:46] jsumners commented on #1515
Seems the issue is with the `.put` method. This test case shows the problem:

https://runkit.com/jsumners/5cc9af5b8838bf001bb9f89f

[2019-05-01 15:26] paulmelnikow commented on #1515
Ah! Thanks for the test case. I can help with this one because I've run into it myself.

[Got automatically retries failed requests twice](https://github.com/sindresorhus/got#retry). That means the first request matches the mock and errors, then got immediately issues it again. At that point, nock has no more mocked requests, so it's erroring out.

If you add `{ retry: 0 }` to the call to `got` yo

[2019-05-01 15:45] paulmelnikow commented on #1513
Judging solely from the API documentation, I would say this _should_ be supported. The documentation is not specific one way or another.

I'd welcome a PR to add this support!

[2019-05-01 15:50] paulmelnikow opened #1516 "11.x release plan"
About 12 hours ago, Node 6 reached EOL! 🍾

Should we plan to release 11.x?

I've been testing the betas in all my projects and so far haven't run into problems. At one point I reached out to some of the projects that wrap nock and asked them to test on the betas. There are a lot of people using this library, though. Getting some more feedback might result in a smoother release.

Would it be helpfu

[2019-05-01 15:55] gr2m commented on #1516
Yeah why not. In my experience not many people test with RCs, but some do. And if 11 has bugs, we can at least say we did all the things to let people find these bugs.

I think what I’d to though is just release v11.0.0 with `@next` and give that a week for people to test

[2019-05-01 16:00] jsumners commented on #1515
That makes sense. I forgot about the retries. Thanks.

[2019-05-01 16:00] #1515 closed

[2019-05-01 16:23] paulmelnikow commented on #1516
That sounds good to me.

[2019-05-01 16:40] paulmelnikow commented on #1509
This issue feels important to resolve! ♨️

We should definitely match Node's behavior and the docs. If Node's behavior and the docs conflict we can match the behavior, though we obviously should not implement any new behavior.

This should be tested with a test that uses `http`, calls `request.end()` in the various expected ways, and asserts the result is as intended.

In general I'd like to segre

[2019-05-01 19:24] mastermatt commented on #1513
As discussed in [this PR thread](https://github.com/nock/nock/pull/1517#discussion_r280139478), this should be considered a bug in `@types`.
Calling `reply` with only a callback and an object of headers is not a valid case.
I'll open a PR in DefinitelyTyped in the next day or two to fix it there.

[2019-05-01 19:24] #1513 closed

[2019-05-01 21:38] paulmelnikow opened #1523 "got() automatic retries makes for confusing failures in Nock tests"
As I mentioned at https://github.com/nock/nock/issues/1515#issuecomment-488314480, [Got automatically retries failed requests twice](https://github.com/sindresorhus/got#retry).

That means if you have a test which mocks a 4xx or 5xx response, got will immediately reissue it.

At that point, the mock will have been consumed. The test will error out with `Nock: No match for request`.

Adding `{ retr

[2019-05-02 02:55] paulmelnikow commented on #1516
Let's hold on shipping 11.0.0 momentarily, until we resolve the discussion at https://github.com/nock/nock/pull/1521#discussion_r280273915. It might trigger a breaking change, albeit an obscure one.

[2019-05-02 03:16] gr2m commented on #1516
roger that 👍

[2019-05-02 03:23] #1523 closed

[2019-05-02 03:30] nockbot opened #1532 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-05-02 03:31] #1532 closed

[2019-05-02 03:32] nockbot opened #1533 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-05-02 03:35] #1533 closed

[2019-05-02 03:35] gr2m commented on #1533
this is a known issue in case of a racing condition :( sorry for the noise

[2019-05-02 03:57] paulmelnikow commented on #1404
Here's an updated list:

[code]

[2019-05-02 11:46] #1399 closed

[2019-05-02 12:18] Manny91 opened #1534 "nock.delete doesn't match request (getting OPTIONS instead of DELETE)"
I am trying to test a delete request

so in my test I'm doing:
[code]

the request is being done correctly but nock is not able to match it as this is what I get in the console

[code]

for me this seems to be the same
`  matching http://localhost:3000/api/auth/logout?token=fakeToken to DELETE http://localhost:3000/api/auth/logout?token=fakeToken: false`

I got no issues using request under the ot

[2019-05-02 13:46] #1400 closed

[2019-05-02 14:17] paulmelnikow commented on #1534
Hi! It sounds like browsers send an OPTIONS request before a DELETE request: https://stackoverflow.com/a/43485820/893113

So I guess that is what fetch is doing.

I just added a test of a DELETE request using got, which did not seem to trigger a second request.

If you want to keep using fetch, it looks like you need to add a mock for the OPTIONS request.

[2019-05-02 14:21] paulmelnikow commented on #1400
The response body can be specified using a function:

https://github.com/nock/nock#specifying-replies

So you can write something like this:

[code]

And then update `statusCode` and `responseData` from your tests.

Hope this helps!

[2019-05-02 16:34] mastermatt commented on #1514
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/35166

[2019-05-02 16:36] mastermatt commented on #1514
FYI: `encodedQueryParams` is not documented in the README. Is that an oversight or is it meant to be internal?

[2019-05-02 16:45] nockbot opened #1536 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-05-02 16:46] paulmelnikow commented on #1514
Yea, it seems like it needs to be public for the recorder to work. If someone wants to open a PR to document it we could make it official.

[2019-05-02 17:17] tagyoureit commented on #1514
That's exactly how I found it... recorded outputted it and then I needed to remove it to make TS happy when adding back the code to my tests.  (Although I'm really not sure it was needed or why it was added, but that's a completely different conversation.)

[2019-05-02 17:49] gr2m commented on #1536
Oh buddy, we really should fix you <3

[2019-05-02 17:49] #1536 closed

[2019-05-02 22:16] paulmelnikow commented on #1421
Thanks for the test case!

Confirmed in 86c5c4f5 that the above prints:

[code]

While removing `{ allowUnmocked: true }` causes it to print:

[code]

Both versions work correctly if you use `.query({ bar: 'baz' })` instead of the literal query string.

We don't outright say that literals are supported, though there is one example that uses them, and some tests which sort of imply as much.

Here a

[2019-05-02 22:24] paulmelnikow commented on #1414
Fixed in #1465

[2019-05-02 22:24] #1414 closed

[2019-05-03 11:05] Manny91 commented on #1534
Hi @paulmelnikow,

thanks for your response, yes indeed its that behaviour. I added an intercept for OPTIONS method and then the delete and it worked:

heres my example working code:

[code]

[2019-05-03 11:05] #1534 closed

[2019-05-05 05:33] weekly-digest[bot] opened #1539 "Weekly Digest (28 April, 2019 - 5 May, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 25 issues were created.
Of these, 23 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #1520 [Update/clarify interceptor.reply param juggling.](https://github.com/nock/nock/pull/1520), by [mastermatt](https://github.com/mastermatt)
:green_heart: #1516 [11.x relea

[2019-05-06 02:37] paulmelnikow commented on #1222
I've been puzzling over this issue in relation to https://github.com/nock/nock/pull/1203#issuecomment-420510969 and think 🤔I have it sorted out!

In the test run referenced in the linked comment, the failing test was "get with reply callback returning default statusCode without body". It tested that `.reply(() => [401])` produced a status code 200 and a body with a JSON-stringified array `[401]`.

[2019-05-06 02:45] paulmelnikow commented on #1222
Put another way,

[code]

is currently interpreted as

[code]

It should instead be interpreted as

[code]

[2019-05-06 02:47] #1539 closed

[2019-05-06 02:47] paulmelnikow commented on #1499
Seems to be working better now!

[2019-05-06 02:47] #1499 closed

[2019-05-06 14:17] paulmelnikow commented on #507
I think this is a good idea, though it will be a breaking change to body matching. For example, It will break use cases like this one:

https://github.com/nock/nock/blob/3d74a15cdbecf805400471c5bd0bbfeca4fa7b96/tests/test_body_match.js#L193-L222

I suggest we add a flag to allow users who use array syntax and `qs`-style encoding to keep using it. We could make `qs` an `optionalDependency`.

[2019-05-06 14:49] paulmelnikow opened #1542 "Remove `body` argument to header functions"
Currently the third argument to header functions receives a buffer containing the response body. I can't think of a reason why this would be helpful.

I could imagine the _request body_ being helpful, though that should be accessible from the request.

I'm inclined to remove this parameter from the function in a breaking change.

See #1541 where I added a test covering the current behavior.

[2019-05-06 17:36] gr2m commented on #1542
If this is undocumented and untested, I’d be okay to remove it without a breaking change.

If it breaks someone’s code it’s fair play to say it was never documented / tested ¯\\\_(ツ)\_/¯ Documenting it as breaking change is going the extra mile. Go if you like, but I don’t feel like we have to

[2019-05-06 20:30] paulmelnikow commented on #1542
It is tested and documented – just not useful!

Like many of the tests, the intention of the test (which I changed in #1541) was not quite clear, and I can't say it left me confident someone _intended_ to pass the response body to the callback, vs the test containing a bug.

The behavior is documented, ambiguously:

[2019-05-06 20:45] paulmelnikow commented on #1542
Oops! I accidentally pushed this branch and it let me. I stopped the Travis builld which should prevent the release, though I can't force push because of branch protection.

Should I turn it off temporarily and force push the commit before?

Can we turn on branch protection so I can try to prevent a repeat performance? 😝

[2019-05-06 22:35] gr2m commented on #1542
Sure, go ahead 👍

[2019-05-07 13:14] paulmelnikow commented on #1542
Okay, done.

I can't find an option to prevent accidentally pushing to the branch. I can be careful… though I'd rather find a way to do that. Am I missing something? Is it only possible to do that if "Include administrators" is checked?

I can try to be more careful about it…

[2019-05-07 14:15] paulmelnikow commented on #1542
Huh, there's a test that's failing in #1544. In this one it's super clear that the response body is intended to be passed to the header function.

https://github.com/nock/nock/blob/560a5d863095c6a860914c46b2c5eab8e42fdade/tests/test_default_reply_headers.js#L46-L66

Before removing this, I want to see if I can find any more information about why this use case was added. I'm still inclined to remov

[2019-05-07 15:42] paulmelnikow commented on #1446
@mastermatt Does #1520 fix this, too?

[2019-05-07 15:43] paulmelnikow commented on #1228
See also https://github.com/nock/nock/issues/1222#issuecomment-489486906 which is proposing a change to this behavior which will be made in #1520.

[2019-05-07 15:58] mastermatt commented on #1446
I'm not positive off the top of my head.
There are a couple different places where the response body defaults to an empty string if it's falsy.

Is the expectation that the resulting response body is the boolean `false` or the string `"false"`? I wouldn't think that we'd want to support the boolean as a valid body type.

[2019-05-07 16:02] paulmelnikow commented on #1446
I guess the idea is that `false` is a valid JSON value. `JSON.stringify(false) === 'false'` and `JSON.parse('false') === false`.

So any place we're only accepting a string we probably should throw an error, though any place we're accepting values which are automatically JSON-serialized, ideally we'd be able to accept `false` there as well.

[2019-05-07 16:07] mastermatt commented on #1446
Sounds good. I still need to go back and work on that PR, but I'll add a test for this use case and ensure it works.

[2019-05-09 13:20] #1509 closed

[2019-05-09 13:40] panva commented on #1509
@paulmelnikow would it be too much of a hassle to land this on the 10.x release line as well?

[2019-05-09 13:53] paulmelnikow commented on #1509
11.x will be released very soon and feedback on the beta releases would be very helpful. Though if someone wants to backport the fix and the test in a new PR on the master branch, I suppose we could ship it!

[2019-05-09 13:54] gugu commented on #1509
Thanks, I upgraded to 11.0.0-beta.13, works fine for me

[2019-05-09 13:58] paulmelnikow commented on #1509
Thanks @gugu for implementing this fix!

I think we still need to handle the `.end(encoding, callback)` form. I'll open a new issue for that.

[2019-05-09 14:03] paulmelnikow opened #1549 "`.end(data, callback)` doesn't work; `.end(callback)` doesn't work when recording"
**What is the expected behavior?**

Calling ~~`.end(encoding, callback)`~~ `.end(data, callback)` on overridden requests, or when recording, should have the same behavior as a real client request.

When recording, calling `.end(callback)` should have the same behavior as a real client request.

See #1542 which fixed the `.end(callback)` case for overridden requests.

First reported in #1509.

**Wh

[2019-05-09 14:25] gugu commented on #1509
Do we? According to the docs, signature is
`request.end([data[, encoding]][, callback])`
it means, it can be
`request.end(data, encoding, callback)` or
`request.end(data, encoding)` or
`request.end(callback)` or
`request.end(data, callback)` or
`request.end(data)` or
`request.end()`

https://nodejs.org/api/http.html#http_request_end_data_encoding_callback

[2019-05-09 14:30] mastermatt commented on #1509
@gugu check out my comment above, https://github.com/nock/nock/issues/1509#issuecomment-488125864
The docs don't cover that form, but the implementation does. The question is which way do we prefer?

Since we're trying to mimic, it might be worth simply copying the implementation from the Node source, despite the docs. 🤷‍♂

[2019-05-09 14:30] paulmelnikow commented on #1509
Ah, indeed!

Though I think we're not handling `request.end(data, callback)` case.

[2019-05-09 17:17] panva commented on #1509
@gugu thanks for taking the time to fix this!

[2019-05-10 02:17] jonogilmour opened #1552 "Query params: Arrays and comma-separated strings are equal"
**What is the expected behavior?**
Nock should not consider comma-separated query params to match array-based query params
**What is the actual behavior?**
If nock expects a comma-separated string as a query parameter, and an array-based parameter is set in the tested code, the two params are seen to be equal.
**Possible solution**
The problem, I believe, happens in [matchStringOrRegexp](https://g

[2019-05-10 03:26] paulmelnikow commented on #1552
Hmmm maybe related to #507?

Thanks for the bug report and the test case!

[2019-05-11 16:06] mastermatt opened #1553 "Behavior of `response.rawHeaders` does not match native functionality"
This issue is being pulled out other work in progress. https://github.com/nock/nock/pull/1520#discussion_r281325518

The intention should be that nock-produced `IncomingMessage` instances mimic the native behavior of [`http.IncomingMessage.rawHeaders`](https://nodejs.org/api/http.html#http_message_rawheaders).

...
Header names are not lowercased, and duplicates are not merged.
...
For example, th

[2019-05-12 05:33] weekly-digest[bot] opened #1554 "Weekly Digest (5 May, 2019 - 12 May, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 14 issues were created.
Of these, 9 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #1553 [Behavior of `response.rawHeaders` does not match native functionality](https://github.com/nock/nock/issues/1553), by [mastermatt](https://github.com/mastermatt)
:green_he

[2019-05-12 06:03] #1427 closed

[2019-05-12 13:47] Phong2279 opened #1555 "EDITED (SPAM)"

[2019-05-12 13:50] Phong2279 commented on #1555
Phongheo99

[2019-05-12 14:00] Phong2279 opened #1556 "https://m.jbb512.com/vi-vn"
content removed for SPAM

[2019-05-12 14:00] Phong2279 commented on #1556
Phongheo99

[2019-05-12 14:33] #1556 closed

[2019-05-12 14:34] #1555 closed

[2019-05-13 19:16] gr2m commented on #1427
@paulmelnikow okay to have this issue closed?

[2019-05-13 23:19] mgcrea commented on #1516
Would be awesome if we could add support for async replies since we're bumping a major. Eg:

[code]

I guess a simple `Promise.resolve()` would be good enough.

[2019-05-13 23:54] paulmelnikow commented on #1516
Replies as promises sounds awesome, though I _think_ it can be done without a breaking change. Could you open a new issue? Extra plus if you want to dig into it. 😉

[2019-05-14 09:41] mgcrea opened #1557 "Replies as Promises"
**Context**

Writing jest mocks for a got client (eg. `got.extend()`), was looking into dynamically loaded fixtures as replies. Found out that promises and async/await functions where not handled properly.

**Alternatives**

Force the code to be synchronous (doable in my case with the `fs` package).

**Has the feature been requested before?**

Did not found it

**If the feature request is accepted

[2019-05-16 15:29] mrijke opened #1558 "'method' property not available on superagent mocked requests"
**What is the expected behavior?**
The property 'method' should be available on a request from `superagent`, similar to here:
https://runkit.com/mrijke/superagent-with-method-on-request

**What is the actual behavior?**
The 'method' property is undefined

**Possible solution**
Copy the value from the 'method' property, if available (i.e. the request came from `superagent`)

**How to reproduce the

[2019-05-16 17:33] paulmelnikow commented on #1558
Hi! Thanks for the report. Does this problem exist in 11.x as well? I'm guessing yes?

[2019-05-16 17:51] paulmelnikow commented on #1427
I guess the discussion has concluded, though there's still work to do:

1. Create a repo with a client integration test using nock's default branch
2. Finish removing the integration tests from this repo

I usually keep issues open for unfinished work, though maybe it's not necessary. We could use a roadmap document instead. Thoughts?

[2019-05-16 18:23] mrijke commented on #1558
@paulmelnikow Yes, I tried updating my runkit to `11.0.0-beta.14` and the issue is still there.

[2019-05-16 18:43] paulmelnikow commented on #1558
Awesome. Thanks!

To you, or anyone else: we'd welcome a PR with a fix and an isolated test!

A note on the testing strategy: we're moving away from preventing regression of integration problems using wide-bracket integration tests (#1427). So we should instead add a test which isolates the specific client behavior, and be added to the client-facing tests in https://github.com/nock/nock/blob/beta/

[2019-05-16 18:46] paulmelnikow commented on #1557
Thanks for this!

I might be misunderstanding, though it is possible to specify replies using an error-first callback: https://github.com/nock/nock#specifying-replies

I think support could be added there for promise-returning functions, without making a breaking change. The code could check the return value, and if it's a promise, await it, and if not, wait for the callback to be called.

Does th

[2019-05-16 18:46] #1554 closed

[2019-05-16 20:22] gr2m commented on #1427
Maybe a follow up issue with only what is still relevant?

[2019-05-19 05:33] weekly-digest[bot] opened #1560 "Weekly Digest (12 May, 2019 - 19 May, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 1 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #1558 ['method' property not available on superagent mocked requests](https://github.com/nock/nock/issues/1558), by [mrijke](https://github.com/mrijke)
:green_heart: #1557 [Repli

[2019-05-19 20:35] paulmelnikow commented on #1542
Okay, tracked this down. This was added in #315 in response to #263. I can see for the `Content-Length` use case that it would be useful to have the processed response available. Instead of removing this behavior, I'm updating #1544 to improve the documentation and examples.

[2019-05-20 17:07] mastermatt commented on #1553
I'm intending on picking this up, as it's naturally a continuation of #1520, but I'm waiting on that PR to merge in since it includes a few partial changes in the right direction.

[2019-05-20 17:18] #1222 closed

[2019-05-20 17:23] #1560 closed

[2019-05-20 21:45] gr2m commented on #1448
I hope me or someone else will still get to this, sorry that it takes so long :(

[2019-05-20 21:54] #1542 closed

[2019-05-21 02:30] mastermatt commented on #1557
I believe the correct way to do this would be to replace this line with the following.
https://github.com/nock/nock/blob/900d96d002275eb24cc158f027bb615f359e9b36/lib/request_overrider.js#L322

[code]

This would allow the callback that accepts two args to return either data for the body directly (current behavior) or a Promise that resolves to the data.

A similar change would also be required in

[2019-05-21 04:25] paulmelnikow commented on #1557
Hmmm, I wonder if we can flip around the implementations the other way, and base them around `async`. We could `util.promisify` the callback.

I feel like that chain of functions would become easier to follow using `async`.

[2019-05-22 21:30] #1445 closed

[2019-05-23 21:25] przemyslawpluta opened #1563 "Tests fail with large files"
**What is the expected behavior?**
All tests should pass on VM
**What is the actual behavior?**
Tests where large files are used fail on VMs - tested across 2CPU - 32CPU and 1GB - 160GB Memory. All work fine without nock in the way on local workstations and VMs of any size.
**Possible solution**
Unknown
**How to reproduce the issue**
Install `https://www.npmjs.com/package/removd` add `.env` file w

[2019-05-24 12:20] slim-hmidi opened #1565 "Can't test setted header with redirection using Nock"
I know that github is not for support and `stackoverflow` is the suitable one.However, due to the huge number of questions posted by many different users and 90% of them are not answered (and sometimes answered by the same person after fighting with the issue for many hours).
I want to know why when I set a header in `Nock` the response is undefined for 302 redirection (I know when the response re

[2019-05-25 09:19] mzfr511 opened #1566 "allowUnmocked causes no requests to match"
When I try the code below
[code]
**all** requests go to the original host!
I also try this one:
[code]
but It has the same result!
and when I change allowUnmocked to false, everything works well.

[2019-05-26 02:10] mastermatt commented on #1565
@slim-hmidi you have two issues with your test.

The test creates an interceptor for `const scope = nock('http://localhost:3000').get('/redirect')` which means it will match requests to `http://localhost:3000/redirect`, however, your actual call via supertest is only calling the root path `http://localhost:3000/` so the request is never mocked to begin with.

The second issue is with the way you'r

[2019-05-26 05:33] weekly-digest[bot] opened #1567 "Weekly Digest (19 May, 2019 - 26 May, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 2 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #1566 [allowUnmocked causes no requests to match](https://github.com/nock/nock/issues/1566), by [mzfr511](https://github.com/mzfr511)
:green_heart: #1565 [Can't test setted heade

[2019-05-26 14:14] paulmelnikow commented on #1563
Hi!

How do the tests fail?

Would you be willing to create a failing test in the nock codebase that isolates the problem? That would be the best first step.

[2019-05-26 14:58] #1567 closed

[2019-05-27 13:40] mastermatt commented on #1565
@slim-hmidi I've also posted an answer to your [SO question](https://stackoverflow.com/questions/56289822/nock-does-not-returns-the-setted-headers/56327198#56327198) in case others have the same issue.

[2019-05-27 13:40] #1565 closed

[2019-05-27 13:45] slim-hmidi commented on #1565
Thank you very much.

[2019-05-28 09:02] petermorlion opened #1573 "Repeat response always"
**Context**

I know you can specify how many times the response must be repeated with the `times`, `once`, `twice`, or `thrice` functions. But it would be nice if you could specify that the response must always be repeated (as long as the tests are running).

**Alternatives**

The current alternative is to use a high number, like `times(1000)`. This isn't a very nice option, IMO.

**Has the featur

[2019-05-28 14:28] paulmelnikow commented on #1573
Hi! I think this is what `.persist()` is for. Would welcome a PR improving the docs for `.times()` to mention `.persist()` as an alternative (and conversely for `.persist()` and `.times()`).

[2019-05-28 17:49] przemyslawpluta commented on #1563
With debug on looks like I'm getting `bodies don't match` with `replywithFile`. Again only on VMs it's fine on local workstation etc.

[2019-05-29 14:46] #1573 closed

[2019-05-29 17:33] mastermatt commented on #1485
This is fixed with `propagate` 2.0.1, correct?

[2019-05-29 17:59] mastermatt commented on #347
Should this issue be open?
The features were added and still exist. [tests](https://github.com/nock/nock/blob/master/tests/test_intercept.js#L4783-L4823)

[2019-05-29 18:32] RichardLitt commented on #347
Looks like it works for me. @jamestalmage @sindresorhus does this match your needs?

[2019-05-29 18:46] sindresorhus commented on #347
Yes, thanks. For context, it was added in https://github.com/nock/nock/commit/c3031223702a5a1f10353376a04f42e97be4aee8.

[2019-05-29 19:37] RichardLitt commented on #347
Awesome. Thanks for raising this, @mastermatt. All, this should be fixed now.

[2019-05-29 19:37] #347 closed

[2019-05-29 21:27] RichardLitt commented on #1453
I think we should install this: https://github.com/marketplace/open-collective-bot. Mind if I do, @gr2m?

[2019-05-29 21:52] gr2m commented on #1453
Sure why not. We might want sth custom once @paulmelnikow starts his fundraising, but we can go with the open collective bot for the time being

[2019-06-02 10:00] weekly-digest[bot] opened #1576 "Weekly Digest (26 May, 2019 - 2 June, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 8 issues were created.
Of these, 5 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #1574 [Throw if headersFieldNamesToLowerCase is not provided an object.](https://github.com/nock/nock/pull/1574), by [mastermatt](https://github.com/mastermatt)
:green_heart: #15

[2019-06-03 20:01] #1472 closed

[2019-06-05 18:05] RichardLitt commented on #1453
Installed! We should add a note to the README about signing up as a backer; what do you think?

[2019-06-05 18:29] gr2m commented on #1453
yes why not 👍

[2019-06-05 20:16] jonmellman commented on #1495
@andykais What was your solution? I'm running into this issue as well.

[2019-06-06 17:36] andykais commented on #1495
Heres what I came up with @jonmellman:
[code]
I added typescript types to clear up what I am passing around, but let me know if that just makes it more confusing. Essentially I made a helper class that I call from my tests:
[code]

note that this setup _will_ work if you run your tests in parallel, _provided_ that you give each parallel test suite a different baseUrl, otherwise your tests may be h

[2019-06-07 05:48] jonmellman commented on #1495
@andykais that's perfect, thank you. I'm doing basically the same (in TS as well) but hadn't quite sorted out the abstraction. Yours works great! Cheers.

[2019-06-07 09:11] #1576 closed

[2019-06-08 10:40] #1453 closed

[2019-06-08 10:50] paulmelnikow commented on #1516
Hey all, a couple big Nock-related things on my mind:

1. I've been swamped lately with deadlines from some paid work though I really want to get my sponsorship set up!
2. It would be great to get 11.x shipped soon! I could set aside some time the weekend of June 22–23 to try to do that. The pending issues are:
    - [ ] #1428 (PR needs work)
    - [ ] #1042 (no PR yet)
    - [ ] #1564 (ready to m

[2019-06-08 15:34] mastermatt commented on #1553
Fixed with #1564

[2019-06-08 15:34] #1553 closed

[2019-06-08 15:37] mastermatt commented on #1446
This was fixed with #1520 and is currently in the v11 beta branch.

[2019-06-08 15:37] #1446 closed

[2019-06-08 15:42] mastermatt commented on #1516
To clarify, #1557 (promise based reply functions) probably won't have breaking changes. So it's not a blocker for 11.0?

[2019-06-08 15:46] mastermatt commented on #539
Fixed with #1564.

[2019-06-08 15:46] #539 closed

[2019-06-08 15:59] mastermatt commented on #892
I'm pretty sure this was fixed with #998

[2019-06-09 10:00] weekly-digest[bot] opened #1582 "Weekly Digest (2 June, 2019 - 9 June, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 5 issues were created.
Of these, 4 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #1581 [Update prettier to the latest version 🚀](https://github.com/nock/nock/pull/1581), by [greenkeeper[bot]](https://github.com/apps/greenkeeper)
## CLOSED ISSUES
:heart: #1580

[2019-06-09 15:01] gr2m commented on #892
confirmed that the [above tests](https://github.com/nock/nock/issues/892#issuecomment-299349732) pass now on master

[2019-06-09 15:01] #892 closed

[2019-06-11 04:19] simlu commented on #1478
@paulmelnikow I'd really like to look into this more. Async aside, what hooks would you recommend to look at wrt to order enforcement?

[2019-06-13 00:04] #1476 closed

[2019-06-13 07:48] henhal opened #1584 "Arrays returned from interceptor functions are parsed as [statusCode, body] even if status Code is given in the call"
**What is the expected behavior?**

An interceptor using statusCode and a function such as `.reply(200, function () { return [1, 2, 3, 5, 8, 13];})` should return the array as the response body

**What is the actual behavior?**

If a interceptor reply function returns an array, it appears to be always assumed to be a [statusCode, responseBody] sort of array, meaning in the example above, `statusCo

[2019-06-13 08:38] henhal opened #1585 "Add method to get parameters through regexp group"
**Context**

If using regexp with params as regexp groups, it's useful to be able to get the values of those params from the path.

The ideal would be if we could register routes with express router syntax, such as `/foo/:someParam1/bar/:someParam2` and populate `req.params` as `{someParam1: 42, someParam2: 43}`, or if parameterized url:s would be simplified in some other way.

But for regexps, yo

[2019-06-13 21:18] mastermatt commented on #1584
@henhal this is expected behavior currently, but is changing with the next major release to exactly what you are suggesting.

Could you test the latest version of the beta branch and verify it works for your needs?

[2019-06-16 10:00] weekly-digest[bot] opened #1587 "Weekly Digest (9 June, 2019 - 16 June, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 0 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #1586 [Update eslint-config-prettier to the latest version 🚀](https://github.com/nock/nock/pull/1586), by [greenkeeper[bot]](https://github.com/apps/greenkeeper)
:green_heart: #1

[2019-06-17 13:20] borekb opened #1589 "How to import nock in TypeScript"
Just a note for anyone googling this (I had a hard time...):

This syntax is used [in DefinitelyTyped tests](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/bc27d1f14f7c5fd14d03a5b69c60073e0bb47402/types/nock/nock-tests.ts#L1):

[code]

However, it doesn't work with Babel (in our case, Jest uses Babel under the covers):

[code]

This is the recommended syntax:

[code]

But that yielded ano

[2019-06-17 13:21] borekb commented on #1589
(Sorry if this is not the best place to post it but I intuitively searched this repo for "TypeScript" and googled as well, without much luck. Feel free to close.)

[2019-06-17 14:13] mastermatt commented on #1589
There could be discussion around whether we want to support export `default` too, to help with this issue. As a, primarily, TS dev these days I can appreciate this pain point.

index.js could be updated to have this
[code]

[2019-06-17 14:50] borekb commented on #1589
Would be a welcome change for sure 😄

[2019-06-17 15:40] mastermatt commented on #1589
... and to extend on @borekb summary:

`"esModuleInterop": true` should be the go to for any TS app especially for an new app. If, however, you have an existing codebase where turning on `esModuleInterop` would be a pain, the alternative is to import using: `import * as nock from "nock";` to get the same results.

[2019-06-18 06:03] borekb commented on #1589
That's the first thing I usually try but it doesn't work for me:

Again, this is in the context of Babel (Jest tests). It works via ts-node.

[2019-06-18 11:23] paulmelnikow commented on #1589
Hmm, this seems a bit hacky solution for this problem which is an ecosystem issue.

Is it possible there is a problem with the types that is contributing to the difficulty with `import nock from "nock"`?

[2019-06-18 12:34] borekb commented on #1589
`import nock from "nock"` is importing a default export, which nock doesn't provide.

It's true that I'm fighting with this because of how Babel + TypeScript play together but it's a significant enough stack & the change for Nock would be small so I think it would be worth it.

[2019-06-21 17:08] mastermatt commented on #1448
I agree that side effects from requiring is not prefered, but what is the actual memory leak?

I believe the only only side effect that happens on require is the constructor of `http.ClientRequest` is monkeypatched.

I also can't find any docs on `jest --detectLeaks` what does it do exactly? I can't try locally until I'm around a different machine. The `weak` peer dep [can't be installed on macOS

[2019-06-23 10:00] weekly-digest[bot] opened #1594 "Weekly Digest (16 June, 2019 - 23 June, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 3 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #1591 [fix: request.end accepted arguments](https://github.com/nock/nock/pull/1591), by [mastermatt](https://github.com/mastermatt)
:green_heart: #1589 [How to import nock in Typ

[2019-06-25 14:25] rodion-goritskov commented on #1448
I really have some bad memory leaks (~20 Mb per test) when using Nock with Jest

[2019-06-25 16:45] #1594 closed

[2019-06-25 16:45] #1587 closed

[2019-06-25 16:45] #1582 closed

[2019-06-25 16:49] paulmelnikow commented on #1584
Am I correct that #1520 is where this was fixed?

If so you can test this by using `11.0.0-beta.15` or later.

[2019-06-25 19:48] gr2m commented on #1448
That is a very good question 👍

We’d need a minimal test case that only uses nock. It might as well be that Jest or another library is causing the memory leak

[2019-06-28 00:01] krackerman opened #1599 "Add an option to have recordings indented by 2 spaces"
We would like to add an option to:
https://github.com/nock/nock/blob/b687592c4e2103ac88a7f813b7e1019264e48d01/lib/back.js#L176
This will allow us to support specifying the indentation in our recordings.

We would be willing to do a pull request.
Suggestions for option name "indent" or "recordingIndent"?

[2019-06-30 10:00] weekly-digest[bot] opened #1600 "Weekly Digest (23 June, 2019 - 30 June, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 5 issues were created.
Of these, 2 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #1599 [Add an option to have recordings indented by 2 spaces](https://github.com/nock/nock/issues/1599), by [krackerman](https://github.com/krackerman)
:green_heart: #1598 [test:

[2019-06-30 21:51] #1482 closed

[2019-07-01 09:30] #1483 closed

[2019-07-07 10:00] weekly-digest[bot] opened #1604 "Weekly Digest (30 June, 2019 - 7 July, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 1 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #1603 [test: Rewrite test_header_matching using got / async](https://github.com/nock/nock/pull/1603), by [paulmelnikow](https://github.com/paulmelnikow)
:green_heart: #1601 [fix:

[2019-07-07 17:25] #1549 closed

[2019-07-08 18:37] paulmelnikow opened #1606 "Document the mock surface"
Nock has two APIs:

1. The part that faces the developer writing tests – the public interface
2. The part that faces the HTTP client library –  the mock surface, for lack of a better name

The mock surface is implemented in a few places:
- A couple functions in `common.js` which are the mock `http(s).get` and `http(s).request` calls
- `request_overrider.js`, the mock response
- `intercept.js` whic

[2019-07-08 18:38] paulmelnikow commented on #1606
Maybe there is a better name for this than "mock surface." If we put it in its own package someday, maybe we'd call it `mock-http` or something like that.

[2019-07-08 18:40] #1604 closed

[2019-07-08 18:41] #1600 closed

[2019-07-08 18:43] paulmelnikow commented on #1516
Yup, makes sense!

[2019-07-08 18:45] paulmelnikow commented on #1448
I'm going to unpin this. Without a minimal test case, or even a very small test case with Jest, it's hard to act on this.

[2019-07-08 18:51] paulmelnikow commented on #1404
Thanks to a bunch of work by @mastermatt this is getting very close! 💚

[code]

The one in `common` is covered in #1598 by @laumair which should be merged soon.

I'd actually be okay adding coverage-ignores to the `TODO-coverage` comments in `lib/recorder.js`. They should be cleaned up before we seriously refactor the recorder, but since the recorder is fairly well isolated, it shouldn't stop us f

[2019-07-08 18:52] paulmelnikow commented on #1042
✋I'll take this on.

Since it's a breaking change I'd like to ship it in 11.0 (#1516).

[2019-07-08 18:53] gr2m commented on #1404
Works for me 👍

[2019-07-08 18:54] mastermatt commented on #1516
Of course, this changes if we decide to go the route of https://github.com/nock/nock/pull/1596.

[2019-07-08 18:56] paulmelnikow commented on #1404
Ah! And #1588 takes out two more of them in `lib/recorder.js`!

[2019-07-08 19:12] paulmelnikow opened #1607 "Help wanted to reach 100% coverage in lib/recorder.js"
As a continuation of #1404, note that there are several `TODO-coverage` comments in `lib/recorder.js` which are paired with istanbul ignores.

We'd like to clean these up. With 100% test coverage, the tests take on a life of their own in maintaining the project, and will allow us to refactor – and add functionality – with confidence.

Anyone is welcome to pick up this work! Feel free to post here

[2019-07-08 19:12] paulmelnikow commented on #1404
Opened #1607 as a continuation for lib/recorder. I'm working on a PR to add the coverage ignores now.

[2019-07-08 19:55] paulmelnikow commented on #1516
Ah, yes. I've added it to the list of pending issues (which I've moved to the top post).

[2019-07-08 20:08] paulmelnikow commented on #1606
`tests/test_abort.js` also contains tests of the mock surface.

[2019-07-08 20:19] paulmelnikow commented on #540
I'll echo my previous suggestion and propose that this be handled in a separate package. While it's a valid and repeatable use case, I do not see a reason that it would need to be maintained in Nock core.

At some point in the future when we have a monorepo set up, I'd be happy to consolidate maintenance in this repo, though for now would welcome a PR to add a link to a good solution in an externa

[2019-07-08 20:19] #540 closed

[2019-07-08 20:22] paulmelnikow commented on #1208
I believe this was fixed in #1520 with a regression test added here: https://github.com/nock/nock/pull/1520/files#diff-d0ae6fa4adfdd0113eabbe707b35e141R26

Is that right @mastermatt?

[2019-07-08 21:31] mastermatt commented on #1208
Correct, this is fixed in Beta.

[2019-07-08 22:59] nockbot opened #1611 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-07-08 23:43] #1208 closed

[2019-07-08 23:45] paulmelnikow commented on #1611
Noooo not the `undefined` branch! 😱

[2019-07-09 05:32] #1227 closed

[2019-07-09 05:39] #1611 closed

[2019-07-10 11:39] #1492 closed

[2019-07-10 12:38] borekb commented on #1566
I believe this is the same issue as #1421 (I'm hit by it as well). The problem is with specifying the query string in the URL directly; can be worked around by using `.query()`.

[2019-07-10 13:48] mastermatt commented on #1566
This is indeed a duplicate. I'm going to close this one in favor of the original as it already has action items.

[2019-07-10 13:48] #1566 closed

[2019-07-10 17:42] andykais commented on #1178
For what its worth, I actually reversed this design in my test suite. What I do is create my scoped nock mock, then run my test, and when the test finishes I clear the existing scope. I detailed how I did this in https://github.com/nock/nock/issues/1495, but the basic gist is this:

[code]

I am assuming you wanted a done event so you could perform some cleanup, log something, or just determine th

[2019-07-12 04:12] mastermatt commented on #1607
I'm taking a look at this now.

[2019-07-14 10:00] weekly-digest[bot] opened #1618 "Weekly Digest (7 July, 2019 - 14 July, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 13 issues were created.
Of these, 8 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #1617 [fix(recorder): allow recording req headers when not outputting objects](https://github.com/nock/nock/pull/1617), by [mastermatt](https://github.com/mastermatt)
:green_hea

[2019-07-14 17:19] #1618 closed

[2019-07-15 01:40] #1607 closed

[2019-07-15 01:42] #1493 closed

[2019-07-15 01:46] nockbot opened #1620 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-07-15 01:49] #1620 closed

[2019-07-15 14:56] mastermatt opened #1623 "Setting a duplicate search parameter using Interceptor.query should throw an error"
**Context**
https://github.com/nock/nock/pull/1614#discussion_r303469398

In order to gain full code coverage, a test was added to show current expected behavior around what happens if a search param is set twice.

[code]
Current behavior prefers the first value and silently ignores any subsequent values. This example will match `http://example.test?foo=bar`.

This is confusing and probably hides

[2019-07-15 14:58] #1421 closed

[2019-07-15 19:41] szmarczak opened #1625 "HTTP2 support"
**Context**

HTTP2 is the new standard and it looks very promising.

**Alternatives**

There are no alternatives yet.

**Has the feature been requested before?**

Nope.

**If the feature request is accepted, would you be willing to submit a PR?**

Currently I'm busy with [`http2-wrapper`](https://github.com/szmarczak/http2-wrapper) (HTTP2, just with the usual HTTP1 API). It depends. If you want me

[2019-07-15 19:54] paulmelnikow commented on #1625
I'm not familiar with HTTP2 yet. Am I correct that this would require extending both the mock surface (#1606) and the developer-facing API?

[2019-07-15 20:19] szmarczak commented on #1625
Yup, the mock surface needs to be extended for sure. The developer-facing API... [not really](https://nodejs.org/api/http2.html#http2_compatibility_api).

[2019-07-15 20:36] paulmelnikow commented on #1625
Maybe we'll have the HTTP/1.1 mock surface better segregated by the time you're ready to look at this!

[2019-07-15 21:02] paulmelnikow commented on #1478
That would be great!

The hook doesn't exist yet. My idea is to add a `didMatch()` hook which would run after a request has matched, but before it has gotten a reply. This logic would need to be added around here:

https://github.com/nock/nock/blob/f8d6cbbe147266bca1654dd72f475e39f544600c/lib/request_overrider.js#L491-L493

Then as a developer, you could pass in an async function, promise-returnin

[2019-07-15 21:45] mastermatt commented on #1478
@simlu I'm curious if you've looked into implementing a test for your use case using the `request` or `replied` events emitted on Scopes.
https://github.com/nock/nock#events

[2019-07-15 22:04] paulmelnikow commented on #1478
Interesting idea!

[2019-07-15 22:19] #1623 closed

[2019-07-16 15:24] bkaney opened #1628 "Upgrade lodash version, security-related"
Per: https://snyk.io/blog/snyk-research-team-discovers-severe-prototype-pollution-security-vulnerabilities-affecting-all-versions-of-lodash/

Consider minor upgrade to lodash `4.17.12` (currently on `4.17.5` https://github.com/nock/nock/blob/beta/package.json#L28)

[2019-07-16 15:45] paulmelnikow commented on #1628
Hi! I tried generating an update PR for this before for our development lockfile, will give that another shot.

Note that lodash is a caret dependency for nock, so it should already be resolving to 4.17.12 when you install the package.

[2019-07-16 15:59] #1628 closed

[2019-07-18 20:15] mastermatt commented on #1404
so... I this issue done?

[2019-07-18 21:04] paulmelnikow commented on #1404
😮

INCREDIBLE! WE DID IT!!!

💯's for days, people. 💯's for days.

Thanks so much for your work on the home stretch, Matt! 🙌

[2019-07-18 21:29] gr2m commented on #1404
WOW OMG WOW GREAT WORK @paulmelnikow & @mastermatt 💐🏅💐🏅

[2019-07-19 16:57] #1404 closed

[2019-07-19 21:51] simlu commented on #1478
@mastermatt I'm really not sure how that would work with nockBack. Would you mind pointing me to the relevant documentation / an example on how to use emit and nockBack together? Much appreciated!

[2019-07-21 10:00] weekly-digest[bot] opened #1638 "Weekly Digest (14 July, 2019 - 21 July, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 19 issues were created.
Of these, 17 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #1632 [ refactor: overhaul body and query matching](https://github.com/nock/nock/pull/1632), by [mastermatt](https://github.com/mastermatt)
:green_heart: #1625 [HTTP2 support](

[2019-07-22 13:44] mastermatt commented on #1558
This was fixed with #1561

[2019-07-22 13:44] #1558 closed

[2019-07-22 18:00] mastermatt commented on #1478
My suggestion isn't related to nockBack per se. But current functionality would allow you to assert call sequence during an individual test.

How to implement this would vary widely depending on your test, which is why I'm leary to add this as a feature.

One way to do this would be to add two custom fields to the `options` objects in your scope definitions (in the "cassette" JSON files). One woul

[2019-07-22 18:17] simlu commented on #1478
@mastermatt Thank you for the reply. The way we use nockBack we never explicitly load a recording. I'm assuming this happens internally. So the problem is really that I have no idea how to access the scopes the way that we use it. I can give a reduced example of what we are doing, but the code is [here](https://github.com/blackflux/lambda-tdd/blob/master/src/modules/handler-executor.js#L16)

Would

[2019-07-22 18:19] simlu commented on #1478
@paulmelnikow I think I like the first approach you suggested much better than conditionally. But let's see if using the `replied` emitter just works out of the box. That would be amazing.

[2019-07-22 19:16] mastermatt commented on #1478
@simlu if you add an `after` hook to `nockback` it will be called with each Scope instance as they are being loaded under the hood.

[2019-07-22 20:16] RichardLitt commented on #1404
Well done! Woo! This was incredible work. :)

[2019-07-22 20:36] #1638 closed

[2019-07-22 23:20] simlu commented on #1478
@mastermatt Thank you very much for pointing me into the right direction. I was looking at `before` that also takes a `scope`. But it's a different scope hah...

Anyways, here is the [pull request](https://github.com/blackflux/lambda-tdd/pull/600/files#diff-d75dab83ae4fcebc21972ee78d420b1f). It's still work in progress, but seems to be working fine judging from my limited testing.

[2019-07-23 00:19] mastermatt commented on #1478
Glad to hear it looks promising.

The only difference between the callbacks is that the `before` callback receives nock definitions (raw, plain objects from the cassette files), while the `after` callback recieves instantiated Scope instances. Something the docs don't clarify, and I only figured out from digging around.

Thinking about this use case, I also wish we took more advantage of Nock's gl

[2019-07-23 13:50] simlu commented on #1599
@paulmelnikow @mastermatt We would really like to implement this. Any advice you can give before we get started?

[2019-07-23 15:40] mastermatt commented on #1599
Just to throw an idea out: What if that `JSON.stringify` line was updated to only be called if `output` wasn't already a string? Then the expectation would be that users could define a `afterRecord` hook if they wanted to deviated from the out of the box option.
Or.. we could implement both.

@simlu as for advice on implementing the option; the `options` arg passed to `Back` is already made availa

[2019-07-23 22:21] alexlitel opened #1642 "Post requests failing in Nock beta 11"
**What is the expected behavior?**
Nock should successfully return a response for intercepted POST requests, including from external libraries for interfacing with an API, in this case @octokit/rest the Github REST API client. This is the behavior that occurs in Nock v10.

**What is the actual behavior?**
On Nock v11.0.0-beta.28, it does not successfully intercept and response to the POST requests

[2019-07-23 22:56] paulmelnikow commented on #1642
Thanks for the test case! I didn't know it was possible to specify a version number in RunKit – that's super helpful!

By fiddling with the version number I could isolate the problem to one of these changes:

https://github.com/nock/nock/compare/v11.0.0-beta.17%40beta...v11.0.0-beta.18%40beta

Probably this one, which removed a check for an array value for the header: #1564

@mastermatt Is it corr

[2019-07-24 01:03] gr2m commented on #1642
Good idea, I’ll update to the beta. Talking of which, I think we should also ship it at a time when we all are not offline or too busy and then just handle the bugs that folks run into

[2019-07-24 05:33] mastermatt commented on #1642
This a most definitely a bug added by me.
A direct discussion on the change happened in the PR https://github.com/nock/nock/pull/1564#discussion_r287600183.

I made the comment in that thread:

...which is true, for **responses** 😊. There is nothing in Node stopping a user from adding a `Content-Type` header with an array on `ClientRequest` instances (which Octokit seems to do).

Depends on your p

[2019-07-24 15:02] gr2m commented on #1642
@alexlitel could you share your `@octokit/rest` code? I’m the maintainer of Octokit and I cannot recall that I set the content-type header to an array intentionally? I’d like to look into that, too

[2019-07-24 15:02] gr2m commented on #1642
Ah nevermind just saw the runkit examples 👍

[2019-07-24 15:07] kvernon opened #1643 "update socket class with missing address method"
**Context**

currently, I found nock and am trying to test out a http module flow. along the way, we require extracting the `address()` result object.

w/in the response, we have this event:

[code]
What are you trying to do and how would you want to do it differently? Is it something you currently you cannot do? Is this related to an issue/problem?

In the case of our tests, because the method do

[2019-07-24 16:01] paulmelnikow commented on #1643
This sounds like a good feature to add to our mock Socket class. There was a recent PR adding the `unref` method (#1612). It may be helpful to include a link to the reference docs.

By the way, what would you have the mock function return?

[2019-07-24 16:19] kvernon commented on #1643
Howdy @paulmelnikow ,

Thanks for following up with me. I meant to include a the actual reference to to the `address()` method: https://nodejs.org/dist/latest-v10.x/docs/api/net.html#net_socket_address, which returns this object (per example) ` { port: 12346, family: 'IPv4', address: '127.0.0.1' }`.

My guess, and I'm not 100% here, is that they are from `remoteAddress`, `remotePort`, and `remoteF

[2019-07-24 17:29] mastermatt commented on #1643
The `options` param is meant to take the same values as [`http.request`](https://nodejs.org/dist/latest-v10.x/docs/api/http.html#http_http_request_url_options_callback), which already (optionally) takes a port and family. But I have mixed feelings about adding new options like `address`. Would it be wrong to just hardcode `127.0.0.1`?

Off the top of my head, something like this?
[code]
[Docs for

[2019-07-24 17:56] kvernon commented on #1643
Your idea looks amazing to me! 😃

[2019-07-24 18:11] mastermatt commented on #1643
@kvernon do you want to pick this up and add tests?

[2019-07-24 20:23] #1642 closed

[2019-07-24 20:29] gr2m commented on #1642
For the record, I tried to reproduce the problem with Octokit setting a header to an array of strings but was not able to.

[code]

Logs

[code]

[2019-07-25 01:18] alexlitel commented on #1642
Why did your build process reject updating the `@next` package on NPM with a new minor version this change? Shouldn't fixing a bug that affects intercompatibility with other packages warrant a new minor version?

[2019-07-25 01:24] paulmelnikow commented on #1642
Hmm, it should have shipped a new beta. 🤔

Maybe it didn't because the commit message prefix on e744b0a7c295c8b8acd9ada0d6d3fbf45a58d7cb was `bug:` instead of `fix:`?

[2019-07-25 01:27] gr2m commented on #1642
Yeah, must be `fix:` I think. You can push an empty commit with just a message to fix

[2019-07-25 13:42] kvernon commented on #1643
[advice / direction please]

I've been trying to wrap my head around testing, and honestly I feel like I'm in the dark here.

1. I'm a TDD junkie, so explaining unit testing isn't needed
2. I use Webstorm, which doesn't have `TAP` supported... yet?
3. I also use wallaby.js, which equally doesn't have `TAP` supported... yet (again)?
4. I have tried using VS code to run the tests/see associations, b

[2019-07-25 16:07] mastermatt commented on #1643
`tap` is rough. There is a convo going in [another issue](https://github.com/nock/nock/issues/1305), about moving away from it.
I tend to copy the body of the test I'm working on into a scratch file and run it directly.

[2019-07-25 18:28] simlu commented on #1478
@mastermatt We've merged it in now and it works great the way it is. However "unfortunately" node12 is smart enough to figure out that requests that are patched by nock are no longer async. So the workaround I put by using `process.nextTick` no longer works.

Hence to make this work property we would have to make the "after" callback async and blocking. I tried looking into it, but the code is rat

[2019-07-25 18:47] paulmelnikow commented on #1478
Hey @simlu, could you clarify what this is doing?

[code]

It looks like it's sort of an asynchronous spin loop.

Would it be simpler to record the order of the requests, and then look for the mis-ordered requests before you invoke `nockDone()`?

[2019-07-25 21:01] mastermatt commented on #1351
I think this is done. @paulmelnikow do you want to give the tests one last check before closing this issue?

[2019-07-25 21:02] simlu commented on #1599
I actually like option one as it would give much more flexibility e.g. use https://github.com/lydell/json-stringify-pretty-compact

[2019-07-25 21:11] paulmelnikow commented on #1351
These are the ones I'm still seeing:

- There are a couple instances of `www.google.com` in `test_recorder`.
- There are `google.com` and `amazon.com` in `test_back` and a `google.com` in `fixtures/goodRequest.json`.
- There are `google.com` and `amazon.com` in `test_net_connect`.
- `test_s3` should be removed / refactored, though I guess we could consider that to be unrelated to this issue.

I'm

[2019-07-25 21:27] simlu commented on #1478
@paulmelnikow That's exactly what it does. It basically gives any parallel async tasks time to finish in the same event loop iteration. It's a bit hacky but works great in node10. Just unfortunately not in node12.

You could do that, however it would make recording much more complicated as one would have to manually adjust the recording in order to be able to replay them. We have some recordings w

[2019-07-25 21:34] paulmelnikow commented on #1478
Sorry, I guess I'm not understanding. Why would verifying the request order afterward be more complicated? What's the effect of letting other tasks run?

[2019-07-25 21:36] mastermatt commented on #1478
@simlu I think we need more info on how you want do define the specified order.
The chunk of code that @paulmelnikow linked to basically makes the order arbitrary as long as the requests are fast enough.

Also, interceptor keys are not unique. So your code will allow similar requests to provide false negatives.

[2019-07-26 18:55] jsumners commented on #1516
Is there an ETA on this? I have found that 10.x does not work with Node 12 whereas `nock@beta` does.

[2019-07-26 19:20] gr2m commented on #1516
No need to wait, you can use `nock@beta` today, it’s very stable. And it’s very helpful for us to have as many people as possible use it before the stable release

[2019-07-26 19:23] paulmelnikow commented on #1516
@jsumners Please do update and let us know if you run into issues! We don't have a summary yet of the breaking changes, however when APIs have changed, the readme on the beta branch documents the new APIs.

[2019-07-26 19:24] jsumners commented on #1516
I get that, and we may end up doing so, but it's generally not great to use clearly marked "beta" releases in "production" projects. I really don't even like using non-LTS Node, but we are close enough to LTS on that front for it to be acceptable.

[2019-07-26 19:38] paulmelnikow commented on #1516
Upgrading early is a (hopefully relatively) small thing you can do to help the project. Getting feedback from a wider audience helps us get the release out.

It's up to you though! Understand where you're coming from. Unfortunately it's not quite ready yet.

[2019-07-26 19:55] gr2m commented on #1516
It usually it’s only used for testing, not in production, so I don’t think there is much risk to it.

[2019-07-26 19:57] jsumners commented on #1516
Yep, I understand. Not trying to demand anything here. Just prodding for a bit of info.

Testing begets production releases.

[2019-07-27 21:12] paulmelnikow commented on #1042
I just looked into this, and I don't think there's actually anything to change.

`.persist(false)` is a way to remove a persisted mock _without_ calling `nock.cleanAll()`. `nock.cleanAll()` seems already to clean persisted mocks.

I'll open a PR to add a test and adjust the documentation.

[2019-07-27 21:21] paulmelnikow commented on #1516
I was thinking of starting on the upgrade guide. Is there anything conventional-changelog can do to make this easier, or is the easiest way to comb through the commits?

[2019-07-28 10:00] weekly-digest[bot] opened #1648 "Weekly Digest (21 July, 2019 - 28 July, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 9 issues were created.
Of these, 6 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #1647 [ test: Clarify that cleanAll removes persistent mocks](https://github.com/nock/nock/pull/1647), by [paulmelnikow](https://github.com/paulmelnikow)
:green_heart: #1646 [Ref

[2019-07-28 15:28] gr2m commented on #1516
Once we fill good code-wise, we can publish 11.0.0 to the `@next` dist-tag channel. It will create a pre-release on GitHub based on the commits. Then we can edit the release notes and add a migration path. Once that’s all ready, we release to `@latest`.

Publishing to `@next` should be as simple as merging `beta` to the `next` branch, semantic-release should take care of it. Publishing to `@latest

[2019-07-28 16:01] paulmelnikow commented on #1516
I think we’re in good shape code-wise. Seems like we may as well get that process started!

One question, will we be able to publish a new 11.0.0 when it’s time to release to latest, or will it end up being eg 11.0.2?

[2019-07-28 17:14] #507 closed

[2019-07-28 17:14] #1552 closed

[2019-07-28 21:23] gr2m commented on #1516
It’s gonna be the same version, `next` branch will just publish to to the `@next` dist-tag, but without any special version name such as `beta` does.

@mastermatt any objections against release `11.0.0` to `@next`?

[2019-07-28 21:52] mastermatt commented on #1516
@gr2m if you can give me a day or two, I'd like to get #1596 into beta because it has a breaking change.

[2019-07-28 22:05] gr2m commented on #1516
Sure, there is no rush! I also run into some failed test with Octokit and I want to make sure these are intentional breaking changes and not bugs that we missed.

[2019-07-29 13:24] gabegorelick commented on #1042
I'm fairly sure that this was not the case when this issue was opened. Was this perhaps unintentionally changed at some point?

[2019-07-29 17:57] simlu commented on #1478
Because the request order while recording could be different than when replaying. That's what the hack above solves in node 10. However it doesn't work in node 12. So let's ignore it for now.

That is not true. It only makes _parallel_ request ordering arbitrary in node 10.

I'm not entirely sure what you mean. Would you mind explaining?

[2019-07-29 17:57] simlu commented on #1478
Apologies... I thought use case and requirements were clear. Unfortunately I was wrong :) I'll try to go into as much detail as I can while being concise.

Consider the following snippet:
[code]

Naming the requests, `A, B, C and D`, they are made in the following order:
- A, waiting for completion
- B and C in parallel, waiting for completion of both
- D, waiting for completion

Depending on late

[2019-07-29 18:58] paulmelnikow commented on #1042
Hmm, I don't believe so.

The issue linked to in the top post #438 mentioned `cleanAll` as a working option for persisted mocks, and was requesting the addition of a granular removal option:

[2019-07-29 19:06] #1648 closed

[2019-07-29 19:16] mastermatt commented on #1478
@simlu I understand the `nextTick` approach is an issue in 12, and I want to spend some time looking into that.

But in the meantime I want to look at another aspect of your approach. Using your example above (thanks for that) with `A B C D`, it seems like a call order of `A B D C` would provide a false positive.

In the thread above...

I don't see how the call to `D` is not rejected as long as `

[2019-07-29 19:34] simlu commented on #1478
I honestly would not spend time on this. I understand how it all works and why and don't think there is a way to fix it.

That call order would always fail.

Do you mean what you wrote here? I'm a little confused and assume you didn't?

That's what I was getting at with the event loop. The next tick will only allow parallel actions to continue executing in the current loop iteration. Request D wou

[2019-07-31 17:03] simlu commented on #1478
So just to clarify regarding my example above using request order enforcing

- `ABCD` would always succeed
- `ACBD` would succeed in node10 but fail in node12 using the tick hack
- `ADBC` would always fail since there is no way `D` can complete even with the tick hack. This is because `await Promise.all([B, C]);` always has to finish before `D` is requested. The tick hack can not "bypass" an `awai

[2019-08-01 05:01] JustinBeckwith opened #1650 "OutgoingMessage.prototype._headerNames is deprecated"
Greetings folks!
We are running into an error with our tests while using nock:

Node.js version:  v12.7.0
Test framework: mocha
Nock version: 10.0.0
`--throw-deprecation` enabled on tests

When we use this call:
[code]

We are getting a stack trace like this:

[code]

After testing .. it does look like this is resolved in `11.0.0-beta.30` :)

[2019-08-01 16:13] paulmelnikow commented on #1650
Hi! Thanks for the report. And nice to know that we've fixed it :)

[2019-08-01 16:25] paulmelnikow opened #1651 "11.0.0-beta.30 imports qs but does not require it"
#1632 removed qs, but recorder.js still imports qs (in `beta`) here:

https://github.com/nock/nock/blob/35221cefab2808b66bd57f69b16e865c69fc267c/lib/recorder.js#L4

Here is an example of a failing build for 11.0.0-beta.30:

- https://circleci.com/gh/badges/svg-to-image-proxy/152

[2019-08-01 16:40] paulmelnikow opened #1652 "In 11.0.0-beta.30, when no body is provided `.filteringRequestBody()` no longer has any effect"
I have a test case that failed in IcedFrisby in 11.0.0-beta.30. I've confirmed that in 11.0.0-beta.29 the test case passes which means this changed in #1632.

I am pretty sure this is a bug, though it's a slightly awkward / broad test case which I haven't yet narrowed down to a specific behavior of nock.

[code]

In 11.0.0-beta.29, the `filteringRequestBody` callback runs 5 times and the `expect(a

[2019-08-01 16:56] paulmelnikow commented on #1652
Admittedly this no-op filtering is not the intended use case of `filteringRequestBody()`. However I can't see a reason why it shouldn't still run its callback before matching.

The correct error from `.replyWithError()` does seem to be emitted as intended.

I narrowed this down a bit and added this failing test case:

[code]

Not related to `replyWithError()`; rather that `filteringRequestBody` is

[2019-08-01 19:39] mastermatt commented on #1478
I think part of my confusion is that I have **not** been associating "parallel requests" with requests that were initiated in the exact same loop iteration. Is that your use case @simlu?

And for the blocking option, are you asking for the `after` hook of `Back` options to be async and blocking? Or the listener of the `request` event emitted by the `Scope`?
They both seem problematic, but I don't

[2019-08-01 19:50] mastermatt commented on #1557
This has been resolved with #1596 and the new feature is in Beta. Publication still pending.
@mgcrea would you mind giving it a whirl?

[2019-08-01 19:50] #1557 closed

[2019-08-01 19:58] mastermatt commented on #1651
whoops, I wonder how I missed that. PR incoming today probably.

[2019-08-01 20:38] mastermatt commented on #1651
`qs` is a sub-dep of a dev-dep (`request`), which means it's available for "requiring" when the tests are run.

Good news is, the usage of `qs` in recorder.js does not take advantage of the "unpacking" feature of JSON path parameter names. So switching it out for the native `querystring` will work.

[2019-08-01 20:47] mastermatt commented on #1650
@paulmelnikow if this is fixed in beta, should the issue be closed or left open until v11 goes general?

[2019-08-01 21:02] mastermatt commented on #1652
@paulmelnikow I made this change intentionally, not taking your use case into mind.
The change is here, inside `Interceptor.prototype.match`.
https://github.com/nock/nock/blob/35221cefab2808b66bd57f69b16e865c69fc267c/lib/interceptor.js#L329-L332

The if stmt `if (this.scope.transformRequestBodyFunction) { ` use to be higher up in the `match` function and I moved it down to only fire if the match h

[2019-08-02 13:31] karladler opened #1654 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/nock) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`

[2019-08-02 15:33] mastermatt commented on #1654
I has `main` declared in the package.json already.
https://github.com/nock/nock/blob/35221cefab2808b66bd57f69b16e865c69fc267c/package.json#L22

[2019-08-02 15:43] paulmelnikow commented on #1652
I think it’s a nice idea not to call the function when the match has already failed, though I think the transform ought to run even when the body is absent. Does that make sense?

[2019-08-02 15:46] paulmelnikow commented on #1650
We usually close when the beta branch is patched, so I think this can be closed.

[2019-08-02 15:55] Ziggoto opened #1655 "Add options to disableNetConnect() like enableNetConnect()"
I'm trying to disable only a specific domain and keep enabled all the others. But I don't know if it is possible in the way this method is implemented today.

[2019-08-02 16:22] mastermatt commented on #1652
Perfect sense. Created #1656

[2019-08-02 16:41] mastermatt commented on #1655
Not the nicest option, but it is doable currently.
[`enableNetConnect`](https://github.com/nock/nock#enabling-requests) accepts a regex argument, so you could use a negative lookahead to exclude the single domain.

`enableNetConnect(/^(?!.*domain\.com).*$/)`

[2019-08-02 18:29] simlu commented on #1478
@mastermatt That is true in our case. But you are right that it might not be true in general. Another reason why the `process.nextTick` solution isn't great.

I was talking about the `scope.on('request', ...)` listener. What do you think would be problematic about making that async and blocking?

[2019-08-03 00:29] lwinmoehein opened #1657 "Thanks"
# ❤️ I'm using Nock

If you (or your company) are using Nock - please let us know. We'd love to hear from you!

Nock is a community driven project, which means it's not maintained by a company. If you would like to help Nock - any of the following is greatly appreciated.

- [ ] Give the repository a star ⭐️
- [ ] Help out with issues
- [ ] Review pull requests
- [ ] Blog about Nock
- [ ] Make tuto

[2019-08-03 17:06] paulmelnikow commented on #1655
There's been some discussion in #1441 about rewriting the lifecycle methods. I'd like to basically rethink the whole thing, and replace the entire API with something more straightforward, and eventually deprecate the old methods.

The result of the analysis I did is in https://github.com/nock/nock/blob/beta/rfcs/rfc-001.md.

At the end of #1441 I proposed this API:

With that you'd call

[code]

I

[2019-08-03 17:31] paulmelnikow commented on #1652
Ahhhh, as I was reading #1656 I think I finally understand this! We're not talking about when the actual request body is absent, nor even when the mock request is matching an empty body. Rather, we're talking about when _no body constraint has been specified on the mock request_.

If there is no body constraint, then I agree with you in the first place… we really don't care what the transform func

[2019-08-04 10:00] weekly-digest[bot] opened #1658 "Weekly Digest (28 July, 2019 - 4 August, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 9 issues were created.
Of these, 0 issues have been closed and 9 issues are still open.
## OPEN ISSUES
:green_heart: #1657 [Thanks](https://github.com/nock/nock/issues/1657), by [lwinmoehein](https://github.com/lwinmoehein)
:green_heart: #1656 [bug(interceptor): call transformRequestBodyFunctio

[2019-08-04 14:32] mastermatt commented on #1652
Throwing an error will be an issue as `filteringRequestBody` is Scope level. So if anyone reusing a scope for a GET *and* POST, for example, would start erroring out on the GET.

I think we should leave it as is and close #1656 unmerged.

Probably not for v11, but eventually, I think `filteringRequestBody` should just be removed flat out. It was originally added as a way to dynamically match reque

[2019-08-04 15:03] mastermatt commented on #1478
My understanding of the [`EventEmitter`](https://nodejs.org/api/events.html#events_asynchronous_vs_synchronous) is that you can't make it blocking.

[2019-08-04 22:18] Ziggoto commented on #1655
I was working on a feature which gives me a custom feedback when the server I communication with is down. But the application I'm working on is also a REST API, but in a different domain. So, when I do the `disableNetConnect()`, I can't even call for my own endpoints. I would like to mock only one of those APIs as a down server, not both of them.

I still didn't try what @mastermatt said but it co

[2019-08-05 01:00] simlu commented on #1478
Just re-reading this. Were you possibly confusing `nextTick` with `setImmediate`? I found [this article](http://plafer.github.io/2015/09/08/nextTick-vs-setImmediate/) explaining the difference. Using `setImmediate` would result in the behavior you seem to have expected.

Sure, but that's a very simple change. Consider the following snippet as an example:
[code]

[2019-08-06 09:27] paulmelnikow commented on #1478
I'm afraid this situation is more complicated than I'm able to fully dig into. It seems fine to find a way for Nock to enforce the order of the cassette, and to document how to go about this, as this seems like it would be useful for other use cases. I could also see adding more event hooks to Nock Back.

However there are some thing very specific about the way concurrent requests are being handle

[2019-08-06 09:39] paulmelnikow commented on #1652
Right, that makes sense, that some requests on the scope could have body constraints while others don't.

It seems to me that you could use a body function in place of any use of a filteringRequestBody function.

I guess the first step would be to mark it deprecated and emit a deprecation warning. Would also help us find out if there are valid use cases we aren't thinking about.

[2019-08-06 09:43] paulmelnikow commented on #1652
The `request` event is working fine in my test, however the `replied` event doesn't seem to fire here. I imagine it doesn't fire when using `.replyWithError()`? Should it?

[2019-08-06 09:47] #1658 closed

[2019-08-06 09:47] #1657 closed

[2019-08-06 12:07] mastermatt commented on #1652
The 'replied' event does not currently fire when using `replyWithError`.
As for the "should it?"... the current behavior of that event is that it denotes when the `IncomingMessage` has been passed all the data chunks and is "complete". With that mindset, it make sense that `replyWithError` does not emit the `replied` event as the error is fired on the request object and the response is never provi

[2019-08-06 12:09] #1651 closed

[2019-08-06 12:26] mastermatt commented on #1655
@Ziggoto I'm not sure if I completely understand your use case, but here are my two cents on why I think `disableNetConnect` doesn't have the option to provide a specific domain...

When nock is called like: `nock('http://domain.com')` it creates a `Scope` instance that catches all traffic to that domain regardless of method, path, body, etc. So this has the effect of stopping all outbound HTTP tr

[2019-08-06 12:31] #1042 closed

[2019-08-06 12:33] paulmelnikow commented on #1652
Seems reasonable! Probably it's a good idea to clarify in the API docs when those events fire, though we can save that for another day.

[2019-08-06 12:33] #1652 closed

[2019-08-06 12:39] nockbot opened #1660 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-08-06 17:53] simlu commented on #1478
That's done and documented in code in the project I linked earlier. I was hoping to improve it before we put it into markdown.

There is nothing special to this use case. It's just the desire to make `record` + `replay` of cassettes work together with enforcing of request ordering. Basically supporting `nockBack` while enforcing request ordering.

It would allow the request to wait until any other

[2019-08-06 22:53] simlu commented on #1478
@paulmelnikow Thinking about this more, I'm trying to find a different solution. We could record the cassette in the correct order if we add the following hooks:

When recording a new cassette with nockBack we would need blocking, async hooks "beforeRequestRecord" and "afterRequestRecord" for each request. I know we have the "afterRecord" already, but that's after all recordings have completed. Th

[2019-08-06 22:56] simlu commented on #1478
How about a `requestStart` hook [here](https://github.com/nock/nock#options-1)? That might honestly be all we need since we can then sort the recordings in `afterRecord` correctly.

[2019-08-07 03:53] tkalinowskiIress opened #1661 "replyWithError doesn't work with got"
**What is the expected behavior?**

`replyWithError('err')` or `reply(500, {error: 'err'})` should return give valid error response in catch block when doing a request with got

**What is the actual behavior?**

Nock is crashing

**Possible solution**

**How to reproduce the issue**

Glitch: _[Example link](https://glitch.com/edit/#!/healthy-coin?path=server.js:12:38)_
Codesandbox: _[Example link]

[2019-08-07 09:20] paulmelnikow commented on #1478
I think you're saying it would allow a request to be deferred momentarily, while other requests that have already fired but not yet gotten responses, can resolve.

Could you enforce order a different way by incrementing a counter on every pass of the event loop, and recording the value of the counter when the event fires?

[2019-08-07 09:25] paulmelnikow commented on #1661
Ahhh, see #1523.

Got issues retries by default. This makes for confusing testing, and I think perhaps not a great default.

Try:

[code]

Or see our solution:

https://github.com/nock/nock/blob/11dba990de94629189dca1030669f2d6d8d409f9/tests/got_client.js#L3-L6

I expect other devs to run into this issue so I'd welcome a pull request with a documentation update!

[2019-08-07 14:07] simlu commented on #1478
Not exactly since one of the requirements is that we can make an async request blocking until the appropriate time. Basically if you have [A, B] in parallel with [C, D] it isn't enough to observe. One needs to be able to enforce a delay either when recording or replaying since the request chain is not known.

However we might be able to do something with [async_hooks](https://nodejs.org/dist/lates

[2019-08-07 15:58] paulmelnikow commented on #1478
Why must it block if the goal is only to enforce order in which the requests are made?

[2019-08-07 16:45] simlu commented on #1478
@paulmelnikow Because when recording, the entries are collected in the order that the requests have completed. When replaying the requests are instantly replayed. So the cassette is expect to be in order of when the requests have started. (= there is a discrepancy in ordering between `record` and `replay`)

Hence either we need to (1) delay requests while recording so that start and completion alw

[2019-08-08 05:03] greenkeeper[bot] opened #1662 "An in-range update of aws-sdk is breaking the build 🚨"
## The devDependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.504.0` to `2.505.0`.

🚨 [View failing branch](https://github.com/nock/nock/compare/beta...nock:greenkeeper%2Faws-sdk-2.505.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a devDependency of this project. It **might not brea

[2019-08-08 09:14] paulmelnikow commented on #1662
I don't think we have to care about this. Per #1427 and related discussions, the test depending on aws-sdk should ideally be isolated and replaced with a narrow-bracket test that covers the regression it was introduced to cover. Less ideally, the test could be removed.

[2019-08-08 09:14] #1662 closed

[2019-08-08 09:18] paulmelnikow commented on #1478
Could you clarify this?

[2019-08-08 10:51] simlu commented on #1478
@paulmelnikow I'm not sure I understand what you would like me to clarify. This is what I was referring to above: When nock is replaying responses, there is no need to wait for an external server. Hence responses are no longer async and the order changes between record and replay time. Is that what you are asking?

[2019-08-08 12:13] kathdesagun opened #1663 "Error: Nock: No match for request when using request-promise form-data"
Is it possible to intercept request-promise formdata without request body in nock?
when we are trying nock to test request-promise by passing formdata only it fails, but when we pass a request-body it was successful. Thanks

See sample request promise:

[code]

[2019-08-08 15:31] mastermatt commented on #1663
This question would be better suited for [Stackoverflow](https://stackoverflow.com/questions/tagged/nock).
When you post the question, please remember to include an example of what you've tried with nock and any error messages.

[2019-08-08 15:38] mastermatt commented on #1422
I'm going to pick this up real quick.

[2019-08-08 18:36] busticated commented on #1625
fwiw, there's also this 👉 https://github.com/bcoe/http2spy

[2019-08-08 22:58] paulmelnikow commented on #1478
Oh! If I understand then, you’re wanting to delay the responses when the requests have occurred slightly out of the recorded order.

Would it be easier if nock wrote the cassette in the order requests are made, instead of the order in which they complete?

[2019-08-09 18:36] simlu commented on #1478
Correct, that is what I [tried to explain above under (2)](https://github.com/nock/nock/issues/1478#issuecomment-519178134)

That was my [other though under (1)](https://github.com/nock/nock/issues/1478#issuecomment-519178134) and we could already do that by re-ordering in [afterRecord](https://github.com/nock/nock#options-1). However we can only solve the general case if we can block request comp

[2019-08-11 10:00] weekly-digest[bot] opened #1665 "Weekly Digest (4 August, 2019 - 11 August, 2019)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 6 issues were created.
Of these, 2 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #1664 [bug(overrider): unmocked HTTPS request with partial interceptor match](https://github.com/nock/nock/pull/1664), by [mastermatt](https://github.com/mastermatt)
:green_heart

[2019-08-12 01:32] mastermatt commented on #1516
At this point I think v11 is feature complete and ready to cut. @gr2m @paulmelnikow ?

[2019-08-12 04:00] gr2m commented on #1516
Sorry my laptop broke shortly after my last message, I still don't have it back. I couldn't finish my investigation on v11 with Octokit.

We can merge it into a next branch, so it will release v11.0.0, but using the `@next` dist-tag. That will make it simple enough for folks to install and signal it's stable enough to use now. I can do that tomorrow

[2019-08-12 07:28] paulmelnikow commented on #1516
I started working on the upgrade guide, though it's not finished, and it sounds like it's fine to add that after the initial v11.0.0 release is shipped.

Besides reaching out to channels asking people to try the new release, I think it would be a good idea to publicize a target date for the `@latest` release. Maybe a month would be good?

Lastly, I wonder about opening PRs ourselves on a couple po

[2019-08-12 17:13] bnb commented on #1650
Also having this issue ❤️

[2019-08-12 17:59] mastermatt commented on #1650
@bnb can you verify it works for you when using the latest beta release?

[2019-08-12 23:20] gr2m commented on #1516
Sounds good to me 👍 I'll update Octokit & nock myself.

I'll get the `@next` release going then

[2019-08-13 00:00] gr2m commented on #1516
There we go: https://github.com/nock/nock/releases/tag/v11.0.0%40next

nock creates a `v11.0.0@next` tag/release. When merged to master, it will create another tag/release without the `@next` suffix. It's currently being discussed at semantic-release if the suffix is necessary but that's what we have today :)

[2019-08-13 00:21] #1660 closed

[2019-08-13 01:16] mastermatt commented on #1516
@paulmelnikow do you have thoughts on which projects it might be good for us to open PRs on?
I looked into a couple of the more popular projects that use Nock, eg supertest, bower, etc. but the ones I looked at had trivial use cases.

[2019-08-13 06:44] paulmelnikow commented on #1516
Hmm, no I guess I'd have to look at them a bit. I know @RichardLitt assembled a list at one point – wonder if we can pick some good ones out of that?

I pushed a branch with my WIP on release notes: https://github.com/nock/nock/compare/release-notes If anyone wants to jump in and work on that, would be great. I'll be able to work on it a bit on Thursday.

[2019-08-13 07:52] Ziggoto commented on #1655
I just would like to mock a scenario when a specific domain is unreachable, but without disabling my net for all other domains

[2019-08-13 07:53] Ziggoto commented on #1655
I have tried these days @mastermatt tip but didn't work for me.

[2019-08-13 14:25] RichardLitt commented on #1516
Hmm. I don't remember doing that 😅. Would probably be worth doing again.

[2019-08-13 15:06] paulmelnikow commented on #1516
Ha! I thought you wrote some software that looked on GitHub and made a list of companies. Maybe I'm misremembering!

[2019-08-13 18:52] RichardLitt commented on #1516
Currently working on a tool to do that. I'll report back.

[2019-08-13 19:12] mastermatt commented on #1516
I've opened a PR against `google-api-nodejs-client` and I'm currently working on one for `node-newrelic`.

[2019-08-13 19:19] paulmelnikow commented on #1650
Since we've published it to `next`, I you should also be able to use `11.0.0`.