[2017-09-26 17:59] #983 closed

[2017-09-26 21:59] mhelvens commented on #595
But @protometa added:

But the approach above doesn't do that, does it? It blocks and replaces the actual request / response.

[2017-09-26 22:36] gr2m commented on #595
@mhelvens Agreed.

But I don’t see the use case for spying. Unless someone can share some use cases, I’d suggest we close this issue as won’t fix :)

[2017-09-27 10:33] bennyn opened #984 "Missing release tags"
On [npmjs.org](https://www.npmjs.com/package/nock) I can see that there is already nock v9.0.21. However, the [GitHub releases](https://github.com/node-nock/nock/releases) show v9.0.15 as the latest version.

[2017-09-27 15:39] gr2m commented on #984
thanks for brining that up, it’s fixed now. I’ll setup [semantic-release](https://github.com/semantic-release/semantic-release) soon, so that won’t happen again

[2017-09-27 15:39] #984 closed

[2017-09-27 23:18] Nordes commented on #471
Thank's a lot @xavierchow It actually fixed my issue. In windows the proxy is not added in the url with the request module, but on my build machine (linux) it add the proxy before the URL and makes it impossible to NOCK.

I tried to debug the request module, since it does a different behavior depending on the system, but I stopped searching after seeing that I could modify the no_proxy within code

[2017-09-28 03:13] #896 closed

[2017-09-28 11:59] mhelvens commented on #595
I'm working on a router for npm requests through http. Some requests are proxied to a private registry (not mocked), others to the official npm registry (mocked). I have to write tests like:

_"Expect GET /@scope/package to be routed to cnpm."_
_"Expect GET /jquery to be routed to npm."_
etc.

To write those tests I need to spy on outgoing requests to distinguish one from the other. And the way no

[2017-09-28 16:19] peteratticusberg commented on #274
@pgte I think the proper way to handle this would be make it so that nock optionally consume a query param serializer.

e.g. something like:

[code]

Would be nice to have the option to set it on the nock object and also just set it for specific one off requests.

If you'd accept a PR like this let me know and I can put one up.

[2017-09-28 17:15] gr2m commented on #274
@peteratticusberg Hey Peter, I’m currently maintaining nock but still finding my ways around, happy to help.

I think encoding of query parameters is out of scope of nock, as different request libraries handle encoding differently ... I’m reluctant to add another feature that we’d need to document and support for forever. If you feel strong about it, can you create a separate issue and we see if m

[2017-09-28 17:48] gr2m commented on #595
for that specific use case, you can define custom registries based on package scopes in npm:
https://docs.npmjs.com/misc/scope#associating-a-scope-with-a-registry

[2017-09-28 18:42] peteratticusberg commented on #274
Thanks!

Agreed. The idea behind the feature would be to allow users to optionally configure nock to use an arbitrary query serializer (e.g. the one that their request library is using). Nock itself would not ship with a query serializer.

Does that make any more sense?

[2017-09-28 18:48] gr2m commented on #274
I know what you mean, thanks. I’m adding the `.setQuerySerializer()` at this point though. It’d be easy to add, that’s not the problem, it’s all about maintainability & support in the long run, which is the biggest challenge nock has right now, but usually not what users of the project ask for, so i have to stand up for it :)

[2017-09-28 18:53] peteratticusberg commented on #274
I see totally makes sense. Let's hold off on this then. If we see more activity in this thread / demand for this feature elsewhere I'd be happy to come back and put up a PR.

[2017-09-28 21:27] mhelvens commented on #595
@gr2m: I am aware. But it doesn't seem relevant to the issue we're discussing. Our routing is not just based on scopes, and its users are not just using the npm client.

Suffice to say that the router's existence is justified, and we need to write tests to verify that the requests are routed to the right registries. The best way to do this is to spy on outgoing http requests, and it would be great

[2017-09-28 21:51] gr2m commented on #595
Yeah I see your use case. I’d suggest to look if there is another library for that out there or make one yourself, I don’t see that being added anytime soon to nock. It’s out of it’s scope and I’m very reluctant to add more features before making it more maintainable.

But we can leave the issue open and see if other folks have more use cases.

[2017-09-28 22:33] mhelvens commented on #595
@gr2m: In lieu of a fully fledged spy feature, how about a cheaper substitute? Namely, something like `nock.emitter.on('request', () => {})` that emits events for all requests (including body), regardless of whether they were matched by a nock rule. Would you consider a PR to that effect?

My current solution is to patch together subscriptions to `nock.emitter.on('no match')` and `scope.on('replie

[2017-09-29 11:12] npetevn commented on #976
I hit this same issue and found out that it was introduced somewhere between 9.0.18 and 9.0.21 releases. As a workaround, I reverted to 9.0.18.

[2017-10-01 15:52] vyorkin commented on #417
This would be super-useful.
If I understand correctly, we need to add a new mode (something like `record-always`, not sure about this name though). If there is any chance my PR could be accepted I want to try and implement this (should be easy enough).

The reason why I need this  that I'm trying to use nock together with jest to do a snapshot testing.

So, I have a directory structure that looks

[2017-10-02 12:14] ierceg commented on #417
@vyorkin I agree with you - this mode would be very useful.

I think `overwrite` is better than `record-always` although something like `development` or `testing` or even `tdd` could also work.

I see two ways here:

## Always overwrite

The workflow is:

1. Choose tests to run (e.g. `.only` or regex for test or whatever your test runner allows)
2. Set `NOCK_BACK` param to the new mode on the comm

[2017-10-02 13:34] vyorkin commented on #417
thanks @ierceg ! not sure what you mean by:

because as I can see fixtures already include request parameters:

![image](https://user-images.githubusercontent.com/988849/31079653-07930f4a-a78f-11e7-8b40-adf9e86c1509.png)

[2017-10-02 13:37] ierceg commented on #417
Aaah my bad - I forgot that it was already included to be able to match
different requests in the same fixture file. Duh.

On Mon, Oct 2, 2017 at 10:34 AM, Vasiliy Yorkin <notifications@github.com>
wrote:

--
Ivan Erceg
Sr. Platform Engineer | Moovweb <http://moovweb.com/>
ivan.erceg@moovweb.com

[2017-10-02 13:40] ierceg commented on #417
This would then change the weights on my recommendation that I think overwrite always is more optimal. I now recall that for some of my tests I have to rewrite the requests in order for them to be matched (e.g. upstream subdomain is randomly assigned to distribute the load - I think Dropbox package used to do that). So anyway, I agree this is useful - ignore everything else I said :)

[2017-10-02 20:00] maxGreenblatt opened #987 "Recorded tests break due to scope filtering issue"
https://github.com/node-nock/nock/blob/master/lib/intercept.js#L164

Why does the code exit the `_.each` directly after finding the first match? My tests make thousands of calls to the same host, and the early exit causes them to break if I change the order of the calls, even if the same end result is achieved. Is this intentional behavior?

If I comment out this line, my tests all work, so I'm no

[2017-10-02 21:48] gr2m commented on #987
hey @maxGreenblatt I recently join the nock maintainers team and still finding my ways around the code, so I can’t tell why it’s done as it is. Could you check out the nock repository, run tests to make sure they all pass, then comment that line out and see if it breaks any tests? That’s how I usually find out why a code is there :)

[2017-10-03 00:33] maxGreenblatt commented on #987
Doesn't break any tests - 758 passing, 1 pending, then 6 passing in `install_sub_deps` with and without the line commented.

[2017-10-03 01:09] gr2m commented on #987
thanks for checking!

That means that the tests are not as good as they should be to help with issues like yours, this will require a bigger investigation. Maybe @ierceg can help?

I’ll be out the next two weeks but hope to have more time for the rest of October. If you could do some more research to find out why the code has been added, that’d be very helpful. Until then I suggest you fork the re

[2017-10-03 01:11] maxGreenblatt commented on #987
https://github.com/node-nock/nock/commit/18ab73f3a04d6b525b2203e43050bd14ece6e82f - looks like it was part of the initial commit for `Scope filtering` 3 years ago

[2017-10-03 03:54] ierceg commented on #987
@maxGreenblatt The `return false` is there because we have found a match and we no longer need to keep searching. Request scopes shouldn't be ambiguous so the first match should actually be the only match (or you should always have the exactly same response and it's the count of requests that matters - in which case there is no reason to prefer the last match rather than the first match) So my fir

[2017-10-03 16:20] maxGreenblatt commented on #987
Are you sure every `scope` is intended to be different?

`filteringScope(basePath)` is just sending the host string, not even the path. By that logic that would mean we are only allowed to have one scope per host?

https://github.com/node-nock/nock/blob/master/lib/intercept.js#L156

[2017-10-03 16:37] ierceg commented on #987
I think you are right - I stand corrected.

Let's try to work through how this *should* work and then compare it to how it actually does work.

1. Define scopes that are different (have different matching parameters) in whatever order you want.
2. Define scopes that are the same in the precise order in which they will be executed.
3. Run tests - every requests will go through scopes, find the matc

[2017-10-03 16:56] maxGreenblatt commented on #987
I haven't created a smallest test that isolates the issue, but I could pretty easily if that's helpful.

As the user, I would assume option `(3)` is the default behavior. And to get the behavior in option `(1)` you would call `.persist()` on the scope.

I think another quirk about the way it is currently coded is that it says this is filtering the `scope` which is an object that contains a lot of

[2017-10-04 10:33] josalmi commented on #981
We were also relying on this in our tests. Maybe 9.0.19 should have been a major release rather than just a patch. http://semver.org/#spec-item-8

[2017-10-05 18:47] surajbyanju opened #988 "Not intercepting when passing JSON on reply.."
I am using superagent for api calls and nock is not intercepting calls when I pass JSON on reply. If I dont pass anything but just response code it works fine.

----Unit test----
[code]

---- middleware-----
[code]

When I run above test case it logs response and err. But when I change nock as :
[code]
There is nothing logged in the console. Even if I just pass String as response it wont work.

Bu

[2017-10-06 17:22] gr2m commented on #988
Hey @surajbyanju it’d be great if you could start a PR with a failing test, then we can use that as a base to investigate and resolve the problem. Could you try to do that?

[2017-10-07 21:26] gr2m commented on #595
@mhelvens yeah that sounds like a good idea, can you get a pull request going for it?

[2017-10-09 15:50] travi opened #989 "regression with matching output"
it appears that the output has lost the ability to display the path that it is attempting to match. i'm currently seeing output like `matching http://api.host.com:80?embed=company to GET http://api.host.com:80/filings/devweciti with query({"embed":"company"}): true` (notice the `true`, showing that it did match).

what would it take to get the path back in place in the first part of that compariso

[2017-10-09 15:53] surajbyanju commented on #988
@gr2m are you asking for my whole test class code. I searched for this issue and looks like no one has a problem I am facing. I am trying to find out if I am doing something wrong while mocking the request.

[2017-10-09 23:46] MoonTahoe opened #990 "Child Process Issue, how to use `nock` to test a cli?"
I love using `nock` and I have not had any issues with it thus far. Lately I've been trying to test a cli that makes http requests. We want to mock a http server, spawn our cli, and verify the results. However, we noticed that `nock` does not work with spawned instances. Is that correct?  For example:

#### __sample-fetch.js__
A file that sends a fetch request to: `http://somesite.com/test`
[code]

[2017-10-10 05:20] jmnsf commented on #380
Pretty old issue, but for anyone finding this, `filteringPath` goes in the scope options. So the above function would be:

[code]

[2017-10-11 07:54] entropitor opened #991 "Is it possible to test if nock received any unexpected requests when using disableNetConnect?"
I've disabled net connect for each test, however, I want to have an assert in each test that I didn't make an HTTP request that I didn't specify in the test, is there a method to do this?

[2017-10-11 17:05] rsimp opened #992 "Nock v8.x line currently not working with Axios versions 0.16.1 or later"
Currently nock v9.x is not compatible with certain node versions, and has no typescript typings on https://github.com/DefinitelyTyped/DefinitelyTyped. However nock 8.x is no longer compatible with Axios starting at version 0.16.1 due to a bug when interacting with current versions of follow-redirects.

The bug has already been addressed in v9.0.x and simply needs to be back-ported. I've tracked th

[2017-10-11 20:34] rsimp commented on #992
PR submitted and passing all tests. Awaiting review.

[2017-10-12 17:35] beilanwang opened #994 "How to ignore certain properties in the request headers?"
Hi,

Not sure whether this is a good place to post my question. My use case is that certain fields in the request headers are timestamped, which does not seem to make sense to match the whole headers including them. I am wondering if there is a way to ignore certain fields in the request headers while still checking the rest as expected? Thanks.

[2017-10-12 20:43] #994 closed

[2017-10-15 19:19] trashhalo opened #995 "Debugging nock mismatches trips up every developer in my org"
Nock is incredibly powerful. But debugging nock misses confuses everyone I know. Even when you turn on nock debug the best you can hope for is a body doesnt match line. But then you don't know why it doesn't match. A lot of developers end up temporarily rewriting tests at that point to intercept the body and call out to deep object checks so they can try and get a sense of whats going on. But the

[2017-10-15 22:17] gr2m commented on #989
hey @travi could you setup a gist or a repository to recreate the issue?

Happy to accept a PR, too :)

[2017-10-15 22:20] gr2m commented on #988
anything to help us reproduce your bug quicker makes it more likely for us to help you out.

Could you create a GitHub repository that I could just clone, run `npm install` and `node index.js` to see the problem?

Thanks a lot for your patience

[2017-10-15 22:25] gr2m commented on #990
`nock` is hooking into the `http` core module of Node.js, if you spawn a separate process, it will not work.

I’m curious myself what the best practise would be, I want to write test for a `CLI` tool myself.

I thought about creating a minimal wrapper that would only require the `CLI`’s binary and add the mocking via nock. So in your case you would create `sample-fetch-mock.js` instead of the `spa

[2017-10-15 22:37] gr2m commented on #991
I honestly don’t know. I think "How do I XYZ" kind of questions are more likely to get answers on Stack Overflow. I’d suggest you ask there, link from this issue and then close it?

[2017-10-15 22:48] gr2m commented on #992
fixed via #993. Released as `nock@8.2.2`

[2017-10-15 22:48] #992 closed

[2017-10-15 22:48] gr2m commented on #992
Thanks :)

[2017-10-15 22:49] gr2m commented on #995
Pull requests welcome 🤗

[2017-10-15 22:49] #995 closed

[2017-10-16 03:52] paulmelnikow commented on #990
Another possible way to do it is to make a `main` function, or a runner object, which is exportable and callable on its own. Then either invoke the main function with arguments of your choice, or test the runner.

I've done this in Python a lot. I've just recently set up a Node project to try this, for the first time. This is working from the command line (though to be fair, I haven't tried to use

[2017-10-16 09:20] entropitor commented on #991
@gr2m From the documentation, I'm actually guessing that this might not even exist. So that's why I've created an issue. If it doesn't exist yet, it would be a nice addition, I think

[2017-10-16 14:57] paulmelnikow commented on #991
This is the same problem as #884.

[2017-10-17 02:36] travi commented on #989
as a start, running `npm run tests:integration:debug` against https://github.com/travi-org/admin.travi.org shows this issue. that project is an old reference project that is not very complex and not very polished, but could at least show the problem until i get a chance to dig deeper.

the lines of output that are tagged with `test` are the nock logs, so the main thing to notice is that every line

[2017-10-17 03:23] travi commented on #989
from initial looking through the code, [this](https://github.com/node-nock/nock/blob/f246ff0acdee32fc1fde85f6734bf97b58ae92e4/lib/interceptor.js#L318-L323) appears to be the logging i'm referring to. it looks like the [actual matching](https://github.com/node-nock/nock/blob/f246ff0acdee32fc1fde85f6734bf97b58ae92e4/lib/interceptor.js#L313) compares both the `matchKey` and the `path`, but the log me

[2017-10-18 05:10] #989 closed

[2017-10-18 19:06] MoonTahoe commented on #990
It turns out that is actually easier just to run a http server on the port I am trying to test and proxy nock. Thanks for the suggestions.

[2017-10-18 19:06] #990 closed

[2017-10-18 23:04] rash805115 opened #997 "Nock not working for multiple tests running together"
[Stack Overflow QUESTION](https://stackoverflow.com/questions/46801001/nock-not-working-for-multiple-tests-running-together)

If each test is run separately, all is passing.
But if all tests run together, later tests fail **because instead of nock, actual request was made**.

Consider below code snippet for example. It has two different `describe` blocks, each with multiple test cases. If I run th

[2017-10-18 23:29] gr2m commented on #997
Thanks @rash805115 for the test cases. I can have a look at it tomorrow. If someone else wants to have a look before me, please be my friend :)

[2017-10-19 03:53] rash805115 commented on #997
@gr2m Hello. I got this working by simply commenting out all `restore()` methods.
I would close this issue, but first I wanted to understand the reason behind it.
As per your documentation

Hence, I was calling `restore()` assuming that nock would be de-activated after tests, and in next block I would re-activate it. But the re-activation part never happens.

Q1: Is my understanding of `restore()`

[2017-10-20 04:36] #490 closed

[2017-10-20 21:25] gr2m commented on #997
I’m looking into it right now. I took on maintaining nock recently and am not 100% familiar with the code myself yet. I was able to reproduce the problem thanks to your test case 👍

[2017-10-20 21:57] gr2m commented on #997
so turns out that `nock.restore` removes the http interceptor itself. When you run `nock.isActive()` after calling `nock.restore()` it will return false. So you need to run `nock.activate()` before using it again.

I’d suggest we put it into the readme, what do you think?

[2017-10-20 23:36] #967 closed

[2017-10-20 23:39] #533 closed

[2017-10-21 01:22] rash805115 commented on #997
@gr2m Perfect mate!!! I tested that on my end and it works perfectly.
I am now putting below `before()` method in my test cases.
[code]
Yeah, lets put this information in the README.

BTW, should I be calling `restore()`, or is it advised to just call `cleanAll()`?

[2017-10-21 15:22] paulmelnikow commented on #997
In [icedfrisby-nock](https://github.com/paulmelnikow/icedfrisby-nock), [I use `cleanAll()`](https://github.com/paulmelnikow/icedfrisby-nock/blob/master/icedfrisby-nock.js#L27).

[2017-10-21 19:54] gr2m commented on #997
Yeah I also just needed `cleanApp` so far.

@rash805115 would you like to send a pull request to add documentation for `.isActive()` and `.activate()` and also document that `.restore()` deactivates nock and that it needs to be activated again if you want to use it again?

[2017-10-21 21:06] simlu opened #1001 "S3: Binary File Corruption (Cassette)"
Using **Node v6.10.3** and **Nock 9.0.24**

Here is a short test case that highlights the problem:

[code]

Without cassette this matches the content of the file correctly:
`<Buffer 1f 8b 08 00 00 00 00 00 00 03 ... >`

User the recorded cassette this returned an incorrect Buffer:
`<Buffer 31 66 38 62 30 38 30 30 30 30 ... >`

**Edit (Workaround):**
Adding `"Content-Encoding", "gzip"` to the respo

[2017-10-21 21:44] gr2m commented on #1001
If you could try sending a PR with a test & a fix, that’d be much appreciated

Maybe you can narrow down the bug without using AWS?

[2017-10-22 03:56] #997 closed

[2017-10-23 18:33] eitah opened #1003 "Nock v9.0.24 is failing to parse path correctly"
we migrated to 9.0.24 and found that Interceptor.prototype.matchIndependentOfBody is failing on     path = path.split('?')[0];
when it claims we have not specified a path. Our implementation is as follows. Are we specifying path incorrectly?

[2017-10-23 18:33] eitah commented on #1003
for now we remain on nock 9.0.14.

[2017-10-23 19:48] halkeye opened #1004 "lib/match_body.js - body.exec is not a function"
I'm still not sure why I'm suddenly getting this triggered. My body matches shouldn't be a regexp, but it looks like there's a bug

[code]

Match is not a function.

I'll look more into the code and see what it should be instead.

[2017-10-23 20:03] puneetguptanitj opened #1005 "match is not a function"
[code]

[2017-10-23 20:05] puneetguptanitj commented on #1004
I am seeing the same issue as well
wondering shouldn't this have string check as well
https://github.com/node-nock/nock/commit/bd38736#diff-f7a7f1f3d9e28ef78a493002d2cb1f73R45

[2017-10-23 22:31] gr2m commented on #1003
thanks for the issue @eitah I was able to reproduce the problem. It worked at 9.0.22 for me, it seems like 9.0.23 introduced the problem, I’m investigating

[2017-10-23 22:36] gr2m commented on #1003
The problem was introduced in 955

[2017-10-23 22:40] gr2m commented on #1003
@eitah @n30n0v could you look into this, maybe send a pull request with a test so we don’t break things again ❤️ 💯

[2017-10-23 22:44] #1005 closed

[2017-10-23 22:45] gr2m commented on #1004
fixed via https://github.com/node-nock/nock/pull/1006

[2017-10-24 03:14] #1004 closed

[2017-10-24 07:23] n30n0v commented on #1003
Hi, guys!

Yeh, I catch this bug only after 9.0.23 version. Path must be checked  in `matchIndependentOfBody` for example like `path = path ? path.split('?')[0] : '';`

But, In 9.0.14 I'm trying following code:

[code]

[code]

@eitah, do you expect match request? Or maybe do you use `{allowUnmocked: true}` option?

[2017-10-24 16:02] dynamitesushi opened #1007 "replyWithError and overriding the message."
Hi all,

I'm trying to override the message using nock's replyWithError function but it seems to be appending the message as a reason to the end of the message. Is there an option to override the whole message so that the results should match the mockedError that I am sending across.

My use scenario relies around my redux application and testing my action creators so that I can test when my async

[2017-10-24 21:15] gr2m commented on #1007
I don`t know myself. Could you provide a minimal code example that we can use to investigate? If you could have a look at the implementation yourself and see what would need to be changed, to would help us help you :)

[2017-10-25 09:37] winsontsang commented on #1007
Although this feature would be nice, I'm going to be closing this as I can just get around the issue by just accepting any string under message from the error returned from the intercepted request.

[2017-10-25 17:59] brian-poncho commented on #976
Jumping in to note that this issue seems to pop up whenever a request matches a https path but not some other part -- mine are getting messed up by .query functions.

[2017-10-27 03:30] simlu commented on #1001
@gr2m I've looked at this now and am really not sure what the underlying problem is (the whole code base seems pretty patch-worked tbh).

When any content encoding is found, the body is correctly decoded as binary (see comment here https://github.com/node-nock/nock/blob/master/lib/request_overrider.js#L321). However when no content encoding for request is given and the request content encoding is

[2017-10-27 06:27] hems commented on #659
this should be added to the readme!

[2017-10-27 12:34] Lukasz-pluszczewski commented on #748
I have exactly the same issue (reqheaders ignored but .matchHeader method works as expected).
Using:
Node:             8.6.0
Superagent:   3.7.0
Nock:              9.0.25

Tried with axios 0.17.0 and it worked perfectly fine (both reqheaders option and .matchHeader method matched requests correctly).

[2017-10-28 22:49] gr2m commented on #748
hey friends, I'm happy to look into this issue if someone creates a repository with a test case. Another option is to create a notebook on https://runkit.com :)

[2017-10-28 22:51] gr2m commented on #659
hey folks, `nock.restore()` it's documented at https://github.com/node-nock/nock#restoring

But I agree we could add a note to the paragraph here: https://github.com/node-nock/nock#recording

[2017-10-28 22:56] #1003 closed

[2017-10-28 23:09] gr2m commented on #976
thanks @brian-poncho! It's a great PR, I just won't have time to review it for a week or two. If someone else could help out and give it a review, that'd be great :)

[2017-10-28 23:14] gr2m commented on #1001
can you send a pull request with your changes and we discuss there?

I know :( I only recently joined as maintainer, it doesn't make my life easier. I want to clean up the code base very badly, but am looking for more folks to help out. I'd probably organise a weekend to collaborate on this remote to split up work, let me know if you are interested joining :)

One thing I want to look into is to s

[2017-10-30 04:16] simlu commented on #1001
Considering how much we use this module, I probably should help out a little. Ping me and I'll see!

I like the sound of that! I started failing tests these days if coverage < 100%

---

@gr2m Created a pr here: https://github.com/node-nock/nock/pull/1012

I don't think the change breaks anything, but who knows /shrugs

Let's discuss in pr as you suggested.

[2017-10-30 04:22] simlu commented on #1001
And I just ran into more issues. F*** :(

Will create a new issue once I figure out what is going on.

[2017-10-30 06:48] hems commented on #659
I just did a very simple proposal here: https://github.com/node-nock/nock/compare/master...hems:patch-1

[2017-11-01 07:03] gr2m commented on #659
looks good, can you start a pull request? I think instead of 4 backticks you only need 1 to get the inline code highlight :)

[2017-11-01 07:05] gr2m commented on #1001
I do this for new projects from the start. For a big code base like nock it will take a while, but it makes maintaining the project much easier once we fully trust our test setup

Thanks! I’lll check it out on Friday

[2017-11-01 14:24] hems commented on #659
@gr2m done! ( didn't change the backticks as i'm on the go now )

[2017-11-01 14:43] simlu commented on #1001
100 percent agreed :)

Im actually not even sure why the code base is this big. Is there a ticket or place where we can better discuss?

I'll add some more thoughts on the pr

[2017-11-01 16:13] #659 closed

[2017-11-02 03:17] guswnsxodlf opened #1014 "Reply and log after delay run immediately"
I tried nock on my unit tests.

[code]

As see above, I want the `return body function` and `log function` run after delayed.

Is it bug or something?

[2017-11-02 08:34] #1014 closed

[2017-11-03 16:07] tudorgergely commented on #644
any updates on this issue? I think I have the same problem. Although the request matches just fine it just does not reply anything.

[2017-11-04 19:25] gr2m commented on #644
I tried to reproduce the problem based on the original comment

[code]

Here is a RunKit example running this code, showing that it behaves as expected:
https://runkit.com/gr2m/59fe139cb52750001140340b

@tudorgergely @travi in case you still run into an issue, can you please provide a minimal, working test case  like the one above so we can reproduce the problem? Otherwise there is not much we can

[2017-11-04 19:25] #644 closed

[2017-11-05 11:03] n30n0v commented on #974
It seems that the relevant information has been added in #1002

[2017-11-05 11:26] n30n0v commented on #768
I try

[code]

I guess error exists in `data.error`.

[2017-11-05 11:39] n30n0v commented on #620
I think It isn't bug. For example error message has in `response.message` not in `response.result.message`

[2017-11-05 12:00] n30n0v commented on #620
I think it isn't bug. I try

[code]

[2017-11-05 17:01] mitsos1os commented on #974
Yes... it seems to be ok....closing the issue then...

[2017-11-05 17:01] #974 closed

[2017-11-05 17:47] gr2m commented on #620
I tested the code myself and was not able to reproduce it with the latest `nock` version. Thanks for checking @n30n0v 👍

[2017-11-05 17:47] #620 closed

[2017-11-05 18:04] gr2m commented on #768
Thanks for checking @n30n0v, much appreciated! I confirmed that `replyWithError` works as expected.

@BrunoQuaresma the problem might have been that depending on your request library, response is not set at all. `replyWithError` is usually a 500 error. When you use Node’s built-in `http` library, the error is triggered on the request. Here is my test code: https://runkit.com/gr2m/59ff5289617b52001

[2017-11-05 18:04] #768 closed

[2017-11-06 13:31] n30n0v commented on #780
Hi, guys! Nock works fine with the request, request-promise, and many other HTTP request library, as far as I understand. It overrides `http.ClientRequest` class inside node. Your example also works great both with request and with request-promise 😃

[code]

[try link](https://runkit.com/n30n0v/59ff68e5617b520016ebafad)

[2017-11-06 13:57] n30n0v commented on #841
I caught a bug in 9.0.9, but after 9.0.19 it didn't reproduce. It seems to be a fixed in #886 .

Would be great make PR with branch `bug-841-popsicle-hangs`, because the branch has a useful test 👍

[2017-11-08 04:11] #438 closed

[2017-11-08 04:12] gr2m commented on #780
Thanks for checking n30n0v 👍

[2017-11-08 04:12] #780 closed

[2017-11-08 06:43] n30n0v commented on #700
Hey there! Quite right, you can use `allowUnmocked` option:

[code]

All requests that do not match with `http://example.com/your/specific/path` goes to the real server.

[2017-11-08 06:43] #700 closed

[2017-11-08 16:31] sam3k commented on #81
This issue gets me every time. This time, it got me because the url ended up with a comma "," as a result of a dynamic url that can take a join array by comma. Simply checking for the length of the array and ommitting when only one element in the array, solves the issue.

Is there a way to throw a comparison error/warning when the URL does not qualify?

[2017-11-08 17:34] gr2m commented on #81
@sam3k could you please create a follow up issue with a test that reproduces the problem? Creating a runkit notebook like https://runkit.com/gr2m/59ff5289617b520016eb98f9 is a big help

[2017-11-08 18:30] n30n0v commented on #953
If request headers are not specified, Nock skips matching of request headers.

You can specify headers in `reqheaders` option. [Docs](https://github.com/node-nock/nock#specifying-request-headers)

[2017-11-08 18:30] #953 closed

[2017-11-08 19:48] n30n0v commented on #539
Here is a minimal test case to reproduce the error:

[code]

[2017-11-08 19:56] n30n0v commented on #538
Read about how to use [Nockl](https://github.com/node-nock/nock#use)

[2017-11-08 19:56] #538 closed

[2017-11-08 20:21] n30n0v commented on #532
I think it added in #996

[2017-11-08 20:21] #532 closed

[2017-11-08 21:54] gr2m commented on #539
who ever wants to tackle this issue, this library might be useful: https://www.npmjs.com/package/caseless

[2017-11-09 17:39] sam3k commented on #81
@gr2m Sure, that's cool. First time using runkit tbh; hopefully got it right. Here it is: https://runkit.com/sam3k/5a048e1d8658b00011f9e174

Things to note:
* It will fail when `const stocks = ['goog']` and `path: '/baz?s=goog,',` (Ends with comma)
* but it will pass when `const stocks = ['goog', 'gm']` and `path: '/baz?s=goog,gm',` (Doesn't end with comma)

[2017-11-09 19:49] sam3k opened #1018 "URLs Ending with Comma Cause "No match for HTTP request" Error"
Per request here https://github.com/node-nock/nock/issues/81#issuecomment-342894207, creating a new issue for when URLs end with a comma ( e.g. http://example.com?s=goog, )

[code]

This throws the following error:

Here is the runkit:  https://runkit.com/sam3k/5a048e1d8658b00011f9e174

To fix, just need to be sure it does not end with a comma:

[code]

Things to note:
* It will fail when `const s

[2017-11-09 22:52] exogen opened #1019 "reply(Function): There should be a way to trigger a real error instead of a 500 response"
I'm having trouble with Nock's behavior of turning errors into 500 responses. As the docs say:

Using the `reply(Function)` form (which I need), there doesn't seem to be a way to make the request truly fail. There will always be a response, it'll just be a 500.

This is making testing harder for me. Whereas without Nock a request would fail, populating `err` or a Promise's `catch` handler:

[code]

[2017-11-10 15:08] mikspi commented on #920
Hi guys! I still have a similar problem...

I specify the interceptor to match for a request body of the following shape:

[code]
However, I'm sending a request with the following shape:

[code]

Nock happily matches this request.

[2017-11-10 18:04] n30n0v commented on #1019
Hi, @exogen! You can use [replyWithError()](https://github.com/node-nock/nock#replying-with-errors). It will emit `error` event on the `request` object. Promise based libs called `cath` handler.

[2017-11-10 18:13] exogen commented on #1019
@n30n0v The problem is that you can't do that dynamically, such as when your `reply()` is an asynchronous function. e.g.

[code]

[2017-11-11 10:50] n30n0v commented on #1019
I think if it happened something awful in your async handler, a server is supposed to return correctly (in an HTTP protocol sense) formatted response. Could you please give example?

[2017-11-11 12:43] n30n0v commented on #623
Could you please elaborate? Nock works fine with https. Please reopen if you can add more info.

[2017-11-11 12:43] #623 closed

[2017-11-11 12:59] n30n0v commented on #637
Closing this issue for now. Please reopen if you have a minimal test case to reproduce it.

[2017-11-11 12:59] #637 closed

[2017-11-11 18:26] exogen commented on #1019
@n30n0v Let's say I wanted to customize fixture handling, like keeping them in a database, or working like other VCR-like libraries by organizing fixtures by the hash of each request (instead of giving each test its own manually-named fixture like Nock Back). That would look something like:

[code]

You can see why a 500 doesn't make sense here. If a fixture isn't found, the test shouldn't think t

[2017-11-13 19:32] n30n0v commented on #1019
@exogen Thanks for the detailed example!

It seems that this is a particular case and API works as expected. Nevertheless, It might be nice to define API for emitting an error in a request.

[2017-11-14 06:52] n30n0v commented on #956
Since node v7.5.0 the [options parameter](https://nodejs.org/api/https.html#https_https_request_options_callback) can be [`URL`](https://nodejs.org/api/url.html#url_the_whatwg_url_api) object. it would be good if Nock could work with it.

[2017-11-14 23:28] jonjaques commented on #988
Just a guess, try `.log(console.log.bind(console)`

[2017-11-15 07:15] n30n0v commented on #976
Hi there! I think `allowUnmocked: true` doesn't work correctly when the body didn't match.

**Expected**
When `allowUnmocked: true` and request body didn't match, Nock makes a real request and gets a real body.

**Actual**
Nock does not return the body.

Both http and https protocol. The difference is that https throws an error.

Test case:
[code]

[2017-11-15 17:40] thisdotrob opened #1020 "Cannot check form content when intercepting request with content type x-www-form-urlencoded"
Not sure if this is intentional or not.

When intercepting a request with content type ```x-www-form-urlencoded``` there seems to be no way to check the content of the form.

Here's what I've tried (using [request-promise-native](https://www.npmjs.com/browse/keyword/request-promise-native) for making the actual request):

[code]

[2017-11-16 05:09] kevinburke opened #1021 "Octet-stream response bodies should be decoded to a hex Buffer"
I have a server that responds with binary data and an octet-stream header:

[code]

The response is a Buffer, so nock converts it to hex before storing in a file. I've truncated the response here and above, but it should be enough to get the idea.

[code]

When reading back from the file, I expect it to be converted back into a Buffer via Buffer.from(response.body, 'hex'). Instead it gets converte

[2017-11-16 15:46] bkeepers opened #1022 "Error when using with supertest with nock back"
I'm using [supertest](https://www.npmjs.com/package/supertest), which uses [superagent](https://github.com/visionmedia/superagent), to test requests to a local server.

When using this in combination with nock back, the test passes on the first run when no fixtures are recorded, but fails on subsequent runs once it has been recorded.

[code]

Here's a test that exposes the issue:

[code]

This is

[2017-11-16 20:27] gr2m commented on #1022
Here is my test setup to reproduce the `"TypeError: Cannot read property 'status' of undefined"` error

[code]

The problem here is that each time your run this code, a new available port number gets assigned. For example for me, first time I run it, it stored the fixture with `"scope": "http://127.0.0.1:60350"`. Next time I run the code the assigned port number was `61859` hence the script failed

[2017-11-16 20:27] #1022 closed

[2017-11-17 20:37] bkeepers commented on #1022
You were right. https://github.com/visionmedia/supertest/pull/446 fixes the error I am seeing.

[2017-11-19 23:42] rodhoward opened #1025 "Nock Matching but returning StatusCode 0 and empty body."
I'm testing with testcafe and I'm trying to mock out some of the client calls (using fetch). It seems to be intercepting my client calls but it isn't replying with the status and body I'm trying to set.

[code]

[code]

Then I have some client code that logs out the responses something like:
[code]
Which is returning this:
[code]
Here you can see I'm getting a response its just that the status is

[2017-11-20 04:14] gr2m commented on #1018
Thanks a ton for this great issue, I’m very sorry it takes so long to get back to you. I usually use Fridays as my Open Source day but last week I’ve been offline and this week I spent Friday catching up. So I’ll have to ask for more patience, I won’t get to it before Friday myself.

If someone wants to give this a go, please do so, happy to review PRs on Friday and give guidance to find your way

[2017-11-20 04:16] gr2m commented on #920
@mikspi can you please create a follow up issue with a reproducable code example? Even better would be a notebook on https://runkit.com/ 💯👌 that increases the likeability of folks helping you get your bug fixed sooner

[2017-11-20 04:35] gr2m commented on #988
@jonjaques I don’t think that’s the problem, but thanks for having a look at it

[2017-11-20 04:37] gr2m commented on #988
what would be the most helpful is to create a notebook on http://runkit.com/ which reproduces the problem you experience with the minimal amount of code. Here is an example: https://runkit.com/gr2m/59ff5289617b520016eb98f9

[2017-11-20 05:21] gr2m commented on #1020
I was able to confirm the bug, here is a test case: https://runkit.com/gr2m/5a126447bd34150012a19c01

@thisdotrob wanna give this a try to fix yourself?

[2017-11-20 15:40] ierceg opened #1026 "Support multi-value query parameters in recordings"
Built-in qs supports multi-value parameters but nock recording doesn't.

This:

[code]

results in:

[code]

To maintain correct order of the parameters would we capture this as:

[code]

See https://github.com/node-nock/nock/pull/1015 for discussion.

[2017-11-20 16:01] surajbyanju commented on #988
@jonjaques @gr2m Thanks for your effort to look into this.

I have created a github gist with sample unit test for the issue.

https://gist.github.com/surajbyanju/5be40ef56c0334c7a33f05fa690f8149

The problem here is, the first test with 200 response status and empty string works fine and outputs the log but not the second test.

_console output:_

` console.log node_modules\nock\lib\interceptor.j

[2017-11-21 22:56] sam3k commented on #1018
Okay, i shall try!

[2017-11-22 07:41] gajus commented on #788
There is no way to do this using nock at the moment. However, it is a trivial service to implement, e.g.

[code]

Just `stop` the server amid the request to simulate the disconnection.

[2017-11-22 07:42] gajus commented on #788
@ierceg Can this be flagged as a feature request?

[2017-11-22 10:53] ierceg commented on #788
@gajus Sure. This would also be useful for mocking streaming protocols.

[2017-11-22 21:43] AndersDJohnson commented on #213
Might also consider using [`mockyeah`](https://github.com/ryanricard/mockyeah) for this purpose.

[2017-11-24 03:24] xuwanwanTT commented on #475
我也遇到了，不知道什么原因，你们解决了的说一下啊QAQ

[2017-11-24 21:44] gr2m commented on #475
Hey folks, I don’t see webpack compatibility to be really in scope of the projoect. If someone wants to take this one and send a pull request to resolve what problem you have, I’d be happy to accept it given that it’s not adding  a lot of complexity and that it has tests that make sure it won’t break again in future. Otherwise I recommend we close & lock this issue.

What do you think @paulmelniko

[2017-11-24 22:03] gr2m commented on #988
Hey @surajbyanju thanks a lot for taking the time. The gist is not that helpful unfortunately, Ideally I would be able to git clone the gist, run npm install and sth like `node test.js`, that way I can only look at the code.

But I tried to reproduce your problem by creating a runkit as described above:
https://runkit.com/gr2m/5a189525ef84c100129121c9

and from what I tell, `.log()` is called in b

[2017-11-25 19:18] #976 closed

[2017-11-26 19:48] mhelvens commented on #595
This has been on my TODO list for a while now, but it's time to acknowledge that this won't happen any time soon. I did spend a few hours on it soon after your reply, but I couldn't really figure out where best to emit the event, nor how to gain access to the request body. If you're interested, this is how far I got:

https://github.com/node-nock/nock/pull/1028

[2017-11-27 20:20] sam3k commented on #1018
@gr2m let me know if you think this is a suitable PR for this. Basically, i update the message to compare the header received, with what is expected.

I updated the tests but not sure why I'm getting:
[code]

I did not touch that file.

[2017-11-28 15:36] morrislaptop opened #1030 "No match for request and `URL` contains host twice"
`nock('https://api.etherscan.io').get('/api').query(true).reply(200, 'hey ma')`

and then running

[code]

results in:

[code]

[2017-12-01 20:38] solankipriti opened #1031 "unable to intercept url"
Hi,

I am trying to mock shopify url using nock
[code]
In real when I make a shopify call it's of format
https://<uuid>:<uuid>@myshop.shopify.com

If I give complete url in nock(),  it was throwing error - Error: Nock: No match for request { .
So I change it to
initnockurl= 'https://myshop.shopify.com'
Result : Error getaddrinfo ENOTFOUND
initnockurl= 'myshop.shopify.com'
which doesn't throw an er

[2017-12-01 22:35] #1031 closed

[2017-12-01 23:59] gr2m commented on #1018
You can ignore that it, it was like that before :) It’s because of this line here https://github.com/node-nock/nock/blob/fa58493dbe0d4fb7b8cd275ed3f1df55a150c775/tests/test_browserify.js#L4

You PR looks great, thanks a lot :)

[2017-12-01 23:59] #1018 closed

[2017-12-02 00:06] gr2m commented on #1030
Hey @morrislaptop, I tried to reproduce the error with a minimal test case, but no luck https://runkit.com/gr2m/5a21ed4fdd45c20014ee7b71

Could you please investigate if it’s a problem with either `etherscan-api`? Also please make sure you test with the latest `nock` version, which is 9.1.2 right now

[2017-12-02 11:17] morrislaptop commented on #1030
It was a problem with etherscan-api, it was setting a base uri and then also requesting a full uri. It still actually makes requests somehow, but doesn't match with nock's matching logic.

I've submitted a pull request at sebs/etherscan-api#14

Thanks for looking into it!

[2017-12-02 11:17] #1030 closed

[2017-12-03 18:44] caub opened #1032 "nock failing to match endpoint, for no apparent reason"
[code]
I'm getting this:
[code]

the 2 json above are identical

[2017-12-03 18:47] caub commented on #1032
can't reproduce https://runkit.com/caub/5a24463a826e3c0012512ebd so, I'll try to debug my test environment (jest)

[2017-12-03 18:55] caub commented on #1032
Ah.. I forgot they are valid only once

[2017-12-03 18:55] #1032 closed

[2017-12-04 20:23] #592 closed

[2017-12-05 22:52] Alex0007 opened #1034 "allowUnmocked: true + regexp path = interception fail"
This sample test will fail, while it shouldn't. Because of `allowUnmocked` option

[code]

[2017-12-09 00:18] gr2m commented on #1034
confirmed: https://runkit.com/gr2m/5a2b2a9b890d1b00120eada4. Thanks for reporting the bug @Alex0007. Can you try to find a fix for it? I don’t think anyone else will be able to work on it right now.

Anyone who wants to work on it, just comment here to let us know, and please send add a test to your pull request 🙏

[2017-12-15 10:08] nagapavan opened #1035 "patch request fails with "Error: Nock: No match for request""
I am trying to mock a PATCH request using Sinon + Mocha + Nock.

Following is the code I have for nock service:
[code]
The test execution fails with following Error response (formatted for readability:

Related request payload:

[code]

Any help would be much appreciated.

[2017-12-15 23:58] gr2m commented on #1035
could you setup a minimal test case on runkit.com like this one? https://runkit.com/gr2m/5a2b2a9b890d1b00120eada4

That’d help us to help you :)

[2017-12-19 09:45] robcalcroft opened #1037 "Nock not working in Jest"
Hey, I'm mocking an API with Nock and then using the Fetch polyfill to call said API in a Jest test and I'm getting `Network request failed`, which if I investigate more, returns the error object: `{ isTrusted: false }`. I'm really not sure why that error is being thrown from the Fetch polyfill. Is this a Jest issue perhaps?

[code]

[code]

[2017-12-20 02:10] gr2m commented on #1037
it most likely is not a nock issue I’m afraid. I had problems with the fetch polyfill myself in the past (it’s a fantastic project though!).

If you can create a reproducible test case with just using nock, ideally on runkit like this one: https://runkit.com/gr2m/5a2b2a9b890d1b00120eada4 that’d be great. Otherwise I don’t think we’ll be able to help you out, I’m sorry

[2017-12-21 16:52] krashidov opened #1038 "How can I suppress NetConnectNotAllowedError in nock back mode?"
Hello, I have some requests that I'm purposefully ignoring and not recording in my `afterRecord` function.

Error reporting and metrics requests are ignored and not written to the nockback file. The problem is that when I replay the tests the console is muddied by a bunch of errors that I would like to suppress.

Example:
I tried setting a persistent mock that always returns 200 but it seems that

[2017-12-22 00:07] gr2m commented on #1038
can you add a full test case like https://runkit.com/gr2m/5a2b2a9b890d1b00120eada4?

Try to add `https://` to the `nock()` call, maybe that helps already?

[2017-12-22 20:49] kaizenberg commented on #717
@sirdavidwong did you find out what the issue was?

Thanks!

[2017-12-23 01:05] amejiarosario commented on #300
In my fixture I have something like this:

[code]

How do I make it ignore the queries with `afterRecord `? If I remove them, then would it still match the path even if is partial?

[2017-12-27 11:27] nagapavan commented on #1035
@gr2m runkit.com link: https://runkit.com/nagapavan/nock-nock-1035

The commented code works in single test mode but if I have multiple files with same nock (with nock.clearAll() done in beforeEach() section), then the second one also fails.

Surprisingly, setting following is the workaround I got. Not sure why it worked.
process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";

[2017-12-29 16:59] kgividen commented on #251
+1 on multiple calls to filteringRequestBody

[2017-12-29 18:52] DblK opened #1039 "Error comma in nock get does not match"
Hi,

I you setup a mock like this:
`
nock('http://unit.test').get('/someSubUrl?param=ONE,TWO').reply(200, []);
`

Will lead to Error: Nock: No match for request

The comma is translated to %2C but still not match. If I changed the nock to `param=ONE%2CTWO` then nock match.

Can you fix it?

[2017-12-31 18:33] pabigot opened #1040 "misleading diagnostics in 9.1.4+"
Pull request #1029 adds information to a diagnostic, where the information will be misleading unless requestBody is non-empty (I think; I'm not clear what was intended).  See [this runkit](https://runkit.com/pabigot/5a49228455a0d60012ba219a) where the failure is probably due to query string encoding a la #274, but instead of "No match for request X" with an implied "go figure out why" we're now to

[2018-01-02 00:55] adamvoss commented on #214
The main limitation I see with this is that it displays the actual body sent, but does not also display the expected body making it hard to know what went wrong.

[2018-01-02 19:55] whyvez commented on #1020
@thisdotrob @gr2m It's because `json: true` was specified in the request options. Remove this and it works.

see: https://runkit.com/whyvez/5a4be24682b9870012b49637#

[2018-01-05 17:29] lunow commented on #1025
I have exactly the same problem. do you found a solution for it?

[2018-01-05 23:30] amejiarosario opened #1041 "nockBack filteringPath not working with queries"
I'm using the lastest nock `v9.1.5`. I have some API calls that add a timestamp at the end of it. e.g. `example.com/path?timestamp=1515193247399&recvWindow=60000`.

I'm try `filteringPath` to replace the real timestamp with a fixed one, so it can match the fixtures. However, it doesn't work.

<details>
 <summary>This is my setup</summary>

[code]

I'm saving the data with a fixed timestamp using t

[2018-01-06 00:46] gabegorelick opened #1042 "Ability to clear all persisted mocks"
The docs mention that `nock.cleanAll()` is "useful to cleanup some state after a failed test". However, it [does not remove persisted mocks](https://github.com/node-nock/nock/issues/438). Instead, you have to call `scope.persist(false)` to cleanup a persistent mock. But in tests, it can be difficult to make sure you've called `.persist(false)` on all your scopes.

A potential solution could look l

[2018-01-06 05:19] gr2m commented on #1035
I’ll not be able to help out anytime soon. I wish I could but don’t have time right now. But if you were to investigate the underlying problem and send a pull request with a tests, I’d be happy to review and help get it merged.

[2018-01-06 05:20] gr2m commented on #251
I second what Pedro said back in 2015 :)

[2018-01-06 05:21] gr2m commented on #1039
This should be a rather simple fix. If you or someone else can send a pull request with a test, I’d be happy to review and merge it

[2018-01-06 05:23] gr2m commented on #1040
yeah I’m sorry that it slipped through. I’d be happy to review a pull request 👍

[2018-01-06 05:26] gr2m commented on #1020
ahhh that makes sense, thanks :) Tricky one!

[2018-01-06 05:26] #1020 closed

[2018-01-06 05:32] gr2m commented on #1041
@amejiarosario the error message is currently rather confusing, see https://github.com/node-nock/nock/pull/1029#issuecomment-354690111

If you could create a minimal test case like https://runkit.com/gr2m/5a2b2a9b890d1b00120eada4, that’d be helpful for folks to help you.

Even better, investigate the problem and send a PR. If you use nock and relevant projects at Cisco it would be great if you cou

[2018-01-06 05:38] gr2m commented on #1042
I’m reluctant to add another API for this, let’s see what other folks think

[2018-01-06 10:00] rodhoward commented on #1025
No didn't get any further but I did try fetch mock which didn't seem to intercept the calls at all. Instead I started using json-server which wasn't ideal but it worked well for gets just more work for the posts. Please let me know if you have any success.
Cheers

[2018-01-06 13:07] pabigot commented on #1040
@gr2m all I can do is propose reverting the patch, going back to status-quo-ante, which I've done.  Figuring out how to represent and display the contrasting user-supplied input is not in my scope.

[2018-01-07 00:08] gr2m commented on #1040
fair enough, thanks! I’ll look into it myself at some point, it affects me, too. I’m just busy with other things right now

[2018-01-07 00:09] gr2m commented on #1025
I’d happily review a PR but can’t investigate it myself right now, I’m afraid

[2018-01-07 12:29] lunow commented on #1025
In my case it was a CORS problem. We solved it like this
[code]
Works perfectly now! Maybe its the same for you, @rodhoward because I noticed different ports in your snippet above.

[2018-01-07 18:51] gr2m commented on #1025
thanks for reporting back what you problem was Paul, much appreciated

[2018-01-07 22:00] rodhoward commented on #1025
Thanks @lunow I'll give that a shot.

[2018-01-07 22:00] #1025 closed

[2018-01-08 05:15] gr2m opened #1044 "Incompatibility with follow follow-redirects@1.3.0"
This is a heads up in case others see their CI builds fail all of the sudden, see  olalonde/follow-redirects#77, axios/axios#1271

To work around it, pin `"follow-redirects": "1.2.6"` in your package.json

[2018-01-08 17:49] RubenVerborgh opened #1046 "Nock does not respect callback parameters on req.write and req.end"
Node's [req.write](https://nodejs.org/api/http.html#http_request_write_chunk_encoding_callback) and [req.end](https://nodejs.org/api/http.html#http_request_end_data_encoding_callback) accept callback parameters, but Nock does not. This is the cause of #1044 / olalonde/follow-redirects#77 / axios/axios#1271.

Fix in #1047.

[2018-01-08 18:23] RubenVerborgh commented on #1044
It's a Nock problem, reported as #1046 and fixed in #1047.

[2018-01-08 18:51] gr2m commented on #1044
cheers! closing in favor of https://github.com/node-nock/nock/issues/1046

[2018-01-08 18:51] #1044 closed

[2018-01-08 18:54] #1046 closed

[2018-01-09 17:12] RichardWatkins1 opened #1048 "Error: Nock: No match for request"
I have spec which makes a post request e.g:
[code]
This is just example data but running nock version < 9 the spec passes, > 9 it fails with the error message `An error occurred: { Error: Nock: No match for request { ...`.

This is seems to be with the body as I have specs that pass if I remove the body when using version > 9.

Has anyone else come across this issue or is there anything I need to

[2018-01-09 18:12] gr2m commented on #1048
could you create a minimal testcase reproducing the problem on runkit.com, like this https://runkit.com/gr2m/5a2b2a9b890d1b00120eada4? That’ll help us help you :)

[2018-01-09 19:17] zivanovicb1 opened #1049 "Nock: No match for request"
I get the following error:

[code]

As far as I can see, these are equal.

When I do `nock.log(console.log)` it gets me:

`matching https://api.foursquare.com:443/v2/venues/explore?client_id=CHHHDVVEXHIIAXADQIOBSS13KJHSSYAOCL0QWFQ3U4G2RNWQ&client_secret=YHF1WEWSQMSJRCSWO4XLLHSFRQXBWFZP21ID5JMWSQXWVRYG&near=Belgrade%2C%20Serbia&query=coffee&v=20170801&limit=15&price%5B0%5D=1&price%5B1%5D=2&price%5B

[2018-01-10 10:15] prokopsimek commented on #543
The same issue here

[2018-01-10 22:29] amejiarosario opened #1050 "nockBack https issue (with example in RunKit)"
HTTPs doesn't seem to be working for matching the fixtures:

[code]

If I use a non-https endpoint nockBack works as expected:
https://runkit.com/amejiarosario/nock-https-issue/1.0.0

However, when I use an https endpoint such as `https://google.com` it doesn't match:
https://runkit.com/amejiarosario/nock-https-issue/2.0.0

[2018-01-10 22:37] amejiarosario commented on #1050
nevermind, I need https

[2018-01-10 22:37] #1050 closed

[2018-01-11 06:57] FerrielMelarpis commented on #1049
@zivanovicb1 Try separating the base URL and path

[code]

[2018-01-11 10:27] jpsecher commented on #1018
The [patch](https://github.com/node-nock/nock/commit/a2d04c31437aaf42d22c9d5b77e2ee6e6a2a2aa5) with `'Nock: No match for request ' + ... + ' Got instead ' + common.stringifyRequest(options))` produces confusing error messages, like

[code]

The problem is that the `Got instead` part seems to say that there indeed is a match (except for the body).  But there is no such match.

[2018-01-11 14:21] zivanovicb1 commented on #1049
Tried it, the exact same error..

[2018-01-12 01:31] FerrielMelarpis commented on #1049
hmm can't seem to replicate
[code]
How do you use request? If you pass additional headers, I think you also need to put that as option to your nock.

[2018-01-12 02:35] hems commented on #129
Would be great to get something like this for sockets... Any news on this front?

nock is such an awesome project!

[2018-01-14 07:13] gr2m commented on #129
no news I’m afraid. If anyone wants to work on it let me know, happy to start a new repository on the @node-nock organization for it. As Pedro mentioned, this would be a whole different modulne

[2018-01-14 07:15] gr2m commented on #1049
@zivanovicb1 could you please create a test case like this one on Runkit https://runkit.com/gr2m/5a2b2a9b890d1b00120eada4? That’ll help us to help you :)

[2018-01-14 12:01] piranna commented on #129
Some time ago I did a `wock` module but I'm not able to find the code, maybe because I was not able to finish it. Anyway it should be easy to implement something like this. One option would be to use the [suppose](https://www.npmjs.com/package/suppose) (disclaimer, I helped with it), but a better option would be that `nock` HTTP requests interception code [would be moved to an independent project]

[2018-01-14 12:04] piranna commented on #129
An alternative to moving the interception code to an independent project, is to allow `nock` to hook the upgrade requests and give the connection object to a callback, so other module can be able to process the messages.

[2018-01-14 12:12] piranna commented on #129
According to https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_servers, websockets connections are initiated with a regular `GET` request, just only with the `upgrade` header:

[code]

Since `nock` accept a function to process the request and generate the response, it could be possible to hook there and process the websocket protocol in other module. Problem is that

[2018-01-14 12:34] piranna commented on #129
I've reviewed the code of `ws` module, and seems with the `noServer` option and by using the `handleUpgrade()` method would be possible to process the incoming websocket connections, later it would just be a matter of process them and generate a response.

[2018-01-14 17:56] gr2m commented on #129
I’m all for splitting up `nock` into smaller modules and reusing the logic for mocks/interceptors across http & websocket mocking. But it will be a rather big commitment, it would need some dedicated time. I can help facilitate the work but can’t do it myself

[2018-01-14 18:00] piranna commented on #129
Some guidelines in the wiki explaining how the interception works and what's the critical code and methods would help to clarify how to start the splitting :-)

[2018-01-17 16:43] #1037 closed

[2018-01-18 00:38] AlexGilleran commented on #1049
I had this problem until I realised that it was because my nock matcher was looking for `{key: undefined}` in the body but the request that got sent just omitted the key - worked in an older version of nock but it failed on our travis server with an up-to-date version. Thought I'd mention it in case it helps somebody - unfortunately I can't prove it on runkit because it doesn't do past versions as

[2018-01-18 14:34] eduardbcom commented on #739
Any update on this ?

Still does not work on 9.1.6.

[2018-01-18 16:51] stubar opened #1051 "Array like params in a application/x-www-form-urlencoded form post get parsed wrong."
I think this has happened in a recent update as it used to work.

My test was matching a post body like so...
[code]
Which worked fine.  However after an update it stopped working so I thought I'd change the 2nd param from a match object to a function and have a look at the passed body param, this revealed that the above array has been parsed to the following...

[code]

I am working around it by

[2018-01-18 21:51] gr2m commented on #1051
can you please identify the version when it broke?
And could you please create a testcase that reproduces the problem on runkit, like this one? https://runkit.com/gr2m/5a2b2a9b890d1b00120eada4

that will  help us to help you :)

Alternatively you coudl start a pull request with a failing test case that reproduces the problem that would be 💯 🏆

[2018-01-19 05:42] aleung commented on #739
@eduardbcom Could you test if https://www.npmjs.com/package/@aleung/nock fixes your issue? It's a temporary patched version of `nock`.

[2018-01-19 08:41] tobias-khs commented on #1049
I came across the  same issue. High-level it should have worked. But the library I am using (`soap`) somehow made many requests, so the registered one got consumed, and then next time it would fail. Using `.persist()` I could solve this. See [documentation](https://github.com/node-nock/nock#persist).

[2018-01-23 00:37] uhoh-itsmaciek opened #1052 "Confusing match failure message for mismatched request bodies"
Nock currently includes the mock body in its "failed to match" error message, but not the request body it received. This can be very confusing. The following minimal test case:

[code]

will complain with

[code]

which makes it seem like nock didn't actually get a body at all (but it did get one, just one that does not match the mock). It would be great if the received body were included, or at l

[2018-01-23 08:00] tobias-khs commented on #1049
@timkindberg Have you tried to add `.log(console.log)` and `.persist()`. In my case it was my own code that caused the trouble.

[2018-01-23 16:10] stubar commented on #1051
OK I'm going to try a pull request.  I've just done some rolling back and I can confirm that the version that broke this is 9.1.1

[2018-01-23 22:20] stubar commented on #1051
I've made a failing test case and thought I would do some investigating as to why it fails.  I have found that the point at which the parsing fails is
`lib/match_body.js:30`

[code]
I assume the qs upgrade on the 16th Nov last year caused this change in behaviour.  Looking at qs it does have a lot of support for object and array parsing.  I think the weird thing about my use case is it is sending

[2018-01-24 02:25] timkindberg commented on #1049
@tobias-khs the `.log(console.log)` did help, thank god. I did not try persist.

[2018-01-24 03:53] koroshi commented on #1049
[code]

why the request in liveInfoRequestAndSave can not match and the request in liveInfoRequest can be match it looks as the same function

[2018-01-24 14:30] pacey commented on #214
Any ideas how to match a request when a specific header is not set and not just an empty value? Having a request inspect method for this would be useful.

[2018-01-25 22:17] travi opened #1054 "access to headers when verifying the post body"
i'm working on testing a post request with a `multipart/related' payload. i'd like to be able to parse out the parts from the payload, but to do that, i need the boundary definition.

this is defined in the `content-type` header. however, the function available while [verifying the post body](https://github.com/node-nock/nock#specifying-request-body) is only passed the payload and does not appear

[2018-01-25 22:30] travi commented on #1054
also, i've found that using [parse-multipart](https://github.com/freesoftwarefactory/parse-multipart/blob/master/package.json) against the `requestBody` passed to `.reply()` fails to find parts due to not being able to match line endings. i'm happy to open a separate issue for this, but i'm note sure if it would be related to any processing that `nock` is doing to the payload before passing it to

[2018-01-26 17:44] hems opened #1055 "Log don't print full json when logging large array from a response, it prints "... XX more items" instead ?"
Today while recording a response which happened to have a long array the log output ( on the console ) shown "... 44 more items" instead of printing the whole array, so if i would copy and paste the code would be invalid, is there a workaround for it other than asking nock to log to a file?

![image](https://user-images.githubusercontent.com/27327/35453000-7d9c7ec4-02c0-11e8-8c94-210ce5474ce3.png)

[2018-01-26 17:47] hems commented on #1055
It seems the error was on my side of things and was caused by console.log and not by nock itself

[2018-01-26 17:47] #1055 closed

[2018-01-26 18:41] anderson-otuka-dextra opened #1056 "Error: Nock: No match for request (but expected and matched requests are the same)"
[code]

The error message is really bad.

Test case:
[code]

Check https://runkit.com/anderson-otuka-dextra/5a6b74ae13af320012da73ea to see it running.

[2018-01-26 21:03] SeanHayes commented on #1056
I've got the same issue.

[2018-01-26 21:28] SeanHayes commented on #1056
I ran `DEBUG=nock.scope jasmine` and got some debug info, turns out some other request isn't matching.

[2018-01-27 20:22] gr2m commented on #1051
thanks, keep us posted, and maybe get a pull request going with the failing pull request?

[2018-01-28 04:34] travi commented on #1054
haha, this coming from the guy who is an actual _maintainer_ everywhere ;)

seriously, thank you for the time you do put in to so many projects. the progress forward in all of these places is hugely valuable.

i was able to verify enough of what i needed to so that i could move forward, but without being able to parse the multipart payload. therefore, this isn't a blocker for us. no worries if it

[2018-01-28 04:37] travi commented on #1054
anything happen to come to mind that might be happening on the nock side to make the body miss the line-ending matching that i mentioned? happen to know of any other multipart parsing libraries that might work better? i had a surprisingly hard time finding much that wasn't purely focus form-data payloads when dealing with multipart.

[2018-01-28 05:59] gr2m commented on #1054
unfortunately no. I don’t know the code base that well to be honest, I took on the maintainership because the project stalled and it is a critical part of the test suites for many projects, including some of mine.

If it’s not a blocker than it’s all good, we can leave it open in case other folks run into similar problems. If you find the time to further investigate that’d be great, but no rush

[2018-01-29 04:34] norules4kiran opened #1057 "how to mock path params"
How to mock this type of url
https://api.instagram.com/v1/users/{user-id}/media/recent/?access_token=ACCESS-TOKEN

[2018-01-30 06:22] akaguny commented on #1057
https://github.com/akaguny/advanced-build-conditions/blob/master/examplesForDebug/testNotFound.js#L23
[code]
you also can use RegExp or function as argument in get function
https://github.com/node-nock/nock#specifying-path

[2018-01-30 08:20] norules4kiran commented on #1057
Thank you @akaguny

[2018-01-30 08:20] #1057 closed

[2018-02-03 04:34] kamalmarhubi opened #1058 "Allow requiring nock without side effects"
As far as I can tell, there's no way to `require('nock')` without it resulting in `intercept.activate()` being called. There are test running setups that could result in `nock` breaking unrelated tests.

I would like to be able to write

[code]

and have it bring nock into scope without actually doing anything. Then I can `nock.activate()` and `nock.restore()` in appropriate places.

-----

If the

[2018-02-03 05:02] gr2m commented on #1058
if it’s not complicate, a patch would be appreciated. Start with just the changes and we discuss there? Can’t make promises but I agree with your point

[2018-02-04 16:08] gorangajic opened #1059 "request time out when using nock back"
when you run a test like this using `jest --watchAll` and delete __fixtures__ folder next test times out because request never finish

[code]

[code]

I have made test project that reproduces this bug using minimal requirements
https://github.com/gorangajic/nock-timeout

[2018-02-05 19:54] felipellrocha commented on #1034
What is the status on this? I think I am running into the same issue

[2018-02-05 23:14] gr2m commented on #1034
@felipellrocha The status is: the bug is confirmed, it’s up for taking :) if you could send a PR with tests, that’d be great

[2018-02-07 08:02] stroiman opened #1060 "Question: Can I write an async request body matcher?"
The `post` function allows me to create a predicate, if a specific request should be matched or not. In my case, I need to differentiate on xml data in the post, and my xml parser is async.

Is there a way I can write an async predicate for the post body?

As a workaround, I have created a regex matcher, that just matches the small part of the xml containing the interesting ids.

[2018-02-07 16:27] Overdrivr commented on #552
Seing the same issue with `localhost:4567`. Better error handling would indeed be a plus

[2018-02-07 16:53] AbdullahAli commented on #70
I think it is because you call: `.replyWithFile(__dirname + '../support/example.html')` with 1 argument (needs two arguments, not 1)

[2018-02-07 17:02] Overdrivr opened #1061 "root url parsing needs to be more robust/lenient"
The root URL parsing could benefit from improvements for the following cases:

[code]

[code]

[code]

[code]

I would expect either an error thrown if the root URL does not match exactly an expected pattern OR that it could parse correctly all those patterns that are valid root urls (well, valid is not maybe the more appropriate word here. But they can be performed successfully using `request` n

[2018-02-07 17:48] gr2m commented on #1061
Yes I agree, happy to accept pull requests with tests to improve

[2018-02-07 18:03] gr2m commented on #1060
I don’t know myself, but sounds like something that should be supported

[2018-02-07 23:15] #977 closed

[2018-02-08 14:55] CurosMJ commented on #1056
One more thing: the serialised request shown in the bottom is actually the expected version, not the original version.

[2018-02-08 16:25] stubar commented on #1051
OK I've submitted a PR

[2018-02-08 17:06] stubar commented on #1051
I've just started investigating qs and have found the solution is potentially very simple...
[code]
By adding the allowDots setting to the line discussed, the arraylike params i was feeding in work again.  Not sure how I missed this in the qs api doc before.   I just have to alter my nock match object to ...
[code]
All tests are passing when I add this.  Do you want to bake this setting in or make

[2018-02-09 09:03] ninhxuanluu commented on #1056
I've got the same issue, f*cking error message :(

[2018-02-12 07:54] tedeh commented on #804
Why hasn't this been merged yet? It would appear to be a mostly harmless PR. Last given option should override earlier ones, like every other node library around.

[2018-02-12 20:52] gr2m commented on #804
@tedeh snarky comments won't get you anywhere. I understand your frustration, but please refrain from doing it on any open source project, ever <3

[2018-02-12 20:55] #804 closed

[2018-02-12 20:58] gr2m commented on #1035
@webdevua please use the 👍 emoji reaction on the issue, `+1` comments cause a lot of noise for people subscribed to issues and make the discussion harder to follow. Thanks 💝

[2018-02-13 03:01] tedeh commented on #804
You are right and I'm sorry.

Is there anything in your opinion that prevents this from being merged as-is? Maybe I can help with the verification.

[2018-02-13 03:49] gr2m commented on #804
Thanks Tedeh, it's already merged :)
https://github.com/node-nock/nock/pull/862

But the build failed so it's not released yet, if you could have a look at it that would be much appreciated: https://travis-ci.org/node-nock/nock/builds/340676385

[2018-02-14 17:33] DianaIonita commented on #543
@MADiep If you're mocking AWS you're probably better off using [aws-sdk-mock](https://github.com/dwyl/aws-sdk-mock).

[2018-02-14 20:38] gbirke opened #1064 "Testing code that uses http.get instead of http.request?"
I'm writing code that depends on an external library that internally calls `https.get` instead of `https.request`. It would be a hassle to rewrite/replace the external library. Is there any way to hook up the nock request interception with `https.get`?

[2018-02-14 20:50] gbirke commented on #1064
Oh, forget it, I have an ancient release (4.x)

[2018-02-14 20:50] #1064 closed

[2018-02-15 18:44] gr2m commented on #1056
@ninhxuanluu please watch your language, see your [Code of Conduct](https://github.com/node-nock/nock/blob/master/CODE_OF_CONDUCT.md). Please edit your message accordingly.

I understand this is frustrating (to me, too) but it won't fix itself ;)

[2018-02-16 15:04] Overdrivr commented on #1061
I have implemented some failing tests to cover the problem. I am not sure I have formalized them in the way you wanted, as they purely reflect those specific cases + a few other ones.

Tests might be better written by actually testing if nock is really intercepting requests to those problematic root URLs. So consider this to be a WIP, I will get back at it later on.

If you already have any sort o

[2018-02-20 12:26] mrself commented on #431
Can `node-nock` intercept ajax calls? As I read It does not. But from these comments it looks like can. Does it?

[2018-02-20 14:55] mpardue commented on #1034
So, I have a hack for this, but I don't know that the fix is the best solution. I have created a pull request. https://github.com/node-nock/nock/pull/1068

[2018-02-20 16:31] kevinburke commented on #1021
Apologies but I've since moved on from that engagement and probably won't have time to test :( best of luck!

A way to test would probably be to start with the JSON I put up above, read it back into memory, and verify the length of the buffer in memory matches the Content-Length header.

[2018-02-24 17:56] #524 closed

[2018-02-24 17:56] #1001 closed

[2018-02-24 17:56] #1021 closed

[2018-02-26 16:36] kaizenberg opened #1073 "With FormData not works"
Hi, I have a problem when I use the `FormData` with Nock.

**My test:**
`
nock('${API_URL}').post('/create', { user_id: 1 }).reply(201, { });
`

**My endpoint:**
`
const form = new FormData();
`
`
form.append('user_id', 1);
`

`const response = await fetch('http://myendpoint', {`
      ` method: 'post',`
     `  headers: myCustomHeader,`
     `  body: form,`
    `});`

**My response after run test

[2018-02-26 19:42] gr2m commented on #1073
Can you please try with the latest `nock` version? (9.2.1)

[2018-02-26 20:45] #1034 closed

[2018-02-27 08:44] bartaz opened #1074 "Allowing dot notation parsing of post body causes existing tests to fail"
Recent version added a change to parse dot notation in post body: https://github.com/node-nock/nock/pull/1063/commits/9004e33349d0bbf355d16eccf74364c42d545ecf

API in our project uses dots in params and this change caused our existing tests to fail, because we used to do things like:

[code]

After some investigation I found out that it was introduced by this commit https://github.com/node-nock/no

[2018-02-27 16:17] cadebward opened #1076 "allowUnmocked: true + regexp host = interception fail"
Similar to #1034, using regex in the host with `allowUnmocked = true`, fails to intercept.

[code]

_note: using version 9.2.2_

[2018-02-27 17:25] gr2m commented on #1076
Confirmed, here is a test case: https://runkit.com/gr2m/5a95927a75f2bb00122ffe55

Wanna send a pull request? Even just a test case reproducing the problem would already be helpful :)

[2018-02-27 17:33] gr2m commented on #1074
Agree, sorry for that, I do what I can, and all I can do is trust the existing tests :( I’m sorry for the trouble

I guess we can’t support both here? I find the dotnotation rather confusing, are you sure it was meant to be supported in the first place?

@ljharb any best practise recommendations here? Can you think of a way to support both? I wouldn’t like to extend the `.query()` method with an a

[2018-02-27 17:38] ljharb commented on #1074
I’m not familiar with nock, so I’m not really sure how to answer; “dot” is a parsing mode, so it really wouldn’t make sense to be in two parsing modes at the same time.

I’m personally not a fan of the dots, fwiw, but it remains a supported use case in qs :-)

[2018-02-27 17:44] gr2m commented on #1074
I tend the leave the option as is, because you can work around the `{ allowDots: true }`, but not the other way around, right? Given that the behaviour you depended on was not tested usually means that it was not officially supported, it worked by chance.

You can be assured that I will not allow for an intentional breaking change to be released in patch or minor version, I love semver way to much

[2018-02-27 18:10] kaizenberg commented on #1073
With this version I get this error:

**My test:**
`
nock('${API_URL}').post('/create', { user_id: 1 }).reply(201, { });
`

**My endpoint:**
`
const form = new FormData();
`
`
form.append('user_id', 1);
`

`const response = await fetch('http://myendpoint', {`
      ` method: 'post',`
     `  headers: myCustomHeader,`
     `  body: form,`
    `});`

**My response after run test:**
<img width="1262"

[2018-02-27 18:20] gr2m commented on #1073
Nope, sorry :( I can’t dive into this but if you could start a PR with a failing test, or at least make a minimal test case like https://runkit.com/gr2m/5a95927a75f2bb00122ffe55 that will help us to help you :)

[2018-02-27 22:05] gr2m opened #1077 "Remove AIRPLANE mode for testing - make all tests run offline"
41 tests are currently skipped when run with [`AIRPLANE=true`](https://github.com/node-nock/nock/tree/055593abb036524ffff8f364f8effc91827a130f#airplane-mode). Most if not all of these tests depend on external websites, which means if they change their behavior or are temporarily down, our tests will fail.

Instead of depending on outside websites I suggest we spawn our own servers as we need them,

[2018-02-27 22:08] gr2m opened #1078 "Remove AIRPLANE mode from tests/test_back.js#L137"
follow up for #1077. I’m working on this

[2018-02-28 05:40] mbad0la commented on #1077
@gr2m this looks quite extensive!
Claiming `tests/test_back.js#L154` to begin with 🙂 . Would you recommend me to raise an issue too (like you did for your current WIP : `tests/test_back.js#L137` ?)

[2018-02-28 19:28] kaizenberg commented on #1073
Thanks! I'm going to reply you when I make a minimal test case.

[2018-02-28 20:30] gr2m commented on #1077
yes please :)

[2018-03-01 10:52] hisabimbola opened #1080 "Filtering by regex does not match correctly"
I am having some issues with the filtering by regex.

Below is the failing test modified from the code [here](https://github.com/node-nock/nock/blob/master/tests/test_body_match.js#L8)

[code]
I looked a bit and I saw that the cause of this was this [line](https://github.com/node-nock/nock/blob/master/lib/match_body.js#L49). The result from the `qs.stringify` method makes incompatible with the reg

[2018-03-01 17:00] mbad0la opened #1081 "Remove AIRPLANE mode from tests/test_back.js#L154"
Tracking this test fix for #1077

[2018-03-01 19:30] #1081 closed

[2018-03-01 19:53] gr2m commented on #1080
Hey @hisabimbola we are working on making `nock` easier to contribute to right now. I took on the project recently and since then at least ask folks to add tests to their PRs. If they pass, I’m okay with merging. We have to trust our tests, they are pretty decent and they get better with each PR :)

So I’d suggest you start a pull request just with a failing test for now, so we get the error statu

[2018-03-02 02:23] mbad0la commented on #1077
Claiming `tests/test_back.js#L188`, `tests/test_back.js#L235` and `tests/test_back.js#L261` !

[2018-03-02 02:26] mbad0la opened #1084 "Remove AIRPLANE mode from tests/test_back.js#L188"
Tracking the fix here for #1077

[2018-03-02 02:27] mbad0la opened #1085 "Remove AIRPLANE mode from tests/test_back.js#L235"
Tracking the fix here for #1077

[2018-03-02 02:27] mbad0la opened #1086 "Remove AIRPLANE mode from tests/test_back.js#L261"
Tracking the fix here for #1077

[2018-03-02 02:34] gr2m commented on #1084
I think if you claim multiple tests at once, you can create a single issue and a single PR, assuming they plan to fix them all at once

[2018-03-02 03:01] mbad0la commented on #1084
Yup. I'll keep that in mind. Right now, I'm just shooting in the dark while picking up the issues. In the future, I'll run by them first before picking them up so that I can group them together.

[2018-03-02 18:41] #1078 closed

[2018-03-03 03:27] mbad0la commented on #1077
@gr2m ,
Why do I feel like this task is a perfect candidate to test GitHub projects? 😛

[2018-03-03 03:50] gr2m commented on #1077
If you think that’ll help, feel free to use it :)

[2018-03-03 03:50] #1084 closed

[2018-03-04 06:39] #1085 closed

[2018-03-05 18:01] mralanlee opened #1091 "Template Literals in chained request not working"
Node version: 8.9.0
ava:  0.16

I'm having some issues passing a template literal into the post of this message

[code]

I tried different variations of changing the target host by adding a `/` or adding the `/` in constant `test`, but I always got the `No Match Request` error, even if/when I check in the server logs that the endpoints are an exact match. The reason I would like to require a templ

[2018-03-05 20:29] gr2m commented on #1091
@mralanlee Hey Alan, I tried to reproduce the problem, but no luck, see https://runkit.com/gr2m/5a9da7bb773f0500129d109e

If you could create a runkit snippet that reproduces your problem, that’d be very helpful.

I assume the problem for the error you run into is not related to nock

[2018-03-05 23:09] ferrants commented on #506
For properly testing timeouts with the `request` library, you should use at least these 3 error scenarios with `replyWithError`:
[code]

[2018-03-06 06:28] #1086 closed

[2018-03-06 19:15] anshumanv commented on #1077
https://github.com/node-nock/nock/blob/055593abb036524ffff8f364f8effc91827a130f/tests/test_back.js#L261 is fixed in #1090 please remove it from wip. :)

[2018-03-06 19:17] gr2m commented on #1077
cheers @anshumanv 👍 fixed it! Wanna try to work on one of the available ones?

[2018-03-06 19:19] anshumanv commented on #1077
Yes! I just forked, solving them one at a time. :)
Thanks @gr2m :smile:

[2018-03-06 19:36] gr2m commented on #1077
Let us know which one you are working on so we don’t do the work twice :)

[2018-03-07 05:18] anshumanv commented on #1077
Sure cool, claiming #L313 https://github.com/node-nock/nock/blob/055593abb036524ffff8f364f8effc91827a130f/tests/test_back.js#L313 as a starting point.

[2018-03-07 05:19] anshumanv opened #1092 "Remove AIRPLANE mode for testing - test_back.js #L313"
Ref - #1077

https://github.com/node-nock/nock/blob/055593abb036524ffff8f364f8effc91827a130f/tests/test_back.js#L313

Working on it.

[2018-03-07 10:10] SeanHayes opened #1094 "Bad content-length header"
I have a scope that was recorded with nock.bak that looks like this:

    {
        "scope": "https://api.example.com:443",
        "method": "GET",
        "path": "/mypath?platform=web&key=JJHDC7UK73EH",
        "body": "",
        "status": 200,
        "response": {
            "anonid": "Mjk2MjEyMDc5"
        },
        "rawHeaders": [
            "Access-Control-Allow-Origin",
            "*

[2018-03-07 17:48] gr2m commented on #1094
Hmm could you please create a PR with a failing pull request? That will help us investigate the issue

[2018-03-07 22:07] gr2m commented on #1059
I’ve run into this myself. Did you find a way to work around it, or any more information that could help narrow down theproblem?

[2018-03-07 22:21] gorangajic commented on #1059
Sorry, but I was not able to figure this one out. Didn't have that much free time to work on it so after some time I gave up.

[2018-03-08 15:22] mvpowers commented on #1039
Is this still an issue? This test is passing:
[code]

[2018-03-08 17:54] gr2m commented on #1039
thanks for checking @mvpowers. @DblK if this is still an issue for you, please make sure you have the latest version of `nock`. If you still can reproduce the problem then, please start a pull request with a failing test

[2018-03-08 17:54] #1039 closed

[2018-03-09 12:24] sushantdhiman commented on #1042
This will be really helpful for cleanup and changing mocks in between tests. I think `cleanAll` should get rid of any state, that will of-course be a breaking change

[2018-03-11 01:13] mbad0la commented on #1077
Taking out `test_back_2.js` tests this time!

[2018-03-11 01:16] mbad0la opened #1096 "Remove AIRPLANE mode from tests in test_back_2.js"
Tracking the fix here for #1077

[2018-03-11 19:10] #1096 closed

[2018-03-12 09:37] greenkeeper[bot] opened #1098 "An in-range update of request is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **2.84.0** of [request](https://github.com/request/request) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/node-nock/nock/compare/greenkeeper%2Frequest-2.84.0">Build failing 🚨</

[2018-03-12 16:20] khizar commented on #1056
any update here?

[2018-03-12 17:27] #1098 closed

[2018-03-12 17:28] gr2m commented on #1056
yes, it’s fixed :)

[2018-03-12 17:28] #1056 closed

[2018-03-13 02:25] kevinburkeshyp opened #1099 "passing "null" in GET request body results in no match"
I was trying to record a request that looks like this:

[code]

This failed to match, because at the `matchBody` part of `interceptor.js`, we tried to compare `null` to `this._requestBody`, which was the empty string.

We should probably still allow that request to match.

[2018-03-13 15:50] gr2m commented on #1099
Hey Kevin 👋

Could you maybe start a PR with a failing test and we take it from there? If that’s too much work right now, a RunKit snippet such as https://runkit.com/gr2m/5a2b2a9b890d1b00120eada4 reproducing the problem would be very helpful already

[2018-03-14 16:08] albertogasparin commented on #982
I was relying on the partial match too. It would be nice to provide an example on how to replicate that functionality in the docs.
For instance with Lodash it is quite straightforward:

[code]

[2018-03-14 16:35] #1092 closed

[2018-03-14 18:17] gr2m commented on #982
Thanks @albertogasparin, `_.matches` is really nice, I haven’t used that one yet!

I made a RunKit snippet at https://runkit.com/gr2m/node-nock-nock-982 using `_.matches` and vanilla JS. I’d suggest we add the vanilla JS one to the README

Would love a PR for that :)

[2018-03-14 19:27] dunn opened #1100 "JavaScript heap out of memory"
I was trying to write a test case for an issue I having with recording fixtures, but ran across this instead.  With the following test:
[code]
Running `node_modules/.bin/mocha -t 4s sandbox/nock.js` causes Node to run out of memory and crash: https://gist.github.com/dunn/2b14a5e99d70d2593b2b9fc2e0f93454

This is on Node 9.8.0, running on Debian 9.

[2018-03-14 20:58] albertogasparin commented on #982
I've opened a PR. Have a look if I made the behaviors clearer

[2018-03-14 23:10] gr2m commented on #1100
Thanks for the issue with the example test case and logs, much appreciated. I think I’ve seen other folks run into that, too. I don’t use nock.back myself and won’t have time to look into it. It would be super cool if you could give it a try to fix it 🙏

[2018-03-15 14:23] #982 closed

[2018-03-15 22:42] mralanlee commented on #1091
@gr2m thanks! I figured out the the error, fat finger on my part :)

[2018-03-15 22:42] #1091 closed

[2018-03-16 18:14] anshumanv commented on #1077
Claiming https://github.com/node-nock/nock/blob/055593abb036524ffff8f364f8effc91827a130f/tests/test_https_allowunmocked.js#L9 this time!

[2018-03-16 18:16] anshumanv opened #1102 "Remove AIRPLANE mode from tests in test_https_allowunmocked.js#L9"
Ref - https://github.com/node-nock/nock/issues/1077

https://github.com/node-nock/nock/blob/055593abb036524ffff8f364f8effc91827a130f/tests/test_https_allowunmocked.js#L9

[2018-03-17 03:54] mbad0la commented on #1077
Claiming tests in `test_intercept.js`

[2018-03-17 04:00] mbad0la opened #1103 "Remove AIRPLANE mode from tests in test_intercept.js"
Tracking the fix here for #1077

[2018-03-19 17:55] tjlahr opened #1105 "Error: Cross origin null forbidden"
I have a very simply test that uses 'nock' and 'whatwg-fetch' modules to call "example.com" and verify that it gets an "OK" back.

You can clone and run it here: https://github.com/tjlahr/faillingNockTest

I consistently get:
[code]

Somewhere, jsdom is validating that the response's xhr object has a non-null 'origin' property. Does this seem like something nock would set? Am I just configuring th

[2018-03-19 18:02] gr2m commented on #1105
Could you please create a runkit nodebook like this one: https://runkit.com/gr2m/node-nock-nock-1020

That makes it easier for us to see the error and to play around with the code 🙏

At first sight it looks like the problem might be in `whatwg-fetch`, can you try `node-fetch` instead? `whatwg-fetch` is a polyfill for the browser, `node-fetch` is a spec-complian implementation for node

[2018-03-19 18:56] tjlahr commented on #1105
Switching to node-fetch worked. Had in my mind that whatwg-fetch was isomorphic but I guess not.  Thanks.

[2018-03-19 20:08] gr2m commented on #1105
great that it works now :)

[2018-03-19 20:08] #1105 closed

[2018-03-23 20:58] codingthat commented on #1058
@kamalmarhubi may I suggest it be called `nock/off` =]

[2018-03-27 16:31] arusakov opened #1106 "x-www-form-urlencoded body matches only with string values"
[code]
I think, that the first nock example also should be OK for `x-www-form-urlencoded` bodies.

[2018-03-27 16:37] zacharyscott opened #1107 "Question: does nock handle URIs that end in slashes differently?"
While using nock to mock HTTP requests for some testcafe scripts, I found that my calls were never intercepted. I was pretty confused, but I noticed that my UI was making calls with URIs that ended with slashes, something like this:

`$.ajax({
  url: "http://myhost.com/items/",
  context: document.body
}).done(function() {
  $( this ).addClass( "done" );
});`

Then I removed the slash in the call

[2018-03-27 17:30] codingthat commented on #680
I'm having the opposite problem on nock 9.1.9.  The above two lines do indeed block requests to external hosts, but then they seem to require mocking of 127.0.0.1 itself, which is a lot of extra boilerplate.

[2018-03-28 19:43] gr2m commented on #1106
Yeah I agree, somethings wrong there. Would happily accept a PR that fixes it

[2018-03-28 19:44] gr2m commented on #1107
I’d need to digg into the code myself to see if that is feature or a bug. Could you maybe look trough the existing tests? If there are some that deliberately test for this behavior, we should mention it in the README. If there are none, then I agree we should get it fixed and add  a test to make sure it won’t break again

[2018-03-28 20:08] arusakov commented on #1106
@gr2m
Thx, I am going to dig into that.

[2018-03-28 22:16] coleturner opened #1108 "(Bug) One must use either regex or string for hostnames, not both"
Heyo!

Ran into an issue where I'd like to use a wildcard hostname for certain nocks, but use a fixed hostname for others. I was able to reproduce this issue several times.

Here's an example:

[code]

### Expected outcome

Both of these should match, and no error should be thrown

### Received outcome
[code]

[2018-03-28 22:39] gr2m commented on #1108
`nock(/.*/)` would match any host, did you try with a less permissive regex?

[2018-03-29 00:08] coleturner commented on #1108
hmmm, I have only tried with the wildcard as I'm using the wildcards in a module that is shared in our org, while using the string match inside individual module's concerns. Regardless, I don't believe it is clear what is happening here and maybe I am misunderstanding how nock works.

Does nock take the first host that matches and then filters through the interceptors for that specific host? Or do

[2018-03-29 00:15] gr2m commented on #1108
I think nock stores all the host matching globally, so that might be the problem. I’d have to dig into the source code myself to find out how it does that exactly

[2018-04-03 14:40] hugoduraes commented on #506
Any news on this?

[2018-04-03 17:59] scott-cornwell commented on #1049
I have this problem and `log(console.log)` did not help. To those struggling with nock I have some advice:

Just use webpack NormalModuleReplacementPlugin (https://webpack.js.org/plugins/normal-module-replacement-plugin/). You can just abstract getting your data so it's a simple function that returns a promise. For real API you have a file with everything it needs to talk to real API and exports a

[2018-04-04 16:37] MathieuDerelle commented on #1051
I think the correct syntax is
[code]

[2018-04-04 19:09] gr2m commented on #506
👋 @hugoduraes Pedro is not maintaining nock any longer, I’m trying my best to help out (and onboard new maintainers hint hint). I’m on vacation right now, I can look into it after April 22. If anyone would like to send a PR, happy to review it after unless someone beats me to it :)

[2018-04-06 07:10] edorivai opened #1111 "Allow for recording user-agent request header"
I know the readme clearly outlines the decision of omitting the `user-agent` request header from recordings. It is reiterated in the [comments](https://github.com/node-nock/nock/blob/master/lib/recorder.js#L277):

[code]

However, please bear with me :smile: . I'm testing a scraper, which requires setting the `user-agent` header to a specific browser version. It would be useful if my recordings wo

[2018-04-06 08:09] LittleGnome opened #1112 "How can I throw the http.request.on('timeout') with Nock?"
This is the .js code that I want to test.

[code]

Now this is my test that I have atm:

[code]

Versions:
"nock": "^9.2.3",
"node": 8.11.1,
"npm": 5.8.0

[2018-04-06 17:54] gr2m commented on #1111
hey just a heads up that I’m out vacationing until 22nd, I’ll review open issues then :)

[2018-04-06 17:55] gr2m commented on #1112
Hey I’m out vacationing right now, I’ll be back end of April. I _think_ there are tests in nock that test for both request & response timeouts, can you look trough the current nock tests and see if you find something?

[2018-04-09 11:36] LittleGnome commented on #1112
Hello,

I have seen al tests, but still can't throw that timeout.

Greetings,

LittleGnome

[2018-04-09 12:34] THoisington commented on #594
Almost two years later I have run into a similar problem with overzealous Axios and I am not sure the best way to proceed.

[2018-04-09 21:59] gr2m commented on #594
@THoisington the best next step would be to create a notebook on RunKit that reproduces the problem, e.g. like this one https://runkit.com/gr2m/node-nock-nock-768

Once we have that you (or someone else) can use the code to create a test and start a pull request with it. And then finally someone can use that (unless you want to try of course) to figure out how to get the failing test pass :)

[2018-04-09 22:03] gr2m commented on #1106
Is that fixed via #1110 for you?

[2018-04-10 07:44] THoisington commented on #594
So I will say I eventually found out the best way for me to make my test work was to use Node's Stringify to build my request URL instead of using any sort of Encoding function or library on a string. This is probably obvious to most here.

So my working jest test ended up being:

[code]

[2018-04-10 08:06] arusakov commented on #1106
Yes, #1110 is my PR and it resolves this issue)

[2018-04-10 08:06] #1106 closed

[2018-04-10 15:22] PizzaAficionado opened #1113 "Yesterday's 9.2.4 update to usage of arrow functions breaks compatibility with older versions of Node"
This update could be considered more of a major version update:

(I know, I know - we should switch to a newer version of Node... But this breaks the current build)

`
if (isUrlencoded) {
  spec = mapValuesDeep(spec, (val) => {
`

and

`
  return obj.map((v) => mapValuesDeep(v, cb))
  }
  if (_.isPlainObject(obj)) {
    return _.mapValues(obj, (v) => mapValuesDeep(v, cb))`

[2018-04-10 15:40] gr2m commented on #1113
I’m sorry that was not intended, if you could send a PR to fix that I’d appreciate it. We won’t drop support for Node versions without a major version bump

[2018-04-10 19:17] PizzaAficionado commented on #1113
Thank you. PR has been submitted.

[2018-04-10 19:19] gr2m commented on #1113
merged #1114. Release is on its way

[2018-04-10 19:19] #1113 closed

[2018-04-11 03:07] hems opened #1115 "Option to record only "unmatched" requests from a batch?"
Sometimes on my test this situation happens:

[code]

The problem is sometimes the function `do_something()` will do 3 requests in a row and i just want to record the second request or third request.

I could temporarily add nock.recorder.rec() somewhere in my code during debug but it would be easier if i could for instance only record requests which have no match?

Something like
[code]

Does thi

[2018-04-11 09:50] GabeAtWork commented on #214
On this issue, I think although nock's current api is allowing for checking the body of a given request, that checking doesn't necessarily integrate well with the test framework. In other words, while there is no technical issue here, I think a good improvement would be supporting the user's test framework library of expectations, rather than having to split sets of expectations in two (`expect()`

[2018-04-12 18:39] hayderma opened #1116 "Nock: No match for request issue"
I have been all over other similar issues here and stack overflow, it seems that while others were able to get around it, i can not, I am simply sending a `get` with a query parameters, the `.log`, says Matching is false, however they (the URLs) are exactly the same, i actually ran them both in a Python script `(str1==str2)` and it returned True just to be sure.

[2018-04-12 19:15] #1116 closed

[2018-04-12 20:05] gr2m commented on #1115
The recording will give you an array of objects that you can filter before storing them. I do something similar at https://github.com/octokit/fixtures/blob/61c77eb41e469e43c035c0f7bf6fde24e97a28ed/lib/record-scenario.js#L44-L51

[2018-04-13 15:31] pkyeck commented on #888
but why is it doing it? I'm trying to do a `nock.restore();` in my `beforeEach();` test setup. but as long as the `restore()` is there, tests will fail. remove it and the tests work as expected ... strange.

[2018-04-17 15:11] hayderma commented on #847
why did you close it? if you found the solution, should have shared it, I am having the same problem.

[2018-04-18 14:36] Hyjaz commented on #847
@hayderma this is to what I changed it to:

[code]

[2018-04-18 18:12] dpc opened #1117 "`removeInterceptor` with scope as an argument."
It's very easy to mistakenly pass a scope to `removeInterceptor` and not be aware it's wrong.

First the difference between `interceptor` and `scope` is not explained at all in the README, as far as I can tell.

Second, after passing scope to `removeInterceptor` it actually returns true, even though it does not remove a single item. `true` is returned unconditionally here: https://github.com/node-

[2018-04-18 22:31] hugoduraes commented on #506
Trying to look at this but I'm not understanding what's wrong. Has anyone looked at the source code and tried to find the issue?

[2018-04-19 19:52] hayderma commented on #847
thank you

[2018-04-21 04:56] calidion commented on #543
run into the same problem.
[code]

code
[code]

[2018-04-23 09:57] bcallaars commented on #748
Here you go https://runkit.com/callaars/nock-748

[2018-04-23 14:44] ikokostya opened #1118 "nock.cleanAll() doesn't stop delayed requests"
**Environment info**

* Node.js version: 8.11.1
* nock version: 9.2.5

**Code example**:

The following code example demonstrates that `nock.cleanAll()` call doesn't remove delayed requests from Node.js event loop:

[code]

**Actual behavior**

Node.js process waits while 5 ms timeout will be reached:

[code]

**Expected behavior**

`nock.cleanAll()` method removes all request timeouts.

**More in

[2018-04-23 16:47] gr2m commented on #1118
I agree, it’d be great if it would clean out all timeouts. I’d happy to review a PR if you or anyone else would like to give it a go. A PR with a failing test would already be a great start, we can take it from there

[2018-04-23 17:14] gr2m commented on #748
I tried to reproduce the problem but no luck:
https://runkit.com/gr2m/node-nock-nock-748/2.0.0

@bcallaars can you confirm? It might be a problem with superagent. I try to avoid using other libraries than nock when replicating errors.

[2018-04-23 17:42] bcallaars commented on #748
I'm not sure if it is due to SuperAgent, but that wouldn't surprise me. Although the strange thing is that the headers are sent. Let me investigate a bit more tonight, I might be missing something.

[2018-04-27 18:25] greenkeeper[bot] opened #1119 "An in-range update of needle is breaking the build 🚨"
## Version **2.2.1** of [needle](https://github.com/tomas/needle) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/node-nock/nock/compare/master...node-nock:greenkeeper%2Fneedle-2.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      needle
    </td>
  </tr>
  <tr>
    <th align=left>

[2018-04-29 15:47] ccoenen commented on #956
I've just sunken an hour into that. Here's my mocha snippet:

[code]

this yields

[code]

please note the "example.comundefined".

[2018-05-03 08:38] adarrra commented on #1117
I also couldn't understand why 'removeInterceptor' didn't work for me... And then I understood that
[code]
So issue helped. Don't want to look silly but it was not clear from docs for me.

[2018-05-03 21:32] gr2m commented on #1117
Thanks Adara for letting us know. We plan to invest some time to improve the documentation soon, so this is timely and valuable input :)

[2018-05-04 16:29] ceoworks commented on #214
agree with @GabeAtWork on the adding ability of checking request's body with custom function

[2018-05-04 17:15] jamiesoncj commented on #748
For what it's worth, I am also experiencing this issue (and again, `matchHeader()` works fine).

- node 6.11.2
- supertest 3.0.0
- nock 9.0.14

Happy to provide further info if that would be useful.

[2018-05-05 00:07] cjzcpsyx opened #1121 "HTTP headers are case-insensitive"
I'm using nock to record and reply, and facing the following issue
if a request rawHeaders looks like:
[code]
then, replay it will causing "Failed to convert header keys to lower case due to field name conflict: set-cookie", so if http header is case-insensitive, above headers should be allowed?

I see nock already apply case-insensitive modification in multiple places, but not in `headersArrayToO

[2018-05-05 02:05] gr2m commented on #1121
Hey @cjzcpsyx, thanks for opening the issue. I really don’t know if this is a bug or a feature to be honest, I’m still figuring out the code base myself. But if you found incoherences than that’d be a strong sign that this is a bug.

Could you start a pull request with a failing test, and we take it from there?

[2018-05-07 19:13] cjzcpsyx commented on #1121
@gr2m https://github.com/node-nock/nock/pull/1122

[2018-05-09 00:25] greenkeeper[bot] opened #1123 "An in-range update of tap is breaking the build 🚨"
## Version **11.1.5** of [tap](https://github.com/tapjs/node-tap) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/node-nock/nock/compare/master...node-nock:greenkeeper%2Ftap-11.1.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>tap</code>
    </td>
  </tr>

[2018-05-09 01:07] greenkeeper[bot] opened #1124 "An in-range update of nyc is breaking the build 🚨"
## Version **11.7.2** of [nyc](https://github.com/istanbuljs/nyc) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/node-nock/nock/compare/master...node-nock:greenkeeper%2Fnyc-11.7.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>nyc</code>
    </td>
  </tr>

[2018-05-09 05:38] #1103 closed

[2018-05-09 05:40] gr2m commented on #1102
Hey @anshumanv how is it going?

[2018-05-09 05:41] gr2m commented on #1077
Hey @mbad0la wanna help finish this up? I’m busy this week but will have more time next week I hope. Would be great to get trough with it, tests are currently failing because another external host is not doing what it did in the past, time we remove dependency on that :)

[2018-05-09 05:46] anshumanv commented on #1102
Hey, @gr2m :smile:  I'm not able to finish this up due to ongoing exams in my institute, can we turn this issue to open for all?

[2018-05-09 05:48] gr2m commented on #1102
sure, no worries :)

[2018-05-09 05:48] #1102 closed

[2018-05-09 05:50] #1123 closed

[2018-05-09 05:50] #1124 closed

[2018-05-09 07:06] mbad0la commented on #1077
I've been blocked on spinning up a local https server. I looked around a bit but didn't find any easy workarounds. Can you help me figure that out?

[2018-05-09 14:53] mbad0la commented on #1077
I did give the above examples a look some time back, but didn't have much success with the tests here. I'll give this another go in a day or two and keep you posted on any updates.

[2018-05-09 15:19] mjabraham47 commented on #584
Anyone have this issue with jasmine?

[2018-05-09 20:35] MSaIim opened #1125 "Intercept not being hit Angular2+ Cucumber using Protractor"
I don't believe nock is intercepting my http calls. What am I missing from the below code? I am using Angular2+ and testing in Cucumber using Protractor.

I have a service class that makes my REST calls:

    @Injectable()
    export class RestService {

        getTestdata() {
            this.http.get<ITestData>('/info/testdata', { observe: 'response' })
                  .catch(this.handleError

[2018-05-09 20:45] gr2m commented on #1077
sounds good :) If you get stuck, create a WIP pull request, we can take it from there. Thanks!

[2018-05-09 20:50] gr2m commented on #1125
Hey @MSaIim, for a question on how to use nock you’ll usually get better help on Stack Overflow. If you like post your question there and comment a link here so people will find it.

Issues on GitHub are better suited for bug reports or feature requests

[2018-05-10 13:12] MSaIim commented on #1125
I figured the source might have more information. I did post it on SO: https://stackoverflow.com/questions/50263883/angular2-cucumber-protractor-intercept-http-calls. Though, I'm not sure I'll get a reply. If you have any information that might help, please let me know.

[2018-05-10 19:52] gr2m commented on #1125
Your chances will be better on SO than here. If you don’t get any answers, try to reduce your test case to as little code and as little dependencies as possible. I’m sorry that I can’t help better myseelf. Good luck!

[2018-05-10 19:52] #1125 closed

[2018-05-11 05:51] SeanHayes commented on #1115
I'd like to do the same thing with nock.back. Can nock.back allow me to manually mock some calls while letting others record/replay as normal?

[2018-05-11 18:36] jinwoo commented on #956
I'm also hit by this. Would be great if this could be fixed soon.

[2018-05-14 04:36] ORESoftware opened #1127 "this library would be a lot cooler"
if it were written in TypeScript

just saying

I know this is an OG Node.js library, but #it'sabouttime

[2018-05-14 04:38] ORESoftware opened #1128 "Docs bug: How to intercept *all* requests to x"
Here is what I see in the README:

[code]

I am looking for something like this:

[code]

or like this?

[code]

how do I setup a single handler that can intercept all requests to `google.com`? Seems like a common problem and I don't see anything in the docs.

[2018-05-14 05:19] ORESoftware opened #1129 "Nock server closes immediately, does not seem to listen on port"
[code]

I have the code and am on nock version: 9.2.5

When I run the above code verbatim, the server doesn't stay open, the process just exits cleanly.

Do I need to call listen() or something:

[code]

[2018-05-14 06:11] #1127 closed

[2018-05-14 06:13] gr2m commented on #1128
You might have more luck with "How do I" questions on Stack Overflow. You can link to it here so people will still find it. Good luck

[2018-05-14 06:31] ORESoftware commented on #1129
ah yes, thanks, I realized this after reading the "How it works" section, this lib works different than I thought, will close, thanks

[2018-05-14 06:41] ORESoftware commented on #1128
dogg, it should  be in Readme, that's why I opened the ticket

[2018-05-14 16:34] prakashchandrabarnwal opened #1130 "Authorization header isn't mocked."
Api Call

[code]

testcase :
[code]
Error:  x-access-token undefined
TypeError [ERR_HTTP_INVALID_HEADER_VALUE]: Invalid value "undefined" for header "x-access-token"

How to mock header?

[2018-05-14 18:19] gr2m commented on #1130
I don’t think this is a problem with nock, try to reduce your test case. If you have a reproducible test case on runkit such as https://runkit.com/gr2m/5a2b2a9b890d1b00120eada4 then I’d be happy to help out.

If you have a "How do I ..." question, then asking on Stack Overflow using the `nock` tag is more helpful

[2018-05-14 22:27] #1129 closed

[2018-05-14 22:28] gr2m commented on #1128
Cool, improvements to the docs are always very welcome, especially by folks new to the library. Could you start a pull request and we take the discussion there?

[2018-05-14 22:40] gr2m commented on #956
@jinwoo welcome to the team :) It won’t fixed itself I’m afraid, but pull requests with tests are welcome. You can get one started with a failing test only and we can take it from there

[2018-05-14 22:48] #1121 closed

[2018-05-14 22:52] ORESoftware commented on #1128
well I actually don't know how to do this, but if you let me know I can create a PR for the docs

[2018-05-14 23:03] gr2m commented on #1128
Happy to, welcome to Open Source :) Here is a great tutorial on sending pull requests: https://egghead.io/series/how-to-contribute-to-an-open-source-project-on-github

[2018-05-14 23:28] ORESoftware commented on #1128
I understand PRs, I meant I don't know the correct syntax:

[code]

the above must be wrong

[2018-05-14 23:38] gr2m commented on #1128
I also don’t know it, I’d have to look it up myself, and I don’t have the time, sorry. If you figure it out and find a way to improve the README please send a PR

[2018-05-15 01:17] SeanHayes commented on #803
This seems to still be an issue with recorded nock.back fixtures, since only 1 copy of each request is saved. How do I fix that?

[2018-05-16 01:37] gr2m commented on #1048
@CodeJjang if you could create a reproducible case, that’d be helpful. Otherwise there is not much we can do

[2018-05-18 20:18] nateholmes3 commented on #1049
I have a similar issue:
This is the basic setup of my nock (removed sensitive information)
`nock(host, {reqheaders: {headers}}).log(console.log).get('/path').query({params}).times(3).reply(502)

supertest(app)
    .get(path/that/leads/to/above/request/being/made)
    .set(all other appropriate fields)`

I am using node's 'requestretry' package in my app in order to add retry functionality. in my t

[2018-05-21 16:28] greenkeeper[bot] opened #1132 "An in-range update of semantic-release is breaking the build 🚨"
## Version **15.4.3** of [semantic-release](https://github.com/semantic-release/semantic-release) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/node-nock/nock/compare/master...node-nock:greenkeeper%2Fsemantic-release-15.4.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td

[2018-05-21 22:57] #1132 closed

[2018-05-24 13:10] qqcloud opened #1135 "Only the body is unmached, how can i make this kind of unmocked post request to the server ?"

[2018-05-25 10:34] #1135 closed

[2018-05-30 20:30] jinwoo commented on #956
I think this can be closed now?

[2018-05-30 21:45] gr2m commented on #956
fixed via https://github.com/node-nock/nock/pull/1136

[2018-05-30 21:45] #956 closed

[2018-05-30 22:43] ccoenen commented on #956
Awesome! Thanks everyone!

[2018-05-31 02:18] carlnc opened #1137 "No match when basePath is regex and path is function"
When `this.uri` is a function
`Interceptor.prototype.match` attempts to "string match" `method proto://options.host` (`GET http://localhost`) against (`GET /.*/`).

Examples
[code]

P.S.
For anyone trying to figure out what's going on with their matching, you can place some console.logs() around [`node_modules/nock/lib/interceptror.js#307`](https://github.com/node-nock/nock/blob/master/lib/interce

[2018-06-02 12:27] greenkeeper[bot] opened #1139 "An in-range update of aws-sdk is breaking the build 🚨"
## Version **2.250.1** of [aws-sdk](https://github.com/aws/aws-sdk-js) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/node-nock/nock/compare/master...node-nock:greenkeeper%2Faws-sdk-2.250.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>aws-sdk</code>
    </

[2018-06-05 08:49] julianhille commented on #951
I see the same error, nocking a request with retrying sometimes responds in 4 ms and sometimes just takes 1-4 seconds. Without anything else im unsure how to reproduce, currently i have no way to really reproduce this.

[2018-06-06 02:46] Ethan-Arrowood opened #1140 "Buffer() DeprecationWarning"
Hi 👋 I'm using `nock` to test one of my modules and I've noticed a node.js deprecation warning for the use of Buffer(). I'm going to try and update `nock` so it no longer throws this warning.

<img width="1285" alt="Screenshot of warning" src="https://user-images.githubusercontent.com/16144158/41013026-c018cd24-6987-11e8-91ab-03b93dd76f71.png">

[2018-06-06 03:36] Ethan-Arrowood commented on #1140
Turns out this was actually coming from a line within my own module, but the PR still has value as running `npm test` from the master branch of nock throws a ton of Buffer warnings.

[2018-06-06 04:14] gr2m commented on #1140
I think we can close this?

[2018-06-06 04:14] #1140 closed

[2018-06-06 20:58] julianhille commented on #951
I found my issue and it might relate to yours, are you using electron-mocha as a test runner for an electron app together with nock?

[2018-06-06 22:58] moltar opened #1142 "How to ignore headers when running a mocked request with nock?"
https://stackoverflow.com/questions/50730752/how-to-ignore-headers-when-running-a-mocked-request-with-nock

Thanks.

[2018-06-07 01:20] theogravity commented on #214
This should be re-opened - I'm not seeing a good solution when a testing framework is involved

[2018-06-07 12:27] alFReD-NSH opened #1143 "Version 9.3.1 broke compatibility with node 4.4.x and lower"
[This commit](https://github.com/node-nock/nock/commit/e933b3a4a5b7ca598d789026978f718b5049fb92), used Buffer.alloc and Buffer.from which were backported in [v4.5.0](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V4.md#notable-changes-17), I think this should have been major version release.

[2018-06-07 14:40] acooper-accusoft commented on #1143
I agree. We had some builds using node 4.3.2 start failing this morning and tracked it down to nock changing from 9.3.0 to 9.3.1.

[2018-06-07 19:46] PizzaAficionado commented on #1143
9.3.2 will resolve the issue

[2018-06-07 19:53] acooper-accusoft commented on #1143
Thanks @PizzaAficionado

[2018-06-07 20:43] gr2m commented on #1143
Done via https://github.com/node-nock/nock/pull/1144

[2018-06-07 20:43] #1143 closed

[2018-06-07 21:57] greenkeeper[bot] opened #1146 "An in-range update of restify-clients is breaking the build 🚨"
## Version **2.1.0** of [restify-clients](https://github.com/restify/clients) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/node-nock/nock/compare/master...node-nock:greenkeeper%2Frestify-clients-2.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>restify-

[2018-06-09 01:05] deeptiagrawa commented on #1137
Hello, I am working on creating a PR for this fix. The PR will be ready by Monday at the most.

[2018-06-11 02:31] gr2m commented on #1137
Thanks Deepti

[2018-06-11 23:49] deeptiagrawa commented on #1137
@gr2m Created this PR https://github.com/node-nock/nock/pull/1147

[2018-06-13 20:17] #1146 closed

[2018-06-13 23:34] gr2m commented on #1137
Great work @deeptiagrawa 👍 If you like to help out some more, I’m trying to improve the test setup first, which will make it simpler to accept more contributions with less regressions in future.

The meta issue where we coordinate that work is https://github.com/node-nock/nock/issues/1077. Feel free to comment there if you’d like to help. I'm happy to help if you have any questions

[2018-06-13 23:34] #1137 closed

[2018-06-14 00:38] deeptiagrawa commented on #1137
Thanks a lot @gr2m . While working on this bug, I found that the test suite is a bit complicated. I will look at that issue and see if I can fix that up.

[2018-06-19 11:50] karlismelderis opened #1150 "dynamic chaining"
I have a test case where I need to "nock" backend quite dynamic.
something like this:

[code]

can it be done?

[2018-06-19 16:31] gr2m commented on #1150
sure why not, did you try it?

If something is not working as expected we’d appreciate a bug report, ideally with a reproducable test case suck as https://runkit.com/gr2m/5b0f6bb39f8aeb0012955de6

If you have a question about how to use nock, I’d recommend to ask on StackOverflow, there are more folks helping out over there for such questions. Make sure to use the `nock` tag

[2018-06-19 16:31] #1150 closed

[2018-06-21 13:01] samvloeberghs commented on #44
@pgte 6 year old advice, but still worth gold! Thanks alot

[2018-06-25 14:07] purefan opened #1152 "normalizeRequestOption changing host to https:443"
I'm facing an issue where one of my tests failed to match a url, after a few hours of debugging I found that [normalizeRequestOption](https://github.com/nock/nock/blob/b5b40c16531f655035cb486f44118257dd4bfb1e/lib/common.js#L12) changes the `host`.

[code]
This code fails with

What happens in my case is that in `lib/common.js::normalizeRequestOptions` the `options` object doesn't have a `hostname`

[2018-06-28 13:56] pramodpr316 opened #1153 "Unable to pass query parameters for mocking service."
I have my node.js function under the route /contentTypes. This calls another service under 'http://localhost:8280/services/ContentTypes.HTTPEndpoint/contentTypes/query'. So I am able to successfully mock this URL. But when I try to send query parameter to this URL ({"isArchived": false}), it fails.
Below is my nock code:

[code]

And below is the error I get.

[code]

I tried setting .query(true)

[2018-06-28 21:58] RichardLitt opened #1154 "Documentation audit results and suggestions"
👋 Hey there! This is the @mntnr audit for this repo, requested by @gr2m. I've included below my general checklist, and then some notes. Super exciting to review this repo; looking forward to your comments.

## Repository Review: nock/nock

_For notes on anything crossed out, look below. Note: I use `[~]` to mean that I have proposed a fix in a PR. I know it doesn't render properly in Markdown, but

[2018-06-29 03:40] gr2m commented on #1154
This is fabulous, thank you Richard!

I would really like to add multiple issue templates to get the "choose" page like here: https://github.com/babel/babel/issues/new/choose

I’m thinking of 4 templates

1. **Report a Bug**: among other things, I’d like folks to create a reproducible test case with runkit, such as https://runkit.com/gr2m/node-nock-nock-768
2. **Request a feature**
3. **Ask a ques

[2018-06-29 09:55] ArTiSTiX opened #1156 "requestBody is not parsed as JSON when replying"
When filtering/matching body (for a POST request), nock correctly parses it as JSON, but once the route matched, the reply function does not receive a parsed requestBody, but string representation only.

This is due to RequestOverrider not taking real request headers into account (using options.headers instead of req.headers). Some library (i'm using superagent), or usage of those, does not define

[2018-06-29 11:28] RichardLitt commented on #1154
Great comments, thanks. Some things to do:

- [ ] Set up multiple issue templates (I agree with you on the types).
- [ ] Plan a one-time sweep of all of the issues, followed by stalebot. We probably don't need waiting-on-contributor if we use stalebot, but I still think it's a good explicit signal to both the maintainers and the users.
- [ ] Add richard@maintainer.io to the CoC. I'm happy to be th

[2018-06-29 20:13] gr2m commented on #1153
Did you try `.query({"isArchived": false})` (without the single quotes)?

If that’s not working, can you please create a reproducible test case on runkit such as https://runkit.com/gr2m/node-nock-nock-768? Or even better: start a PR that with a failing test that reproduces your problem.

[2018-06-29 20:16] gr2m commented on #1154
That’s a great service, thanks :) Could you send a PR?

[2018-06-29 20:18] RichardLitt commented on #1154
Added to the other PR.

[2018-06-29 20:19] pramodpr316 commented on #1153
I actually tried doing this earlier this morning
 .filteringPath(function() {
        return '/services';
And this worked for me. I am now able to mock the entire url after /services. Thanks for your reponse, I appreciate it.

[2018-06-29 21:03] gr2m commented on #1153
I’m not sure I understand. Are you good now, can we close the issue?

[2018-06-29 21:10] pramodpr316 commented on #1153
Yes Gregor. I am good now. We can close the ticket.

Thanks,

Pramod Pradhan
361-228-3989

On Fri, Jun 29, 2018 at 5:03 PM -0400, "Gregor Martynus" <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm not sure I understand. Are you good now, can we close the issue?

-
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://

[2018-06-29 21:25] #1153 closed

[2018-07-02 16:04] RichardLitt commented on #1154
Once the PR is merged, I'll go back through and make sure that we've covered everything discussed here and open relevant issues for them.

[2018-07-02 17:00] #1156 closed

[2018-07-02 17:10] gr2m commented on #1154
We have the https://opencollective.com/nock now that I would like to start promoting once we are trough with the initial audit.

Right now I wouldn’t want to give money to contributors directly, but instead invest money to better facilitate contributing to the project. That being said I’d be open to sponsor or co-sponsor a contributor who otherwise couldn’t afford to. Preferably someone underrepre

[2018-07-02 18:03] gr2m commented on #1154
One thing that I’d like to add and maybe you might want to add to your audit is a locked "updates" issue like https://github.com/octokit/rest.js/issues/620. It allows people to subscribe to a single issue on a repository in order to stay updated in regard of the most important updates. What do you think?

[2018-07-02 21:38] RichardLitt commented on #1154
Cool. How do you want us to capture new things we can do for the community? Should we add more `- [ ]`s to this thread, or should we open issues, or start a project? I think the last makes the most sense.

Investing money to facilitate contributions makes the most sense for me, too.

Let's add a section welcoming new maintainers, then. We can simply say that there isn't a process at the moment. I

[2018-07-02 22:57] gr2m commented on #1154
A project sounds good to me! I think we can close this issue and create follow up issues?

done https://github.com/mntnr/audit-templates/pull/9

[2018-07-03 15:40] RichardLitt commented on #1154
I've opened a Project, here: https://github.com/nock/nock/projects/3

For now, I think we can close this! What do you think, @gr2m?

[2018-07-03 17:09] gr2m commented on #1154
😍

[2018-07-03 17:09] #1154 closed

[2018-07-03 17:11] gr2m opened #1158 "Add multiple issue templates"
follow up for https://github.com/nock/nock/issues/1154#issuecomment-401238344

[2018-07-03 21:17] RichardLitt commented on #1154
Thanks, @gr2m!

[2018-07-03 23:21] bj97301 opened #1159 "whats the n in nock?"
Got a bet with my buds.  My bet is that it stands for network mock.

[2018-07-04 18:50] hems opened #1160 "RequestError: TypeError: xhr.getAllResponseHeaders is not a function"
First of all, thanks for such awesome library.

I'm running tests using [mockify](https://github.com/Gandi/mockify) which basically browserify-ies tests and run it on a headless chromium.

Unfortunately, it seems nock doesn't like the browser environment and vice-versa, here is my stack:
[code]

It would be a dream to mock requests on headless browsers when using nock, but i'm not exactly sure if

[2018-07-04 18:53] hems commented on #1160
It does look like it's very possible based on this project: https://www.npmjs.com/package/xhr-mock !!

Would be incredible if nock could work in both environments transparently!

[2018-07-04 18:56] hems commented on #699
I believe the ideal solution would be nock to transparently fallback to [xhr-mock](https://www.npmjs.com/package/xhr-mock) when appropriate?

as i suggested recently here: https://github.com/nock/nock/issues/1160 ?

[2018-07-04 18:59] gr2m commented on #1160
yes it would be great indeed :) The first step for nock is to break up `nock` into smaller modules, that way we can have different intercept modules for different modules that have the same APIs. For browsers I’d also look into a ServiceWorker-based solution instead of mocking xhr. We’d also need to mock `fetch`

[2018-07-06 21:44] jlilja commented on #1128
This is technically just chaining methods and using regex to match everything. Until an any method has been made the following snippet could help.

[code]
I added persist since the issue asking for all requests could mean the same request being called more than once.

If this adds any additional value to the docs than the documentation on chaining I'd be happy to make a PR.

[2018-07-07 12:49] jlilja commented on #1152
Hi Miguel. I've been trying to replicate your error and I think I've found your problem.

* The host you are mocking from the nock function doesn't match the host you are actually sending a post request to.
* The request function has 'https' set as default so it shouldn't be specified in the host property.
* The following properties had to be set: method: 'post' and path: '/' in order to have an e

[2018-07-07 15:21] jlilja commented on #1158
What types of templates should exist and what kind of information should they cover?

[2018-07-07 18:03] gr2m commented on #1128
@ORESoftware does the above code work for you?

I could see how a `.all()` or `.any()` method would be helpful. The proper way would probably be to use lower-level APIs to intercept all requsets, it’s something we want to work on now. @n30n0v already created an interceptor library, maybe it’s a better solution for your case: https://github.com/n30n0v/nock-interceptor

Could explain your use case?

[2018-07-07 18:29] gr2m commented on #1158
Glad you ask, and thank you for your help with the other issues, Jonas!

The idea is to create 4 files:

1. `.github/ISSUE_TEMPLATE/01_bug_report.md`
2. `.github/ISSUE_TEMPLATE/02_feature_request.md`
3. `.github/ISSUE_TEMPLATE/03_support.md`
4. `.github/ISSUE_TEMPLATE/04_thanks.md`

If you like to help out, I can invite you the repository so you can use GitHub’s editor:

![image](https://user-imag

[2018-07-07 18:47] jlilja commented on #1158
Sounds like a very good start.

I'd like to help out any way I can, so you can invite me and I'll start working on it right away. 👍

[2018-07-08 05:15] ORESoftware commented on #1128
My original use case was for a proxy server, which would intercept everything, but what I had in mind changed, so I ended up using something very different so I never fully explored the nock API beyond this question.

[2018-07-08 08:13] jlilja commented on #1128
Glad to hear it worked out in the end, no matter the package. :)

[2018-07-08 10:57] purefan commented on #1152
Thanks a lot @jlilja ! following your suggestions did fix it for me, you rock! :)

[2018-07-08 10:57] #1152 closed

[2018-07-10 15:36] gr2m commented on #1128
In that case I’d close it then. Thank you :)

[2018-07-10 15:36] #1128 closed

[2018-07-10 18:15] RichardLitt commented on #1158
@jlilja I've invited you as a member of the organization. Let's get you set up so you can use GitHub's editor to work on these. :) Let me know if this doesn't work, or if you need help with anything.

[2018-07-10 19:18] RichardLitt opened #1164 "Remove unused deps"
I ran [`depcheck`](https://www.npmjs.com/package/depcheck) on this repository, and got the following result:

[code]

Most of these are false positives, as depcheck doesn't check scripts, except for two, I think: `istanbul` is only referenced in the package.json, as far as I can tell, and `glob`. I think these both can probably be removed. Can someone check that they aren't used, remove them from

[2018-07-11 06:17] jlilja commented on #1107
Hello Zacharyscott.

I've been looking into this problem and I've written scripts to reproduce this error here https://runkit.com/jlilja/5b4597caa6a0a90012a2b746.

My question is if this should be expected behavior or not?

Having a trailing slash is to no other use (other than what I can google) to have a pretty url structure - so I see the fix being ok.

However it also makes sense to me that wh

[2018-07-13 08:39] nockbot opened #1166 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-13 08:45] gr2m commented on #1107
I think that technically, `GET http://myhost.com/items/` and `GET http://myhost.com/items` are to different requests. The fact that they usually return the same page is that servers implement it that way, as far as I know. I think I wouldn’t add that to nock. The issue was open since march and no other person chimed in having the same problem. I’d vote to say it’s a feature not a bug and close the

[2018-07-13 11:19] jlilja commented on #1107
I'd say its a feature. If @zacharyscott doesn't have anything to add I think this can be closed.

[2018-07-13 12:34] zacharyscott commented on #1107
Yeah, I agree - nock is doing the right thing.

[2018-07-13 12:34] #1107 closed

[2018-07-13 16:08] RichardLitt commented on #1166
This is likely because npm reset their tokens yesterday due to a possible virus grabbing them through an eslint dep.

Who owns the tokens? @gr2m?

[2018-07-13 22:02] RichardLitt opened #1167 "Document release process"
We use @nockbot to get stuff done in this repository. However, there's no information for that in the CONTRIBUTING.md, and nothing about the release process in general, or who owns the tokens on NPM. This came up in https://github.com/nock/nock/issues/1166#issuecomment-404900030. It would be a good idea to write some docs covering these areas - ideally, these would go in the CONTRIBUTING.md for no

[2018-07-14 16:34] jlilja commented on #1164
From what I can see instanbul and glob is nowhere to be found (except from package.json).

I noticed however that we're using request and request-promise. Maybe another issue could created for converting from request to request promise in the future?

I'll submit a pr shortly with removed devdep.

[2018-07-17 10:39] StarpTech opened #1170 "Status code is ignored when response payload is empty"
This will return the statusCode `200` but I expect `401`. This can be fixed when I pass an empty response body like `[401, '']`. It this the desired bahviour?
[code]

[2018-07-19 02:11] nicolasprade opened #1171 "HTTP method is ignored when matching the path by function"
**Environment info**
- nock version: 9.3.3 and above

**Code example**
[code]

**Actual behavior**
Prints: `matched GET`

**Expected behavior**
Prints: `matched POST`

**More information**
nock ^9.3.3 picks the first interceptor that has a matching path function, ignoring the HTTP method.

**Related issues**
- This is a regression due to the fix for #1137

[2018-07-20 11:04] Nigrimmist opened #1173 "Is it ok to use in production?"
Is it a good way to use it in production? I mean, is it ok to nock any url, specified ONLY on load environment but nock instance will be called on production too because code base the same, but with unexisting url (it exist only on load env).

Thank you in advance!

[2018-07-23 19:39] rochdev opened #1174 "socketDelay() not working anymore since Node 10.7.0"
This option doesn't do anything anymore.

It seems the same problem occurred in Node's own mock: https://github.com/nodejs/node/issues/21907

[2018-07-23 20:01] gr2m commented on #1173
I think https://stackoverflow.com/ would be a better place to ask that question, you can use the `nock` tag

I personally never needed to use nock in a production app, unless the app itself was about mocking

[2018-07-23 20:01] #1173 closed

[2018-07-23 20:02] gr2m commented on #1174
Thanks for opening the issue. Any suggestion for a workaround?

[2018-07-23 20:05] rochdev commented on #1174
I won’t have time to check today but I’ll try to find the exact cause later on, hopefully with a PR to follow.

[2018-07-23 20:58] gr2m commented on #1171
closed via #1172

[2018-07-23 20:58] #1171 closed

[2018-07-23 22:32] gr2m commented on #1174
wonderful, thank you Roch!

[2018-07-23 22:48] gr2m commented on #1164
can we close this issue now?

[2018-07-23 22:49] gr2m commented on #1170
Could you please create a runkit notebook such as https://runkit.com/gr2m/node-nock-nock-768 to reproduce the problem?

[2018-07-23 23:02] gr2m commented on #1167
some context outta my head:

- releases are automated by [semantic-release](https://github.com/semantic-release/semantic-release)
- the commit messages pushed to the master branch are triggering new releases. semantic-release is looking for these commit conventions
  1. `fix: ...` in the subject creates a new release bumping the patch (fix) version, e.g. 1.2.3 -> 1.2.4
  1. `feat: ...` in the subj

[2018-07-24 08:33] StarpTech commented on #1170
@gr2m https://repl.it/@StarpTech/TestCase-1170 if you add a string to the array `[401, '']` it will return `401` correctly.

[2018-07-25 01:31] bj97301 commented on #659
I dont see it =/  I see `clear` but it does not seem to work.

[2018-07-25 01:32] bj97301 commented on #659
wait... its on nock not the recorder... bah

[2018-07-25 13:37] RichardLitt commented on #1164
Yep! Thanks again, @jlilja.

[2018-07-25 13:37] #1164 closed

[2018-07-25 22:13] hems opened #1176 "Record for a given URL only while mocking requests to other domains"
Is it possible to execute `nock.recorder.rec()` but only record a specific domain?

sometimes when testing i would like some APIs calls to actually go through but only a given domain to be recorded.

thank you

[2018-07-27 23:54] gr2m commented on #1176
All requests go trough when you are recording. You can filter out the recorded fixtures after you received them. See https://github.com/nock/nock#dont_print-option – does that help?

[2018-07-29 23:01] hems commented on #1176
@gr2m thanks for the reply!

On my case, I would like to let all requests that go to localhost to don't be recorded or intercepted, but the ones going to an external api to be recorded / intercepted.

I still didn't find a way, maybe i need to dig deeper on the readme?

[2018-07-30 08:40] sunil-lulla commented on #543
Though it's very late to reply on this but it will surely help the new explorers.

Just use `persist()` for this, as the docs says

[2018-07-31 19:07] atishay opened #1178 "Request for 'done' event"
Is there a `done` event that can be listened to on a scope. I want to test multiple parallel requests where I short-circuit on an error and polling for the isDone method seems like a bad idea.

[2018-07-31 21:53] deeptiagrawa commented on #1076
I am working on a PR for this issue.

[2018-07-31 22:43] deeptiagrawa commented on #1076
PR for the issue https://github.com/nock/nock/pull/1179

[2018-07-31 23:26] gr2m commented on #1176
You can’t record and intercept at the same time I’m afraid :( When you start recording than the interception gets disabled. But I see how this could be a valid use case, maybe something we could add in future?

[2018-07-31 23:33] gr2m commented on #543
Thanks Sunil! I’d love to get trough the open issues and get close obsolete ones or help out where questions are still open / relevant. I’m very occupied with family myself right now, but if you’d like to help out, I’d be happy to invite you as maintainer to help with triaging. @RichardLitt can also help to document the process to make it easier for others to help out triaging

[2018-07-31 23:33] gr2m commented on #543
I think we can close this one?

[2018-07-31 23:33] #543 closed

[2018-07-31 23:50] #1076 closed

[2018-08-01 21:03] raphael-luciano commented on #543
@sunil-lulla  Thank you very much. You tip has helped me =)

[2018-08-02 09:45] sunil-lulla commented on #543
@gr2m I would love to be a maintainer, Add me :)

[2018-08-03 15:32] hems commented on #1176
that would be great, like if "recorder.rec()" could take a "domain" or rule so only those would be recorded, this would be sweet!

[2018-08-03 21:17] RichardLitt commented on #543
@sunil-lulla: can you send an email to me about helping out with triaging? :) Getting help here sounds awesome.

[2018-08-05 01:52] greenkeeper[bot] opened #1183 "An in-range update of semantic-release is breaking the build 🚨"
## Version **15.9.5** of **semantic-release** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/nock/nock/compare/master...nock:greenkeeper%2Fsemantic-release-15.9.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/semantic-rele

[2018-08-07 16:53] gr2m commented on #1183
false positive

[2018-08-07 16:53] #1183 closed

[2018-08-08 08:58] gkatsanos opened #1184 "What takes precendence, a fixture or an inline code nock?"
Assume I have the following:

[code]

now, in `scbe.json` I have the recording of this call already:

[code]

is it gonna be 200 , or 401, when I run this?

[2018-08-08 20:13] hermano360 opened #1185 "Response coming back in res.text instead of res.body"
I am trying to match up the responses from my actual endpoint to the nock endpoint but am running into an issue where nock is only sending me back data in the res.text field instead of the res.body. I can work around this but would rather configure nock than my application.

[2018-08-08 20:30] gr2m commented on #1185
Could you make a reproducible test case like https://runkit.com/gr2m/node-nock-nock-768? And explain what you expect and what you receive instead? It’ll make it easier for us to help you :)

[2018-08-09 21:37] RichardLitt commented on #1119
Closed with #1186.

[2018-08-09 21:37] #1119 closed

[2018-08-10 08:09] danielb2 opened #1187 "How to use nockBack?"
What am I missing here?

[code]

[code]

[2018-08-10 17:33] greenkeeper[bot] opened #1188 "An in-range update of request is breaking the build 🚨"
## Version **2.88.0** of **request** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/nock/nock/compare/master...nock:greenkeeper%2Frequest-2.88.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/request/request>request</a>

[2018-08-10 20:07] greenkeeper[bot] opened #1189 "An in-range update of semantic-release is breaking the build 🚨"
## Version **15.9.7** of **semantic-release** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/nock/nock/compare/master...nock:greenkeeper%2Fsemantic-release-15.9.7">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/semantic-rele

[2018-08-11 00:05] #1189 closed

[2018-08-11 00:06] gr2m commented on #1188
we really gotta fix #1077 🙏

[2018-08-11 00:06] #1188 closed

[2018-08-11 14:07] RichardLitt commented on #1189
@gr2m Couldn't this have been merged?

[2018-08-11 16:26] kilianc commented on #1174
Confirmed 10.7.0 and 10.8.0 affected. We're stuck on 10.6.0 because of this.

[2018-08-11 18:52] tzaitsev commented on #1174
Also stuck on 10.6

[2018-08-12 15:01] RichardLitt commented on #1174
@rochdev Any progress on checking this? :)

[2018-08-13 04:39] gr2m commented on #1184
In your example above you don’t load the recorded fixture from the `scbe.json` file.

I think what you call first takes precedence

[2018-08-13 04:42] gr2m commented on #1189
this is an issue :) No need to merge the updates that are covered by the current version range, they get installed automagically

[2018-08-13 04:43] gr2m commented on #1174
ping @griffinmyers 👋

[2018-08-13 14:42] rochdev commented on #1174
Just tested with the fix from #1182 and it works now. Can't wait for the next release to see that green build again!

[2018-08-13 14:42] #1174 closed

[2018-08-13 15:43] kilianc commented on #1174
@rochdev which is when?

[2018-08-13 16:48] gr2m commented on #1174
It should be released already, it happens automatically via semantic-release. But the last build failed on master (Node 4 job): https://travis-ci.org/nock/nock/builds/415293237. I assume it’s related to #1077, the tests are somewhat unreliable as they currently depend on external websites that we don’t have control over.

For now I restarted the build, but I’d appreciate any help to finish #1077 t

[2018-08-13 16:58] gr2m commented on #1184
To load a previously recorded fixture, you need to load it, e.g. with `nock.load('./path/to/scbe.json')`.

If you register other mocks for `http://shadows-v2:8031` in the test itself, then what ever you called first, the `nock.load('./path/to/scbe.json')` or `nock('http://shadows-v2:8031').get('/shadows/v2/health').reply(200)` will take precedence.

The order matters. For example

[code]

Does tha

[2018-08-14 09:57] gkatsanos commented on #1184
I am a bit more confused; I thought https://github.com/nock/nock#nock-back
is using ("playing") the previously recorded mocks. I actually verified that my tests use the recorded mocks, without calling `nock.load()` anywhere.

[2018-08-14 10:26] gkatsanos opened #1191 "Failed to convert header keys to lower case due to field name conflict: x-request-id"
[code]

I saw there was a PR related to that? @gr2m

[2018-08-14 10:36] gkatsanos commented on #804
@gr2m  is this merged?

[2018-08-14 15:41] RichardLitt commented on #804
@gkatsanos Should have been! v9.1.7 got it. https://github.com/nock/nock/releases/tag/v9.1.7

[2018-08-14 15:42] RichardLitt commented on #1191
Yep: #804 was related to that, and [v9.1.7](https://github.com/nock/nock/releases/tag/v9.1.7). I think that this may be a bug that we didn't catch with that fix?

[2018-08-15 06:04] gr2m commented on #1191
unfortunately nock does not have full code coverage as of now, it is possible that a bug was introduced in that release. I don't have the time myself to investigate though. It would be a great start if you could create a RunKit notebook such as https://runkit.com/gr2m/node-nock-nock-768, you can even require different version of nock in the same notebook to show that it worked with one but broke i

[2018-08-15 06:06] gr2m commented on #1184
I’m sorry, I’ve missed that bit in your code, yeah, it should work then :)

And in that case I don’t know what takes precendence, but when you find out I’d appreciate if you could send a pull request to update the README 🙏

[2018-08-15 07:35] gkatsanos commented on #1191
I'm afraid I don't have the experience to go on with this; do you need maintainers to help you out in general?
would that mean 9.1.6 would not have this bug? (I have some test failures and I would like to make sure it's not because of nock as our setup is rather complex already)

[2018-08-16 08:31] gkatsanos commented on #1191
Just some more information about the bug. So, our endpoint unfortunately is case sensitive and we're forced to send the x-request-id in 2 different case versions.
I looked at your code and you seem to be lowercasing everything. But maybe that's not working properly?

These are the strings in question:
"x-request-id"
"X-Request-Id"
"X-Request-ID"

[2018-08-16 13:45] jlilja commented on #1077
Claiming `test_https_allowunmocked.js`!

[2018-08-16 15:18] RichardLitt commented on #1191
Do you send the headers in the same request? If so, than I am not sure that that is valid. I don't know if headers are case sensitive in the official spec, but I suspect that they aren't as we lowercase everything. In this case, you're sending multiple headers, which isn't ideal.

However, if you're sending them in different requests, than nock shouldn't throw an error. It looks like we're not flu

[2018-08-16 18:54] gr2m commented on #1077
Thank you for helping out, Jonas!

[2018-08-17 08:35] gkatsanos commented on #1184
Will do !

[2018-08-18 07:30] gr2m commented on #1184
Thank you George, very much appreciated

[2018-08-18 18:07] greenkeeper[bot] opened #1195 "An in-range update of semantic-release is breaking the build 🚨"
## Version **15.9.9** of **semantic-release** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/nock/nock/compare/master...nock:greenkeeper%2Fsemantic-release-15.9.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/semantic-rele

[2018-08-18 19:09] #1195 closed

[2018-08-21 14:42] RichardLitt commented on #1158
We've done this now! Thanks, @gr2m and @jlilja! 💃

[2018-08-21 14:42] #1158 closed

[2018-08-22 15:02] #1167 closed

[2018-08-22 17:52] greenkeeper[bot] opened #1198 "An in-range update of restify-clients is breaking the build 🚨"
## Version **2.5.1** of **restify-clients** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/nock/nock/compare/master...nock:greenkeeper%2Frestify-clients-2.5.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/restify/clients>r

[2018-08-23 18:35] Nohbidy opened #1199 "Mock external url when server doesn't have connectivity to said url"
**What I'm trying to do:**

I'm cloning my code into a container that has very specific connections configured (of which are different from what the end container the code is deployed in uses) and I run my tests before I deploy.  The code in question makes some external calls that I'm trying to mock.  But since the container doesn't have the connectivity in place, I get :

`Error: getaddrinfo ENOT

[2018-08-23 20:32] RichardLitt commented on #1187
Move `nock.enableNetConnect();` below the nockBack fixtures and setMode lines. Then it should work. There's also no need for multiple `enableNetConnect` - the first is permissive of all netConnects, and the second just limits it, so just go with one or the other.

Let me know if this works for you!

[2018-08-23 20:40] danielb2 commented on #1187
Thanks that works. Is there any reason this wouldn't be enabled by default for this type of recording ?

[2018-08-23 21:03] RichardLitt commented on #1187
Yes. It looks like the docs don't actually make it clear that 'enableNetConnect' is only the default for two of the available modes.

[code]

So, on `record` and `lockdown`, you need to explicitly state the http calls you want enabled. For the other two, they will go through.

Want to take a look at #1200 and see if it looks good to you? If so, I think it would be great if you could add a PR to th

[2018-08-23 21:15] RichardLitt commented on #1178
I believe there is. See the [`lib/scope.js`](https://github.com/nock/nock/blob/master/lib/scope.js#L147-L156) file:

[code]

Would that work for you?

[2018-08-23 21:47] RichardLitt commented on #1170
That looks like the desired behaviour to me. It may just be that you need to send a body, or it will default to 200. Is this an inconvenience?

This is set in [`lib/interceptor.js`](https://github.com/nock/nock/blob/master/lib/interceptor.js#L64-L68):

[code]

[2018-08-23 22:02] RichardLitt commented on #1130
Wouldn't you simply specify the header in the reply in your nock call in the test?

[code]

I might be missing something here.

[2018-08-23 22:04] RichardLitt commented on #556
I'm pretty sure that this is resolved. Let us know if it isn't. Thanks!

[2018-08-23 22:04] #556 closed

[2018-08-23 22:35] RichardLitt commented on #573
I believe this should work the same way as any other request. Just send in the url. For example: `Nock('ldap://ds.example.com/')`. Note: you will need the final slash, otherwise `url.parse()` has an issue without a pathname.

[2018-08-23 22:37] RichardLitt opened #1202 "Nock Office Hours"
Hey ya'll. 👋 @gr2m and I have been thinking about instituting Nock office hours, once a month, in order to give the maintainers and users a chance to air simple questions in a friendly way, and in order to promote more camaraderie among the community. We would pick a date, and set up a Zoom call on a regular schedule that anyone could jump on. The idea would be that it would last around a half hou

[2018-08-23 22:38] RichardLitt commented on #498
The current one seems to work. 👍

[2018-08-23 22:38] #498 closed

[2018-08-23 23:18] atishay commented on #1178
I am looking for an event to add a listener to. Otherwise I need to keep polling `nock` to know when it is done.

[2018-08-24 07:00] StarpTech commented on #1170
Of course! When I send 401 I expect 401.

[2018-08-24 18:43] RichardLitt commented on #1170
Ok. Someone needs to take a look at the interceptor logic, then. I am at a loss as to how to do this easily.

For now, pass in an empty body in a string.

[2018-08-25 15:14] StarpTech commented on #1170
@RichardLitt I provide a fix https://github.com/nock/nock/pull/1203

[2018-08-25 15:34] deepaktiwari-1987 opened #1204 "nock with superagent is not working for post request"
Below are my code which I am trying to run..

import request from "../application-services/request";
const authObject = {
          grant_type: grantType,
          client_id: clientId,
          requested_token_type: requestedTokenType,
          subject_token_type: subjectTokenType,
          subject_token: authTicket,
          scope: scopes
        };
        // calling auth server to get acce

[2018-08-26 02:15] weekly-digest[bot] opened #1205 "Weekly Digest (19 August, 2018 - 26 August, 2018)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 9 issues were created.
Of these, 2 issues have been closed and 7 issues are still open.
## OPEN ISSUES
:green_heart: #1204 [nock with superagent is not working for post request](https://github.com/nock/nock/issues/1204), by [deepaktiwari-1987](https://github.com/deepaktiwari-1987)
:green_heart:

[2018-08-27 17:30] RichardLitt commented on #1204
Thanks for logging, @deepaktiwari-1987. Did you see the issue template? It would be great if you could fill it out, and ideally if you could add a code example we could like at, [like this one linked in the template](https://runkit.com/gr2m/node-nock-nock-768). Reading the code above is pretty difficult.

Thank you!

[2018-08-30 10:46] KrekkieD commented on #1191
The issue seems to have been here for quite some time (all v9, and also v8.1.0, didn't go back any further).

I think the issue is this bit:
https://github.com/nock/nock/blob/master/lib/common.js#L246
If the header name already was lowercased it'll throw the error as the lowercased header already exists and is thus seen as conflicting.

A quick fix to `if(lowerCaseFieldName !== fieldName && !_.isU

[2018-08-30 11:52] RichardLitt commented on #1191
@gkatsanos Want to try that? If it works, than we can open a PR and patch it.

[2018-08-30 16:58] diegoaguilar opened #1206 "Nock back not using records"
I'm trying to record some Stripe HTTP calls happening on the background of executing Stripe's node library.

I rooted for [nock's back feature][1] however I'm not having best results while trying to execute it with `'record'` mode.

What is happening:

* A fixture file is created if ran first with record mode. This includes 3 requests:
  - Corresponds to the call to Stripe API the library initiate

[2018-09-02 02:15] weekly-digest[bot] opened #1207 "Weekly Digest (26 August, 2018 - 2 September, 2018)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #1206 [Nock back not using records](https://github.com/nock/nock/issues/1206), by [diegoaguilar](https://github.com/diegoaguilar)

 - - -
# PULL REQUESTS
Last week, 3 pull requests were created, updated or merged.
## UPDATED PU

[2018-09-03 04:51] abhishekk-optimus opened #1208 "Return Array from .reply(200, 'return array instead of object or string')."
Hello,
i am working with mocha testing, and using nock to mock a get request which returns data in form of an
 array.

**3rd Part Api returns data (in form of array):**
[code]

So, to mock above data,
i am trying to do
[code]
But, **instead of taking it as an array, it takes it as a string.**
After researching, i found this : https://github.com/nock/nock#specifying-replies
that states the replies

[2018-09-03 08:01] gkatsanos commented on #1191
We fixed it by just changing our code because and sticking with one casing for our requests. Fingers crossed it won't fail elsewhere :) but indeed I don't think nock should care about header casing or there should be an option a switch or a regexp we can use to accept both. An option ideally for case sensitive or insensitive headers.

[2018-09-07 15:43] richardscarrott commented on #457
@wprater digging up an old one here but I'm experiencing the same issue with APIs which return `'Content-Encoding': 'gzip'` and `'Transfer-Encoding': 'chunked'` -- I'm having to post process it like this which doesn't feel correct:

[code]

cc @gr2m

[2018-09-08 11:17] greenkeeper[bot] opened #1210 "An in-range update of semantic-release is breaking the build 🚨"
## Version **15.9.14** of **semantic-release** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/nock/nock/compare/master...nock:greenkeeper%2Fsemantic-release-15.9.14">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/semantic-re

[2018-09-09 02:15] weekly-digest[bot] opened #1211 "Weekly Digest (2 September, 2018 - 9 September, 2018)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 0 issues have been closed and 3 issues are still open.
## OPEN ISSUES
:green_heart: #1210 [An in-range update of semantic-release is breaking the build 🚨](https://github.com/nock/nock/issues/1210), by [greenkeeper[bot]](https://github.com/apps/greenkeeper)
:gree

[2018-09-09 08:34] #1210 closed

[2018-09-09 09:07] gr2m commented on #457
@richardscarrott can you create a new issue please and we take it from there?

[2018-09-09 09:14] gr2m commented on #1130
closing due to inactivity

[2018-09-09 09:14] #1130 closed

[2018-09-09 09:16] #1170 closed

[2018-09-09 11:00] richardscarrott opened #1212 "Nock record outputs array of hex values instead of plain JSON when response is encoded"
Related: https://github.com/nock/nock/issues/457#issuecomment-419480974

**What is the expected behavior?**
When recording responses which are compressed and chunked, e.g. `Content-Encoding: 'gzip'` and `Transfer-Encoding: 'chunked'`, I was expecting the generated fixture to decompress and combine the chunks into the human readable response; this would then allow us to remove sensitive information

[2018-09-09 11:05] richardscarrott commented on #457
@gr2m I've created an issue here https://github.com/nock/nock/issues/1212, thanks

[2018-09-10 00:49] RichardLitt commented on #1202
Early morning Pacific time works for me. In the interest of moving this forward: How about this Thursday, at 9am PST?

[2018-09-10 01:09] RichardLitt commented on #1211
@gr2m Could we have it post in the same thread?

[2018-09-10 12:04] richardscarrott commented on #1212
FYI, this is the complete `afterNock` function I'm using

[code]

[2018-09-11 00:57] taylorjdawson commented on #325
@AlexRRR How did you solve this?

[2018-09-11 08:54] greenkeeper[bot] opened #1213 "An in-range update of debug is breaking the build 🚨"
## Version **3.2.0** of **debug** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/nock/nock/compare/master...nock:greenkeeper%2Fdebug-3.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/visionmedia/debug>debug</a>
    </td>

[2018-09-11 11:06] #1139 closed

[2018-09-11 11:06] #1213 closed

[2018-09-11 11:07] RichardLitt commented on #325
@taylorjdawson Might be worth opening a new ticket. This one is a bit old.

[2018-09-11 17:12] gr2m commented on #1211
you can ask at https://github.com/probot/weekly-digest :) I think @abhijeetps was planning on adding that feature

[2018-09-11 17:12] gr2m commented on #1211
you can ask at https://github.com/probot/weekly-digest :) I think @abhijeetps was planning on adding that feature

[2018-09-11 17:13] gr2m commented on #1202
Can we do Friday 10am? 9am is baby feeding time for me :)

[2018-09-11 17:14] abhijeetps commented on #1211
Indeed, I am. Opening new weekly digests every week might be a little difficult.
I am currently working on it. 😄

[2018-09-11 17:19] gr2m commented on #1211
is there an issue/PR we can follow for that feature?

[2018-09-11 23:27] greenkeeper[bot] opened #1215 "An in-range update of semantic-release is breaking the build 🚨"
## Version **15.9.15** of **semantic-release** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/nock/nock/compare/master...nock:greenkeeper%2Fsemantic-release-15.9.15">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/semantic-re

[2018-09-12 01:33] greenkeeper[bot] opened #1216 "An in-range update of aws-sdk is breaking the build 🚨"
## Version **2.313.0** of **aws-sdk** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/nock/nock/compare/master...nock:greenkeeper%2Faws-sdk-2.313.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/aws/aws-sdk-js>aws-sdk</a>

[2018-09-12 03:37] abhijeetps commented on #1211
Not yet @gr2m , I will let you know. 😄

[2018-09-12 04:33] #1215 closed

[2018-09-12 13:08] RichardLitt commented on #1202
That works for me. :)

[2018-09-12 13:13] jlilja commented on #1202
That works for me as well. :)

[2018-09-12 13:15] RichardLitt commented on #530
I think having a test case for this would be helpful, if you're still interested in solving this problem. Most likely we will simply need a couple of tests to make the issue clearer.

[2018-09-12 13:16] RichardLitt commented on #540
I'd be happy to look at a PR for this. :)

[2018-09-12 13:19] RichardLitt commented on #546
Thanks for logging, @xonev. Are you still having this issue?

[2018-09-12 13:29] RichardLitt commented on #1202
In that case, let's go with that!

### Video Conferencing Links

Friday, 9/14: 10:00am PST, 1:00pm EDT

Richard Littauer is inviting you to a scheduled Zoom meeting.

Join from PC, Mac, Linux, iOS or Android: https://zoom.us/j/339824625

Or iPhone one-tap :
    US: +19294362866,,339824625#  or +16699006833,,339824625#
Or Telephone:
    Dial(for higher quality, dial a number based on your current l

[2018-09-12 13:30] #1216 closed

[2018-09-13 01:58] greenkeeper[bot] opened #1219 "An in-range update of aws-sdk is breaking the build 🚨"
## The devDependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.313.0` to `2.314.0`.

🚨 [View failing branch](https://github.com/nock/nock/compare/master...nock:greenkeeper%2Faws-sdk-2.314.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a devDependency of this project. It **might not br

[2018-09-13 22:30] ikokostya commented on #1118
I think issue with `bug` tag should be excluded from `stale` bot.

[2018-09-13 22:32] gurpreetatwal commented on #892
bump

[2018-09-14 06:17] tiagojsag opened #1221 "Support port in `enableNetConnect`"
**Context**

So here's my use case: I'm using nock to mock HTTP requests while testing a nodejs HTTP server app. The server app is started by the tests, so I need to allow connections to 'http://127.0.0.1:80' and block everything else.

This particular app relies on ElasticSearch, which uses HTTP and is listening on the same 127.0.0.1 host, just a different port. So, by using `nock.enableNetConnec

[2018-09-14 15:56] Overdrivr commented on #1061
Will get back to it in a couple of weeks

[2018-09-14 17:36] RichardLitt commented on #1202
Ah, this was great. Thanks for joining, @jlilja and @gr2m!

# Nock Office Hours Notes - September 14, 2018

_Welcome to the first nock/nock office hours._

## Participants
- @RichardLitt
- @gr2m
- @jonaslilja

## Agenda

- hi :)
- stale & lock app
    - Sorry about all of the notifications, all.
    - This should make life easier in the future.
- test setup
    - Take a look at https://github.com/

[2018-09-14 19:22] gr2m opened #1222 "Fix test: "get with reply callback returning default statusCode without body""
This is a follow up for https://github.com/nock/nock/pull/1203#issuecomment-420510969. I’ll disable the test for the time being in #1145

[2018-09-14 19:32] gr2m opened #1223 "Show code coverage"
We have a coverage badge in our README but it currently shows "unknown". Let’s fix that, as discussed at #1202

[2018-09-14 19:54] travi commented on #1054
This one still send worth investigating, but i have not found the time to did deeper yet

[2018-09-15 09:51] gajus commented on #788
The issue remains relevant.

[2018-09-16 02:16] weekly-digest[bot] opened #1226 "Weekly Digest (9 September, 2018 - 16 September, 2018)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 14 issues were created.
Of these, 7 issues have been closed and 7 issues are still open.
## OPEN ISSUES
:green_heart: #1225 [README: Node version support](https://github.com/nock/nock/pull/1225), by [gr2m](https://github.com/gr2m)
:green_heart: #1222 [Fix test: "get with reply callback returnin

[2018-09-16 05:53] gr2m commented on #1226
<3

[2018-09-16 05:53] #1226 closed

[2018-09-16 10:28] LinusU commented on #539
This is still an issue with Nock version 10.0.0

[2018-09-16 11:10] gr2m commented on #539
@LinusU can you start a PR with a failing test and we take it from there?

[2018-09-16 21:26] gkalpak opened #1227 "`nock` does not support the new Node.js 10.9 signature `http.request(url[, options][, callback])`"
**What is the expected behavior?**
Using the new signature for `http.request(url, options[, callback])`/`http.get(url, options[, callback])` (introduced in [Node.js v10.9](https://nodejs.org/api/http.html#http_http_request_options_callback), should work with `nock`.

**What is the actual behavior?**
With `nock`  (by merely `require`ing `nock`), it throws:

[code]

**Possible solution**
I haven't l

[2018-09-16 21:34] gr2m commented on #1227
I’m not familiar enough with the code base myself to tell what the problem could be. The runkit notebook is much appreciated, thank you!

Would you like to get a PR going? A failing test would be good enough, you can adjust the `.travis.yml` file to require node 10.9

[2018-09-17 07:57] gkalpak commented on #1227
I had a brief look at the source code and tests, but I couldn't figure out where the appropriate place would be (neither for the fix nor for the test) :confused:
I am sure that it is a super simple and quick fix for someone familiar with the code base.

AFAICT, tests are already being run on Node.js 10 [on Travis][1], so that is taken care of.

And as for a failing testcase, it is as simple as `ht

[2018-09-17 15:28] leonrinkel commented on #1227
You are correct ✅

I used the following hack in [common.js:138](https://github.com/nock/nock/blob/master/lib/common.js#L138) to quickly get it running with the new signature:

[code]

Of course this is not a production-ready solution.

[2018-09-17 15:39] gr2m commented on #677
That’s interesting, I didn’t even know about [Node’s timers module](https://nodejs.org/api/timers.html). I agree we should get rid of using the module. This would make a very nice first-timer issue

[2018-09-17 19:59] gabegorelick commented on #1042
This is still needed. The fact that `cleanAll` doesn't actually clean all mocks is very annoying.

[2018-09-17 20:05] gr2m commented on #1042
I’m okay with the change and releasing it as a breaking change, but I don’t have time to work on this myself. Can you submit a pull request?

[2018-09-17 20:53] RichardLitt commented on #788
Thanks, @gajus.

[2018-09-17 20:55] RichardLitt commented on #879
Thanks, @tconroy. Feel free to log more issues!

[2018-09-17 20:57] #630 closed

[2018-09-17 21:03] RichardLitt commented on #630
Thanks, @ioanlucut. Sorry for the lack of feedback on this!

[2018-09-18 01:13] hems commented on #1115
i think this is an important feature, but unfortunately i didn't have the time to develop anything in this direction.

is this planned somehow on the roadmap or will we let this issue close?

[2018-09-18 01:28] gr2m commented on #1115
There is no roadmap. We, the current maintainers of nock, are focussing on enabling users to become contributors as easily as possible. And whatever someone wants to work on will be implemented, given that we all agree that it’s a useful addition that we can maintain in future.

[2018-09-18 03:03] motss opened #1228 "Unable to return an array as valid JSON response"
**What is the expected behavior?**

[code]

**What is the actual behavior?**

[code]

**Possible solution**

[code]

**How to reproduce the issue**

Please refer to the reduced test case provided above.

**Does the bug have a test case?**

No

**Versions**

| Software | Version(s) |
|----------|------------|
| Nock     | 10.0.0 |
| Node     | 10.10.0 |

[2018-09-18 20:16] #1219 closed

[2018-09-19 20:18] ctstone opened #1229 "isJSONContent fails when directives in Content-Type header are present"
**What is the expected behavior?**
[code]

**What is the actual behavior?**
[code]

**Possible solution**
Change [implementation](https://github.com/nock/nock/blob/a7cdc71ec12e173b2711abecbfeb9604f18083cb/lib/common.js#L233) to:
[code]

**How to reproduce the issue**
Use the recorder to capture a request using an HTTP client that uses the `charset` directive in the [`Content-Type` header](https://

[2018-09-19 23:29] jotto opened #1230 "Is it possible to modify each req or res at the beginning and end of call stack?"
**Context**

I have an RPC library that makes thousands of requests, so I'm recording them with `nock.recorder.rec`.

But since each request has an arbitrary correlation ID (see the ID parameter):

e.g.

[code]

nothing is matching. Fine, so I modify the nockDefs to use a regex:

[code]
Now things are matching, but the responses still have their original correlation IDs which don't match the corre

[2018-09-20 10:17] maheshjag commented on #596
@vitorarins @matanh-tzmedical Many thanks for your responses. No, I wasn't requiring the app in my test, and yes, I was running the app separately.

Yes, I'm happy for this issue to be closed.

[2018-09-20 10:17] #596 closed

[2018-09-20 15:09] #951 closed

[2018-09-20 15:46] RichardLitt commented on #596
Thanks, @maheshjag :)

[2018-09-20 15:48] RichardLitt commented on #1228
What does `data` return, instead of the array?

[2018-09-20 16:09] #1049 closed

[2018-09-20 17:09] #1048 closed

[2018-09-20 17:59] gr2m commented on #1230
I run into a similar challange for https://github.com/octokit/fixtures. I want to record "normalized" fixtures so I can compare them to previously recorded ones, to see if anything changed in the GitHub APIs. I currently have a custom solution for that, you can see the code. https://github.com/octokit/fixtures/blob/master/HOW_IT_WORKS.md gives you an overview.

Maybe have a look and see if that is

[2018-09-20 18:59] ctstone commented on #1229
I think I jumped the gun on `isJSONContent` (that might be an issue on its own but seems not to be the cause of my bug).

My problem seems to be around the handling of plain JSON strings in recorder.js or in match_body.js.

If I POST a JSON string, it should create an object like
[code]

But what I see in the recorded output is simply
[code]

That probably makes sense for non-string JSON, but beca

[2018-09-20 19:09] #584 closed

[2018-09-20 21:42] ctstone commented on #1229
Makes sense! Will revisit when I have a failing test.

Sent from mobile

________________________________
From: Richard Littauer <notifications@github.com>
Sent: Thursday, September 20, 2018 5:26 PM
To: nock/nock
Cc: Chris Stone; Author
Subject: Re: [nock/nock] isJSONContent fails when directives in Content-Type header are present (#1229)

I think the best thing to do is probably to add tests! Tha

[2018-09-20 22:46] RichardLitt commented on #748
@bcallaars Did you get the chance to investigate further? :)

[2018-09-20 23:09] #506 closed

[2018-09-21 00:02] gr2m commented on #748
It’s most likely an issue with SuperAgent. I think unless Joseph found out anything else, we can close this issue

[2018-09-21 00:09] #594 closed

[2018-09-21 01:09] #1112 closed

[2018-09-21 03:09] #1051 closed

[2018-09-21 05:09] #680 closed

[2018-09-21 06:09] #1058 closed

[2018-09-21 07:09] #1100 closed

[2018-09-21 08:09] #1099 closed

[2018-09-21 08:42] bcallaars commented on #748
It's definitely related to SuperAgent, but I've tried to find out exactly what. It looks like it's related to a race condition, but to be honest I haven't looked into it for a while due to shifting priorities.

[2018-09-21 09:09] #595 closed

[2018-09-21 11:19] #1094 closed

[2018-09-21 12:19] #1059 closed

[2018-09-21 13:19] #1080 closed

[2018-09-21 14:19] #1073 closed

[2018-09-21 15:19] #1074 closed

[2018-09-21 17:19] #1035 closed

[2018-09-21 18:19] #1060 closed

[2018-09-21 19:19] #552 closed

[2018-09-21 21:19] #1052 closed

[2018-09-21 22:19] #1041 closed

[2018-09-21 23:19] #251 closed

[2018-09-22 00:19] #1038 closed

[2018-09-22 01:19] #988 closed

[2018-09-22 02:19] #475 closed

[2018-09-22 04:19] #1026 closed

[2018-09-22 08:19] #1007 closed

[2018-09-22 10:32] #380 closed

[2018-09-22 11:46] #987 closed

[2018-09-22 12:46] #417 closed

[2018-09-22 13:46] #938 closed

[2018-09-22 14:46] #409 closed

[2018-09-22 15:46] #705 closed

[2018-09-22 16:46] #923 closed

[2018-09-22 17:46] #495 closed

[2018-09-22 18:46] #537 closed

[2018-09-22 19:46] #950 closed

[2018-09-22 20:46] #940 closed

[2018-09-22 21:46] #947 closed

[2018-09-22 22:46] #949 closed

[2018-09-22 23:46] #931 closed

[2018-09-23 00:46] #852 closed

[2018-09-23 01:46] #376 closed

[2018-09-23 03:46] #698 closed

[2018-09-23 04:46] #910 closed

[2018-09-23 05:46] #897 closed

[2018-09-23 06:46] #720 closed

[2018-09-23 08:46] #867 closed

[2018-09-23 09:46] #838 closed

[2018-09-23 11:36] #398 closed

[2018-09-24 11:02] nguymin4 commented on #1228
Hi, @RichardLitt, I think there is a breaking change when upgrading from 9.6.1 to 10.0.0 here is the result and a simplified test

In `nock@9.6.1` the result is `['haha', 'lol', 'wow']`
In `nock@10.0.0` the result is `lol`

If this is intentional then should we update the change log and the doc?

[code]

[2018-09-24 14:38] #685 closed

[2018-09-24 16:38] #666 closed

[2018-09-24 17:38] #650 closed

[2018-09-24 18:38] #649 closed

[2018-09-24 19:38] #364 closed

[2018-09-24 19:38] #346 closed

[2018-09-24 19:38] #338 closed

[2018-09-24 19:38] #195 closed

[2018-09-24 19:38] #234 closed

[2018-09-24 19:38] #303 closed

[2018-09-24 19:38] #242 closed

[2018-09-24 19:38] #429 closed

[2018-09-24 19:38] #333 closed

[2018-09-24 19:38] #375 closed

[2018-09-24 19:38] #472 closed

[2018-09-24 19:38] #470 closed

[2018-09-24 19:38] #479 closed

[2018-09-24 19:38] #468 closed

[2018-09-24 19:38] #478 closed

[2018-09-24 19:38] #499 closed

[2018-09-24 19:38] #535 closed

[2018-09-24 19:38] #583 closed

[2018-09-24 19:38] #600 closed

[2018-09-24 19:38] #640 closed

[2018-09-24 19:38] #647 closed

[2018-09-25 23:43] RichardLitt commented on #1228
I don't think that this was intentional.

I think the best thing to do at this point would be to start a PR with tests for this, and then we can implement your suggested fix and see if that solves the problem. What do you think about that? Would you like to help?

[2018-09-26 07:30] MarshallRJ commented on #1228
I note the  same issue with version 10.0.0 in my instance it returns the last element in the array.

[2018-09-26 07:40] nguymin4 commented on #1228
@RichardLitt Yes, I can take a look at it

[2018-09-26 17:48] gr2m opened #1232 "Add "Do not copy" comment to all tests that still use "{skip: process.env.AIRPLANE}" setting"
This is a follow up for https://github.com/nock/nock/pull/1231#issuecomment-423778535, related to https://github.com/nock/nock/issues/1077

The idea is to add a comment such as this

[code]

Above tests that rely on said setting, e.g. nock/nock/pull/1231

A list of all remaining tests that would need such a comment can be found here: https://github.com/nock/nock/issues/1077

[2018-10-02 17:58] RichardLitt commented on #1159
We don't know. I hope the bet wasn't for that much money. :)

[2018-10-02 17:58] #1159 closed

[2018-10-02 18:14] bj97301 commented on #1159
Ha 🥇

[2018-10-02 18:31] giodamelio commented on #1060
This would be a really nice thing to have. I am running into an issue right now, where I want to parse some multipart form data in the request body parser and I can't since the form data parser is streaming.

[2018-10-02 18:35] gr2m commented on #1060
@giodamelio if you like, open a new issue for it? But you’d need to champion it to get it shipped, we can only facilitate your contribution and make it as pleasant an experience as possible. We can’t do it ourselves I’m afraid

[2018-10-03 00:38] hapr05 commented on #1232
hey can I take this?

[2018-10-03 04:56] gr2m commented on #1232
Sure!

[2018-10-03 17:02] giodamelio commented on #1060
Unfortunately I don't really have time to do this currently, so I'll leave
this for now.

This has bit me multiple times in the past though, so I very well might
come back to it.

On Tue, Oct 2, 2018, 11:35 AM Gregor Martynus <notifications@github.com>
wrote:

[2018-10-04 10:03] sindresorhus opened #1234 "Allow regex and function for interceptor specs"
**Context**

See https://github.com/nock/nock/issues/347.

For example:

[code]

**Alternatives**

None

**Has the feature been requested before?**

Yes, https://github.com/nock/nock/issues/347.

**If the feature request is accepted, would you be willing to submit a PR?**

No

[2018-10-04 11:31] guerrerocarlos commented on #1115
I created a PR so that the **record** mode meets the expectations created by the documentation.

[2018-10-04 15:51] RichardLitt commented on #1234
Thanks, @sindresorhus. I'll reopen the old issue and pin it.

[2018-10-04 15:52] #1234 closed

[2018-10-06 21:34] gr2m commented on #940
Hey @igalic, if you are still interested in helping out to maintain nock, give us a holler! Open a new issue or ping me on twitter: https://twitter.com/gr2m

[2018-10-06 23:44] gr2m commented on #949
FYI we now have https://github.com/nock/nock/issues/1077 and could use some help

[2018-10-07 06:20] weekly-digest[bot] opened #1236 "Weekly Digest (30 September, 2018 - 7 October, 2018)"
Here's the Weekly Digest for [nock/nock](https://github.com/nock/nock):
# ISSUES
This week, 28 issues were created. Of these, 24 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #1235 [[NockBack] Record "unmatched" requests only.](https://github.com/nock/nock/pull/1235), by [guerrerocarlos](https://github.com/guerrerocarlos)
:green_heart: #1232 [Add "Do not copy" c

[2018-10-08 16:55] #1232 closed

[2018-10-09 16:26] caub opened #1239 "Bug: The "listener" argument must be of type Function. Received type object"
**What is the expected behavior?**
It should work!

**What is the actual behavior?**
It crashes

**Possible solution**
no idea, yet

**How to reproduce the issue/test case**
[code]

**Versions**

| Software | Version(s) |
|----------|------------|
| Nock     |      10.0.0      |
| Node     |      10.11.0      |

[2018-10-09 20:05] #699 closed

[2018-10-09 20:05] #1160 closed

[2018-10-09 20:36] gr2m commented on #1239
Can you reduce your test case any further?

[2018-10-09 21:34] caub commented on #1239
reduced a bit:
[code]

[2018-10-09 21:48] gr2m commented on #1239
I won’t be able to look into it myself, if you could give it a try that’d be great. Or maybe someone else can help out. It's hacktoberfest, plenty of folks looking to contribute right now :)

[2018-10-10 06:59] RichardLitt commented on #1202
It's been almost a month. How do we feel about having another hour, soon? :)

[2018-10-10 07:33] RichardLitt opened #1240 "Automating the Contributor list"
Right now, we use [a tool](https://github.com/mntnr/name-your-contributors) to manually update the [`CONTRIBUTORS.md`](CONTRIBUTORS.md) file. This process is not automated, which means that every now and then, someone has to manually run it. It would be a lot better if we could automatically update the Contributors file at set time intervals, and if we could ping the people we add to the file, tha

[2018-10-10 18:10] gr2m commented on #1202
oh I still have some open follow ups! But in general yeah, happy to

[2018-10-10 21:54] RichardLitt commented on #1202
I'm traveling at the moment, so it's pretty hard to tell when I am free. But if someone suggests a day, I can figure out when would be a good time from there. Currently, planning on being in Thailand until the 15th, and then largely AFK until the 22nd, when I'll be in Berlin and London.

[2018-10-10 22:04] matthewheck commented on #1228
Agreed with @nguymin4. I believe the fact that [this test](https://github.com/nock/nock/issues/1222) failed and had to be commented out is somewhat indicative too.

[2018-10-12 17:27] xianny opened #1241 "Can't access original request headers"
**What is the expected behavior?**
reply callback style should provide access to original request https://github.com/nock/nock#access-original-request-and-headers

**What is the actual behavior?**

`requestBody` is undefined in the callback. `this` is an empty object in the callback.

**Possible solution**
I am pretty new to nock so am stumped...

**How to reproduce the issue**

Runkit: *[code wit

[2018-10-12 17:40] gr2m commented on #1241
Thanks for the great bug report!

I’d start out by trying to create a failing test that reproduces your problem. Once you have that, start a pull request with the failing test. That would be  a great start

[2018-10-12 19:47] gr2m commented on #1228
We could really use some help with getting that test passing

[2018-10-12 19:47] gr2m commented on #1228
that sounds reasonable to me

[2018-10-12 22:08] greenkeeper[bot] opened #1242 "An in-range update of aws-sdk is breaking the build 🚨"
## The devDependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.333.0` to `2.334.0`.

🚨 [View failing branch](https://github.com/nock/nock/compare/master...nock:greenkeeper%2Faws-sdk-2.334.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a devDependency of this project. It **might not br

[2018-10-14 21:12] weekly-digest[bot] opened #1243 "Weekly Digest (7 October, 2018 - 14 October, 2018)"
Here's the Weekly Digest for [nock/nock](https://github.com/nock/nock):
# ISSUES
This week, 27 issues were created. Of these, 20 issues have been closed and 7 issues are still open.
## OPEN ISSUES
:green_heart: #1241 [Can't access original request headers](https://github.com/nock/nock/issues/1241), by [xianny](https://github.com/xianny)
:green_heart: #1240 [Automating the Contributor list](https:/

[2018-10-17 10:27] ivrtaric opened #1244 ".query() with .get() causes Nock to fail with "No match for request" error"
When setting up the Nock response for GET request like this:
[code]
Nock reports:
[code]
When rewriting the same as:
[code]
the unit test passes - the request is correctly nocked and the response is correctly parsed. What gives?

**Versions**

| Software | Version(s) |
|----------|------------|
| Nock     |      9.6.1      |
| Node     |      8.4.0      |

[2018-10-17 15:06] gr2m commented on #1244
what does `getNamespaceQueryParameter()` return exactly? Could you create a runkit notebook such as https://runkit.com/gr2m/node-nock-nock-768?

[2018-10-17 17:34] gr2m commented on #1060
@giodamelio  please open a new issue if you find time to work on it, no rush :)

[2018-10-18 08:53] ivrtaric commented on #1244
[code]
A URI-encoded SQL-like alphanumeric string. You can see it in the line starting with "matching" in the issue description.

This is the result of nock's recorder for the live request in question:
[code]
I'll paste the link to the runkit nb if I manage to make it demonstrate the issue.

[2018-10-18 09:03] ivrtaric commented on #1244
Huh. It turns out that the nocked response matches (works correctly) when I add encodedQueryParams configuration parameter to the response setup.

[2018-10-18 09:03] #1244 closed

[2018-10-18 14:05] jlilja commented on #1202
Hi! I'm halfway through a move at the moment so there isn't much work that I can do. I could be in on a meeting though. Let me know when you guys have time and I'll try to make some room :)

[2018-10-18 15:00] gr2m commented on #1202
How about Oct 24th, 8am pacific time, 4pm London time?

[2018-10-19 12:33] benplummer commented on #1206
I'm experiencing the same issues. The fixture is being created fine on the first run but when the test is being run again I get `NetConnectNotAllowedError: Nock: Disallowed net connect for "127.0.0.1:59454/test"`.

Tried multiple `nock.enableNetConnect` combinations but no luck.

[2018-10-22 11:25] jlilja commented on #1202
The 26th would be the best one for me, at 4 pm london time (5 pm CEST).

[2018-10-22 12:45] diegoaguilar commented on #1206
@benplummer did u get any solution for this, so far?

[2018-10-22 12:47] benplummer commented on #1206
@diegoaguilar No, nothing so far.

[2018-10-22 15:33] danksim opened #1245 "Nock does not allow registered endpoint with unmatched post req body"
Looks like  it's kind of related to https://github.com/nock/nock/issues/976. I am getting:
[code]
when running it in express js

**What is the expected behavior?**
Nock should allow me to make a POST request to a mocked endpoint with an unmatched post req body when `{allowUnmocked: true}`

**What is the actual behavior?**
Nock does not allow me to make a POST request to a mocked endpoint with an u

[2018-10-22 21:50] gr2m commented on #1202
that’s wake-up & feeding time for our babies. Can we do at least an hour later?

[2018-10-22 22:49] danielb2 commented on #1187
I never had a chance to get back to this but in my example here, I don't see anything actually being recorded in `./tmp`. Am I missing something else too?

[2018-10-23 09:41] RichardLitt commented on #1202
That should work for me. :)

[2018-10-24 08:35] RichardLitt commented on #1244
Thanks for following up. :)

[2018-10-24 19:13] diegoaguilar commented on #1206
@benplummer if you want to share some ideas about testing and mocks it'd be great for me ;-)

[2018-10-25 08:53] bohachevskyy commented on #1206
Hello @diegoaguilar please try to call `nock.enableNetConnect();`after `nockDone` initialization. It allows me to call localhost:

[code]

But there s another issue here: fixture contains timestamp in a request. The timestamp will be different each request, and fixture won't correspond.

I tried to modify timestamp in `before` func that passed as an option to nockBack, but didn't manage to do that

[2018-10-26 12:59] RichardLitt commented on #1202
I won't be able to make it today. :( I've come down with a fever. Have fun, ya'll.

[2018-10-26 16:03] jlilja commented on #1202
@gr2m Do we have a meeting room? I'm ready now.

[2018-10-26 16:51] gr2m commented on #1202
I'm sorry I tried to join but the zoom ID didn’t work, I got an "id is invalid" error :( Ugh

Let’s try again next week, same time? I’ll test the zoom ID with Richard ahead of time

[2018-10-26 17:34] jlilja commented on #1202
Yes, let's! Have a nice weekend :)

[2018-10-29 09:17] benplummer commented on #1206
@bohachevskyy Moving `nock.enableNetConnect(/127\.0\.0\.1/);` to after the `nockDone` initialisation worked for me. Thanks!

@diegoaguilar Might be worth trying the above too if you haven't already. Good luck!

[2018-10-30 12:01] JordanShurmer commented on #1239
I'm fairly certain this is due to the change in node's http api with version 10 (which is LTS as of today, btw).

compare [http 8.x](https://nodejs.org/docs/latest-v8.x/api/http.html#http_http_request_options_callback) with [http 10.x](https://nodejs.org/dist/latest-v10.x/docs/api/http.html#http_http_request_url_options_callback)

[2018-10-30 17:27] gonza01001 opened #1249 "scope.persist(false) does not work as expected"
**What is the expected behavior?**

[code]

**What is the actual behavior?**
I have 2 mocked queries
[code]

Is it ok? Or `scope.persist(false);` should clear all activeMocks?

[2018-11-02 16:52] gr2m commented on #1202
oh my did I miss it or does it start in 10min?

[2018-11-02 20:06] RichardLitt commented on #1202
I believe we both missed it. 8am PST, 11am EST (which I missed).

It's possible that the whole office hour idea is not working because there's no agenda, as opposed to because of trivial scheduling issues. What do you think? Should we rethink having these?

[2018-11-03 00:20] gr2m commented on #1202
Yes. Sorry Jonas!

I still like the idea of a regular hour when we are just there, working on nock. That would be the time when others could come and ask questions.

[2018-11-03 15:59] RichardLitt commented on #1239
Sounds like a guaranteed bug, then. A fix for this in a PR would be great. :)

[2018-11-03 17:55] jlilja commented on #1202
Yeah the time differences are a bit of an issue. If you'd like, you can still have the meetings without me - I wouldn't mind.

As an update; I'm going to be more available soon, which means I'm gonna spend more time on Nock again. Like we talked about from the last meeting - there are still things that need to be done. :)

[2018-11-03 21:14] caub commented on #1239
I updated the second simplified bug reproduction

and has a look at debugging, the issue as pointed out by JordanShurmer is now node10 allows url + options to be both passed, so [`var interceptors = interceptorsFor(options);`](https://github.com/nock/nock/blob/master/lib/intercept.js#L254) needs a rewrite to accept possibly 2 keys

[2018-11-07 01:05] AJamesPhillips commented on #507
Which dependency would be desirable to keep?  'querystring' or 'qs' ?

[2018-11-07 16:07] RichardLitt commented on #1223
This still shows Unknown - I think because the Coveralls is drawing from the coverage-setup branch and not the master branch. I spent 15 minutes and still have no idea how to switch this. I also wasn't able to upload the coveralls via the npm script:

[code]

Any ideas?

[2018-11-07 21:51] greenkeeper[bot] opened #1251 "An in-range update of aws-sdk is breaking the build 🚨"
## The devDependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.350.0` to `2.351.0`.

🚨 [View failing branch](https://github.com/nock/nock/compare/master...nock:greenkeeper%2Faws-sdk-2.351.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a devDependency of this project. It **might not br

[2018-11-09 04:16] #1176 closed

[2018-11-10 04:53] lucaslago commented on #1240
Hey, @RichardLitt would like to help on this if no1 else is already working on it.

[2018-11-11 07:07] weekly-digest[bot] opened #1252 "Weekly Digest (4 November, 2018 - 11 November, 2018)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #1251 [An in-range update of aws-sdk is breaking the build 🚨](https://github.com/nock/nock/issues/1251), by [greenkeeper[bot]](https://github.com/apps/greenkeeper)
## NOISY ISSUE
:speaker: #1251 [An in-range update of aws-sdk i

[2018-11-13 18:10] #1251 closed

[2018-11-13 21:53] #1252 closed

[2018-11-16 16:09] poupougnac opened #1253 "nock.recorder.log does not work with request using streams (AWS)"
Hi,

I need to mock S3 AWS calls.
When I use `nock.recorder.log` to make the call with the correct parameters:
[code]
I get this error :
[code]
with :

After investigating, I avoid the error when I don't mock any data :
[code]
But I still need that. Finally, after investigating further, I ended up doing:
[code]

It would be a very nice feature to get `nock.recorder.log` to detect the need of a str

[2018-11-18 07:07] weekly-digest[bot] opened #1255 "Weekly Digest (11 November, 2018 - 18 November, 2018)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #1254 [Update superagent to the latest version 🚀](https://github.com/nock/nock/pull/1254), by [greenkeeper[bot]](https://github.com/apps/greenkeeper)
:green_heart: #1253 [nock.re

[2018-11-21 18:33] gr2m commented on #1184
@gkatsanos are you still looking into it? Shall I pin the issue to leave it open for you?

[2018-11-21 18:35] gr2m commented on #1253
I also don’t know 🤔but it sure would be a cool addition! Maybe start out a pull request with a test reproducing the problem and we take it from there?

[2018-11-21 18:39] gkatsanos commented on #1184
Unfortunately we didn't continue using the library and I didn't have the chance to investigate it.

[2018-11-21 18:47] gr2m commented on #1184
No problem :) Out of curiosity, did you use another library or did you built something yourself?

[2018-11-21 18:47] #1184 closed

[2018-11-21 18:50] gkatsanos commented on #1184
Another team took over the project but I think they went for mockery.

[2018-11-21 18:52] gr2m commented on #1255
<3

[2018-11-21 18:52] #1255 closed

[2018-11-23 09:32] faissalMT commented on #1118
Is this still being worked on? It's causing real problems for us.

[2018-11-23 16:44] gr2m commented on #1118
@faissalMT nobody is working on it, it’s all yours :)

@ikokostya the motivation to close issues is to keep the project maintainable. It’s all volunteer run, so we cannot solve other people’s bugs I’m afraid, but we can make sure that contributing is as easy as possible

[2018-11-23 16:54] ikokostya commented on #1118
@gr2m

You really think, if you close all bugs automatically your make project "maintainable"? As I said, I think issues which detected as `bugs` should be ignoring by state bot. People must see actual bugs of project.

[2018-11-23 17:14] gr2m commented on #1118
I know, I’m doing this for a while :) It lets us focus on the issues that somebody is working on. When issues are closed they don’t disappear, they are just archived and can still be found when searching for it.

[2018-11-25 07:07] weekly-digest[bot] opened #1256 "Weekly Digest (18 November, 2018 - 25 November, 2018)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## MERGED PULL REQUEST
Last week, 1 pull request was merged.
:purple_heart: #1254 [Update superagent to the latest version 🚀](https://github.com/nock/nock/pull/1254), by [greenkeeper[bot]]

[2018-11-28 19:36] greenkeeper[bot] opened #1257 "An in-range update of aws-sdk is breaking the build 🚨"
## The devDependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.364.0` to `2.365.0`.

🚨 [View failing branch](https://github.com/nock/nock/compare/master...nock:greenkeeper%2Faws-sdk-2.365.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a devDependency of this project. It **might not br

[2018-11-28 19:44] #1257 closed

[2018-11-28 23:22] greenkeeper[bot] opened #1258 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.12.2` to `15.12.3`.

🚨 [View failing branch](https://github.com/nock/nock/compare/master...nock:greenkeeper%2Fsemantic-release-15.12.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

semantic-release is a de

[2018-11-29 00:42] kevinnio opened #1259 "Add a leading / if the path doesn't have it"
Recently, we bumped into an issue with nock in which it won't catch a request we were sure was being mocked correctly. We were wondering for a while until `.log(console.log)` shed some light on what the issue was.

We noticed our host url didn't have a trailing slash (`http://localhost:3000`) while at the same time our mocked path didn't have a leading slash (`api/bot/request.json`). Turns out kno

[2018-11-29 01:39] greenkeeper[bot] opened #1260 "An in-range update of aws-sdk is breaking the build 🚨"
## The devDependency [aws-sdk](https://github.com/aws/aws-sdk-js) was updated from `2.365.0` to `2.366.0`.

🚨 [View failing branch](https://github.com/nock/nock/compare/master...nock:greenkeeper%2Faws-sdk-2.366.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

aws-sdk is a devDependency of this project. It **might not br

[2018-11-29 12:59] #573 closed

[2018-11-29 12:59] #1185 closed

[2018-11-29 17:24] RichardLitt commented on #1259
I think that sounds like a pretty clear bug to fix. A PR would be great for this, especially with some accompanying tests.

[2018-11-29 20:03] #1260 closed

[2018-11-29 20:07] gr2m commented on #1202
Hey gents, I’ve a little more availablity now, too. How about we find some time that we can co-work remotely? I’d really, really like to finally get these tests taken care of :)

After that a lot of fun work is ahead of us! Most of all we can use async/await everywhere because in April Node 2019 Node 6 is out of maintenance 🎉https://github.com/nodejs/Release#release-schedule

How about Friday, Nov

[2018-12-02 07:07] weekly-digest[bot] opened #1261 "Weekly Digest (25 November, 2018 - 2 December, 2018)"
Here's the **Weekly Digest** for [*nock/nock*](https://github.com/nock/nock):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 3 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #1259 [Add a leading / if the path doesn't have it](https://github.com/nock/nock/issues/1259), by [kevinnio](https://github.com/kevinnio)
## CLOSED ISSUES
:heart: #1260 [An in-ra

[2018-12-02 18:57] #1204 closed

[2018-12-03 14:12] junaidahmed92 opened #1262 "How to use replyWithError with return reject using nock?"
I am making https request from my js file like:

[code]
    }
Now when I am using nock for this method like this:

[code]
This is throwing error 'profile error' in cmd. If I change return reject(error) with return callback(error) then it it is working fine and my test case is passing. How can I reply error for return reject(error)