[2016-02-25 16:54] JemiloII commented on #470
I might have to update this again, need to run some more test, but I think that nock isn't properly doing reqHeaders matches.

[2016-02-26 11:54] bhar629 opened #485 "How to use nock to mimic multiple couch db requests"
var cloudant = require('cloudant')(https://cloudant_url);
var userdb = cloudant.db.use('user');
var addrdb = cloudant.db.use('address');

function onChange(username) {

    userdb.get(username, function(err,resp) {
        var user_id = resp.id;
        addrdb.get(user_id,function(err1,resp1){
            var addr = resp1.address;
        });
    });
};

var nockVar = function() {
nock(testCloudan

[2016-02-26 12:00] pgte commented on #485
When you setup an interceptor for an URL and that interceptor is used, it is removed from the interceptor list. This means that you can intercept 2 or more calls to the same URL and return different things on each of them. It also means that you must setup one interceptor for each request you are going to have, otherwise nock will throw an error because that URL was not present in the interceptor

[2016-02-26 12:00] #485 closed

[2016-02-26 16:52] bhar629 commented on #485
Theoretically i understand it is possible. I've pasted you the sample code.Can you tell me what should I do to make it work?

[2016-02-26 20:25] JemiloII commented on #483
awesome, request-promise looks like a cool module too.

[2016-02-29 09:34] satazor opened #486 "Incorrect header check"
I'm trying to use `nock.back` to mock requests to the `GitHub` API.

I've a single test in which the first run fails with:

[code]

but the fixtures are generated correctly:

[code]

 the second time it runs, it uses the mocks and the test passes.

Here's the [code](https://github.com/IndigoUnited/node-gh-issuestats/blob/4cb3840bc87a8b1a6a18bac83b899d20e216500c/test/test.js#L9). What am I doing wr

[2016-02-29 09:44] satazor opened #487 "Add ability to record request headers with nock.back"
From what I see, it's impossible to `enable_reqheaders_recording` in nock.back. It would be awesome if it did, because I'm trying to nock some requests that have authentication with tokens via headers.

Thoughts?

[2016-02-29 11:43] pgte commented on #487
@kelaban any thoughts?

[2016-02-29 11:43] pgte commented on #486
@kelaban any thoughts?

[2016-02-29 11:44] pgte commented on #484
@kelaban any thoughts?

[2016-02-29 11:56] pgte opened #488 "Moving nock repo to it's own github org"
I'm planning to move this repo to it's own org and inviting a few maintainers from the community.
There, I'm planning on splitting this into a few modules, separating nockback and create a simple static website.

Thoughts?

[2016-02-29 12:03] pgte commented on #468
@kelaban thoughts?

[2016-02-29 12:10] pgte commented on #488
Out of the top of my head, I'm inviting @ierceg, @fent , @BinChang , @tinogomes , @kelaban. Are you in?
Am I missing someone? Please drop a line here.

[2016-02-29 12:10] pgte commented on #488
Also @ruimarinho.

[2016-02-29 13:16] ierceg commented on #488
I like this plan. Count me in.

[2016-02-29 18:28] tinogomes commented on #488
@pgte Nice moving.

[2016-03-01 00:45] ruimarinho commented on #488
I'm +1 on this.

[2016-03-01 02:42] swashcap opened #489 ".reply() errors with function/callback"
* **OS:** OS X 10.11.3
* **Node:** v5.7.0
* **NPM:** v3.8.0
* **nock:** nock@7.2.2
* **Bug:** `.reply` doesn’t support function with callback

Hi. Checking out nock for the first time. It’s pretty neat!

Unfortunately, I’m having trouble using a callback `.reply` as [specified in the docs](https://github.com/pgte/nock#specifying-replies):

I’m using nock to test a PouchDB plugin we’re writing. Her

[2016-03-01 03:37] robinbobbitt opened #490 "allowUnmocked causes no requests to match when query is specified"
[code]

With the code above, my request does NOT match and goes to google.com.
$ node nockTest.js
response.statusCode: 404

By changing allowUnmocked to false, I get:

$ node nockTest.js
matching https://www.google.com:443?user=fred to GET https://www.google.com:443/abc with query({"user":"fred"}): true
Match!

I am able to work around this and keep allowUnmocked=true by using a filteringPath to r

[2016-03-01 03:51] robinbobbitt opened #491 "allowUnmocked stops working once interceptor is removed"
[code]

In the code above, I would expect the first and third request to go through to google.com. However, the third request hits the "no match" error from Nock, as seen here:

$ node nockTest.js
matching https://www.google.com:443 to GET https://www.google.com:443/abc: true
error: Error: Nock: No match for request GET https://www.google.com/123?user=fred
Match!
response.statusCode: 404

I am abl

[2016-03-01 06:25] swashcap commented on #489
Here’s the full output from setting `DEBUG=nock.*`:

[code]

[2016-03-01 06:27] swashcap commented on #489
I’m also noticing that tests at 5cf92d157657b97e49854838cbda2150676f9c2f _aren’t_ passing on my machine. Seems to error/hang on “records and replays objects correctly” (which is in _tests/test_recorder.js_):

[code]

[2016-03-01 07:00] swashcap commented on #489
_Okay,_ this error is pretty useless. The real problem is [in _lib/request_overrider.js_](https://github.com/pgte/nock/blob/5cf92d157657b97e49854838cbda2150676f9c2f/lib/request_overrider.js#L297-L299):

[code]

We’re issuing `GET` requests, so `requestBody` is empty. `JSON.parse` is blowing up:

![omg-nock-bugz](https://cloud.githubusercontent.com/assets/1858316/13420111/3c5222f0-df38-11e5-912e-69

[2016-03-01 07:14] swashcap commented on #489
I’d be happy to put together a PR for this. What would you think about checking if `requestBody` is present:

[code]

Or, since only `POST` and `PUT` methods should have bodies, the HTTP method could be exposed on `req` for something like this:

[code]

[2016-03-01 10:19] nschloe commented on #484
This is the reason why I had to disable nock for my tests. Very interested in a fix.

[2016-03-01 16:02] pgte commented on #489
@swashcap agree, a PR is welcome.
I'd prefer the first option, it's more generic.

[2016-03-01 16:05] pgte commented on #490
@robinbobbitt sounds like a bug around the behavior dependent on `allowUnmocked` being `true`.

[2016-03-01 19:01] swashcap commented on #489
_Great!_ See #492.

[2016-03-02 09:21] blackpost38 opened #493 "$.ajax Content-Type option problem"
I have some problem.

If I give a second argument `nock(HOST_NAME).post(ENDPOINT, {...})` method, I get an error.
But If i remove content-type option, It works...

What does it have problem?

sample code is below
[code]

[2016-03-02 22:15] bfeigin commented on #380
Hi all @sidabs  it seems like the example might be wrong. Looking at [lib/back.js#L47](https://github.com/pgte/nock/blob/master/lib/back.js#L47 )
it seems like you need to pass an object with {before: before} to the nock call
try something like
[code]
Looking at this now i realize it's a pretty old issue :sweat_smile: but hope it helps.

[2016-03-03 00:39] ruimarinho commented on #493
If you enable debug mode (`DEBUG=*nock*` node), do you see any specific content header added by `$.ajax` besides `application/json`?

[2016-03-03 01:49] blackpost38 commented on #493
oh... maybe you told me `setHeader` logs.
It might work when it set default content-type (`application/x-www-form-urlencoded; charset=UTF-8`)

[code]

I found why It doesn't match. below is that log. humm... It looks weird..
[code]

[2016-03-03 14:25] andrenarchy commented on #484
Any news or ideas?

[2016-03-03 15:48] gjorquera commented on #484
I have this same use case, I'm testing my own server mocking requests to external servers but allowing localhost to work. I found this workaround:

[code]

[2016-03-04 09:02] bitgal commented on #484
:+1:

[2016-03-04 22:05] #489 closed

[2016-03-05 10:57] satazor commented on #486
Bump

[2016-03-07 05:51] soroushjp commented on #398
@vquigley Sorry about delay. I haven't had a chance to spend time working on this sadly. I would still love the feature and intend to work on it when I get a chance, but feel free to take over if you are eager to.

[2016-03-07 13:25] vquigley commented on #398
@soroushjp I understand. I've loads on ATM as well but might have a crack at it.

[2016-03-08 10:30] antoinerey commented on #475
I still have the same issue, and I'm using the 7.2.2. I also tried the 7.3.0 and 7.4.0, nothing changed.

[code]

[2016-03-08 16:57] timjrobinson opened #495 "Mock all requests to a host"
I can't find an easy way to mock all (GET/POST/DELETE etc) requests to a certain hostname for any path. I want to do something like:

[code]

So that any requests being sent out to raygun during testing will simply go into a black hole and act as if they got sent correctly.

[2016-03-08 23:51] jiggliemon opened #496 "TypeError when replying with JSON if delay is set."
This is throwing a type error.
[code]

It works fine w/o the delay applied.

[2016-03-10 11:04] pgte commented on #496
@jiggliemon I've added this test to master and it seams to be passing...

What nock version are you using?

[2016-03-10 11:12] pgte commented on #495
It's a bit twisted, but you could persist a scope and have canned responses for all methods you need.
Something like this, off the top of my head:

[code]
Something around this. Not sure it will work, though...

[2016-03-11 12:39] initialize commented on #191
+1

[2016-03-11 14:42] timjrobinson commented on #495
Thanks! Could I create a PR to add an `all()` method that basically does what you posted?

[2016-03-12 16:32] pgte commented on #495
I'd prefer you'd call it `.any()` (to match any method and any path).
Also, please make it not persistent so that it can be more useful.

In your case you'd have to call:

[code]

Sounds good?

[2016-03-14 18:40] timjrobinson commented on #495
Sounds good, I'll create a PR soon

[2016-03-14 18:56] pnsrinivasreddy opened #497 "Issue with getting Nock response into call function"
I just started using nock to intercept http calls. Below is the code I am using in a unit test case after importing the required modules.

it('testing superagent using nock..', function () {

let mockData = {
scope: this,
data: {"title":"test"},
callback: function (data){console.log(data)},//expecting {id:10} here.but nothing is coming
errback: function(err) {console.log(err)}
};

nock('http://loc

[2016-03-14 21:34] pgte commented on #497
I'm not a user of superagent, but it looks like your code or superagent are failing to collect the response body, it doesn't look like a problem with nock.

Please reopen this if you find that nock is the problem.

[2016-03-14 21:34] #497 closed

[2016-03-14 21:39] pgte commented on #493
looks like the data you're sending doesn't match `{comment: "message"}`.
By your code it looks like the requst body is `'comment=some+comment&score=2&product_id=3&user_id=4'`...
Please reopen if you think that nock is not matching correctly.

[2016-03-14 21:39] #493 closed

[2016-03-15 02:02] blackpost38 commented on #493
oh.. thanks your response.
I'm checking, and then leaving comment. :+1:

[2016-03-16 11:52] pgte opened #498 "Logo"
the node-nock github org needs a logo.

[2016-03-16 12:04] pgte opened #499 "extract nock.back"
Extract nock.back into it's own separate repo and package.

[2016-03-16 12:06] pgte commented on #488
Done: https://github.com/node-nock

[2016-03-16 12:06] #488 closed

[2016-03-16 17:50] pasupulaphani opened #500 ""double callback" errors when nock.disableNetConnect() called twice"

[2016-03-17 09:19] pgte commented on #500
@pasupulaphani could you please post a snippet that makes this happen?

[2016-03-17 09:54] pasupulaphani commented on #500
Please consider a scenario where this is called in Mocha before method and somewhere in tests we wanted to ensure it is set, so, calling it again in a test causes the fail.

[2016-03-17 09:56] pgte commented on #500
@pasupulaphani From you description I'm not sure how to reproduce this.

Please feel free to reopen this ticket once you post a snippet I can reproduce.

[2016-03-17 09:56] #500 closed

[2016-03-17 10:14] pasupulaphani commented on #500
I guess it could be because we are on 2.15.0 :/

[2016-03-20 00:24] reconbot opened #502 "`disableNetConnect` appears incompatible with `got`"
[got](https://github.com/sindresorhus/got) is a pretty sweet promised based request library. I've been making an api wrapper with it and have been using `nock` for testing. It's been great! However for some reason when I disable network connections with `disableNetConnect` my tests hang. I traced this down to the `got` promise never resolving. It was very frustrating.

I've opened an issue with my

[2016-03-20 02:32] satazor commented on #486
PR at #503

[2016-03-20 02:35] satazor commented on #487
@pgte I can do a PR, how about add a `recorder` option to back, to pass custom recorder options in [here](https://github.com/node-nock/nock/blob/master/lib/back.js#L157) (mixing in those options)

[2016-03-20 12:58] pgte commented on #487
Good idea.

On 20 Mar 2016 02:35 +0000, André Cruz<notifications@github.com>, wrote:

[2016-03-20 16:32] #502 closed

[2016-03-20 18:00] #486 closed

[2016-03-20 18:01] #487 closed

[2016-03-21 07:43] happybai commented on #409
+1

[2016-03-21 08:53] mijamo commented on #191
This would be really great to be able to test that parameters received are the ones expected.

[2016-03-21 11:57] export-mike opened #505 "nock appears to be setting text/html content-type..."
I have the following test. my action triggers two requests via fetch. first one seems to work fine. second one seems to be getting content-type text/html?

[code]

which calls my apiclient code which uses fetch.
I'm using mocha for my testing and setting fetch globally to be -r isomorphic-fetch in my mocha.opts.

[code]

any guidance would be very helpful thanks.

[2016-03-21 11:59] export-mike commented on #505
within fetchClientDetails the response headers are text/html
see: ``` console.log(r.headers.get('Content-Type')); // text/html
    return r.json();}) // throws error error [SyntaxError: Unexpected token <]```

[2016-03-21 12:40] export-mike commented on #505
I've also tested using an alternative node fetch polyfill https://www.npmjs.com/package/node-fetch and getting the same error.

[2016-03-21 21:22] jeffcharles opened #506 "delayBody doesn't trigger timeout or sockettimeout unlike testing against an actual http server"
When I run https://github.com/request/request against an actual HTTP server that delays closing the HTTP request after sending headers, I get a timeout or socket timeout. When I run it against nock configured to perform a delayBody with the same time, I do not get a timeout or socket timeout.

Take a look at https://github.com/jeffcharles/nock-timeout-testcase for an executable example. Running it

[2016-03-22 11:29] pgte commented on #496
Closing this one for lack of feedback.

Please reopen if you can add more info.

[2016-03-22 11:29] #496 closed

[2016-03-22 15:51] jeffora opened #507 "nock mixes usage of qs and querystring"
It appears `nock` mixes usage of native node `querystring` module and npm installed `qs` module for parsing querystring-like objects.

In `nock/lib/interceptor.js` it requires `qs` (a dependency in package.json), but in `nock/lib/match_body.js` it requires `querystring`, the native node library.

These two libraries have different outputs. For example:

[code]

This means interceptors and body mat

[2016-03-24 02:00] chazomaticus opened #508 "Differing behavior of scopes created with strings vs. RegExps"
I'm seeing some strange behavior with nock, tested against current master.  Here's a `test.js` script to demonstrate:

[code]

Running that script as-is gives the expected output:

[code]

However, if you comment out the first nock call at the top and uncomment out the second, identical except for the scope specifier being wrapped in new RegExp(), you'll see:

[code]

Somehow the first intercept i

[2016-03-24 18:00] chazomaticus commented on #508
This is on node v0.12.9, by the way.

[2016-03-25 09:16] tusharmath opened #511 "socket.destroyed is undefined?"
[code]

Is it because its not a documented API  https://github.com/nodejs/node/issues/5898

[2016-03-25 10:02] ericsaboia commented on #508
Looks like a bug, I can take a look today/tomorrow.

[2016-03-25 10:36] pgte commented on #511
Nock emulates a socket object, but only some parts, and this part is not documented.

Also, in the real world, ending a request doesn't mean the socket gets destroyed if the server supports keep-alive..

[2016-03-25 10:37] pgte commented on #507
@jeffora Good catch.

A PR would be welcome..

[2016-03-25 14:16] tusharmath commented on #511
In my use case I have written a unit test where I am manually destroying the http request using its destroy method. To assert if the request has been destroyed or not, I need to check `destroyed` property on its socket or the `remoteAddress`.

[2016-03-25 16:36] kevinburkeshyp opened #513 "Running the full test suite modifies tests/browserify-public/browserify-bundle.js"
I'm not sure what's happening or why; it appears that some of the line numbers are changing. I'm also not sure how reproducible this is beyond my machine; I'm running node v4.4.0.

Here's an example diff:

[code]

I pushed a branch with the full set of changes here: https://github.com/node-nock/nock/compare/master...kevinburkeshyp:browserify-changes?expand=1

[2016-03-25 17:37] #511 closed

[2016-03-25 17:39] pgte commented on #513
I failed updating the browserify bundle. Fixed by e4d74331138973cdd4054943a443130720db53a1

[2016-03-25 17:39] #513 closed

[2016-03-25 17:39] kevinburkeshyp commented on #513
Thanks!

[2016-03-25 17:41] pgte commented on #511
Fix landed on v7.7.0

[2016-03-25 18:24] jhnlsn opened #515 "npm install nock returns a 404"
It appears you guys just released a new version of nock and npm is saying that it does not exist.

[code]

[2016-03-25 18:40] seanmcintyre commented on #515
![giphy 3](https://cloud.githubusercontent.com/assets/319302/14051194/76667b36-f297-11e5-9645-643f438c8416.gif)

[2016-03-25 19:31] djett41 commented on #515
These pretzels are making me thirsty

[2016-03-25 19:57] aivus commented on #515
I think it caused by http://status.npmjs.org/incidents/x726c1qdddf6

[2016-03-25 20:01] fhemberger commented on #515
@aivus Yes, you're right: https://twitter.com/ag_dubs/status/713452276262813696
Should be fixed soon.

[2016-03-25 22:03] aivus commented on #515
@pgte could you republish latest version on npm?

[2016-03-25 22:59] pgte commented on #515
published v7.7.2.

[2016-03-25 22:59] #515 closed

[2016-03-26 04:29] tusharmath commented on #511
thanks!

[2016-03-27 10:41] jamesfiltness commented on #409
+1

[2016-03-28 14:33] halleycarleton opened #516 "function passed into `.query()` is never called"
I'm trying to use a function to determine if a query passes, as described in the docs. But no matter what I do the function is never called.

Here is the nock setup:
[code]

If I pass true instead it passes.

[code]

I was having this issue using nock  7.4.0, and have since updated to nock 7.7.2 and am still having the issue.

[2016-03-28 15:20] #516 closed

[2016-03-28 15:45] halleycarleton commented on #516
I'm not sure how, but this resolved itself. I must have unknowingly fixed a user error while I was trying to figure out what the issue was.

[2016-03-29 07:53] kunyan opened #517 "Is there any way that I can turn off proxy when I used nock ?"
I'm living in China  and I have to use a proxy to cross GFW.
when I checkout out some projects which has use nock in their test file.
I have to add their mock domain to my no_proxy list one by one.

Is there any way to turn off proxy automatically when call the mock domain ?
or add them into no_proxy automatically ?

I know it is might be out of nock part. However, if it could be implemented, it w

[2016-03-30 00:35] GabeIsman opened #518 "Nock doesn't work with the latest version of jsdom"
Jsdom has updated the way they implement `XMLHttpRequest` in [version 8.2.0](https://github.com/tmpvar/jsdom/commit/1509f5be6979dd20e336cbca1bdc0182e9210e81). My test suite sets up jsdom for some (unrelated to nock) UI tests. With version 8.2.0 of jsdom installed nock fails to mock requests (they actually hit the network). Version 8.1.0 works fine. Tested with version 7.7.2 of nock.

cc @domenic,

[2016-04-03 12:58] ericsaboia commented on #508
Pull request opened. Sorry for the delay.

[2016-04-04 11:17] pgte commented on #508
Fixed by https://github.com/node-nock/nock/pull/520

Landed on v7.7.3.

[2016-04-04 11:17] #508 closed

[2016-04-04 18:31] chazomaticus commented on #508
:+1: thanks!

[2016-04-06 08:09] yra99ary commented on #498
@pgte
I would like to help you.
What you want it to look like?
Can you show me link to references or similar things.
Thanks.

[2016-04-06 12:18] cw6365 opened #523 "Reset the interceptor queue"
Is there a way to reset the interceptor queue after all interceptors have been used, eg an .after() after the last inceptor and a call to resetAll().

I have 2 different responses from the same API call, a valid response and an error. Because the request i want to Nock is a 3rd party API call (Stripe) within the API call i'm testing (my express API), i have used Nock as part of starting up the tes

[2016-04-06 16:09] pgte commented on #523
@cw6365 would a call to `nock.cleanAll()` before each test work?

[2016-04-06 19:43] ryanjuve-porch commented on #518
I ran into this same issue trying to mock a complicated POST.  Rolling back to jdsom 8.1.0 fixed it for me as well.

[2016-04-06 19:55] domenic commented on #518
This seems likely because you are trying to do invalid cross-origin requests. Did you correctly set a URL in your jsdom document, using the `url:` option?

[2016-04-06 21:00] ryanjuve-porch commented on #518
Aha! As @domenic suggested, setting a url in the config object for `jsdom.jsdom()` has fixed my issue while using `jsdom@8.3.0`

[2016-04-07 02:25] bdentino opened #524 "Chunked transfer record fails to properly encode/decode recorded response"
I'm trying to nock-back a binary file download; it's a chunked transfer of an excel file from google docs. It saves the chunked response as a single hex string, and when this is replayed, my application chokes on the response data because it doesn't appear to be encoded the same way. There is no `content-encoding` header in the response, but there is a `transfer-encoding` header, and I've identifi

[2016-04-07 03:36] aredridel opened #525 "What's the actual breaking change in nock 8?"
Looked at the change log but really hard to tell what makes it breaking and whether I have to adapt for it.

[2016-04-07 05:03] Nagarjuna-S opened #526 "nock is not working for get all docs with query string"
I am using db.list(selector,callback) method from cloudant node module. I want to mock that request. I have defied the nock like below

 nock(cloudant_url)
	.get('/db/_all_docs')
	.query({include_docs: true, keys: []})
	.reply(200,{"rows":[]})

But its not mocking that call. My cloudant invocation failed with connection. I have printed the request object in nock node module.

{"method":"GET","head

[2016-04-07 07:04] PommeVerte opened #527 "nock not working with jquery?"
Hey guys, I might be doing this wrong but the following does not work (packed with webpack)
[code]

Is this simply because nock doesn't work with browser ajax?

Thanks!

[2016-04-07 08:19] #518 closed

[2016-04-07 08:21] pgte commented on #525
just caution and cascading from updating major versions in deps and lots of test changes, something I'm always afraid of..

[2016-04-07 08:21] #525 closed

[2016-04-07 08:33] pgte commented on #527
Nock only mocks the node HTTP client, and jQuery is not using that...

[2016-04-07 08:33] #527 closed

[2016-04-07 08:36] pgte commented on #526
@Nagarjuna-S may only be a type from you, but it looks like the uri you're trying to invoke may be different from the one you're setting up the mock to.

You can debug nock interception by [using an environment variable](https://github.com/node-nock/nock#debugging) or by [using `.log(fn)` on the interceptor](https://github.com/node-nock/nock#logging).

Please reopen if you think this is still an i

[2016-04-07 08:36] #526 closed

[2016-04-07 09:13] pgte commented on #524
@bdentino this introduces some problems in encoding and decoding.
I'll have to take a deeper look into how nock is and should be handling transfer encoding...

[2016-04-07 10:27] pgte commented on #517
I sympathize, but I'm not sure how nock can help here.
Please reopen this if you think of a way nock could make it simpler for you without introducing more complexity I would be all hears :)

[2016-04-07 10:27] #517 closed

[2016-04-07 10:37] Nagarjuna-S commented on #526
Hi,

My uri is correct.. I want to mock https url. So in nock also I am giving url with https then its not working.. If I make it nock url to http then its working fine. I have seen this behavior for _all_docs call only. If I tried different url like /db/id then its working fine.. Please have a look on it

[2016-04-07 10:38] Nagarjuna-S commented on #526
Hi @pgte

I am not able to reopen this issue.. Can you please check my analysis above and provide me your inputs.

Thanks
Nagarjuna

[2016-04-07 11:00] pgte commented on #526
By the look of the code you pasted you're not.
Please provide a short failing test I can reproduce and I'll take a look.

Thanks.

On 7 Apr 2016 11:38 +0100, Nagarjuna-S<notifications@github.com>, wrote:

[2016-04-07 12:00] Nagarjuna-S commented on #526
Hi,

Its looking like problem is not with http or https. Its looking like query strings.

My db call will like below

connectionsDB.list({include_docs: true}, function (err, data) {});

and equivalent rest url is

{"method":"GET","headers":{"content-type":"application/json","accept":"applicati
on/json"},"uri":"https://cloudant.com/connections/_all_docs","qs":{"include_docs":tru
e}}

and mocking co

[2016-04-07 12:11] pgte commented on #526
I'm not sure, I cannot tell without reproducing it, mainly because I can't guess what connectionsDB is doing.

I can help you only if you follow my first advise or place here some code I can reproduce.

[2016-04-07 12:12] pgte commented on #526
also, look out for the string representation of `true`. Perhaps try replacing it with the "true" string instead of a boolean.

[2016-04-07 13:16] aredridel commented on #525
Aha! I had to spend some time reading to try to figure out what I needed to change to adapt to any new interface. Sounds like there isn't any.

[2016-04-10 18:40] srkimir commented on #506
+1

i believe i tried same thing, following code will return `then block should not execute:  Hello from Google!` while i would expect `ETIMEDOUT`

`mocha test/force-req-timeout.test.js --timeout=10000`

[code]

http://stackoverflow.com/questions/36533807/how-to-etimedout-with-nock-and-request-library

[2016-04-11 00:07] satazor opened #529 "Recorder/back does not play well with got's redirect handling"
`got` makes a new request when there's a location header, "re-using" the same options object: https://github.com/sindresorhus/got/blob/master/index.js#L48

Because `recorder` assigns `_recording` to the options object, the new request already has `_recording` set to true, which gets ignored: https://github.com/node-nock/nock/blob/master/lib/recorder.js#L228

Solutions?

[2016-04-11 00:58] satazor opened #530 "Issue using nock back to replay GitHub tarball downloads"
I'm trying to use nock back in https://github.com/npms-io/npms-analyzer tests but I'm facing issues in mocking GitHub tarball downloads, e.g.: https://api.github.com/repos/IndigoUnited/node-cross-spawn/tarball/34bb37ef65c431891f5cc4f033b418dbb24084ae

After investigation, adding `hex` encoding here fixed it: https://github.com/node-nock/nock/blob/master/lib/request_overrider.js#L413. Though, tests

[2016-04-11 17:49] GabeIsman commented on #518
@domenic I am deeply confused as to why that should make any difference to nock, but alright! It works. Maybe consider adding some documentation to warn people about this behavior?

[2016-04-13 18:40] stevenp commented on #475
Confirmed that this is still an issue with webpack for me as of 8.0.0.

[2016-04-15 14:17] 0815fox opened #532 ".log() should log the complete request URL"
I do a request to URL:

[code]

And configure nock as follows:

[code]

Then I get the following log output from nock:

[code]

However, having multiple requests to different URLs I'd like to see the complete URL like this (modified output as I would like to have it):

[code]

[2016-04-16 19:48] AndersAstrand opened #533 "Stripping newlines from the body makes matching xml requests problematic."
For example the following xml

[code]

Is very much not the same as

[code]

And since I use a function to match the xml only the request body gets filtered.

I am currenty using `this.body.toString()` instead of the body parameter sent to the function as a workaround.

I see three obvious solutions.
1. Don't filter the new lines in the request body when a function is used to match.

   This makes

[2016-04-17 13:43] pgte opened #535 "maintenance and owners"
Nock's first commit was 5 years ago. Since then, the project has grown to more than 3000 stars and has welcomed more than 100 contributors. Almost every single day since inception I've dedicated some time to the project, published almost 200 releases and curated more than 500 issues. The time has come for me to give way to other maintainers. I believe that a healthy open-source project should be d

[2016-04-20 09:59] nandums opened #537 "Improvement - No provision to support for chaining of different responses for the same url/action"
Example `nock('http://myapp.iriscouch.com').get('/users/1').reply(‘200’, 'response 1').reply(‘200’, 'response 2').reply(‘200’, 'response 3').reply(‘200’, 'response 4')`

Background - I am using [cucumber  ](https://cucumber.io/)for a  BDD(Behaviour-Driven Development) to test our system. Following are the simple steps I have,
-   when the step definition ‘Given the system is started’ encounters –

[2016-04-22 03:24] huanghaiyang opened #538 "how to intercept express.js router"
how to nock request url before express's router is used

[2016-04-22 12:57] LinusU opened #539 "Headers returned from function isn't lower cased"
Headers returned from a mock function isn't lower cased, compare the two following examples.

[code]

[code]

The first one correctly has `res.headers['x-test']` set to "Hello", the other example on the other hand still has the key capitalised.

[2016-04-22 14:41] rawgni commented on #538
maybe something like:

`node(baseURL).get(route).query(true).reply(function(uri, rb, cb) { });`

[2016-04-25 14:53] LinusU opened #540 "Express style paths"
I think it would be very useful to be able to use express-like paths. It's especially useful when mocking an api that needs to store some simple state.

e.g.

[code]

[2016-04-25 19:53] djanowski commented on #495
Please also add a way to remove such interceptor. Currently it's impossible.

[2016-04-27 11:21] 0815fox opened #541 "Issues with parallel testing"
I just came across #30 because I was wondering about why my tests seemed to be somehow related to each other. Of course, they are running in parallel and my code makes excessive use of promises...
After thinking a little bit about it, following idea came to my mind:
[code]
So, ready on the scope object returned by the call to nock is a promise, which fulfills as soon, as the scope is "free for use

[2016-05-01 20:28] terinjokes commented on #516
I'm definitely still seeing this error.

[code]

[2016-05-02 15:22] srkimir opened #543 "No match for request POST even nock successfully matched request"
How real request data looks like:

[code]

How im trying to match this request with nock:

[code]

From log statement, i can see that nock is able to match this request:
`matching https://dynamodb.us-east-1.amazonaws.com:443 to POST https://dynamodb.us-east-1.amazonaws.com:443/: true`, but im not receiving `503, 'The service is currently unavailable or busy.'`, but error:
`'Nock: No match for requ

[2016-05-02 22:25] naw commented on #516
Yes I'm seeing this also. It seems if the actual HTTP request contains a query string, the query function is called, but if the HTTP request does not contain a query string, the query function is _not_ called.

I would have expected the query function always to be called regardless of whether the actual HTTP request has a query string.

[2016-05-02 22:55] terinjokes commented on #516
That's what I see, and also what I expect. If my code doesn't have query parameters, and I tell nock it should, I want my tests to fail, not silently succeed.

[2016-05-02 23:01] naw commented on #405
I see that this is intentional, but I was _really_ surprised by this behavior.

Currently there is no way to nock a request with a specific query string without _also_ nocking a request against the same URL that has no query string.

This affects query objects as well as query functions.

Is there a reason you wouldn't want to support the ability to nock `http://localhost/some/url?someQueryString`

[2016-05-02 23:42] xonev opened #546 "Tests do not throw an error even when `allowUnmocked` is not set to `true`"
I have some tests that hit the Instagram API. I am trying to mock them out using `nock`, and doing so works fine. However, the remaining Instagram tests that I have not mocked out continue to hit the Instagram API even though I would expect them to throw an error. I will try to share the relevant code:

[code]

[2016-05-04 21:47] sidabs commented on #380
hey @bfeigin, thanks!  Could you give an example of how we could leverage this to filter a path that has a dynamic timestamp?

For example, I was able to attach a `filteringRequestBody` to the scop, but `filteringPath` didn't work.

[code]

The above results in the output that shows that `filteringPath` isn't properly being called.
[code]

[2016-05-09 13:53] alexanderchr opened #552 "Unintuitive error message when specifying a hostname without protocol and trailing slash"
`nock('http://localhost')` - works

`nock('localhost/')` - works

`nock('localhost')` - fails with:

[code]

The readme specifies that the protocol is optional, but says nothing about the trailing slash. Please excuse me if this is intended behavior although the error message could be improved anyway.

[2016-05-09 15:02] froginvasion commented on #431
Anyone has an idea how to do this when using `isomorphic-fetch` (a browser fetch implementation) without prefixing every request with the hostname? I'd like not to have to add this in every ajax request I have to do just for the sake of the tests.

[2016-05-10 19:21] vhpoet commented on #344
@BinChang thank you!

[2016-05-10 19:21] #344 closed

[2016-05-12 15:23] nfriedly commented on #191
BTW, you can sort of fake it right now - the body is passed in as a string.. but sometimes it's utf-8 and other times it's hex, depending on the body.

However, [this](https://github.com/watson-developer-cloud/node-sdk/blob/f1786d5bf1f41722bbd66c8e89aa5e219bd11349/test/test.document_conversion.v1.js#L86) was good enough for me - run the regex on the body as a string, and if that fails to match, tr

[2016-05-16 22:24] kwhitaker commented on #518
@ryanjuve-porch can you post an example of what you did? I'm running tests for some CORS requests and nock is still letting them connect, even after trying `jsdom('', {url: 'http://localhost'})`.  Any help is appreciated.

[2016-05-16 23:19] ryanjuve-porch commented on #518
@kwhitaker for my use case I use a url (`front.dev.porch.com`) that redirects to localhost via my hosts file.  So my jsdom call is:
[code]
Then hitting `http://front.dev.porch.com:9339/foo/service/route` worked within my tests.  I did need to use `nock.recoreder.rec()` to get the EXACT nock calls necessary for intercepting to work, just FYI.

[2016-05-17 10:59] export-mike commented on #505
Simple example works fine, its somewhere in the code above ^^^
[code]

[2016-05-17 13:23] lblinovs opened #556 "Test http request"
Asuming I need to test http request itself (to see what is being sent) I would use recording option. But how do I stop the real http request (nock.disableNetConnect() doesn't work with recording)?

[2016-05-17 17:31] purezen opened #558 "How do I set the 'statusText' property in mock response?"
I am trying to mock a response for a post call using
[code]
However, the response doesn't work for me since I need the 'statusText' property to be set. The response I receive using it is
[code]
The response of an actual call is
[code]
Also, the api call that the `nock.recorder.rec()` call gave

[code]
didn't work for me.
Thanks

[2016-05-17 21:45] kevinburkeshyp commented on #535
Thanks for everything that you've done @pgte!

[2016-05-18 07:47] devang-kredx commented on #469
+1

[2016-05-18 11:52] purezen commented on #558
It looks like nock doesn't support this atm. https://github.com/node-nock/nock/issues/469
Is there any workaround?

[2016-05-18 11:56] purezen commented on #469
+1

[2016-05-18 15:56] aaaristo commented on #409
+1

[2016-05-20 19:23] cameronsutter commented on #257
This is old, so it probably doesn't help you, but I ran into this and what I think is happening is that SQS is looking for a specific XML response (including an MD5 of the message) and if it doesn't get that, it tries up to 4 times to send the message.

The XML format that worked for me is:

    <SendMessageResponse>
      <SendMessageResult>
        <MD5OfMessageBody>${md5}</MD5OfMessageBody>

[2016-05-20 20:45] silvenon opened #562 "Mock root"
I'm trying to mock calls to `/users`, so requests are going to the root. When I try to do:

[code]

I get `TypeError: Cannot read property 'replace' of null`.

[2016-05-22 20:58] CodeMan99 opened #564 "Help, Request body is not encoded as expected."
The following block fails to catch the expected request.

[code]

Doing the same thing, except manually encoding the body *does* catch the expected request.

[code]

What am I missing?

[2016-05-22 21:10] CodeMan99 commented on #564
Sorry! Totally missed I should be using `.query` for my case.

[2016-05-22 21:10] #564 closed

[2016-05-23 18:46] ssbrewster commented on #535
@pgte thanks for such an amazing project. Has anyone stepped forward to review pull requests (I'm working on #469 and hopefully someone will be around to review it when it is done)?

[2016-05-23 19:28] nfriedly commented on #556
I don't think that's possible right now - the recording option is designed to record both the request and the response.

[2016-05-24 05:58] lblinovs commented on #556
I've decided to use reply function to get a request from there and parse the parameters. But I assume that wouldn't help if sending post request.

[2016-05-27 09:53] roychoo opened #571 "Exact body match"
Hi,

it seems that it doesn't do a exact body match,
i.e if body has a attribute and spec doesn't have it, it is true.

i think it is due to this
https://github.com/node-nock/nock/blob/master/lib/match_body.js#L60-L65

is this by design?

[2016-05-27 11:20] export-mike commented on #505
I wasn't returning all promises, I'm using mocha.
before:
[code]
after: (working)
[code]

[2016-05-27 11:20] #505 closed

[2016-05-27 14:59] eschwartz commented on #525
Do you think we could add a note to the changelog with this information? I had the same question about v8, and I was avoiding upgrading because of it.

[2016-05-28 13:20] purezen commented on #535
@ssbrewster would like to work on #469. Can you give me some hints?

[2016-05-31 16:32] ssbrewster commented on #535
@purezen I thought about replacing `statusCode` with an options object so that you can pass in more than just the status code and message but i think that would be optimising for something that hasn't been asked for so instead i'm working through where status code is referenced and adding the functionality to include an object that can include status code and message. You also need to ensure that

[2016-05-31 16:48] ssbrewster commented on #546
Any requests you don't nock will not be intercepted and can hit external endpoints. Does the actual request that comes back from the instagram api match your expectations so gives a 200 status code and body has `mentions` property with length greater than 0?

[2016-06-01 17:09] JemiloII opened #573 "How to nock custom protocol?"
Trying to nock ldap request. It uses `ldap://` and `ldaps://`, How can I tell nock to look for this?

[2016-06-03 10:26] JuHwon commented on #150
@miazoom @choonkending having the same issue while following the redux test examples from the doc.
Did you solve this?

[2016-06-03 19:53] lukas-gitl opened #576 "nockBack: AWS s3.getObjects() doesn't work correctly"
See #575

Basically the data gets hex encoded, but isn't converted back correctly when replaying.

[2016-06-06 15:16] alexpanov commented on #150
@JuHwon @miazoom @choonkending
I've been trying to test my `axios` clients with `karma` and `phantomjs` using `nock` but had 0 success. The client is still hitting the real server.
Anyone got around it?

[2016-06-06 15:33] alexpanov commented on #409
+1

[2016-06-06 18:07] ksmith97 commented on #543
I think I ran into a similar issue. Its not clear from the documentation how to use nock when you specify the entire url in the initial nock params(In my case because the URL comes from env). If you pass '/' into the post it wont match properly(first thing I tried as well) and it also fails if you dont pass anything. I found it only worked after passing a empty string.

[code]

Maybe there could b

[2016-06-07 23:59] ianwsperber commented on #398
Also would really like this feature - I often want to be strict about matching headers and without more complete error message this is a pain. Doesn't look like it would be very hard - basically just requires changing `common.stringifyRequest`, from what I can tell. Going to create a PR shortly.

@vquigley  / @soroushjp , do you have opinions on how we should format the error message? Currently it

[2016-06-08 17:27] jamestalmage opened #578 "Add option to not clobber the global."
Something similar to [`mockFs.fs()`](https://github.com/tschaub/mock-fs#creating-a-new-fs-module-instead-of-modifying-the-original).

This is important for test suites like AVA that allow some interleaving between tests.

Instead of manipulating global state, it would be nice to do something like this:

[code]

In the above, only `moduleUnderTest` would see the mocked `http` instance.

[2016-06-09 00:24] evansiroky opened #579 "How to perform assertions while using with mocha?"
When I'm writing some tests and using nock I'm noticing that failed assertions will not be caught by mocha and instead mocha will just report that the test case timed out.  However, if I surround the assertions with a try catch block and send the error to mocha, it will work.  See the following examples:

**Test case that times out:**

[code]

**Test case that does not time out:**

[code]

Is surr

[2016-06-11 03:21] xavierchow commented on #579
I doubt the first case times out is due to the `asynchronousFunctionThatMakesHttpRequest` doesn't match the nock, can you double check the `host` of request?

[2016-06-11 04:10] ChrisC commented on #469
+1

[2016-06-15 21:36] persocon opened #583 "nock.disableNetConnect(); still does the real HTTP request"
hi all, I tried to use that on beforeEach on my tests, and even global, and even putting everywhere and it still does the real HTTP request like ignoring the nock.disableNetConnect(); thing :/ any idea why?
here's an example of what I am doing:

[code]

[2016-06-15 21:56] persocon commented on #562
short answer, you can't.... you have to have a http://something, you could call localhost, you could call the final API url, but you have to have a url :( struggled on that a few weeks ago to test some async actions with redux and redux-thunk

[2016-06-15 22:29] tinder-dyakobian opened #584 "Importing the Nock npm module creates error when running npm test"
If I remove the nock import I won't get an error message. I've already npm installed nock.

Test file

[code]

Error Message

[code]

[2016-06-16 12:29] vquigley commented on #398
Second option seems more readable to me plus easier to extract and parse if needs be.

[2016-06-18 09:43] purezen commented on #535
@pgte Thanks for the amazing project!
My organisation is using nock and am keen to volunteer for it.

Have opened a PR - https://github.com/node-nock/nock/pull/582 and am working on enabling support for statusText.
Would like some help getting acquainted with the project.

[2016-06-19 11:40] Elergy commented on #490
Yes, when we have `allowUnmocked:true`, request is mocked when it exactly matches to url we passed to `get`.

For example, this variant gives us expected result.

[code]

But if we pass to `get` something different, like RegEx, Function, string with path without parameters, we'll fail.

[2016-06-20 14:37] halfninja commented on #583
The test doesn't know to wait for your Promise to finish, so it's calling afterEach before your code has actually run. I think the most recent Mocha has support for promises - you just need to `return` the promise at the end, and it'll wait for it to complete. so `return store.dispatch(...etc`

[2016-06-21 06:34] samouri commented on #211
@pgte, I ran the exact test that @buildmaster described on the latest versions of `nock` and `superagent` and the issue still remains.

I've already done fairly deep investigation into [possible action items](https://github.com/visionmedia/superagent/pull/1005) for `superagent`.  While there are some things that can defensively be done there to assist with the issue, the main problem is with how n

[2016-06-21 06:47] samouri commented on #211
I've added a simple PR to solve the first problem: #590

[2016-06-21 07:24] handane123 opened #591 "Why nock can't intercept the 'isomorphic fetch' request?"
![1](https://cloud.githubusercontent.com/assets/7983700/16221180/fa911f8a-37c3-11e6-9bac-bb9910d4da22.PNG)
![2](https://cloud.githubusercontent.com/assets/7983700/16221182/fc1e1ea2-37c3-11e6-8542-bffe15a01872.PNG)
![3](https://cloud.githubusercontent.com/assets/7983700/16221234/4439a38c-37c4-11e6-9ea8-0e2ac5ebbbe9.PNG)

[2016-06-21 07:27] handane123 commented on #591
Due to the output of the test, it still fetches a real http request, So the nock fails to intercept it.

[2016-06-21 15:33] peteyy opened #592 "Querystring order"
https://domain.com/api/v1/something/2/users/1?limit=3&skip=4
https://domain.com/api/v1/something/2/users/1?skip=4&limit=3

For nock it's considered 2 different requests, but they are calling the same endpoint.

[2016-06-21 15:52] persocon commented on #583
cool! now I got a
[code]

have no idea how is that even possible :( makes sense for you?

[2016-06-22 10:35] larsnystrom opened #594 "Automatic URL encoding"
Thank you for nock, it's been a huge help!

I'm currently testing some http calls and had some problem when they contain spaces (or any non-ASCII characters).

The following script will log `"The call was intercepted"`.

[code]

However, the next script won't log anything, because nock doesn't automatically encode the URI:

[code]

I'm not 100% sure if the HTTP spec requires clients to URL encode

[2016-06-22 12:57] richmeij commented on #431
While not ideal, as a workaround I turned it around and prefixed the urls when testing.
For this, I check `NODE_ENV`, which is set to `test` when testing.

Brief example:
[code]

This way I can always use nock like this:
[code]

[2016-06-22 16:50] protometa opened #595 "Spying"
Is there a way to set up spies in nock, i.e. interceptors on particular host/paths that allows the real request/response to go through but also allows you to make assertions and check information about the request/response?

[2016-06-22 17:27] maheshjag opened #596 "Nocked calls to nested HTTP calls not working as expected"
Here's a sample app:

[code]

Here's the Mocha test for it:

[code]

Running the test above fails the assertion even though the call to www.google.com has been nocked.

[2016-06-22 17:29] maheshjag commented on #596
@pgte I know you must be busy, but could you please cast your eye over this issue and let me know if it's a limitation of the module, or if it's something that I've done wrongly?

[2016-06-23 07:07] zdychacek commented on #398
Hello, what's the state of this issue please? Is there any ETA when "the better errors" would by shipped?

[2016-06-23 13:54] ianwsperber commented on #398
@zdychacek Just created a [PR](https://github.com/node-nock/nock/pull/597) - I'm facing issues getting the tests passing but don't really have time to debug, if you or anyone else could take a crack at debugging.

[2016-06-23 16:01] jasonalmaturner commented on #409
+1

[2016-06-25 21:36] samouri commented on #211
@pgte, Any update?

[2016-06-26 22:35] #591 closed

[2016-06-27 19:35] dannyid commented on #584
I'm having the same problem. If you're using Jest, I believe you need to unmock these modules before using them because Jest will automock everything.

At the top of your file, add:
[code]

[2016-06-27 19:41] tinder-dyakobian commented on #584
Confirming this was the issue.

On Mon, Jun 27, 2016 at 12:35 PM, Danny <notifications@github.com> wrote:

[2016-06-27 22:00] zedd45 commented on #475
Could we please reopen this issue? I'm encountering the same issue with :

[code]

[2016-06-29 00:01] cjthompson opened #600 ""pendingMocks" includes duplicates of the same mock and "removeInterceptor" does nothing"
Version 8.0.0

Here's some sample code that demonstrates the issue:

[code]

If you run that code, you'll find:
- `nock.pendingMocks()` returns number of mocks per scope squared. For example, if you use `scope.get().reply()` 3  times, you'll get 9 entries.
- `nock.removeInterceptor` doesn't work.  If you call `scope.get().reply()` twice, `pendingMocks` will show 4 entries.  After calling `removeIn

[2016-06-30 19:32] matanh-tzmedical commented on #596
Maybe you forgot to require your sample app before the test starts.

[2016-06-30 19:46] zedd45 commented on #475
actually, looks like this might be related to #409

[2016-07-01 02:02] sdurandeu commented on #600
I've managed to workaround this by defining a new scope every time. Instead of:

[code]

Use:

[code]

[2016-07-02 09:31] maheshjag commented on #596
Nope, the app has been started and is running

[2016-07-03 14:40] creativetim commented on #562
@persocon If I understand you correctly does that mean that the URL is arbitrary?

I'm in the process of writing some tests for my redux action creators that return thunks and make relative API calls using isomorphic-fetch.

[2016-07-03 15:38] persocon commented on #562
@creativetim yes, ahm if I run the test on travis-ci for instance, it doens't have access to the API at all, because it is localhost right, what's happening is that Nock is always trying to hit the API and failing because it can't find... makes sense what I'm trying to explain?

[2016-07-03 20:29] persocon commented on #562
@creativetim I did this for the test: https://github.com/persocon/destiny-weekly/blob/master/test/actions/user.spec.jsx#L85

and on the action: https://github.com/persocon/destiny-weekly/blob/master/src/app/javascript/actions/user.jsx#L18

I have a url option just for the tests

BUUUUT it raised a new issue: https://github.com/node-nock/nock/issues/583 it's trying to hit the real API haha even whe

[2016-07-05 17:08] matanh-tzmedical commented on #596
Are you running the server separately and the test separately? Nock will only mock the request of the current process, not all processes that are running. Running them separately will not work.

You need your test to run the app, as in your test should `var myapp = require('../myapp.js')`

[2016-07-08 08:59] mmazzarolo commented on #491
Having the exact same issue.
Thanks @robinbobbitt for the `persist` suggestion.

[2016-07-08 18:55] flushentitypacket opened #610 "`.query` ignored when making a request with no query string"
This test was removed way back in 3.0.0:
https://github.com/node-nock/nock/commit/5eb5e2e7dc950c20f65b26fd6fed50dacec27cdf#diff-ae3b1775e1016e4912805bd8eb567550L4188

I don't know whether that functionality was removed on purpose, but to me it seems completely counter-intuitive to match a scope specifying a query when none is given.

[2016-07-12 20:54] BrunoQuaresma opened #614 "Not works in Selenium"
I try use nock with nightwatch and selenium but the request mock not works.

[2016-07-13 15:50] robforsythe commented on #409
+1

[2016-07-17 18:45] lordakshaya opened #620 "Nock returning statusCode 200 instead of 404"
I am trying an example that matches the following code.

[code]

In my case, nock is returning status code `200` instead `404`. Any ideas?

[2016-07-19 01:16] zyvas opened #623 "https does not work"
when I require nock, https request can't work and timeout.

[2016-07-23 09:49] Niondir commented on #475
The webpack plugin helped me. Maybe that should be covered in the documentation. But I'm at the veriy beginning wick nock and do not know if it fails somewhere else in the browser.

[2016-07-24 08:24] ioanlucut opened #630 "Add resolveWithFullResponse: false support"
Would be great to have the possibility to get the parsed body response directly - and not the full response back.

[2016-07-30 11:47] bboulahdid opened #637 "nock doesn't intercept requests made using the `request/request` module"
In my tests, i'm trying to intercept HTTP request made by the `request/request`. But it doesn't work.
When I use `http.request()` **nock** works perfectly.

Any insight ?!

[2016-08-01 15:23] jameshfisher opened #640 "How do I pass a simple Request->Response interceptor?"
I can see a whole bunch of stuff in the DSL for specifying my mocks, with this `.get()`, `.post()`, `reply()`, etc., but what I want is something much simpler:

[code]

How can I do this more general mocking using nock?

[2016-08-03 13:42] vitorarins commented on #596
Hi @matanh-tzmedical @maheshjag. I ma having the same problem testing my application. But I use the suggested code: `var myapp = require('../myapp.js')`. I am also using `supertest` instead of the `request` directly, to test the routes in my application. But it seems the requests I do inside my app won't get mocked.

Here is what the app looks like:
[code]

And here is what the test looks like:
[c

[2016-08-03 14:43] vitorarins commented on #596
I also made an updated version of @maheshjag example using `supertest`, and I can confirm it doesn't work.

Sample app:
[code]

Sample test:
[code]

[2016-08-03 16:12] matanh-tzmedical commented on #596
@vitorarins I've only used Nock a little bit, but there are a couple things you can try to help you pinpoint the problem. Look at the `.isDone()` function (https://github.com/node-nock/nock#isdone) and the `.pendingMocks()` function (https://github.com/node-nock/nock#pendingmocks). These might help you figure out what's going on.

[2016-08-04 20:05] tylerchilds commented on #584
Also confirming I was able to resolve this by putting this my package.json file:

[code]

[2016-08-08 04:57] rajdeepmatharu opened #644 "Nock matches but doesn't reply"
I am trying a very simple example from the Nock documentation, which is the following:

[code]

However, instead of getting the expected response 'Ok', I am getting this error in the logs:

[code]

As you can see in the above logs, the match returns true. Inspite of that, the reply isn't what is expected.

[2016-08-09 06:53] Janpot opened #647 "requests/response don't have httpVersion set"
https://nodejs.org/api/http.html#http_message_httpversion

this property seems to be missing from `response` objects created by nock. It's also missing from `response.request`. It's just `null` in both cases

[2016-08-09 12:51] apals commented on #596
Any headway on this? :)

[2016-08-09 13:46] vitorarins commented on #596
I tried using the functions mentioned by @matanh-tzmedical with no success. When I run the tests, `.isDone()` returns `true` and `.pendingMocks()` shows nothing.

[2016-08-10 18:49] carlansley opened #649 "Option to turn off automatic JSON parsing in reply callback"
#344 / #452 added automatic JSON parsing.   Unfortunately, if the request body is not valid JSON, yet ContentType is application/json, nock just swallows the request.   And even if it is valid JSON, formatting gets eliminated.  This creates problems accurately simulating certain APIs, in particular AWS S3.

Unless there's some workaround, I'd like to propose some kind of flag/option that switches

[2016-08-10 20:13] sgentile opened #650 "fs.createReadStream is not a function and timeouts"
I'm using nock with redux - and getting an error (sample :  http://redux.js.org/docs/recipes/WritingTests.html )

[code]

if I attempt to use it without a file:

[code]

I get a 404: /test and karma tells me:  Error: timeout of 2000ms exceeded. Ensure the done() callback is being called in this test.

[2016-08-19 21:03] barczaG opened #659 "How do you stop recording?"
If in error occurs in my code and then I try to start the recording again i got : `Nock recording already in progress` so I guess I should be able to stop it somehow :)

[2016-08-21 14:02] barczaG commented on #659
I made a PR then nock.recorder.restore() can be used which stops the recording.
https://github.com/node-nock/nock/pull/660

[2016-08-22 20:38] evansiroky commented on #592
+1

Also applies when providing params in an array with .query()

[2016-08-23 09:28] shreychaturvedi123 opened #662 "TypeError: _nock2.default.get is not a function"
getting this error on simple mocking url using nock

[2016-08-23 09:32] shreychaturvedi123 commented on #662
my mistake needs to be called as nock('rootUrl').get('url')

[2016-08-23 09:32] #662 closed

[2016-08-25 05:44] leslc opened #664 "Using recorder, multiple calls to the same endpoint seem to output once with play()"
Is this a bug, or working as expected?  While recording, I'm making multiple calls to an API endpoint.  The output of the recorder.play() only returns one instance of the call object.

If a bug, is it possible to modify that call object to have a "times" attribute for how many times it is called?

[2016-08-29 17:03] diegohaz opened #666 "Something on nock-vcr-recorder is preventing nock to work"
As I related on https://github.com/poetic/nock-vcr-recorder/issues/11, I'm using [`nock-vcr-recorder`](https://github.com/poetic/nock-vcr-recorder) and `nock` on different test suites, but in the same execution.

I've noticed that, at the very first run, `nock-vcr-recorder` prevents `nock` to work. For example, if I have the following test suite:

[code]

If, after that test, I have another one wh

[2016-08-31 15:34] izikl commented on #595
I did this:
[code]

However, there is a side effect that I couldn't get rid of.
The callback is called for every call in that class, so I worked-around it by putting this test last in the test file, but that is definitely a workaround.

I would love to know if there is a way to make this callback just for this single interception.

[2016-09-01 13:48] ronjouch commented on #491
Having the exact same issue too, and @robinbobbitt's `persist` suggestion works for me too.

But like him, I'm wondering if this is a bug or working as designed; the [Doc / Allow unmocked requests on a mocked hostname](https://github.com/node-nock/nock#allow-unmocked-requests-on-a-mocked-hostname) says:

[code]

Which is not what's happening. Are we missing/misusing something, or is it a bug? Than

[2016-09-06 16:59] leslc commented on #664
I see the requests are saved to outputs with "push" into an array.  Closing, since it's an issue on our side.

[2016-09-06 16:59] #664 closed

[2016-09-06 19:33] travi commented on #644
I've been seeing a similar issue that started fairly recently that results in tests timing out because of the lack of the response.

Using `DEBUG=nock.*`, I can confirm that while the match is found, the response is never emitted.

For the test that fails, the debug output ends with:
[code]

For other tests, the output continues with further steps that show chunks being emitted and the response be

[2016-09-06 21:32] travi commented on #644
it appears that [`setImmediate`](https://github.com/node-nock/nock/blob/563fff1e507815a710adcdc292f5ecf1ea29f30d/lib/request_overrider.js#L503) never triggers its callback for the first test when this happens. if i change the test order, the new first test starts timing out rather than the old first test.

i don't understand why this would consistently only happen for the first test (or why it wou

[2016-09-08 00:05] taylor1791 opened #677 "Mixed usage of `setTimeout` and `timers.setTimeout`"
`nock/lib/request_overrider.js` uses both `setTimeout` and `timers.setTimeout`. Should the project use one or the other for the sake of consistency?

Using `setTimeout` is nice because if a someone is mocking the clock, then nock will use a mocked clock as well. They can still do it, but have to do additional work to mock `timers`.

[2016-09-09 14:18] bialesdaniel opened #680 "disableNetConnect and enableNetConnect(host) Not Working"
Hi,

I have the following code executing before my test but it is allowing my service to make calls to other hosts besides localhost (I have an express server that calls other APIs). Please help

[code]

[2016-09-13 00:04] charlierudolph commented on #610
Just ran into this as well. Agree this is counter-intuitive.

[2016-09-14 08:33] dszakallas opened #685 "JSON parsing does not work when content is gzip encoded"
described in #683

[2016-09-14 13:13] vitorarins commented on #596
I realized something about the way we are treating the response here and found out the problem. The problem was that me and @maheshjag are sending the response via `res.send(body)`, but that will never get populated in the `body` or `res.body` parameter we are looking in the test.

The way I found to circumvent this problem is to send the response like this: `res.json(body)`, and in the test the `

[2016-09-16 07:01] szdavid92 opened #688 "Is this repo orphaned?"
I see no activity on the master since April. Is this repo orphaned @pgte ?

[2016-09-17 18:04] stevenvachon opened #689 "mime types?"
[code]
The content-type header is undefined.

[2016-09-18 05:55] craigcosmo opened #691 "What is nock really?"
[code]

This is one example on redux.org. If I understand correctly nock will make a fake request ( which never happened ). So in this example, whether I put in the domain, example.com or about.com or whatever, the outcome would be the same? Please confirm.

[2016-09-18 18:35] stevenvachon commented on #691
Nock works by overriding Node's `http.request` function. Also, it overrides `http.ClientRequest` too to cover for modules that use it directly.

[2016-09-19 03:10] craigcosmo opened #692 "nock is not blocking the request."

[2016-09-19 03:22] craigcosmo commented on #691
should nock work with karma and jasmine?

[2016-09-19 08:15] craigcosmo commented on #691
@stevenvachon does nock in the example does job of stub or fake or mock or spy?

[2016-09-22 07:21] borestad commented on #692
I believe there's a slash to much.

nock('http://example.com/')

should be

nock('http://example.com')

[2016-09-22 15:53] rublev commented on #409
+1

[2016-09-22 16:42] rublev commented on #591
@handane123 how'd you solve this?

[2016-09-22 22:34] bialesdaniel commented on #680
Does anyone know how to do this?

[2016-09-23 11:14] alexkolson commented on #469
Just ran into this while testing an API with nock. When nock records, it records the current status code but doesn't appear to include the [Reason-Phrase](https://www.w3.org/Protocols/rfc2616/rfc2616-sec6.html#sec6.1.1) directly after it, which is what gets put into `response.statusMessage` in nodejs.

It would be awesome to be able to use nock to send a Reason-Phrase as well!

[2016-09-26 07:08] richardlay opened #698 "Using nock with sinon fake timers"
This is more of a question rather than an issue report.

When I use Sinon to fake the current date and time like so:
`Sinon.useFakeTimers(new Date("2016-01-01T00:11:22+10:00").getTime());`

And then I call Nock to intercept, it never registers the URL (confirmed by turning debugging on).

However if I don't use Sinon fake timers and I use something like mockdate js, it works.

Just curious as to w

[2016-09-26 16:34] itsovereasy opened #699 "Network Error when using nock with axios"
When I make real calls, my tests are passing fine; however, when I "nock" my requests, they fail with error message "Network Error." Here is the full error object I'm catching:

[code]

[2016-09-26 22:44] tschellenbach commented on #131
actually from a user perspective, i dont care if it's dns or http. Just want to nockback and run my tests without requiring other parts of my infrastructure/third party services etc.

[2016-09-27 03:55] craigcosmo commented on #692
I remove the the slashed, it still not works.

[2016-09-27 21:23] tomalex0 opened #700 "Enabling nock for specific request"
Can we isolate and enable  `nock` for specific   API calls?

[code]

[2016-09-28 16:22] vrinek commented on #688
Hello. I just joined the org and will try to revitalise this project.

[2016-09-28 16:22] #688 closed

[2016-09-28 22:55] benbuckman opened #702 "Tests are failing and "Build passing" icon is misleading"
Hi,
The TravisCI badge on the project page shows "Build passing," but the tests are in fact failing – https://travis-ci.org/node-nock/nock. (The `src` on the badge seems to be incorrect.)

The test that is failing is also failing locally.

[2016-09-29 01:09] raytung commented on #691
@craigcosmo From the first line of README

[2016-09-29 12:39] LeoIannacone commented on #699
I got the same error

[2016-09-29 16:00] benbuckman commented on #610
:+1: I just ran into this too and it seems like a bug.

[2016-09-29 16:46] vinh0604 commented on #700
Hi @tomalex0, you could try the `allowUnmocked` option https://github.com/node-nock/nock#allow-unmocked-requests-on-a-mocked-hostname

[2016-09-29 18:56] benbuckman opened #705 "Tests aren't cleaning up nock scope correctly"
Noticed while testing https://github.com/node-nock/nock/pull/704:
1. On that PR's branch, check out be1533746bc728bf3f136aaf9924aa10e7031bf5.
2. Run `./node_modules/.bin/tap --harmony -R spec ./tests/test_intercept.js`. It'll fail on `query() will not match when the path has no query`.
3. Comment out the tests above it, lines 28-4844, and run the test again – now it passes.
4. Un-comment the tests

[2016-09-29 21:40] #702 closed

[2016-09-29 22:05] vrinek commented on #699
@itsovereasy could you post how you use nock and how you make the request please?

[2016-09-29 22:10] vrinek commented on #705
@benbuckman I'm not familiar with the `tap` library either (I have only used its perl sibling some time ago and wasn't much impressed).

I'm thinking of switching to mocha/jasmine as they are more popular within the JS ecosystem.

[2016-09-29 23:40] benbuckman commented on #705
:+1: I vote for Mocha with [Chai](https://www.npmjs.com/package/chai). I think Jasmine is kind of outdated.

[2016-09-30 16:31] hugoduraes opened #707 "Leave rawHeaders case untouched on nock's replies"
I've noticed that nock is creating `rawHeaders` from the response `headers` object, which keys are lowercased. This is causing `rawHeaders` keys to also be lowercased, which I think is wrong because nock's `rawHeaders` may be getting different from the real response's `rawHeaders`. I believe `rawHeaders` case should be returned untouched.

This is the code responsible for it on `lib/interceptor.js

[2016-10-01 04:31] itsovereasy commented on #699
Here's a test using nock that gives a "network error":

[code]

I have another "success" test as well, where I am even including the response headers suggested, that also fails:

[code]

[2016-10-03 15:02] hugoduraes opened #709 "Getting error "cannot read property 'toLowerCase' of undefined" while using nock back"
While using nock back on `record` mode and with the following options:

[code]

I'm getting the following error:

[code]

It only occurs when replaying a previous recorded nock. It runs fine when the request is made to the real server.

[2016-10-06 09:08] vrinek opened #712 "Is it safe to drop support for pre-LTS node versions?"
**tl;dr: Should we drop support for v0.10, v0.11 & v0.12?**

---

Travis CI has been red for a while now because v0.10, v0.11 & v0.12 are failing.

V0.11 seems to not be present in [node LTS repo](https://github.com/nodejs/LTS) or the [April 2016 node survey report](https://nodejs.org/en/blog/announcements/nodejs-foundation-survey/). I assume it was an intermediate release and **we should be safe

[2016-10-06 09:11] vrinek commented on #707
I agree with your point that `rawHeaders` should be left intact. I also commented on your PR.

In case this goes in, it sounds like a breaking change for a few users that _may_ be relying on `rawHeaders` being lower case. I'll double-check the documentation to verify whether that was expected to be exposed or not.

[2016-10-06 15:05] hugoduraes commented on #707
Yes, that'll be a breaking change. I've updated my PR to fix it for Node 0.10.x. Please take a look at the comment I left there.

[2016-10-06 19:34] travi commented on #644
i finally came back to this and tracked my problem down to something unrelated. when nock yielded control with `setImmediate`, something else must have still been on the queue and hogged enough cpu time for it to cause the test timeout that i was seeing. my issue was not related to nock, but rather nock was where the symptom showed up due to yielding control here.

[2016-10-06 20:44] niksajanjic commented on #692
Nock is not working in Redux example using Jest for me too. request always happens. I also tried recording using:

    nock.recorder.rec()

And even after copying what recorder consoled out it still didn't intercept it. The emaple can be found on this link:

http://redux.js.org/docs/recipes/WritingTests.html

[2016-10-07 07:45] vrinek commented on #707
PR merged!

[2016-10-07 07:45] #707 closed

[2016-10-07 08:54] vrinek commented on #644
@rajdeepmatharu as far as I understand, node's `http.get` does not synchronously return the response. Instead it [expects a callback](https://nodejs.org/dist/latest-v6.x/docs/api/http.html#http_http_get_options_callback):

[code]

---

@travi thanks for the debugging journey ;-)

[2016-10-07 16:26] ltegman opened #715 "Request body specs don't allow regex within array."
For example, the following nock will never match a POSTed payload, because the regex property test is nested within an array:

[code]

Looks like this is because `deepEqualExtended` hands off to the `deep-equal` library as soon as something that is not an object or regex is encountered, so the regex matching logic is lost as soon as an array is hit.

[2016-10-07 20:37] evandavis opened #717 "requestBody is string `"[object Object]"`"
Given the following fetch:
[code]

When I mock it with nock:
[code]
the `requestBody` is `"[object Object]"`. Is that normal? How can I inspect `FormData` posted with nock?

[2016-10-08 13:28] vinh0604 commented on #712
@vrinek The failing test is related to this issue https://github.com/assaf/zombie/issues/909
I tried downgrading `zombie` back to `4.0.8` and the test pass again.

Otherwise, disabling this test, https://github.com/node-nock/nock/blob/master/tests/test_browserify.js,  for node 0.12 and below also make the test suite passed.

I also prefer dropping support for pre-LTS node versions for newer releas

[2016-10-08 15:05] vinh0604 commented on #712
Updated: Running tap with `--harmony` flag also allow the test to pass. In `package.json`:

[code]

[2016-10-09 19:52] vrinek commented on #712
@vinh0604 great find! Thanks!

[2016-10-09 20:20] vrinek commented on #712
They way I read this is "try to back port bug fixes to early versions but drop support for new features".

When we drop support for a node version, should we be incrementing the _major_ or _minor_ version part? server.org is not clear on this.

[2016-10-09 20:35] vrinek commented on #717
I tried the above with node v6.7.0 and nock v8.0.0 and what I get is:
[code]

Which versions are you using?

[2016-10-09 20:39] vrinek commented on #699
Thanks for the test examples. I don't see anything obviously wrong with them.

How do you make the actual requests? Which library are you using?

[2016-10-09 21:03] vrinek commented on #692
@craigcosmo how did you notice that it's making a real request?

I copied the code from http://redux.js.org/docs/recipes/WritingTests.html and modified it to work with nodejs. Here's the full file that I'm using: https://gist.github.com/vrinek/ea9fcc8b4ead67b41fb1b8ce88440a4b. It does not seem to be doing a real request as it's getting the mocked response.

Additionally, I tried your snippet. I ha

[2016-10-10 15:41] vrinek commented on #712
To make my proposal a bit more concrete, I suggest:

**Option A:** We follow [node's LTS schedule](https://github.com/nodejs/LTS) **up to LTS End**. In other words, we drop v0.10 on 2016-10-31 and v0.12 on 2016-12-31. This will need more effort to keep things running smoothly with old versions of node.

**Option B:** We follow [node's LTS schedule](https://github.com/nodejs/LTS) **up to Maintenanc

[2016-10-10 16:41] vinh0604 commented on #712
I'd go with a major version incrementing as dropping support for some specific Node versions could be considered as breaking changes.

I also agree with option C that we keeps a legacy branch similar like https://github.com/tmpvar/jsdom/tree/3.x

[2016-10-11 00:59] satazor opened #718 "v8.1.0 broke tests using nock back"
https://github.com/IndigoUnited/node-gh-issues-stats/pull/14

If I downgrade to `~8.0.0`, all tests pass.

[2016-10-11 07:17] vrinek commented on #718
It looks like https://github.com/node-nock/nock/commit/24bb07712e8b2ee4f901c8b95f14fcb45dbdb44d is the issue in this case. The headers recorded in your fixtures are lowercase. Nock 8.1.0 keeps the original case of the headers and expects them to be that way.

As a quick fix, I recommend re-recording the request fixtures.

[2016-10-11 14:43] evandavis commented on #717
nock `8.0.0` and node `6.3.1`

[2016-10-11 15:01] evandavis commented on #717
Hmm, I get the same results from your test. I'm using `redux-api-middleware` in my app, but that doesn't appear to do anything to the `body` before passing it through to `isomorphic-fetch`. In any case, it looks like the issue is not in `nock`. Thanks!

[2016-10-11 15:01] #717 closed

[2016-10-11 17:28] vrinek commented on #717
Good to know. Please let me know if you notice anything else fishy.

[2016-10-11 19:46] satazor commented on #718
@vrinek Thanks for the reply. I will record new fixtures. Regarding https://github.com/IndigoUnited/node-gh-issues-stats/blob/master/index.js#L16, that's not the issue because that line of code doesn't get executed for any of the first tests, and they are all failing. Also, got normalizes all headers to lower case, that's why I access them that way.

[2016-10-12 07:07] devanshug opened #720 "how can we add nock recorder for a particular scope?"
I am trying to work with multiple services and trying to automate the process of recording them in to separate files depending on their respective scope. Can this be done? If not, is there any plan to include this in nock. This would be a good enhancement, I guess.

[2016-10-12 08:21] kjona commented on #718
@vrinek I support your 'thinking out loud' idea of ignoring cases in HTTP headers (in accordance with the standard). Are you seeing any benefits of exact-matching?

[2016-10-13 07:34] amrue commented on #552
I was going to fix this but now I can't reproduce it. @alexanderchr are you still seeing the issue?

[2016-10-14 16:43] imran-uk commented on #705
I think I'm having the same scope leakage using mocha.

I have several test scripts using supertest.

There is a `require"(nock")` is each - except one.

I have one test script which was I didn't mock the requests thinking they would make a real request. I have no `require("nock")` in this. What seems to be happening is that nock seems to use an interceptor and because there is no match for the re

[2016-10-14 20:20] chitsuhein opened #726 "W"

[2016-10-14 23:01] delaguilaluis opened #727 "Is there a way to mock error responses when `NOCK_OFF` is "true"?"
I like the idea of turning off Nock and run the same tests over real servers, but what if my tests force some requests to reply with error codes?
If the real servers will "always" respond with success, is there a way to still mock these cases while `NOCK_OFF` is "true"?

[2016-10-16 19:08] #715 closed

[2016-10-16 19:09] vrinek commented on #727
I assume you mean error responses like "timeout" and "network unavailable"?

I'll take a look into the codebase but my first guess is that `NOCK_OFF` is a blanket toggle for everything.

[2016-10-16 19:11] vrinek commented on #726
I'll assume this is just spam.

[2016-10-16 19:11] #726 closed

[2016-10-16 19:28] vrinek commented on #720
Currently there is no option to achieve that.

Furthermore, the implementation of nock back's recorder seems to need the fixture's name at [initialisation of the nock back block](https://github.com/node-nock/nock/blob/master/lib/back.js#L62-L63). If someone (wink wink, nudge nudge) were to implement such an option, say passing in the fixtureName as a function instead of string, that would entail a

[2016-10-16 19:35] vrinek commented on #712
Incrementing the major version sounds like a good idea. In this case, let's:

- Branch "maintenance" off nock v8.1.x
- Drop support for v0.10, v0.11, v0.12, v5
- Publish nock v9.0

Sounds like a good plan? (I've already created [a project for this](https://github.com/node-nock/nock/projects/1), mostly to explore github's "Projects" feature)

[2016-10-16 19:38] vrinek commented on #718
Not really. And for reading nock's code I think it's comparing headers case-insensitively. I'll make sure we have some tests that testify to this.

@satazor did re-recording the fixtures help resolving the issue?

[2016-10-16 20:02] satazor commented on #718
@vrinek yes

[2016-10-16 20:34] vrinek commented on #718
Cheers!

[2016-10-16 20:34] #718 closed

[2016-10-16 21:03] vrinek commented on #709
Could you please provide a failing test? I'm having trouble reproducing this.

[2016-10-16 21:13] vrinek commented on #698
While looking around the code, I noticed that in some instances nock is using [the `timers` standard library of nodejs](https://nodejs.org/dist/latest-v6.x/docs/api/timers.html) instead of the global timer functions. This may be complicating matters with sinon's fake timers.

Ca you help me reproduce this with an example test case?

[2016-10-16 22:16] richardlay commented on #698
Just tried with a simple example and couldn't reproduce this unfortunately.

[2016-10-17 11:28] vrinek commented on #705
@imran-uk are you using `nock.cleanAll()` in`afterEach` as teardown?

[2016-10-17 13:54] hugoduraes commented on #709
Hi @vrinek!

Here's an example of it failing:

[code]

Running this script for the first time, work fine and the fixture is saved on the fixtures folder. Running it a second time (with the fixtures file in place), produces the error described above.

If you need any help, please ping me.

[2016-10-17 14:56] delaguilaluis commented on #727
Either the errors you mentioned or a 5xx response from the service.
And yeah, I think it's a general toggle. Thanks!

[2016-10-17 16:04] ltegman commented on #623
We would need to see a sample of how you're using nock and making your requests in order to diagnose this problem. I've been using it successfully with https recently, so it must either be an edge case you're hitting or something about your test setup.

[2016-10-17 19:25] thomasthiebaud commented on #692
I cannot make it work with `nock` (I checked [here](https://gist.github.com/vrinek/ea9fcc8b4ead67b41fb1b8ce88440a4b) too). But it works fine with [fetchMock](https://github.com/wheresrhys/fetch-mock)

    fetchMock.post('*', { errors: [{title: 'Error', detail: 'Some random error'}] });

Is it a bug from `nock` ?

[2016-10-18 03:50] LKay commented on #698
Having the same problem as described above. I have a method that does long polling (and uses `setTimeout` to trigger itself in time intervals). When I use sinon fake timers nock requests are not fired at all.

My test code looks like this:

[code]

[2016-10-18 09:23] imran-uk commented on #705
@vrinek I was not but I've added them now. It seems to have improved things a bit but I still don't see the "no nock match error" as expected. Sorry to be vague.

[2016-10-18 10:04] jiayihu commented on #558
I'm having the same issue and tested code which relies on `statusText`. How can I help to make nock support this behaviour?

[2016-10-19 08:04] vrinek commented on #558
I've added this issue to a project along with [a PR that seems to be abandoned](https://github.com/node-nock/nock/issues/587). Please take a look if that PR's scope would cover your use case.

[2016-10-19 08:07] vrinek commented on #469
I've grouped similar issues to a project along with [a PR that seems to be abandoned](https://github.com/node-nock/nock/issues/587) but offers something similar to what you want. Please take a look into it to confirm whether a new PR should be opened or not.

[2016-10-19 16:58] j-brown commented on #409
+1

[2016-10-19 17:27] 4no0p commented on #692
@thomasthiebaud nock supports regex, so instead of `'*'` please use `/./`

[2016-10-19 17:31] alexpanov commented on #409
I have migrated from `karma` to `mocha` + `jsdom` and now I'm running my web tests using that setup. Now I can use `nock`.

[2016-10-19 21:23] rublev commented on #409
@alexpanov can you go more in depth about your setup? i've not been able to get nock to intercept relative API paths w/ isomorphic fetch + mocha.

[2016-10-20 00:11] reddynr commented on #273
Iam getting below error while running project in dev. any help much appreciated. thanks

Error: Cannot find module './internal/streams/BufferList'

[2016-10-20 02:48] alexpanov commented on #409
@rublev
I used to have a PhantomJS based test suite. For purely historical reasons I used Karma with Jasmine for unit testing. Having Karma as a test runner in conjunction with PhantomJS meant my tests were executed from within a browser.
Now, however, the tests are being run with Mocha. There's no PhantomJS anymore, but there's jsdom. That means my tests are executed with node.

Does that helps?

[2016-10-21 14:06] niksajanjic commented on #692
I was sure it did make real requests because I had my API running and consoling out every request. But then again I also ran my Jest configuration in Node environment and has some other changes from the example which possibly caused the issue. For instance, I didn't use *isomorphic-fetch* I just used *whatwg-fetch* polyfill.

In the end, I dropped nock and started using *fecth-mock* which was good

[2016-10-23 11:44] vrinek commented on #727
Right now `NOCK_OFF` turns nock off completely. Which means it'll do not interception. So that's not was you want.

As far as I understand you want two modes:
- _normal_ mode intercepts all requests that nock is setup in your tests to intercept
- _error_ mode intercepts only requests setup to fail (5xx responses and network errors)

Instead of two separate modes being built into nock, I would sugg

[2016-10-23 13:23] #712 closed

[2016-10-23 13:41] vrinek commented on #705
@imran-uk it are you using `nock.disableNetConnect()` in your setup and `nock.enableNetConnect()`?

[2016-10-23 14:01] vrinek commented on #709
Ah, yes. I see the problem. Nock is storing the records as code (instead of objects) but is trying to load them as objects. I'm afraid that the `output_objects` option is broken as it's storing code in json and then trying to load it as objects 😞

[2016-10-23 23:16] delaguilaluis commented on #727
I didn't know what Nock feature where you talking about to implement this behavior, so I tried to do it with [Scope filtering](https://github.com/node-nock/nock#scope-filtering) like:
[code]

But that didn't work for my case.
So, based on your idea of 'two modes' and a programmatic way of selecting which interceptor to apply, I ended up with an approach that works for me and looks something like t

[2016-10-24 15:06] mickaeltr opened #731 "deepEqualExtended is broken"
A regression appeared in 8.2.0 and #719.
deepEqualExtended now fails when "spec" is null or undefined:
[code]

[2016-10-24 18:15] jjduhamel commented on #552
Still seeing this

[2016-10-24 20:40] ndelvalle commented on #699
Im having a similar problem testing a service using [axios](https://github.com/mzabriskie/axios). Im testing on phatomjs, does this library also Intercept the browser requests?

[2016-10-24 20:42] ndelvalle commented on #699
I see the issue #409 related to `fetch`, is the problem related just to that lib or it happens also in other libs like `axios`.

[2016-10-24 20:43] paulwithap commented on #699
@vrinek I'm using axios. That seems to be the issue.

@ndelvalle It seems that nock and axios don't play well together, and I believe it's related to the OPTIONS request axios sends before the actual request. I ended up using [this method](https://medium.com/@srph/axios-easily-test-requests-f04caf49e057#.854ksc2to) for stubbing my axios requests, and it's working for me now.

Hopefully nock will w

[2016-10-24 20:52] ndelvalle commented on #699
Yeah I would really like to use `nock` instead of stubbing with `sinon`. But I think I'll do that for now. Thanks @paulwithap.

[2016-10-25 18:24] imran-uk commented on #705
Nope.

On 23 Oct 2016 2:41 p.m., "Kostas" <notifications@github.com> wrote:

[2016-10-25 21:28] RobertWHurst commented on #731
This seems to happen when a request body contains an empty object.

[2016-10-25 21:42] RobertWHurst commented on #731
I've created a PR to fix the regression. It can be found here => #734

[2016-10-26 06:33] surya12badrinath opened #735 "Nock reply without response headera"
I am using nock for mocking https.request method. It sends a response which is having a tag "header". is there any way to remove headers from nock response or https.request response

[2016-10-27 18:25] thephilwells commented on #620
Same here. @lordakshaya were you able to resolve this?

I'm getting status code `200` from the following request:

[code]

[2016-10-28 07:25] #731 closed

[2016-10-28 07:56] vrinek commented on #699
Thanks for all the feedback. Next step would be to write some failing tests for axios integration with nock. Would someone like to pick that up?

[2016-10-28 07:58] vrinek commented on #705
Try adding `nock.disableNetConnect()` in your setup and `nock.enableNetConnect()` in your teardown of nock-stubbed tests. When net connect is disabled, nock complains for every non-matched request. I think that's what you want.

[2016-10-28 08:00] vrinek commented on #620
@thephilwells @lordakshaya is the response body what is being mocked or is that different as well? Could you provide a full test case (mock & request)?

[2016-10-28 08:37] mickaeltr commented on #731
Thanks!

[2016-10-28 18:54] CodeMan99 opened #736 "Does ".post" do encoding of the body?"
Attempting to use `nock('url').post('/path', {body: 'properties'})` syntax, but any request body that requires a URL escape (like a comma or space) makes the interceptor fail.

Much like #564, I can manually use `querystring.stringify` and everything works like expected. However, unlike that issue, I am sure I need to be using a request body because several of my other tests are passing when there

[2016-10-28 19:09] CodeMan99 commented on #736
After a bit more digging it seems that order matters? Is that correct?

[2016-10-28 19:19] CodeMan99 commented on #736
Or does *everything* need to be a string?

[2016-11-01 17:11] thephilwells commented on #620
Hey, sorry for my delayed response. In my case, this turned out to be related to a bug in another part of my app. Can close, as far as I'm concerned. Thanks.

[2016-11-02 00:43] mscdex opened #739 "Feature request: add/update 'connecting' property on Socket"
Starting with node v6.1.0 a property called `connecting` was made public and is a boolean to indicate whether the socket is in the process of connecting or not. This value is `true` when `.connect()` is called and `false` when the socket either connects and/or disconnects.

This property existed prior to node v6.1.0 but it was underscore-prefixed.

Having access to this property is useful because

[2016-11-03 07:18] joerx commented on #409
+1

[2016-11-07 21:41] vrinek commented on #620
I'm closing this one now.

@lordakshaya if this issue persists for you, please notify me to re-open this.

[2016-11-08 10:10] sondretjvimond opened #746 "Nock does not intercept the requests."
Hi. Been searching for a solution for some time now and I saw an issue with a similar problem. It seems that nock does not intercept and the real request get trough instead. I feel like I've tried every example there is and they all look pretty straight forward. Am i missing something? Request is superagent.
Here is the code:

[code]

This is the recorders output:
[code]

[2016-11-08 11:19] Juraci commented on #746
Might be a silly detail, but can you try to remove the final backslash on your resource and try again. `nock('http://example.co/') it will stay like that:
[code]

Also to prevent real requests to pass through, you can take a look on the `nock.disableNetConnect();` option.

[2016-11-09 18:06] dallonf opened #748 "reqheaders ignored"
Just hit my head against my monitor for a few minutes on this one... the documented way to match headers seems to have no effect. Whether my request has a header or not, it is matched by this:

[code]

But this (which I only found by digging into historical issues) works as I would expect, failing to match when the header is not provided

[code]

[2016-11-11 08:45] lordakshaya commented on #620
@vrinek apologies for the delayed response, here's the full code:

[code]

And here's the output of the test:
![image](https://cloud.githubusercontent.com/assets/1169337/20209214/bfae8948-a825-11e6-900d-d289a8beef78.png)

Re-opening the issue.

[2016-11-12 08:27] Venkat-18 opened #749 "Nock can't work when running tests in Browser"
I am running mocha test in browser (Chrome) and using `nock` for mocking api calls.

[code]

But when i run tests the API call return `404` Error.
Am i doing anything wrongs

INFO : Running using express + webpack

[2016-11-13 08:44] cameronroe commented on #709
I'm getting the same issue.

[2016-11-14 03:38] kingchad commented on #705
Mocha chai has more mindshare in the javascript ecosystem. You might also want to take a look at https://github.com/avajs/ava

[2016-11-14 23:49] gmatroskin opened #751 "Provide option to use `querystring` rather than `qs` for query manipulation"
I apologize if this has come up before, but I couldn't find any issues on the subject.

Nock's `query()` method supports array/object-style syntax, courtesy of the `qs` module.  This works great for some cases, but makes things cumbersome when dealing with deeply nested parameters, such as `blah[foo][bar][baz]=123`.  It does not appear possible to call `query({ 'blah[foo][bar][baz]': 123 })`, you

[2016-11-15 20:54] digitaltsai opened #754 "Nock affecting how request times out"
I'm having trouble with one of my tests which is supposed to time out. I'm doing something similar to this:

[code]

I should be getting any type of timeout error since I set the request timeout to 10. If I comment out the entire nock portion, it works as expected by getting a timeout error (since google can't respond faster than 10 ms).

I think the req.setTimeout is not working for some reason b

[2016-11-16 12:55] gustavohenke opened #756 "Case insensitive headers"
Hello!
According to [this test case](https://github.com/node-nock/nock/blob/v9.0.0/tests/test_common.js#L94-L108), headers must not be duplicated, even though they will all be treated as lowercase in the end.

I stepped into this error when I started using [supertest](https://www.npmjs.com/package/supertest), which specifies `Accept`, together with a request where I specify `accept`.

Is it possib

[2016-11-22 12:47] lauterry commented on #614
Hi @BrunoQuaresma

Have you managed to get your nightwatch tests work with nock ?

[2016-11-22 18:38] shotaK opened #761 "Mock JSONP request"
Is there any way to mock JSONP request?

Some time ago I also posted a Stackoverflow [question](http://stackoverflow.com/questions/37695997/mock-jsonp-request-with-nock-react-redux) about it.

[2016-11-23 12:01] vrinek commented on #761
I just took a look at your StackOverflow question. I'm not very familiar with Redux and how it uses JSONP but nock has no built-in capabilities to serve JSONP (yet). I'm noting this as a feature request. If you would like to try your hand in writing a pull request for this feature, it would be more than welcome.

[2016-11-23 12:02] vrinek commented on #614
I assume this refers to browser requests, correct?

[2016-11-23 13:22] BrunoQuaresma commented on #614
Correct @vrinek

[2016-11-23 13:56] dragoplut commented on #699
My solution by using <a href='https://github.com/mzabriskie/moxios'>moxios</a>:

[code]

[2016-11-23 15:27] vrinek commented on #620
@lordakshaya as far as I understand, `Code.expect(response.statusCode).to.equal(404);` passes while `Code.expect(response.result.error).to.equal('Not Found');` fails.

If this is the case, I think `response.result` only exists `on('data')` or `on('end')` (see: https://nodejs.org/dist/latest-v6.x/docs/api/http.html#http_http_request_options_callback).

Could you verify if this is the case?

[2016-11-23 15:42] vrinek commented on #756
**How certain can we be that a key was added last to the object?**

If we only expect a key to be added with `obj[key] = value`, that's easy. Node v6 seems to retain that information (not sure about other implementations though).

If we add keys via `Object.assign` or `_.merge`, I'm not 100% sure that the order is retained.

I'm pessimistic on whether this is possible 😞

If someone knows more on t

[2016-11-23 15:57] gustavohenke commented on #756
I'm all for "just use whatever comes last".

[2016-11-23 17:57] vrinek commented on #754
@digitaltsai I just added a passing test (inspired by your code snippet) [here](https://github.com/node-nock/nock/blob/master/tests/test_timeout.js). Please let me know if it covers what you're asking for.

If this is covering the same case, then we have to determine our package version differences.

[2016-11-23 18:37] vrinek commented on #751
I don't think that simultaneous support is possible (see issues below).

**Could you suggest an intuitive interface to switch between the two implementations?**

An example would work wonders to make me understand how you envision this to work.

---

I tried a few things with `querystring` and `qs` and I noticed a couple of weird issues:

[code]

[code]

[2016-11-23 18:42] vrinek commented on #705
@kingchad I briefly looked at ava before. I'm a little worried about concurrent tests and global scope.

For starters, I want to rewrite nock's test suite to a more comforting library (which afaik, for js is mocha+chai). Afterwards, we may start experimenting with more "risky" ventures to gain advantage of their features.

[2016-11-23 18:50] digitaltsai commented on #754
@vrinek yep, this test will cover the problem I am seeing.

I created a temporary repo for you to clone to see if you have this problem : https://github.com/digitaltsai/nock-request-timeout-test

Basically here are my package dependencies:
[code]

I'm not sure if it matters, but I'm on MacOSX 10.11.6 (El Capitan)
I tested this on node 0.10 and 6.9

Thanks for looking into it!

[2016-11-23 21:18] gmatroskin commented on #751
When I think of the way to represent it, my main thought is that the difference between `querystring` and `qs` boils down to how "rich" (i.e. array & object) parameter values are treated:

`querystring` doesn't try to serialize objects *at all*, and serializes arrays (of primitive types) by expanding them into multiple `&name=value` pairs
`qs` is at the other end of the spectrum in this regard has

[2016-11-24 09:56] shotaK commented on #761
Thanks for your response. Yes it is a feature request. That is right it is a general feature and not directly related to redux. I will do my best to find time for this.

[2016-11-24 18:38] djanowski commented on #491
Same issue here. I submitted a fix: #762.

[2016-11-24 21:10] ikokostya commented on #754
I reproduce this error with the following dependencies:

[code]

[2016-11-25 03:13] brian-mann commented on #754
I am having the same issue. I cannot get nock to timeout with `request`.

Changing `delay` to `socketDelay` will work but it doesn't throw the same error as `request` would when it times out.

[2016-11-25 16:13] vrinek commented on #746
@sondretjvimond it looks like you have a typo: you're mocking `http://example.co` and you're making a request to `http://example.com`.

Let me know if this is not the case so I can reopen the issue.

[2016-11-25 16:13] #746 closed

[2016-11-25 16:39] vrinek commented on #748
@dallonf I'm failing to reproduce your issue. Here's a test file I compiled: https://gist.github.com/vrinek/f20aa9649af3642120fb65706cb9ac88.

Could you try running that test file and tell me if it's still failing?

[2016-11-25 16:42] vrinek commented on #614
@BrunoQuaresma could you post a sample test that showcases the issue?

[2016-11-25 17:05] vrinek commented on #754
It looks like it started failing with request `v2.76.0` and judging by request's [changelog](https://github.com/request/request/blob/master/CHANGELOG.md#v2760-20161025) there were a couple of timeout-related fixes.

I'll debug it from there.

[2016-11-25 19:39] digitaltsai commented on #754
@vrinek I modified my test repo to use the built in `http` module instead of the `request` package: https://github.com/digitaltsai/nock-request-timeout-test/blob/master/index.js

It seems to work when I comment out the `nock` portion and connect to google. Only when I have `nock` intercept does it fail.

[2016-11-28 16:40] Venkat-18 commented on #749
Hi any update on this issue ?

[2016-11-29 13:46] ianaz opened #765 "Mock header doesn't work"
Using: **nock 9.0.2**, NodeJS v7.0.0

By using the following code:

[code]

and then making the call with

[code]

Returns request to _**http://test.com/user/tokeninfo failed, reason: Nock: No match for request GET http://test.com/user/tokeninfo**_
I have the feeling it compares all the rest of the headers with it.
By attaching  .log(console.log) to the nock I get the following debug information:

[2016-11-29 13:51] ianaz commented on #765
Probably duplicate of #748

[2016-11-29 13:56] ianaz commented on #748
Hi @vrinek , I have the same issue as just referenced (#765) and tried your code. All 3 tests fail:

https://gist.github.com/ianaz/5a6191807e3a8b9c324574568d1a58a0

[2016-11-29 16:53] dallonf commented on #748
@vrinek The file you gave also passes for me. On a hunch, I swapped `request` for `superagent`, which is what I'm using:

https://gist.github.com/dallonf/2d824185f543323c51b3f6f7406ec145

The first test succeeds and the second two fail, which is the behavior I am seeing in my project. Very curious!

[2016-11-30 00:33] digitaltsai commented on #754
@vrinek I've submitted a pr to modify the test to rely on the nodejs `http` module instead of `request`: https://github.com/node-nock/nock/pull/766

[2016-11-30 18:42] Jusdev89 commented on #680
@bialesdaniel Did anyone help you with this. It doesn't work for me either.?

[2016-11-30 18:44] bialesdaniel commented on #680
@Jusdev89 Nope no one helped me. I haven't found a solution either.

[2016-11-30 22:34] NRaf opened #767 "Mocking 'onprogress"

[2016-12-02 13:33] BrunoQuaresma opened #768 "replyWithErrors not return response data"
I have this code:

[code]

But when i try to get response.data inside the catch i get a warning "Cannot read property 'data' of undefined".

How can i pass response.data in replyWithError?

[2016-12-02 15:30] krzysztofslonka commented on #537
I'm having the same problem

[2016-12-05 06:23] ddragosd commented on #424
I also bumped into the same issue today. I was recording a file download scenario.

The issue is with this line:  [ret.push(JSON.stringify(responseBody));](https://github.com/node-nock/nock/blob/master/lib/recorder.js#L155). An option to send back the response as a `Buffer` would be nice for such use cases:

[code]

WDYT ?

[2016-12-08 16:08] danriti commented on #431
I ran into this exact problem and solved it by using the `fetch-mock` library instead of `nock`:

https://github.com/wheresrhys/fetch-mock/

[2016-12-08 16:09] danriti commented on #562
I ran into this exact problem and solved it by using the `fetch-mock` library instead of `nock`:

https://github.com/wheresrhys/fetch-mock/

[2016-12-09 14:31] k0pernikus opened #772 "Recorded json fails to load for post record"
I use nock to mock away two different api in a tyescript project.

I use record and playback the recorded tape files with these helper functions:

[code]

It works fine for one api, yet when the other one records a POST request, it stores the requests alright in the form of (I sanitized the data):

[code]

Yet when I now try to load that tape file, I get:

[code]

and it lists the exact same POST

[2016-12-09 14:32] Traverse commented on #699
Is there any progress being made on this? Really would love to use nock instead of any other methods of HTTP mocking.

[2016-12-09 15:23] k0pernikus commented on #772
May this be related to my usage of `request-promise`(https://github.com/request/request-promise)?

[2016-12-10 15:46] #727 closed

[2016-12-13 11:19] eakarsu opened #780 ""request" call is not intercepted"
I have tried to use "request" instead of "http". But  the call is not being intercepted by nock as below.
If I use http.get(), then nock works fine.

Does nock intercept only http.get calls? I can see request calls in unit test cases so that I think it should support.

Can you please let me know whether or not request calls are supported?

[code]

[2016-12-13 11:32] k0pernikus opened #781 "Feature request: Handle missing URL delimiter in `get` nocks by either throwing error, warning about them, or adding them automatically"
# Feature request:

As a developer setting up nocks, given

- the nock `nock(http://snow_white.com).('de/cruises/1337')`
- and a nocked app that calls : `http GET http://snow_white.com/de/cruises/1337`.

nock should do one of the following:

1. throw an error stating that the URL delimiter `/` is missing for the URL
2. add the `/` delimiter by itself
3. warn about potential bug, esp. since nock co

[2016-12-14 07:33] aleung commented on #754
Any update? It becomes a blocking issue to me.

There was a memory leak issue fixed in request@2.76.0, however since 2.76.0 request doesn't work with nock.

[2016-12-15 00:27] aleksgidenko commented on #780
I thought I was having the same issue earlier today, it was working with http and request-promise but not request.  After some debugging I figured out it was me.  I was expecting an error to be printed to the console, which it won't if you don't check the error in the callback and console log it.  :-)

`
let nock = require("nock");
nock.disableNetConnect();

// let http = require("http");
// var r

[2016-12-15 00:30] aleksgidenko commented on #637
I thought I was having the same issue earlier today, it was working with http and request-promise but not request.  After some debugging I figured out it was me.  I was expecting an error to be printed to the console, which it won't if you don't check the error in the callback and console log it.  :-)

[code]

Let me know if this is not the same issue for you.  Here are the versions I used:

    "

[2016-12-17 19:04] deadlybutter opened #784 "Nock fails in TravisCI but runs fine locally"
I have about 60 tests in my current project, 5 of which are using Nock. All 60 pass locally, including the nock'd ones. However on TravisCI, the 5 tests using Nock fail.

I've added some cleanup as well to make sure that wasn't the issue,

[code]

[code]

[code]

However the Travis build still fails for these tests. In particular it seems like Nock is not returning anything, as certain fields expe

[2016-12-19 15:56] blackrabbit99 opened #786 "Not expected activeMock/scopes behavior"
[code]

[code]

[2016-12-19 21:24] mrkam opened #787 "Is there a way to add delay between chunks?"
We're using chunked stream and I want to simulate delay between them.

[2016-12-19 21:59] mrkam opened #788 "Is it possible to trigger an error on successfully opened connection?"
I want to test behavior when connection was successfully established and then networking error has happened. Such as disconnection during data transmission.

[2016-12-21 08:31] davidyaozw commented on #754
Could someone help to fix it? It block our product progress.

[2016-12-21 23:59] redbugz commented on #278
What is the best solution for cleaning up after a test? We ran into a similar problem. Because we had issues where the mocks were occasionally misconfigured and the tests were hitting a real server and passing when they shouldn't, I typically use disableNetConnect() to make sure only calls to the mocks happen during the tests. I then did restore() at the end of the suite thinking that was a good w

[2017-01-03 13:20] karlatkinson commented on #754
This is caused by nock incorrectly setting the connecting value on the socket.
See #739 & request/request#2438

request_overrider.js emits a socket connect event which causes request to remove the connection timeout as request thinks the socket is already connected (socket.connecting).

The current timeout interceptor code all happens after this so its not as simple as adding a socket.connecting =

[2017-01-04 16:50] srkimir commented on #164
In the end i solved it with something like:

    nock('http://www.google.com')
      .get('/')
      .replyWithError({code: 'ETIMEDOUT'})

Which looks clean, it does not involve `delay` and stuff, and as it seems to me it is enough to simulate `ETIMEDOUT` having in mind that im using `request-promise` lib where i'm checking for `ETIMEDOUT` like:
`if (err.error && err.error.code === 'ETIMEDOUT')`

[2017-01-05 23:05] Lohann commented on #591
+1

[2017-01-05 23:06] Lohann commented on #409
+1

[2017-01-06 17:37] morenoh149 opened #790 "Readme indentation"
Could we make the readme code snippet indentation consistent?

Some samples look like
[code]
others
[code]
still others
[code]
I'd be happy to fix this given a decision on which style to use.

[2017-01-06 20:53] morenoh149 commented on #541
I'm running into this myself. I'm using https://github.com/avajs/ava and my tests are interfering with each other.

Until a workaround is documented I'll be exploring https://github.com/mmalecki/hock

[2017-01-10 22:34] gurghet commented on #614
what would be a simple setup?

[2017-01-11 16:43] ricardogama commented on #748
Any update on this?

[2017-01-13 08:16] shallwefootball commented on #543
shit empty string

[2017-01-15 17:03] supnate commented on #699
I finally resolved the issue by this thread: https://github.com/mzabriskie/axios/issues/305

Below code works for me:
[code]

[2017-01-19 22:33] ianwsperber commented on #398
Tests fixed for PR and cleaned up output!

[2017-01-22 01:49] glockjt opened #803 "Two calls of same method in test failing"
I am trying to test a `post()` twice in the same test file.  It passes on the first call but fails on the second call with `Nock: No match for request POST`. Both tests pass individually as well so I am thinking its something with multiple calls to a **nock** method under the same test.

[2017-01-23 08:28] nfroidure opened #804 "Avoid failing on headers conflict"
The folowing error happen when a header has been set by the client library twice (one time in uppercase and another time in lower case. `Failed to convert header keys to lower case due to field name conflict: {headerName}`.

It is certainly a bad practice to do so but the fact is that nock is used mostly to mock external libraries calls so it would be useful to be able to disable error throwing fo

[2017-01-23 14:00] aliaburas80 opened #805 "How could I pass the req and res from the nock to class instance ES6?"
Hi, we are working in ES6 project, and want to make unit testing for project, we need to pass the req and res to the class instance, I thing to pass it like this

[code]

Error returns : TypeError: Cannot read property '0' of undefined.

So I try to create request by require('request'); and pass it to the instance, same error appears.
There is a way to make test unit to such case using nock?

Than

[2017-01-23 22:53] sirdavidwong commented on #717
@evandavis did you find out what the issue was? I've got the same setup with `redux-api-middleware`, `isomorphic-fetch`, and `nock` and am getting the `"[object Object]"` as my request body within my tests.

[2017-01-23 23:14] evandavis commented on #717
@sirdavidwong not exactly; we ended up writing a custom stringifier based on the npm version of `form-data` for our tests. Not ideal. (I believe the issue is in how FormData converts to string outside the browser.)

[2017-01-24 02:52] bigredwill commented on #803
This is the expected behavior.
See: [read-this---about-interceptors](https://github.com/node-nock/nock#read-this---about-interceptors)

To repeat a response, either specify the number of times:
https://github.com/pgte/nock#repeat-response-n-times

or allow infinite repeated responses:
https://github.com/pgte/nock#persist

[2017-01-24 05:55] raytung opened #807 "Typescript typings"
Any thoughts on writing a typing library for easy interop in Typescript projects?

Happy to do it :)

[2017-01-24 06:26] aleung commented on #807
There is already one: https://www.npmjs.com/package/@types/nock

[2017-01-24 08:02] #807 closed

[2017-01-24 08:03] raytung commented on #807
@aleung 👍 Didn't see it in the repo. Thanks should've  checked

[2017-01-24 10:18] raytung commented on #709
@vrinek what's the expected behavior when `nock.back` receives option`output_objects: false`? It never writes the result to disk?

[2017-01-24 21:44] ericadamski commented on #699
I am having a similar issue. The curious part is that nock works with the first request made to my `/authenticate` route, but fails to intercept the second route.

I have fully tried to use moxios as well but I do not have access to the axios instance directly.

Any help or direction would be greatly appreciated.

Here is the output of my test (using [Jest](https://facebook.github.io/jest/))

[cod

[2017-01-24 21:57] sirdavidwong commented on #717
Gotcha, ended up doing the same thing :) Thanks @evandavis !

[2017-01-25 17:38] kharandziuk opened #810 "is there a way to get a list of unsatisfaedMocks?"
I need a feature described in the code:

    describe('populate', function() {
        it('should grab ', function() {
            nock('http://someapi.com')
                .post('/attractions')
                .reply(200, [])

            return request
              .post('http://someapi.com/wrong')
              .send({destId: id})
              .catch(() => expect(nock.unsatisfaedMocks()).is.

[2017-01-26 13:17] zladuric opened #812 "Which requests matched?"
I'm trying to match one and _not_ the other request in an example like this:

[code]

I've removed all app code that hits that second endpoint, even tried having a local variable up there in nock setup. So my guess is I don't understand the nock hook - how can I make sure that the first url is matched and the second one isn't?

Tried stackoverflow first with this, no luck: http://stackoverflow.com

[2017-01-26 13:29] zladuric commented on #810
Was looking for something else and just found this, @kharandziuk, `.pendingMocks()`:

https://github.com/node-nock/nock#pendingmocks

[2017-01-26 17:37] kharandziuk commented on #810
Hey, I wrongly expressed my idea. I fixed my sample. .pendingMocks() will return `['http://someapi.com/attractions']`, but I need to get `['http://someapi.com/wrong']` somehow

[2017-01-26 20:21] zladuric commented on #810
You could probably use `filteringPath()` then, but not sure if that's the best approach. Something like this:

    let url;
    nock(/someapi\.com$/)
      .filteringPath((path) => {
        url = path; // grab it here
        return path;
      })
      .post('/attractions')
      .reply(200, []);

    return request.post('http://someapi.com/wrong').send({}).catch(() => expect(url.is.eql('/wrong'

[2017-01-30 15:49] dhinus commented on #571
A workaround is to convert the object to a string with `JSON.stringify`, then the match must be exact, but you lose the ability of using a RegExp in attribute values.

[code]

[2017-01-31 09:27] Venkat-18 commented on #749
Hi is there any solutions for above question ?

[2017-02-02 20:15] soliveira-nascent commented on #592
+1

Also having the same issue

[2017-02-02 21:59] Oceanswave opened #816 "Recording always includes rawHeaders despite output_objects setting"
In 8.0.0, using nock recorder with the following options

[code]

would generate a "headers": [...] object on the resulting object.

Any version after 8.0.0 now generates a "rawheaders" array

I can get at the headers both ways, but the "headers" object was nicer to deal with -- was this intentional? Is there another option to output header objects as well?

Example with the same options:

8.0.0:

[2017-02-03 13:30] sushantdhiman commented on #523
@pgte Yes it works. You can close the issue :)

[2017-02-03 15:34] #523 closed

[2017-02-05 13:52] Oceanswave commented on #816
Here's a unit test for nock ignoring headers in a recorded definitions file:

/tests/fixtures/testHeaders.json
[code]

[code]

[code]

[2017-02-05 15:06] Oceanswave opened #818 "Multiple Set-Cookies headers in a recorded test are not respected"
[RFC 6265](https://tools.ietf.org/html/rfc6265) indicates that an origin server can include multiple Set-Cookies header fields in a single response.

[This](http://www.accuweather.com/) [This](https://twitter.com/) and [This](https://www.google.com/) are live-in-the-wild examples of sites that use multiple Set-Cookie response headers.

Unfortunately, in recorded fixtures, multiple Set-Cookie heade

[2017-02-06 18:03] ianwsperber commented on #749
@Venkat-18 Could you run `nock.disableNetConnect();` before your tests? The code calling your endpoint may just be generating the incorrect URL. If HTTP requests are disabled nock will choke and you will get a hint about what endpoint your code is trying to hit. Note also that I plan to release v9.0.3 this afternoon, which should improve the unmatched request error message.

https://github.com/nod

[2017-02-07 19:48] andresgariglio commented on #543
Hi, same problem here:

[code]

[2017-02-07 21:24] ianwsperber commented on #818
Good catch @Oceanswave, are you able to create a PR to address?

[2017-02-07 21:25] ianwsperber commented on #805
It's unclear to me what you're asking @aliaburas80

[2017-02-07 21:47] redbugz commented on #211
We are having the same problem with latest nock and superagent. The workaround we did is to actually declare a matching nock rule. We don't actually care if this particular request fails for this test so were fine having it be rejected, but adding the rule gets our tests working again.

[2017-02-07 21:56] ianwsperber commented on #818
Nevermind, I just pushed a fix. @Oceanswave would you mind reviewing if you have time? Otherwise I will self-merge.

[2017-02-07 23:54] #818 closed

[2017-02-08 00:19] ianwsperber commented on #818
Thanks again for reporting @Oceanswave! Fix out in v9.04

[2017-02-09 17:12] felipead commented on #804
Hi, I vote for this issue to be fixed. It's annoying me too when I use `.defaultReplyHeaders`.

[code]

Then if I try to override the `Content-Type`:

[code]

I get the following error:

[code]

[2017-02-09 18:12] ianwsperber commented on #804
@felipead Your example makes clear that this example is a bug/undesired. If you or @nfroidure are able to open a PR fixing this please do so. Otherwise I will try to get to when I have free time.

[2017-02-09 18:13] felipead commented on #804
Thanks! If you need someone to review the PR, let me know.

[2017-02-09 18:14] felipead commented on #804
Thanks!

[2017-02-09 23:12] ianwsperber opened #824 "Cannot load definitions after calling `nock.restore()`"
After calling `nock.restore()` I am not longer able to get use nock's `nock.define()` method to intercept requests. This may be a specific example of a more generalized problem: `nock.restore()` does not return `nock` to its original state.

[2017-02-10 16:23] clydehunt76 opened #825 "issue with using basic body paramater matching"
I am having trouble getting the basic body parameter matching code to work.

I have code that generates an HTTP POST along the lines of:

[code]

My nock interceptor is coded as:

[code]

...but I cant get it to match on the post body parameters. I ended up replacing the JSON 'matcher' with a function that checks for the regex match of 'fileDescription=' etc. I know Im doing something basically in

[2017-02-10 22:45] pablolmiranda commented on #784
If you add a
[code]

What will show locally and inside TravisCI?

[2017-02-12 21:55] OhDavit opened #826 "Nock removeInterceptor does not remove localhost and does recording"
So, when I execute request for recording purposes do this:

 `  nock.removeInterceptor({
    hostname: '127.0.0.1',
    path: 'xxxx',
    method: 'POST'
  });
  nock.recorder.rec({
    dont_print: true
  });
  `

then after executing test in after block I do:

`  fixtures = nock.recorder.play();`
  `fixtures.unshift('\'use strict\';', 'const nock = require(\'nock\');');`
  `fs.writeFileSync(filena

[2017-02-12 22:58] ianwsperber commented on #816
AFAIK this is just the new behavior. Feel free to submit a PR to make the replay functionality compatible with old fixtures.

[2017-02-12 22:58] #816 closed

[2017-02-13 12:24] galenus commented on #610
What's happening with this bug?

[2017-02-13 19:29] andrewaustin opened #827 "Regression in matchStringOrRegexp in 9.0.5"
It looks like the recent change from the commit https://github.com/node-nock/nock/commit/933cbada58d495a54a429bc09176d56d5f58f936?diff=split introduces a breaking change.

Specifically, in the line https://github.com/node-nock/nock/blob/933cbada58d495a54a429bc09176d56d5f58f936/lib/interceptor.js#L344.

Based on my understanding of the code, ```options.getHeader(header.name)``` can return ```undefi

[2017-02-13 19:30] ianwsperber commented on #827
Thanks @andrewaustin, I'll add some defensive coding and get a fix out ASAP

[2017-02-13 20:17] #827 closed

[2017-02-15 16:42] #825 closed

[2017-02-16 03:55] visualjeff commented on #748
Any updates on this?  I'm experiencing the same situation.

[2017-02-16 17:40] ianwsperber opened #832 "Add tests for specific HTTP libraries & version"
We see a number of issues around nock not working with specific node HTTP libraries (ex #748).

We should create subdirectories within tests that include their own package.json and test suite, so we may test nock against different HTTP libraries and versions thereof.

Please use the Newrelic tests as a model for what this would look like https://github.com/newrelic/node-newrelic/tree/master/test/v

[2017-02-16 17:43] #803 closed

[2017-02-16 17:44] ianwsperber commented on #787
Need more information

[2017-02-16 17:44] #787 closed

[2017-02-16 17:46] ianwsperber commented on #810
AFAIK the error message for unmatched requests should include information about the mock it tried to hit https://github.com/node-nock/nock/blob/master/lib/common.js#L176

[2017-02-16 17:46] #810 closed

[2017-02-16 17:51] mrkam commented on #787
Sure. When testing a client that receives chunked stream I need to test how the app behaves when there are delays between chunks. For example, I receive one chunk and then I don't receive anything for 60 seconds. Then I receive a chunk again. I'd like to have a test that does it.

[2017-02-16 18:08] kharandziuk commented on #810
Hi @iangreenleaf . Please, check the sample below:
[code]
I tried to simplify it as much as possible. Consider you are testing an application with some reconnection logic and make a mistake in one of the parameters.
Do you understand my idea?

[2017-02-16 23:44] ianwsperber commented on #812
@zladuric I would write your test as:

[code]

Calling `nock. disableNetConnect();` will ensure nock throws an error whenever an unmocked URL  (eg `/different-url`) is hit

[2017-02-16 23:44] #812 closed

[2017-02-16 23:44] #691 closed

[2017-02-17 11:13] z-vr commented on #699
Just in case I could help someone, I was getting `Network Error` on hosts other than `http://localhost` before I installed `isomorphic-fetch` for my react app.

[2017-02-17 22:42] ianwsperber commented on #824
Need to call `activate` after `restore`. Not a bug.

[2017-02-17 22:42] #824 closed

[2017-02-22 11:55] delijati commented on #191
Is this a valid solution (simply use md5):
[code]
This at least works for my "only" text multipart example.

[2017-02-22 15:32] delijati commented on #191
There was an error in the tests i fixed it with #834

[2017-02-23 09:41] pierscowburn opened #835 "Regex path matching does not work with `allowUnmocked: true`"
I've found that the code path that applies regex matching is sidestepped when `allowUnmocked` is `true` - here's a failing test case:

[code]

The issue seems to be [this logic](https://github.com/node-nock/nock/blob/master/lib/intercept.js#L360:L371) in `intercept.js`, which effectively means that the request overriding is not applied when any of the interceptors have `allowUnmocked` enabled.

[2017-02-23 21:37] #610 closed

[2017-02-24 14:40] kudresov commented on #431
You should be able to monkey patch the library. It's not great to pollute your code with testing conditions, so I would much rather use the approach below.
If you are using Jest you could do something like this:

[code]
and put it into `__mocks__\isomorphic-fetch.js` Jest then automatically replaces all requires (or imports) for this node module.

In other test frameworks you could use something l

[2017-02-27 16:48] gajus opened #837 "reqheaders host function is not invoked"
[code]

`host` function is never called.

[2017-02-27 18:21] #749 closed

[2017-02-27 18:25] ianwsperber commented on #837
The host header is skipped unless specified in both the mock & the request. My guess is that the fetch function is not automatically adding a host header.

https://github.com/node-nock/nock/blob/a783410720052dee19f9eecfd154f569cb8adbaa/lib/interceptor.js#L159
https://github.com/node-nock/nock#specifying-request-headers

[2017-02-27 18:25] #837 closed

[2017-02-27 19:14] gajus commented on #837
It most certainly does (because I set it).

[2017-02-27 19:21] ianwsperber commented on #837
@gajus You do not appear to explicitly set the host header in the snippet above. It is of course possible that your fetch implementation sets the host header itself.

What fetch implementation are your tests using? Nock may be misbehaving with your specific lib (see #832)

[2017-02-27 19:27] #784 closed

[2017-02-27 19:27] gajus commented on #837
https://github.com/gajus/xfetch/blob/3e8a7979df37e8a8b94e080e2145619aa90c6d03/src/index.js#L44-L54

[2017-02-27 19:29] oncletom commented on #409
So if I summarize this issue, there is no way to intercept `fetch` networking activity without relying on an external module nor by stubbing the fetch object?

[2017-02-27 19:47] ianwsperber opened #838 "Cleanup docs"
The docs are little sloppy. We should:

1. Create an `API.md` file that clearly documents the nock API.
2. Fix wording where necessary
3. Simplify the sections

[2017-02-27 19:50] ianwsperber commented on #837
@gajus If you think this is a bug in nock please reopen the issue. If you added a test reproing the bug it would get us to resolution fastest.

[2017-02-28 16:51] kharandziuk commented on #810
@ianwsperber hey, did you have time to read my sample?

[2017-02-28 17:08] ianwsperber commented on #810
@kharandziuk What error do you see currently?

[2017-02-28 17:11] ianwsperber opened #839 "`socketDelay` broken by v9.0.8"
PR #802 may have broken `socketDelay`.

As reported by https://github.com/node-nock/nock/pull/802#issuecomment-282994787

*Steps*
1. Repro
2. If reproducible, revert
3. Fix

[2017-02-28 17:13] ianwsperber commented on #839
@matteocontrini & @lpinca, what version of `request` were you using when you encountered this bug?

[2017-02-28 17:23] lpinca commented on #839
I'm `got@latest` but the request library has probably nothing to do with it.

[2017-02-28 17:27] ianwsperber commented on #839
@lpinca PR #802 was introduced specifically because nock timeouts were failing with certain versions of the `request` module. We have previously seen issues with nock restricted to specific HTTP libraries/versions.

[2017-02-28 17:48] matteocontrini commented on #839
I'm using request 2.79.0, which is the latest version

[2017-02-28 18:22] ianwsperber commented on #839
I was able to repro, will revert.

[2017-02-28 18:31] ianwsperber commented on #754
Fix created #839, will need to re-address.

[2017-02-28 18:33] ianwsperber commented on #839
Just released v9.0.9, should be fixed. Thank you for reporting @matteocontrini, @lpinca & @matteocontrini. Please let me know if you continue to see issues.

We will reattempt #802 once #832 is complete.

[2017-02-28 18:33] #839 closed

[2017-02-28 18:35] lpinca commented on #839
@ianwsperber sorry I wasn't clear. What I meant is that I think the issue is not caused by a specific request library. Thanks for the quick "fix".

[2017-02-28 18:36] ianwsperber commented on #839
@lpinca I think you're right with that assessment, but I wanted to check just because the cause was related to a specific lib. The tests evidently didn't cover this use case 😢

[2017-02-28 19:04] lpinca commented on #839
Here is a test case to reproduce the issue.

[code]

This is what `got` does under the hood. Hope it helps.

[2017-02-28 20:11] kharandziuk commented on #810
What do you mean? I'm asking about new feature
but in any case:

[code]

[2017-02-28 23:48] rainyday opened #841 "sending request to unused path with popsicle causes note process to hang indefinitely"
Platform: Windows 8.1

Packages:

* nock@9.0.9
* popsicle@9.1.0

Requesting a url that hasn't been registered in nock will cause the entire node process to block indefinitely until it is killed. Simple example:

[code]

[2017-03-01 01:28] ianwsperber commented on #841
@rainyday Does this only happen for you with popsicle? What version of Node are you running?

[2017-03-01 04:23] aleung commented on #839
It's better to add a test case into nock's test suite to cover it.

[2017-03-01 18:04] rainyday commented on #841
Using node v6.10.0 and I've only had this happen with popsicle. Doesn't happen when just calling `http.get` for example.

[2017-03-01 18:23] ianwsperber commented on #841
@rainyday I was able to repro. We also see this bug with `got`. Notably both libs are promise based.

Run `npm run integration` on branch `bug-841-popsicle-hangs` (https://github.com/node-nock/nock/blob/bug-841-popsicle-hangs/tests/versioned/common.js#L57)

[2017-03-01 18:26] ianwsperber commented on #841
@rainyday If you have the bandwidth to track down the cause of this bug it'd be appreciated. Otherwise may take a bit to get to.

[2017-03-01 18:27] #832 closed

[2017-03-01 18:27] ianwsperber commented on #832
Done

[2017-03-01 18:28] ianwsperber commented on #839
@aleung Feel free to open a new PR with @lpinca's test case and a reattempt at your fix.

[2017-03-02 15:52] antonsamper commented on #571
A quick note on @dhinus solution. It does work but you will need to also ensure that you put the properties in the correct order. The following will give different results:
[code]

[2017-03-02 16:27] dhinus commented on #571
@antonsamper true, I noticed that too after posting my comment. Thanks for adding a note about that.

[2017-03-02 19:42] rainyday commented on #841
Been looking at it as I have time. Will submit a request if I find anything.

[2017-03-02 22:42] sterlingwes commented on #496
I ran into this with 9.0.2. The fix was to either return a readable stream from the function or handle the delay yourself with a timeout and the callback response approach.

[2017-03-03 00:21] sacredMonster opened #843 "[Help wanted] Does Nock not work with intranet calls"
Hi,
I am fairly new to Nock and am trying to write async action tests. I am using Nock to mock httpRequest sent to an intranet site and I keep getting this error. Could someone please help me understand how to achieve this. Thanks..

FetchError: request to {MaskedForPrivacy} failed, reason: Nock: No match for request {
      "method": "GET",
      "url": "{MaskedForPrivacy}",
      "headers": {

[2017-03-03 05:58] jmnsf opened #844 "Add support for customizing matching in nock.back"
The use case is sending dates with timezone information in the request, specifically ISO8601. A developer in Melbourne will have +11:00 on their dates while someone in Lisbon will get +00:00.

Same dates exactly, but won't match on the request.

[2017-03-03 15:55] ianwsperber commented on #843
@sacredMonster Nock should work as long as you're using HTTP. It looks like nock hasn't been setup correctly for your host. Could you share your code?

[2017-03-03 19:07] sacredMonster commented on #843
Thank you for your help.

Here is the code. I am using import fetch from 'isomorphic-fetch' to call my API which I am masking for privacy.

// Action
import * as actionTypes from '../../shared/actionTypes';
import { fetchData} from '../../dal/Service';

function requestTeamData() {
  return {
    type: actionTypes.REQUEST_Team_DATA,
  };
}

function receiveTeamData(json) {
  return {
    type: act

[2017-03-03 19:33] ianwsperber commented on #843
@sacredMonster What endpoint does `fetchTeam` try to hit? Your nock is only setup for `/`.

Also nock appears to have issues with fetch ATM: https://github.com/node-nock/nock/issues/409

[2017-03-03 20:21] sacredMonster commented on #843
I want to specify an exact url as the first parameter in nock. I was under the impression that in get if I specify what I have written it will just consider the entire match

[2017-03-04 06:56] Hyjaz commented on #435
@FuzzySockets so what did you do? How did you test, your API? Please let me know, because I am having the same issue right now.

[2017-03-04 06:58] Hyjaz opened #846 "Cannot get nock to match supertest delete"
[code]

it gives me this error:
[code]

[2017-03-04 17:46] Hyjaz opened #847 "Nock body different from supertest"
this is my code:
[code]

it give me this error:
[code]

As if nock is not making the correct conversation, such that it matches supertest.

[2017-03-09 01:02] philipkobernik commented on #838
👍

[2017-03-09 13:53] aditya1315 commented on #699
I have a similar issue with axios (setup - jest + enzyme, react, redux) when I am testing an async [action](http://redux.js.org/docs/basics/Actions.html). When I try to dispatch an action ( store.dispatch(fetchData()).then() ), I get the error

`TypeError: Cannot read property 'then' of undefined`

Why is this happening? nock is unable to mock the http request, I have looked at a lot of sources, b

[2017-03-11 02:40] jonahlau opened #849 "No match error even though url matches"
Hi there,

I'm currently writing some tests for an endpoint on my server that redirects (302) the client to https://www.facebook.com for oauth. I am trying to stub out the redirect to Facebook using nock as follows:
[code]

However, when I hit the actual endpoint (e.g. https://www.facebook.com/dialog/oauth?response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fauth%2Ffacebook%2Fcallback%3

[2017-03-13 08:53] getlittletech opened #850 "Weird "PassThrough" instead of the body"
Hello!

Despite the setups I try, I always get the same result.

Here is a minimalistic example that reflects the issue:

1. Installed nock and node-fetch (tried isomorphic-fetch too!). package.json:

[code]

2. Added a sample code to index.js:

[code]

3. run  `node index.js`

4. this is the output:

[code]

So, I cannot use the body specified in the nock setup... Am I doing anything wrong? What

[2017-03-13 09:55] getlittletech commented on #850
Can it be a Node version? I am using the recent v7.7.1 of Node.

[2017-03-13 18:01] ianwsperber commented on #850
@getlittletech Is your usage of `node-fetch` correct? The docs show the correct way to get the body as:
[code]

https://github.com/bitinn/node-fetch#usage

[2017-03-13 22:37] Arbolista commented on #705
I've tried numerous different setup and teardown strategies and cannot get multiple tests to run properly with nock (running mocha and supertest). For instance:

[code]

[2017-03-14 07:41] getlittletech commented on #850
Hm.. interesting, I thought I closed the issue yesterday. Probably didn't go through.

Yes, @ianwsperber you are absolutely right, the syntax in the example in the question is not correct.

In my defence, I have probably had the right syntax at first. But it didn't work, so I have started changing and trying things.

After googling for "nock not working with react" I found out, nock might have som

[2017-03-14 07:41] #850 closed

[2017-03-14 09:48] liorur commented on #571
syntax suggestions fro PR:

[code]

or

[code]

WDYT?

[2017-03-14 22:47] walshe opened #851 "Nock - Google Cloud calls"
I used the recorder to grab the calls that my code makes to google datastore and it works fine in that respect. However, its nice to be able to run the tests without any internet, and when I switch off the internet I get a load of these messages:

D0314 18:46:23.212548000 123145425588224 dns_resolver.c:186] dns resolution failed: retrying in 1.000000000 seconds
E0314 18:46:24.216779000 12314542558

[2017-03-15 18:21] matteocontrini commented on #849
https://github.com/node-nock/nock#specifying-request-query-string

[2017-03-15 20:36] #847 closed

[2017-03-15 22:08] kilianc opened #852 "Add pretty diff output to error output"
It would be nice to have a pretty diff in the terminal when nock doesn't match. Not sure how to 1 to 1  the req and the nock but I lose a lot of time inspecting the request against expectation.

[2017-03-16 15:06] csabapalfi opened #853 "Add tests, examples and assets to .npmignore"
This would save 1.6MB in the npm module. But if you want to be more cautious then simply adding `tests/browserify-public/browserify-bundle.js` to `.npmignore` saves us 1.2MB as that's the main culprit.

[code]

[2017-03-16 15:42] stevematdavies commented on #699
This also appears to be happening with prequest requests to0

[2017-03-16 16:01] oroodie commented on #543
Hi, had same  "Error: Nock: No match for request ...", did remove another test file with not mocked server request, after it worked fine.

[2017-03-17 10:45] giannisp commented on #491
Same issue here, had to use `persist()` or `cleanAll()` to get around it.
Wondering if something is wrong with the submitted PR.

[2017-03-19 10:14] disrupticons opened #856 "nock.cleanAll() does not remove pending mocks from scopes"
[code]

This is similar to the issue fixed by #721 where interceptors were not removed from scope when using `removeInterceptor()`

[2017-03-20 18:41] ianwsperber commented on #853
Thanks @csabapalfi, I believe this was solved by #858. Closing issue, please LMK if you think it needs to be reopened

[2017-03-20 18:41] #853 closed

[2017-03-20 18:42] ianwsperber commented on #851
@walshe Please share code and someone may be able to help you debug. Otherwise not enough info

[2017-03-20 19:04] ianwsperber commented on #851
Hi! We try to reserve issues for bug reports and feature requests. If you have a usage question please post in our gitter (https://gitter.im/node-nock/nock). Thanks!

[2017-03-20 19:04] #851 closed

[2017-03-20 19:06] ianwsperber commented on #843
Your scope needs to specify the full path. Closing so we can reserve issues for bugs/feature requests.

[2017-03-20 19:06] #843 closed

[2017-03-20 19:10] ianwsperber commented on #790
@morenoh149 Let's fold this into #838

[2017-03-20 19:10] #790 closed

[2017-03-20 19:11] ianwsperber commented on #838
4. Fix indentation

@philipkobernik Please keep chatter to a minimum

[2017-03-20 22:16] csabapalfi commented on #853
Thanks!

[2017-03-21 12:30] aleung commented on #754
To fix this issue, we first need to clarify some delay concept in nock.

Let's define the timeline of a request:

[code]

From current `nock` source code, I can find that:
- `D-E` is set by `delay.head`, or `delayConnection()`, or `delay()`.
- `E-F` is set by `delay.body`.
- `socketDelay()` doesn't affect the timeline. It only emit `timeout` if `socket.setTimeout()` is called. (I don't understand

[2017-03-21 12:32] aleung commented on #839
@ianwsperber @lpinca @matteocontrini Could you read [this](https://github.com/node-nock/nock/issues/754#issuecomment-288064012) and comment on it? I try to analysis this issue.

[2017-03-21 14:17] lpinca commented on #754
@aleung

Not 100% correct. The `timeout` option calls `socket.setTimeout()` as soon as a socket is assigned to the request and this checks if there is socket activity for the whole duration of the request not only B-C.
Also the `timeout` option only works on Node.js >= 6.8.0. See https://github.com/nodejs/node/pull/8101.

I think `socketDelay()` should prevent data from being written to the socket

[2017-03-21 21:54] hyalkaf opened #860 "Nock is not working for certain requests?"

[2017-03-21 22:05] hyalkaf opened #861 "Nock is not working for certain requests (No match for request)"
I'm trying to test my actions by dispatching them with a mock store and then compare returned api result with dispatched one but for some reason some of them work and others don't. Here is the code:

helper function used for doing the tests:
[code]

My tests:
[code]

The first test passes while the last two don't with these error messages:

[code]

[2017-03-22 09:22] abarre opened #863 "Regression in matchBody method introduced by the feature"
The commit (https://github.com/node-nock/nock/commit/87556e21eaf4cf8492f5cd590d9454aec156b24c#diff-f7a7f1f3d9e28ef78a493002d2cb1f73) add a severe regression on the object comparison. The number of keys is not verified.

An example :

[code]

I'm not sure how to fix it while keeping the introduced feature : [feature] allow matching body with RegExp.

One quick solution is to revert the mentioned co

[2017-03-22 10:45] aleung commented on #754
Nock also breaks node.js `http.request` `timeout`. (Node.js >=6.8.0)

[code]

[2017-03-22 10:57] aleung commented on #754
@lpinca @ianwsperber @matteocontrini
I believe I found the cause of this issue. I updated in my previous [comment](https://github.com/node-nock/nock/issues/754#issuecomment-288064012) inline.

Who can clarify the meaning of `socketDelay`? Socket timeout should be able to be triggered by `delay.head` and `delay.body`, not only by `socketDelay`.

[2017-03-23 07:29] raghavgujjar opened #865 "Nock throws error when reply contains error"
Here is the code:
[code]
I'm using supertest to test my express end point and mocking just the API I'm connecting to. I'm handling errors correctly in the application. Whenever I upload and there is an error returned from the service, the app doesn't crash. But, when I mock and test, I see an npm error.

[code]
It doesn't even tell me which line failed?

The error object in the supertest callback

[2017-03-23 07:40] raghavgujjar commented on #865
I've been spending more time getting my testing in place. Any help will be highly appreciated.

[2017-03-24 15:47] raghavgujjar commented on #865
This was an issue with `node-tap`

[2017-03-24 15:47] #865 closed

[2017-03-26 14:46] aleung commented on #839
Please review PR #859, which is a new fix.

[2017-03-26 15:17] bennyn opened #866 "Support for HAR (HTTP Archive) files"
Hello, I use nock as follows:

[code]

Instead of writing mocks for my HTTP endpoints I would like to use `.har` captures of my webservice to create mocked endpoints.

Do you plan support for `HAR`? It would be so convenient to mock a server from HAR files as they can be easily grabbed from real endpoints using [Chrome](https://toolbox.googleapps.com/apps/har_analyzer/), Firefox or Internet Explor

[2017-03-27 09:11] jmnsf commented on #484
Having the same issue here, also with functional tests to our own server. They're getting recorded instead of being let through.

[2017-03-28 07:45] Coooi commented on #705
I also had the same issue @Arbolista.
I could work around this by separating the tests into different describe test cases.
Make sure to modify the name of the test in the describe function.

[2017-03-28 17:17] moaxaca commented on #804
@ianwsperber Hey there appears to be an open PR, can you get the resolved?

[2017-03-28 17:52] ianwsperber commented on #804
@moaxaca Just left a comment on the PR! You can help get the PR merged faster if you could confirm whether it fixes the bug on your machine 😄

[2017-03-28 17:56] ianwsperber commented on #866
No plans to add @bennyn, and I don't think it'll be on the roadmap. I'd suggest making an external library that converts HAR files into the fixture files consumed by nock's "back" feature

[2017-03-28 17:56] #866 closed

[2017-03-28 17:56] #860 closed

[2017-03-28 17:56] ianwsperber commented on #861
Hi! We try to reserve issues for bug reports and feature requests. If you have a usage question please post in our gitter (https://gitter.im/node-nock/nock). Thanks!

[2017-03-28 17:56] #861 closed

[2017-03-28 17:58] ianwsperber commented on #849
Hi! We try to reserve issues for bug reports and feature requests. If you have a usage question please post in our gitter (https://gitter.im/node-nock/nock). Thanks!

[2017-03-28 18:19] bennyn commented on #866
Too bad to hear that. 😢

Even the famous [request](https://github.com/request/request) module supports the HAR standard:
https://github.com/request/request#support-for-har-12

Luckily I found [sinon](https://github.com/sinonjs/sinon), which supports .HAR files via an external library (like you suggested) called [sinon-har-server](https://github.com/larsthorup/sinon-har-server).

[2017-03-28 18:31] ianwsperber commented on #705
Hi! We try to reserve issues for bug reports and feature requests. If you have a usage question please post in our gitter (https://gitter.im/node-nock/nock). Thanks!

[2017-03-28 21:23] moaxaca commented on #804
@ianwsperber Looks good to me, I will look deeper into the PR later tonight. 👍

[2017-03-29 00:13] #856 closed

[2017-03-29 00:19] ianwsperber commented on #804
Thanks @moaxaca! Please comment on the PR when you have a chance.

[2017-03-29 00:20] #849 closed

[2017-03-29 19:55] emilycoco opened #867 "delayConnection causes hang when used with request.abort()"
When using delay connection, request.abort() does not terminate the request correctly, so the test hangs until heap is full. Using request.end() instead of abort fixes the issue. Sample case:
[code]
In code being tested:
[code]

[2017-03-29 23:07] dcstone09 commented on #804
@ianwsperber @moaxaca The PR has been updated 👍

[2017-03-29 23:15] moaxaca commented on #804
@dcstone09 Sounds good pulling it in 40m to see if everything passes.

[2017-03-30 00:36] felipead commented on #804
🎉

[2017-03-30 17:35] ianwsperber opened #868 "Add stricter linting, for tests & lib directory"
Contributors should be forced to follow a set convention.

[2017-03-30 21:22] paulmelnikow opened #870 "Extra requests for same hostname fail unexpectedly"
Hi, thanks for your work on this useful library!

I'm using Nock Back to write some experimental tests for [shields](https://github.com/badges/shields) and I'm running into a bit of difficulty. Based on the [description of the dryrun and record modes](https://github.com/node-nock/nock/blob/master/README.md#modes), I'd expect these modes to allow any http call. The behavior I'm seeing is that they

[2017-03-31 08:47] albertogasparin commented on #496
I'm also having the same issue (node 6.10.1, nock 9.0.11).
Using `axios` to make the request, the combination of `delayBody` + `reply(fn)` triggers a `Invalid non-string/buffer chunk` error:

[code]

[code]

[2017-04-02 04:28] mrooths opened #872 "Nock not decoding URL properly when quotes present"
I'm currently trying to build an app that interfaces with SharePoint online. The API endpoint I need to hit uses a single quote in the URL. I've tried double quotes and the behavior is the same. The HTTP request module I'm using is https://request.js.org/. When trying to post to the nock'd endpoint, nock doesn't decode the single or double quotes correctly. All other non-ASCII characters (colon, f

[2017-04-02 13:33] OscarBengtsson opened #873 "mock { ok: false } with status 200"
How can I mock the response { ok: false } with status 200?

[code]

Currently I get response.ok = true

[2017-04-04 14:47] ami44 opened #874 "nock two hosts"
hello

I have a node/expressjs subscribe route  which call 2 apis : https://www.google.com:443 (/recaptcha/api/siteverify (use to test if not robot)) and https://api.sparkpost.com:443 (/api/v1/transmissions (use for send email)).

All examples and test/* use already one host but never 2, 3 ... to intercept.

How set nock to intercept this 2 hosts ?
Is-it possible ?

Thank
Ami44

[2017-04-04 22:41] lukas-gitl commented on #398
Would very much love this!

[2017-04-05 07:57] ami44 commented on #874
solution

[code]

Thanks
Ami44

[2017-04-05 07:57] #874 closed

[2017-04-06 06:26] shai32 commented on #699
the problem is with fetchData, can you print it?
it should return a promise, does it?
also if u use axiox in fetchData, you should also need the adapter (define in the actions file after you import the axios)
axios.defaults.adapter = httpAdapter;

[2017-04-06 19:12] kellyrmilligan commented on #591
yeah, right? the redux docs have isomorphic fetch being used with nock, but it's not really working from what I can tell :(

[2017-04-06 19:21] kellyrmilligan commented on #591
fetch-mock is working well for me for this.

[2017-04-06 19:22] rublev commented on #591
@kellyrmilligan can you show us your setup? which package versions?

[2017-04-06 20:48] kellyrmilligan commented on #591
sure:

[code]

I edited the code a bit to make it more generic, hope this helps.

[2017-04-08 19:24] shai32 opened #877 "Add support to work with hapi-boom"
I am doing a tests to my client app that work with an api server ( hapi + [boom plugin](https://github.com/hapijs/boom)).
I want to mock my hapi server with a boom error

so I want to do something like that:

    nock("http://myHapiServer").post('/auth').replyWithBoom(Boom.unauthorized('unauthorized user'));

in order to make it work, I am doing a monkey patch

<pre>
let Interceptor = nock('/').ge

[2017-04-10 00:03] tconroy opened #879 "[question] interceptor not intercepting request?"
I'm trying to use Nock to write some unit tests for an intermediary API server. Essentially the server proxies requests between a client and a more complex backend API.

The problem is, Nock doesn't seem to actually be intercepting the request I defined. It keeps stating that there is an `ummatched GET request to <route>`, however `<route>` is exactly what I defined in the nock setup.

Here is my

[2017-04-10 17:23] ianwsperber commented on #877
I'd make your own library to extend nock with this functionality @shai32. Might be other people who have this same use case, but won't apply to most people who use nock

[2017-04-10 17:23] #877 closed

[2017-04-10 17:25] ianwsperber commented on #872
Hi! We try to reserve issues for bug reports and feature requests. If you have a usage question please post in our gitter (https://gitter.im/node-nock/nock). Thanks!

[2017-04-10 17:28] ianwsperber commented on #872
@mrooths I'd try using `encodeURIComponent` on the path before passing it to nock. eg:

[code]

Please post further questions in the gitter 😄

[2017-04-10 17:28] #872 closed

[2017-04-10 17:30] ianwsperber commented on #838
5. Add section explaining matching algorithm for requests (per request from @anyong)

[2017-04-10 20:40] shai32 commented on #877
So maybe just let me import the Interceptor, so anyone can extent it as needed for its own project.

[2017-04-10 20:42] ianwsperber commented on #591
Relates to #409

[2017-04-10 20:43] shai32 opened #881 "add support for axios"
There is some issues testing nock with axios

mocking a server api
<pre>
 nock(url).get('/test')
.basicAuth({ user: 'foo', pass: 'bar' })
.reply(200, 'Here is the content');
</pre>

calling from axios
<pre>
axios.defaults.adapter = httpAdapter;

axios.get(url, {
  auth: {user: 'foo', pass: 'bar'  }
});
</pre>

This is no match, after investigating the source code of both nock and axios, I found th

[2017-04-12 01:27] csalvato commented on #748
FWIW, I also have this problem,  but `matchHeader` is also not working.  I am using `isomorphic-fetch`, if that makes any difference.

[2017-04-12 01:29] csalvato commented on #748
If I had to guess, it smells like there's an incompatibility with different implementation of fetching.  e.g. `isomorphic-fetch` may work differently to `superagent` may work differently to `request`.

[2017-04-12 17:04] ianwsperber commented on #748
@csalvato I think that's probably correct. Nock currently has a few issues with fetch (ex #409). I think we need to do an overhaul of nock soon to make fetch a first class citizen.

[2017-04-13 19:59] paulmelnikow commented on #868
I'd be happy to help with this if you'd like.

[2017-04-13 20:24] ianwsperber commented on #868
That'd be amazing @paulmelnikow! In the my mind the steps are to:

1. Create a `.eslintrc` file for the project that extends an acceptable community standard (eg https://github.com/airbnb/javascript, https://github.com/FormidableLabs/eslint-config-formidable). Inevitable this will require some discussion/feedback.
2. Create a `lint` command in the package.json that runs eslint on the code base (`n

[2017-04-13 20:47] paulmelnikow commented on #868
Sounds good. Those steps sound good.

Often the linter finds real errors in the code, and fixing them inevitably changes the behavior. It also tends to create big diffs, which then cause conflicts with open PRs. All good reasons to take things gradually, hit the high-impact changes first, and save the noisier changes for later.

One thing I'd suggest, is to defer the style guide discussion until a

[2017-04-14 03:41] paulmelnikow commented on #868
I took a stab at putting a branch together: https://github.com/node-nock/nock/compare/master...paulmelnikow:eslint.

This is using `eslint:recommended` plus a couple extra whitespace rules, and strict mode. It's a moderately large diff, primarily on account of a mass of unused variables in `test_intercept.js`.

Not much changing of substance though.

I've got one failing unit test. It's a false ne

[2017-04-14 20:23] nknapp opened #882 "Abort an aborted request: Endless loopwith popsicle and nock"
When I'm using `nock` to simulate an Error emitted by a request, `popsicle` and `nock` seem to throw errors back and forth between each other. Core-temperature rises, cooling-fans start getting noisy.
A very simple example to reproduce this is

[code]

The program seems to bounce between the lines:

* https://github.com/blakeembrey/popsicle/blob/master/src/index.ts#L220
* https://github.com/blakee

[2017-04-16 22:17] shai32 commented on #881
?

[2017-04-17 17:53] paulmelnikow commented on #868
1. Can you help me fix the [this test](https://github.com/node-nock/nock/blob/master/tests/test_back.js#L138-L184), which passes erroneously because `scope.done()` on line 161 causes a `ReferenceError`?
2. Would you like me to open a PR for that branch?

[2017-04-18 00:46] noperative opened #883 "Allow different responses per call?"
Similar to sinon [stubs](http://sinonjs.org/releases/v2.1.0/stubs/) is there a way to allow nock to give a different response on call n. For example I want to simulate retry code where if I get an error I retry and get the correct response. This can either work by cleaning nock as soon as it finishes the first call (is this possible?) so that the real http request goes through or mocking the 2nd r

[2017-04-18 17:45] paulmelnikow opened #884 "disableNetConnect() / "Not allow net connect" errors are swallowed up"
I'm testing the API for [shields](https://github.com/badges/shields), which is a server that sits in front of a bunch of third-party APIs. I wrote a [plugin that integrates Nock](https://github.com/paulmelnikow/icedfrisby-nock) into an [API testing framework](https://github.com/MarkHerhold/IcedFrisby/). Overall it's been fun and is working well!

I did encounter a surprising behavior which was tri

[2017-04-18 21:17] CFreeAtEbsco commented on #804
Any updates here?

[2017-04-18 21:57] dcstone09 commented on #804
@CFreeAtEbsco I just updated the test, everything looks good to me.

[2017-04-21 02:52] ianwsperber commented on #868
@paulmelnikow Thanks so much for taking the initiative on this! I like your decision to start with a sensible baseline (`eslint:recommended`). Please do open a PR and I will take a look at it within the next few days. Skimmed through the code just now and it looks solid. Happy to help you fix the test once we have the PR up, so we can verify changes with CI. 😄

[2017-04-21 02:57] ianwsperber commented on #870
Interesting @paulmelnikow. I actually just encountered a very similar issue using `nock.define`, where I actually had to _reverse_ the order of my fixtures to get nock to load the definitions correctly... Could you try reverse the scopes in fixtures to see if that affects the tests? Want to make sure it's not related.

[2017-04-21 03:00] ianwsperber commented on #881
@shai32 The basic auth spec states the string must be Base64 encoded: https://en.wikipedia.org/wiki/Basic_access_authentication. Where in the codebase are you seeing this not done in Nock?

Also, from what I see above, the problem is that axios is setting the header to `proxy-authorization`, not `authorization`. Try manually constructing a header on that field.

[2017-04-21 03:00] #881 closed

[2017-04-21 03:00] ianwsperber commented on #881
If you think this is a bug or want to raise a feature request after further discussion please do. Otherwise move to github.com/node-nock/nock

[2017-04-21 03:01] ianwsperber commented on #883
Hi! We try to reserve issues for bug reports and feature requests. If you have a usage question please post in our gitter (https://gitter.im/node-nock/nock). Thanks!

[2017-04-21 03:01] #883 closed

[2017-04-21 03:05] ianwsperber commented on #882
@nknapp Looks right to me. Do you want to create a PR of your fork and we can get in a fix? If you have bandwidth to add a test as well that'd be wonderful.

[2017-04-21 03:15] ianwsperber commented on #867
Suspect this is related to #882

[2017-04-21 04:03] paulmelnikow commented on #868
Sounds good! Opened #885.

[2017-04-21 04:17] paulmelnikow commented on #870
Hmmm, interesting.

After running the first snippet I have one fixture. The second snippet crashes so it doesn't save anything else.

[code]

If I reverse the order of the http calls in the second snippet, the `?foo=2` call still fails.

Given that, I wouldn't suppose it's related to what you're seeing.

[2017-04-21 11:09] ashik94vc opened #887 "Nock not matching multipart-formdata"
Hey, Nock is doing great for any request apart from multipart form data. I couldn't get multipart formdata to work with nock.

I declared content type in my header as,
[code]
and appended form data like `new FormData().append('user',1)`

[2017-04-24 00:18] paulmelnikow commented on #720
I'm using/evaluating Nock Back for something similar. I solved this problem by wrapping some light tooling around each service's tests, to set up Nock Back, and point it to that service's fixtures. If you use Mocha, this is pretty easy to do using describe and describe.only, with before and after hooks.

[2017-04-26 22:11] westy92 opened #888 "Error: getaddrinfo ENOTFOUND"
I'm running the following TypeScript code:
[code]

And getting the following error:
[code]

Instead I expected `nock` to intercept this and return a 200 response code.

I'm using the latest version of `nock`, `request-promise`, and Node.js v6.10.2.

[2017-04-27 18:26] westy92 commented on #888
Turns out calling `nock.restore();` in a different file caused `nock` to not work here.  Removing that line fixed everything!

[2017-04-27 18:26] #888 closed

[2017-04-28 02:04] hedgerh commented on #699
This is problem is related to jsdom, somehow.  I switched from using Jest to using Jasmine as my testing framework and axios works out of the box with nock without changing the adapter or anything like that.

[2017-04-28 21:01] ronami commented on #699
When axios is initializing , it checks if it's running in browser or node ([see here](https://github.com/mzabriskie/axios/blob/master/lib/defaults.js#L16)) and it uses the appropriate adapter (http for node, xhr for browser and jsdom).

This means that if you require/import axios after you already have a jsdom globally available, axios will use the xhr adapter and use jsdom's XMLHttpRequest object

[2017-05-01 08:17] manmadan03 opened #889 "Nested request not succeeding while using nock"
I have defined the following simple function and I want to test this using nock.
[code]

Below is my nock setup.

[code]

The issue here is that the `callback` is not being called back. Always the first `GET` request passes but the `PUT` request neither passes nor fails. I do not see any errors as well.

Here is my `console.log`s
[code]

[2017-05-02 13:13] gustavjf opened #890 "Flow fails with nock installed as a dependency"
I'll just link this existing issue since it already describes what I'm seeing.

https://github.com/facebook/flow/issues/3739

Happy to provide any other information if needed.

[2017-05-05 01:15] gurpreetatwal opened #892 "inconsistencies in matchHeader for numbers"
`matchHeader` has inconsistent behavior when trying to match headers that contain numbers. Due to a truthy check that was introduced to the [`matchStringOrRegexp`](https://github.com/node-nock/nock/blob/master/lib/common.js#L310) method in `lib/common.js` in #827, numbers other than `0` get converted to string before matching but 0 does not.

Given the headers
[code]
The following would happen
[co

[2017-05-05 01:15] gurpreetatwal commented on #892
relevant test cases:
[code]

[2017-05-05 10:49] gurpreetatwal commented on #890
That error is actual in another [module](https://github.com/dylang/changelog) that nock depends on. I looked into that module, seems like they have fixed that bug on their master branch but have not published the changes to npm, they have a pending issue for that: dylang/changelog#31

[2017-05-05 11:07] gurpreetatwal commented on #889
The callback is getting called, however your test runner is not waiting for your code to complete before moving onto the next test because you have not "signaled" to your test runner that your test code is asynchronous. If you are you using mocha can accomplish this by either returning a promise from your test or by modifying your test implementation to take a `done` callback.

This is what your c

[2017-05-05 11:46] gustavjf commented on #890
Ah I see. Thank you @gurpreetatwal

[2017-05-05 11:46] #890 closed

[2017-05-09 19:03] faulke commented on #543
The empty string solution didn't work for me, but this seemed to work for mocking a POST to ELB service.  Make sure the mocked POST body matches exactly with the real request.

[code]

[code]

[2017-05-11 04:18] s-taylor opened #896 "Issues with querystring array matching"
I'm having some issues with using nock recording with regards to arrays in query strings. As an example I want to sent the following data to the server `{ queryArr: ['value1', 'value2', 'value3', 'value4'] }` and record this with Nock.

I was originally trying this with just the default `querystring` module which gave me this...

URL is `https://www.nock.com/some-route?queryArr=value1&queryArr=val

[2017-05-11 13:55] ayxos opened #897 "Example with sync xhr calls?"
Is there any way to run it with sync xhr calls?

[2017-05-12 01:21] s-taylor commented on #896
It's possible my issue is this https://github.com/node-nock/nock/issues/376
Though it's probably worth mentioning somewhere that this module doesn't support `querystring` array formats.

[2017-05-12 01:56] andrewk commented on #698
Experiencing this problem trying to test API polling using setInterval and nock. Requests no longer occur once `clock.tick` has been called.

Nock could use the same Date referencing strategy as Mocha uses to avoid this problem - https://github.com/mochajs/mocha/pull/392/files

Would the maintainers be open to a PR implementing the above?

[2017-05-12 07:56] jonathonherbert commented on #887
If you're referring to matching multipart/form-data fields, this isn't supported yet. See [#191](https://github.com/node-nock/nock/issues/191).

You can spy on the contents of multipart data to match the request content, though:

[code]

If you're sending files, the body will be in hex, which you'll have to decode yourself:

[code]

[2017-05-13 03:05] SeanHayes opened #900 "How to alter response when recording/replaying with nock.back"
I've tried using before, after, and afterRecord callbacks to alter the status and response for an API call, and nothing seems to do what I want.

[2017-05-13 04:27] #900 closed

[2017-05-15 11:29] dipunm opened #901 "set badheaders on a request by request basis instead of by domain."
Currently, I can only send badheaders as an option when setting up a nock on a given domain. However, I want to assert bad header on a request by request basis.

Let me know if there is a reason for not doing it. :)

FYI:
I want to change from this:
[code]

to this:
[code]

[2017-05-18 16:22] BenMGilman commented on #884
+1

[2017-05-18 21:40] AdamTyler opened #910 "Nock doesn't support request.credentials"
When using fetch API to make a request of a nock endpoint, adding the [credentials](https://developer.mozilla.org/en-US/docs/Web/API/Request/credentials) field will cause a Network Request error:

[code]

without the `credentials` field on the fetch, the request works fine.

Fetch code:
[code]

Nock code:
[code]

[2017-05-23 11:41] yamikuronue commented on #698
I don't have this problem today. Has it been silently fixed, maybe by Sinon's upgrade?

[2017-05-24 11:30] jasperkuperus commented on #884
Sounds similar to what I experience. My app handles the errors thrown by nock, but I'd like my spec to fail. I would like to be able to ask `nock` if there were unmatched requests during the spec, similar to how you can ask if there are still pending mocks, e.g.:

[code]

For now, I've solved it like this in my spec:

[code]

[2017-05-24 15:39] mattdell commented on #475
Still having this issue.

[2017-05-26 03:53] s-taylor commented on #896
I've submitted a PR to fix this...
https://github.com/node-nock/nock/pull/917

[2017-05-26 03:57] s-taylor commented on #376
I think my PR will fix this since it's now using `qs.parse`.
https://github.com/node-nock/nock/pull/917
https://runkit.com/nizmox/5927a7344f8ffb00122fc2f8

[2017-05-28 15:13] edorivai opened #920 "Specified request body not properly enforced"
I apologize if this is a duplicate issue, I tried googling a bit, but couldn't find anything similar.

I would expect the following code to fail with `Nock: No match for Request`:

[code]

As you can see, I specify the interceptor to match for a request body of the following shape:
[code]
However, I'm sending a request with the following shape:
[code]

To my surprise, Nock happily matches this req

[2017-05-28 15:40] edorivai commented on #920
I think the #921 closes this. Feel free to close when #921 is merged.

[2017-05-30 21:20] stevenvachon opened #922 "Nock test suite breaking on Node 8.x"
* My project's test suite breaks
* Nock's test suite breaks

[2017-05-30 23:00] Rush opened #923 "Recorded requests with query including square brackets are not matching"
The query `https://foo.com/wp-json/posts?filter[posts_per_page]=50` was recorded with `nock.recorder.rec` resulting in:
[code]

Running with `DEBUG=nock.scope` gives the following log:
[code]

It seems the issue with `{"filter[posts_per_page]":"50"}` not matching `{"filter":{"posts_per_page":"50"}}`

Little change of querying with the below works around the issue.
[code]

[2017-05-31 05:35] jeremysik commented on #543
I'm getting the same issue too:
[code]
Request data:
[code]
Logs:
[code]
Error:
[code]

Passing empty string or adjusting the regex to match anything doesn't work.

Interestingly, on AWS's KMS endpoint, this works:
[code]

[2017-05-31 13:42] panva opened #925 "matchHeader doesn't work in Node 8.x"
`matchHeader` no longer functions as expected, neither when providing value as a string or a function. The culprit seems to be `options.getHeader` returning `undefined` for every header name because `request._headers` ([v9.0.13](https://github.com/node-nock/nock/blob/v9.0.13/lib/request_overrider.js#L18-L26)) is not set anymore.

[2017-05-31 17:35] kevinoid commented on #925
I'm seeing this issue as well.  It looks like this is a result of nodejs/node#10941 (nodejs/node@b377034359a specifically) which made the `._headers` property of `OutgoingMessage` return a copy of the headers object.  This copy is [assigned to in `setHeaders`](https://github.com/node-nock/nock/blob/v9.0.13/lib/request_overrider.js#L37-L38), which has no lasting effect.

Is there a reason why `requ

[2017-05-31 21:59] stevenvachon opened #928 "basic auth not working in Node 8.x"
This code works in Node 7.x:
[code]

In 8.x, it logs this:
[code]

[2017-06-01 00:42] mariohmol commented on #543
Had the same issue.. look it here https://travis-ci.org/djlaw90/readSwap/builds/238156915

[2017-06-01 11:06] lukechilds commented on #922
My tests are breaking in Node.js 8.

Something simple like:

[code]

Doesn't get intercepted.

Using Node.js 7 it does.

[2017-06-02 14:06] stevenvachon commented on #928
Any nock contributors actually care?

[2017-06-02 19:10] lukechilds commented on #922
@stevenvachon If you need to mock something in Node.js 8 now I just bashed [create-test-server](https://github.com/lukechilds/create-test-server) together.

No docs yet but you can see example usage here:
https://github.com/lukechilds/clone-response/blob/master/test/clone-response.js

[2017-06-02 19:16] stevenvachon commented on #922
@lukechilds thank you, but I transitioned from a real test server to nock a while ago and don't want to go back to it

[2017-06-05 08:03] jscheffner commented on #928
It looks like it's related to issue [925](https://github.com/node-nock/nock/issues/925).

[2017-06-05 13:37] maziey93 commented on #164
Hi Guys I had this same issue with superagent when trying to test timeout, took about a whole weekend to put it together that it is because superagent always retries requests by default,  in fact deafult is `3` [http://visionmedia.github.io/superagent/#retrying-requests](see here) , so on the second retry nock has no url to match thats why you get
[code]

on setting retry to `0` one gets the corre

[2017-06-07 15:37] jhuliano commented on #925
Replacing the `matchHeader` function with `nock(host, { reqheaders: {"header":"content"} })`, seems to do the trick for now.

[2017-06-07 15:46] dickeyxxx commented on #925
that requires you to specify all the headers though, right?

[2017-06-07 15:51] jhuliano commented on #925
Doesn't look like it does, I don't mock all my headers and the tests are working just fine with the mentioned change.
Also the header assertion seem to be working just fine (tests will fail if the supplied header content doesn't match the expectation).

[2017-06-07 15:52] dickeyxxx commented on #925
good to know! thank you!

[2017-06-07 18:54] kilianc commented on #852
I thought this may help other:

[code]

This saved my and my teammates hours.

[2017-06-07 21:13] StarpTech commented on #705
I also faced with this issue. I clean up all mocks with

[code]

and in every test I mock the same endpoint.

Test 1 respond with 500
Test 2 respond with 200

but now I always get 500 because `Nock.pendingMocks()` still contains two entrys :(

`nock: 9.0.13`
`NodeJs 8`

[2017-06-08 09:24] ashishblr2k opened #931 "Mocking with Stream not working"
HI,
i am using Node7.7 and NOCK for mocking external API call.

I am trying to mock external API output which comes as stream(chunk) in XML which I am parsing. I am trying to write a unit test to mock API and send mocked data but it's not working with NOCK which I am using for API mocking.

When I run Test, I see res.on('data', function(data_) { does not get executed. If you would like to run, ple

[2017-06-08 19:22] StarpTech commented on #922
I also run into this issue I see there is already a PR to make nock node 8 ready. I hope it will reviewed fast.

[2017-06-08 19:57] acofer commented on #925
https://github.com/node-nock/nock/pull/930?ts=2

[2017-06-08 19:57] stevenvachon commented on #922
@StarpTech that PR doesn't pass tests, so it's not yet of any use.

[2017-06-08 20:23] StarpTech commented on #922
@stevenvachon He said that there is only one browserify test failing. Thats a great base. BTW I think I will change to https://github.com/ctimmerm/axios-mock-adapter in combination with the excellent axios http request library. This not a solution for everybody but a much cleaner way to mock http calls in node.

[2017-06-12 12:48] LarsHassler commented on #533
Had the same problem with an bulk API, which expected each entry on a new line.
I've created a fix (PR #932)

Link to my branch as long as the PR is not merged:
https://github.com/LarsHassler/nock/tree/fix/issue-533-stripping-newlines

[2017-06-12 14:03] LarsHassler opened #933 "Build failing on node >=7.10"
Looks like a problem with zombie. The mapping `Browser.localhost('server.com', 8080);` does not longer work correctly. Zombie is loading the real content of server.com.

When adding `browser.assert.text('body', '');` as a first line within the `browser.visit('/')` callback function the error reports:
[code]
Which is the content of server.com:
![screen shot 2017-06-12 at 15 56 57](https://user-imag

[2017-06-12 14:23] LarsHassler commented on #933
After installing node 7.9 locally the error disappears, but with pinned version in travis (#934) an other test breaks. Not sure if this one is flaky or not.
But i unfortunately do not have time to debug this in detail

[2017-06-12 20:34] lucaslago opened #935 "Intercept requests for nonexistent services"
Is it expected for nock to work when intercepting nonexistent URI/domains?

e.g:

[code]
For the given example I expected it to return `it works` string once an http client sends a request to that URI.

However, the following error  is thrown instead:  ```Error: getaddrinfo ENOTFOUND http://thishopefullydoesntexist.com http://thishopefullydoesntexist.com:80 ```

node.js 7.10.0
mocha 3.3.0
request

[2017-06-13 19:11] #935 closed

[2017-06-21 22:56] samuelt1 opened #936 "All tests fail for one computer, but not another"
At my work my co-workers computer is failing on all tests with nock, but on my computer all tests are passing. We have the same branch checked out, so I can only assume that the problem is somewhere in some ignored file. We tried uninstalling and reinstalling nock to no avail.

[2017-06-21 23:06] StarpTech commented on #936
Do you using the same Node Version?

[2017-06-26 07:20] nguyendinhdoan commented on #150
@alexpanov I'm getting this issue. Did you fix this?

[2017-06-28 16:44] rosendi opened #938 "Does it work with Supertest? Tests fail with `TypeError: Cannot read property 'status' of undefined`"
I've spent days trying to figure out what I do wrong, checked the docs and issues, but it still fails with:

[code]

Does Nock work with Jest/Supertest?

I created an repo to reproduce the issue - https://github.com/rosendi/nock-test

P.S. Tested on Node 7.9.0 and 7.10.0

[2017-06-29 12:37] ilsotov commented on #835
I also faced with this issue

[2017-07-04 06:28] igalic opened #940 "Help with maintenance"
As mentioned [on twitter](https://twitter.com/maybekatz/status/880802251274469376) the people of @fruitfuljs would like to offer a hand in maintaining this project.

I'm opening this issue as a venue for discussing possibilities to doing that.

[2017-07-04 23:23] ianwsperber commented on #940
Hi @igalic! The project could certainly use some love from contributors with some extra time. Are you looking to be added as maintainers to the project or just want to know the members of @fruitfuljs could help?

[2017-07-04 23:27] ianwsperber commented on #933
Thanks for the report @LarsHassler!

[2017-07-05 05:07] michaelnisi commented on #940
Is there any deeper—not usage, but implementation—documentation for this package, apart from its source code?

[2017-07-05 08:03] michaelnisi commented on #933
What exactly does the failing test, `./tests/test_browserify.js`, actually try to check? Its only dependency on **nock** is:

[code]

[2017-07-05 08:20] michaelnisi commented on #933
To summarize @LarsHassler:

[code]

[2017-07-05 09:56] LarsHassler commented on #933
It looks like that the test tries to check if nock bundled with browserify would work within the browser.
But due to the fact, that its only running within zombiejs I guess that some network behaviour changed within node >= 7.10.

In general i would propose to run the browser test in real with saucelabs or browserstack, because otherwise the test does not test anything really.

[2017-07-05 14:05] michaelnisi commented on #933
I agree, but after fixing or skipping one test, another one seems to fail, for a different Node version.

Don’t be fooled by the passing checks in my PR #942, it’s by pure chance. Ironically, the problem with **nock**’s test suite is the exact problem **nock** is trying to solve, testing network I/O independently from connectivity.

I don’t know much about this package, but based on what I’ve lear

[2017-07-05 15:07] michaelnisi commented on #933
Restricting tests to a subset during CI could be a start:

[code]

Running with this environment variable, performs 566 of the total 603 tests.

[2017-07-06 06:19] taven-liu opened #944 "Uncaught TypeError: util.inherits is not a function"
ts 2.3
delayed_body.js
`util.inherits(DelayedBody, Transform);`

[2017-07-08 11:20] shahata commented on #925
any plans of fixing this soon?

[2017-07-09 08:57] michaelnisi commented on #933
I gave up and decided to remove **nock** from my projects. I’ve only been using a small subset of features anyways. With arrow functions and string literals, tests like [this](https://github.com/michaelnisi/manger/blob/nock/test/302.js) read kind of nice actually. Less is more—sometimes.

[2017-07-09 22:53] heregoes commented on #475
Has anyone been able to solve this issue? Im having the same error when trying to import express. Please Help

[2017-07-10 22:43] gurpreetatwal commented on #940
I'd be willing to help out as well.

[2017-07-10 23:33] igalic commented on #940
A little bit of background on @fruitfuljs, or communities of practice, in general:

- [a post on @voxpupuli](https://opensource.com/article/17/6/vox-pupuli)
- [a talk about](http://sous-chefs.org/posts/chefconf-2017/] @sous-chefs

the way we usually operate is to adopt a project — and all its contributors — into oyr organisation. then start cleaning issues and pull requests, and add more automatio

[2017-07-11 15:01] ianwsperber commented on #940
@michaelnisi As far as I know there is no documentation of the design decisions/functionality within nock itself. It is definitely part of the difficulty of maintaining the project as it exists today.

Rather than start with the question of whether the project could be moved to @voxpopuli, I think we should be asking more generally what steps the community should take to improving maintenance of n

[2017-07-11 15:26] ianwsperber commented on #933
Removed the failing test to get past this.

[2017-07-11 15:26] #933 closed

[2017-07-11 15:28] ianwsperber commented on #938
@rosendi Nock is independent of request client, but I believe supertest/jest may do their own mocking of the node's http functionality, so they may be in conflict.

[2017-07-11 15:29] ianwsperber commented on #944
Please add more details

[2017-07-11 15:29] #944 closed

[2017-07-12 13:59] #936 closed

[2017-07-12 14:23] ianwsperber opened #947 "Get tests passing on master"
Node <8 see single test failure (preceeds recent merge):

[code]

Node 8 experiencing additional test failures. See travis for details: https://travis-ci.org/node-nock/nock/jobs/252821640

Needs to be addressed before we can resolve Node 8 updates.

cc @martinkuba

[2017-07-13 01:59] gibbitz commented on #466
For googlers with this issue. I noticed that the service protocol + host (passed in the constructor) ended with a trailing slash and the path (passed in `get()` in my case) began with a slash when the requests matched. If they are written to join without a double slash, it won't match. When the path is deconstructed this is not obvious to those of us who are assuming how it may work under the hood

[2017-07-13 17:08] Rob--W commented on #922
This PR seems to fix the issue: https://github.com/node-nock/nock/pull/929

For my own project, where I only use nock to mock responses, I've monkey-patched nock to get the tests to pass: https://github.com/Rob--W/cors-anywhere/commit/70400ab166515db9b8fd117f3d208b4960ee846a (tested with nock 8.2.1).

[2017-07-13 21:34] martinkuba commented on #947
Fixed by #948

[2017-07-14 00:17] 0xcaff commented on #925
It looks like this is fixed in the latest commit to master: https://github.com/node-nock/nock/commit/35c76e39ee5a6fa0ef3e8d6fe389287e25975cd5

[2017-07-14 00:44] ianwsperber opened #949 "Change unit test dependencies on external sites to local server instance"
Per discussion in gitter, all tests that depend on an external web domain should be pointed at a local server instance so that they do not depend on a 3rd party service to pass. We can still have e2e tests that hit external domain, which would be useful since we want to ensure nock work with non `localhost` formatted domains.

cc @atavakoli

[2017-07-14 00:45] ianwsperber commented on #949
https://gitter.im/node-nock/nock?at=5967bd78bf7e6af22cd5f664

[2017-07-14 01:06] ianwsperber commented on #947
Awesome @martinkuba! Tests are now passing on master.

Since I will be out of town this weekend and no other maintainers are active to rollback the release in the event of failure I will hold off on pushing patch until Sunday/Monday PST. Will close this issue once release is complete.

Thanks again for stepping up to fix this issue. I'm sure the community appreciates it!

[2017-07-14 01:07] ianwsperber commented on #925
Will be released end of weekend

[2017-07-14 01:07] ianwsperber commented on #928
@stevenvachon @jscheffner Are you still seeing this issue using the latest master of nock? #925 should be fixed on that commit

[2017-07-17 10:09] ianwsperber commented on #922
Should be fixed in 9.0.14. Please reopen if issue persists.

[2017-07-17 10:09] #922 closed

[2017-07-17 10:09] ianwsperber commented on #928
Should be fixed in 9.0.14. Please reopen if issue persists.

[2017-07-17 10:09] #928 closed

[2017-07-17 10:11] ianwsperber commented on #925
v9.0.14 out with @martinkuba's fix. Huge thanks to him for doing the work. Closing this issue. Will re-open if we get reports that issue persists.

[2017-07-17 10:11] #925 closed

[2017-07-17 10:34] panva commented on #925
resolved, @ianwsperber @martinkuba thanks!

[2017-07-20 02:57] SgtPooki commented on #495
Would love an update on this.

[2017-07-20 21:55] rodrigogs commented on #543
This way I get an error:
[code]
This way it works:
[code]

Just added a `/` :smile:

[2017-07-23 20:00] stevenvachon commented on #928
Fixed! Thank you.

[2017-07-25 20:01] watson opened #950 "How to know when all intercepters have been called"
As far as I can see there's no way to ask nock to call a function when there's no more intercepters left to be called?

This would be a really nice feature in cases where there's no other way to know if the request was completed.

In the example below, `performRequest()` doesn't take callback or return anything, so there's no way for me to know when the request is done. Normally I'd just use `setT

[2017-07-28 09:47] oliviertassinari commented on #214
I wish we had a synchronous API.

[2017-07-28 23:19] leviwheatcroft commented on #940
I can see how offering to adopt a puppet module into an org maintaining puppet modules might work well, but without that community association a request like this seems a little... awkward ?

[2017-07-28 23:26] leviwheatcroft opened #951 "unexplained delays on some nocked requests"
Sorry I'm unable to be specific with this, I guess I'm asking for advice on how I might locate the problem, rather than asking someone to fix it for me.

If I run a bunch of tests including nocked requests most complete within 50ms, but a few take ~1000ms.

- I've isolated this to the get request, so I'm almost certain it's something happening in nock.
- I'm certain the requests *are* being 'nocke

[2017-07-30 11:46] igalic commented on #940
Do you ever feel like you've done a really bad job communicating?
i do.

So, @voxpupuli is a community that's centered around maintaining puppet modules. and peripherally related ruby gems. but we also have one python library. the vim and emacs modes live there, etc… There are other projects like @voxpupuli. @sous-chefs, @terrafarm. You'll notice that most of these are infrastructure centered. Thi

[2017-08-03 22:32] TrevorMuraro opened #952 "Does Nock intercept calls from outside the test environment?"
I've read through Nock's documentation, and I've found something that's not clarified: while the README says that nock will intercept "every HTTP call" matching the interceptor, it doesn't say how broad "every call" is.  Does that mean every call within the test, or every call from anything using http.request?

For example, let's say I'm running both myApp.js and a mocha test of myApp.js.  In the

[2017-08-06 19:53] songawee commented on #950
@watson This is an interesting idea.

I wonder if you could hook into this method on scope - https://github.com/node-nock/nock/blob/master/lib/scope.js#L73. When the interceptor array is empty and the keyed interceptors are empty, you could fire a method on scope (`.after`?) Although, I think that would only be called if all of the interceptors were successfully matched. if an interceptor hadn't b

[2017-08-08 13:30] sdotson commented on #938
@rosendi , did you ever figure this out?

[2017-08-08 14:29] rosendi commented on #938
@sdotson the problem was in Nock Back, so i wrote my own VCR implementation. Don't remember all the details, but here is code that I use and it works:

vcr.js

[code]

Test example (PlansController fetches data from Stripe):

[code]

The `request` variable is `const request = supertest(app.listen());`

If you have a repo, I could check it.

[2017-08-09 21:22] #952 closed

[2017-08-09 21:22] TrevorMuraro commented on #952
Tested this myself.  For anyone who's wondering, the answer appears to be no.

[2017-08-11 22:29] dschinkel opened #953 "Way to match just Url, no headers"
Is there a way to nock all calls _for only a particular url_ but to ignore any headers on the match?

[2017-08-18 13:03] kesor opened #956 "Requests with URL object as options are broken"
The Node.js HTTP & HTTPS libraries allow to pass a `new URL()` as `options`. https://nodejs.org/api/https.html#https_https_request_options_callback

According to `History` URL was added back in v7.5.0 and v9.3.0 allows to pass `clientCertEngine` as option.

A URL object has properties like `.pathname` instead of `{ path: ... }` and Nock does not expect these, only allows for either a string `optio

[2017-08-18 16:29] kesor commented on #956
One especially hairy problem with regards to this is that in URL implementation -

// Default ports are automatically transformed to the empty string
// (HTTPS protocol's default port is 443)

This means that executing `url.port = 443` will not appear as `url.port` being equal to 443 at a later time, it will just be empty.

[2017-08-18 22:07] markmeyerphoto opened #957 "disableNetConnect broken in Node 8"
It seems like nock isn't preventing connections in Node 8.x

    var http = require('http');
    const nock = require('nock');

    nock.disableNetConnect()
    url = "http://jsonplaceholder.typicode.com/posts/1"
    var body = []
    req = http.get(url, response => {
        response.on('data', chunk => body.push(chunk))
        response.on('end', () => console.log("body", body.join('')))

[2017-08-20 18:31] kesor commented on #481
Actually, it is not so bad to have both methods. Since often it is useful to create most of the scope in a `beforeEach` and later add just the required matching for a header as needed. But it does need to be documented better.

[2017-08-25 16:15] Urthen commented on #824
Sorry to necro this issue, but is `activate` documented anywhere?

We'd like to do restore() after each set of tests and running into what I assume is the same issue, but this is the first time I heard of `activate`.

[2017-08-29 08:01] congdcit opened #960 "Nock cannot work with axios in node 8 v8.1.2"

[2017-08-29 14:57] snowmac commented on #409
bump

[2017-08-31 12:08] kesor commented on #537
A workaround is to be just a little bit more explicit, like so -
[code]

Then each time a request is made, a different response is returned.
[code]

[2017-09-03 02:35] gr2m commented on #960
it works in Node v8.4.0 for me. Can you update to the latest version? If not, can you please provide an error? I don’t think anyone would fix a problem with a node version that has been fixed since

[2017-09-04 07:27] gr2m opened #961 "🐛 nock.define ignores `badheaders` option"
[code]

I’m working on a fix with tests

[2017-09-04 07:36] gr2m opened #963 "📖 nock.recorder.clear() is not documented"
when recording requests using `nock.recorder.rec()`, the `nock.recorder.clear()` can be used to reset the array that `nock.recorder.play()` returns. That is very useful when programatically recording several scenarios in the same process. I’ll send a PR to add a section for it

[2017-09-05 19:08] andrewtpoe commented on #748
Has there been any developments regarding compatibility with `fetch`? We have begun encountering errors very similar to what is described here.

[2017-09-06 11:50] franciszabala commented on #164
I had the same experience as what mazley93 had using node-request-retry.

[2017-09-06 16:24] andrewtpoe commented on #748
To be a bit more specific, when running node 8.4.0 and attempting to validate headers in a manner similar to what is described [https://github.com/node-nock/nock#access-original-request-and-headers], our `req.headers` is an empty object. We are using fetch, and with `nock` debugging enabled I can see quite clearly that the requests headers are what I expect.

[2017-09-11 11:30] gwpmad commented on #495
The way we got around this was:

` nock('http://myhostxyz.com')
      .get(() => true)
      .reply(200, {});`

[2017-09-11 21:24] timjrobinson commented on #495
I completely forgot about doing this sorry, and probably won't be implementing it any time soon as I'm not currently using nock. Anyone else feel free to pick this up.

[2017-09-12 04:44] s-taylor commented on #923
My PR will probably fix this, but still not merged.
https://github.com/node-nock/nock/pull/917

[2017-09-14 04:41] davidrissato commented on #483
I probably know what was the problem because I had the same issue in my unit tests and took me almost 30 minutes to understand what I was doing wrong:

In my unit test module, I had an `afterEach` block calling `nock.restore();` instead of calling `nock.cleanAll();`, which was disabling nock instead of cleaning up the responses.

[2017-09-18 23:28] #963 closed

[2017-09-18 23:30] #961 closed

[2017-09-18 23:41] #960 closed

[2017-09-18 23:43] gr2m commented on #957
I can’t reproduce it in Node v8.4.0 and nock@9.0.14. I get `NetConnectNotAllowedError: Nock: Not allow net connect for "jsonplaceholder.typicode.com:80/posts/1"` as expected.

My guess is that it was fixed either in a node or nock update. Can you confirm?
If you still have the issue we can reopen and further investigate it

[2017-09-18 23:43] #957 closed

[2017-09-18 23:47] gr2m opened #966 "`content-length: 0` is not matched correctly"
The problem is this line

https://github.com/node-nock/nock/blob/8c7cf84a42a77ef4066bfd89208357493b9fb59c/lib/interceptor.js#L166

We check above if either `reqHeader` or `header` is undefined so we don’t need the `if (reqHeader && header) {` anymore. As both `reqHeader` and `header` are `0` the condition will not be fulfilled and the `reqheaderMatches` method returns false, although the values ar

[2017-09-18 23:55] gr2m opened #967 "Use semantic-release to automate releases"
Hello @svnlto @ruimarinho @ierceg @tinogomes @ianwsperber,

@pgte made me another maintainer as I work quite a bit with it and keep running into bugs myself. I wonder who of you is still actively maintaining the project right now?

I’d like to enable [semantic-release](https://github.com/semantic-release/semantic-release) to automate the release process, it generates changelogs automatically and p

[2017-09-19 00:17] tinogomes commented on #967
@gr2m please, remove me, because I am not working with NodeJS for less 3 years.

But, very cool that `sematic-release` library

Thanks

[2017-09-19 03:30] #966 closed

[2017-09-20 00:54] #835 closed

[2017-09-20 07:55] sebarys commented on #705
I observed the same issue as above when mocking different response from the same endpoint in two tests.

[2017-09-20 10:15] mitsos1os opened #974 "Document activate functionality!"
Hi there,
We are using Nock in our test suite, and I can say it really helps out in API testing.
However there is an important missing information in the module documentation.

It is not mentioned in the readme that the module initiates its overrides as soon as you require it!
This has the result that the documented `.restore()` function that is supposed to restore the original behaviour of `http`

[2017-09-20 10:32] DianaIonita commented on #659
Looks like `nock.restore()` will stop recording.

[2017-09-20 13:30] ierceg commented on #967
I still actively use nock and try to improve it from time to time. I'll admit that I feel uncomfortable merging my own PRs - that seems unhealthy so if anyone wants to take a look at https://github.com/node-nock/nock/pull/798 and merge it I would appreciate it.

Regarding semver - go for it. I'm all for making the publishing process automated.

Regarding continued maintenance - count me in. Feel f

[2017-09-20 18:35] gr2m commented on #974
We would love a pull request to make the functionality more clear in the README 🙏

[2017-09-21 15:18] giannisp opened #976 "Error: Protocol "http:" not supported. Expected "https:""
I am trying to mock all requests to a specific domain, excluding a single request based on body vars.
Using the following nock code:

[code]

The result error is:
`Error: Protocol "http:" not supported. Expected "https:"`

I have tried it both with `axios` and `request` to ensure that it's not an `axios` issue.

Stack trace while using `axios`:
[code]

Stack trace while using `request`:
[code]

no

[2017-09-21 17:04] paulmelnikow commented on #868
@gr2m I noticed you're merging stuff. If I redo this work on the current master, would you be willing to merge it?

[2017-09-21 18:04] gr2m commented on #868
I planned to add [standard](https://github.com/standard/standard), would be be up for helping with that?

[2017-09-21 18:07] gr2m commented on #976
Thanks for reporting Ioannis!

I just took on helping maintaining nock and am currently the only one. If you could create a pull request with a test case, I’d be happy to merge it, but can’t help otherwise right now.

Maybe someone else runs into this or can help you out 🙏

[2017-09-22 01:36] paulmelnikow commented on #868
Hi there!

Moving to modern tooling, even while preserving the style, is an advantageous change. It's configurable, so it supports migrating the style toward standard over time. It will also help catch lots of new bugs (including, for example, a broken unit test). If you take a look at #885 you'll see the code impact is small, except for one test file which takes a moderate hit because it's full o

[2017-09-22 01:54] gr2m commented on #868
I agree. #885 is a great first step 👍 If you could rebase it, that’d be great. I’ll merge it in

[2017-09-22 03:41] paulmelnikow commented on #868
Sounds good. I've rebased it, though I need help getting a test to pass.

[2017-09-22 05:17] giannisp commented on #976
I did some digging on the code, the issue starts from the point where it looks for a match without checking the body.
https://github.com/node-nock/nock/blob/c82715bd8f1cf90244bae120272c8c022ed44754/lib/intercept.js#L357-L359

Anyway I did a workaround for my scenario, using `.cleanAll()` right before running the request that has to go through.

[2017-09-22 15:31] vonovak opened #977 "improve documentation"
Hi! I'd like to use nock for mocking requests whose responses ale large JSONs.

In my test, I'd like to be able to do something like

[code]

where I'd like to record the `largeJson` with nock, have it persisted to filesystem, and loaded when the test is run afterward.

In the readme, I see there is [Recording](https://github.com/node-nock/nock#recording) and [Nock back](https://github.com/node-no

[2017-09-22 16:34] paulmelnikow commented on #977
Based on my experience using Nock Back, it provides much richer tooling for this. If you have a lot of fixtures which are changing frequently, Nock Back is probably a good bet, since it simplifies the process of updating your fixtures. If you can get by recording your fixtures once, using `.rec()` is a simpler way to go.

And even simpler, you could download the fixtures yourself and use [.replyWi

[2017-09-23 00:18] gr2m commented on #967
I’ve made two teams

1. Maintainers: for everyone who wants to remain active as maintainer
2. Alumni: hall of fame :)

Alumni have read-only access. I’d move accounts to Alumni team as folks become inactive. It’s easy to move y’all back to Maintainers if you want to help out again

[2017-09-23 00:22] #882 closed

[2017-09-23 00:23] #491 closed

[2017-09-23 03:36] paulmelnikow commented on #920
Resolved via #921!

[2017-09-23 23:04] gr2m commented on #920
thanks y’all 👍

[2017-09-23 23:04] #920 closed

[2017-09-24 00:43] #868 closed

[2017-09-24 02:24] paulmelnikow commented on #824
You're not the first to run into this issue. There is also `clearAll()` which clears mocks. These are confusing names, if you ask me.

Could you open a PR to update the docs?

[2017-09-24 02:25] paulmelnikow commented on #824
Also requested at #974.

[2017-09-24 02:26] paulmelnikow commented on #974
As I just mentioned in #824, there is also `.clearAll()`, and these are confusing names. We should definitely document them. Yes, please do open a pull request!

[2017-09-24 02:31] paulmelnikow commented on #938
Seems like this is still an issue, and since you've made such a nice test case I feel I should reopen it for benefit of folks who may want to contribute.

[2017-09-24 02:38] paulmelnikow commented on #409
See possible solution using fetch-mock in #591.

[2017-09-24 03:02] paulmelnikow commented on #705
This is adapted from the [setup code I use in icedfrisby-nock](https://github.com/paulmelnikow/icedfrisby-nock/blob/master/icedfrisby-nock.js#L21-L40), for what it's worth:

[code]

@sebarys I wonder – is that the same sequencing issue I described in #870?

[2017-09-24 03:47] #889 closed

[2017-09-24 03:48] paulmelnikow commented on #889
Great response!

Also: in Mocha, as an alternative to using the `done()` callback, you can return a promise from your test.

[2017-09-24 03:51] paulmelnikow commented on #887
Let's track the feature request in #191.

[2017-09-24 03:51] #887 closed

[2017-09-24 03:55] paulmelnikow commented on #901
Can you just invoke `nock` more than once?

[code]

Feel free to reopen if that does not solve the problem.

[2017-09-24 03:55] #901 closed

[2017-09-25 00:17] cristianszwarc opened #981 "no more partial matches for body"
previously you could specify part of the body to answer calls, this behaviour have changed because #920

it crossed my mind that this behaviour was a feature where one could partially match the body, guess that the alternative is to use a custom method when partial match is required or would worth to have an option to bring the wrong but maybe useful behaviour back to live?

in any case, this comm

[2017-09-25 04:56] gr2m commented on #981
I run into it myself, but that’s a feature, not a bug. As you mention, you can use a function to partially match a body.

I’ll close the issue because it’s not an open bug

[2017-09-25 04:56] #981 closed

[2017-09-25 07:58] nielskrijger commented on #981
We were relying on this behaviour in our tests.

I'm now doing this:
[code]

and in our mock helpers:

[code]

[2017-09-25 18:35] gr2m opened #982 "Clarify matching of body"
Due to a bug, nock "supported" partially matching of request payloads. This has been resolved in https://github.com/node-nock/nock/pull/921

Now that it is fixed, I think we should make it clear how payload matching works and how to use a function if users want to implement partial matching
https://github.com/node-nock/nock#specifying-request-body

This is a follow up for https://github.com/node-n

[2017-09-25 18:36] gr2m commented on #981
Thanks @nielskrijger, I’ve created a follow up issue to make the documentation more clear:
https://github.com/node-nock/nock/issues/982

Pull Request much appreciated <3

[2017-09-25 18:50] cristianszwarc commented on #981
Agree, the function option is the correct way

Thanks everyone

On Tue, 26 Sep 2017 at 07:36 Gregor Martynus <notifications@github.com>
wrote:

[2017-09-26 13:54] epiphone commented on #938
Got the same error while mocking Stripe API with nock - turned out I needed to include port in the target URL:  `nock('https://api.stripe.com:443/v1/ ').get(...`.

Using nock's logging feature was helpful in figuring out the bug:
[code]

[2017-09-26 16:33] misidoro opened #983 "Access request's url and headers"
Hi guys, I am trying to test the URL that gets called on nock but couldn't figure out how get access to it. The code looks like this:

[code]

Is it possible to access the request's url and headers?

Thanks,
Miguel

[2017-09-26 17:59] gr2m commented on #983
Hi Miguel, I think you’ll have a better chance to get help when you ask your question on StackOverflow: https://stackoverflow.com/questions/tagged/nock, it’s better suited for "How do I xyz" questions.

I’m not exactly clear if that’s what you asking for, but this is how you can access paths and headers of the mocked request

[code]

If it’s not, can you please create a question on StackOverflow?