[2011-10-23 08:06] mwawrusch opened #5 "https support"
It would be really helpful if https requests could be mocked too. Thanks for creating this amazing package.

[2011-11-02 07:18] mwawrusch opened #7 "Hook nock up on travis-ci.org"
It would be great if nock would be tested on travis-ci.org. It's free and supports node, and can be set up in 5 minutes.

[2011-11-02 07:21] mwawrusch opened #8 "Allow mocking at a lower level than json"
I would like to use the verbatim output of curl, including all the headers, store that in a file and use it to mock a request. Right now it seems that this is not possible (I might be mistaken)

The reason for this is that I am doing a lot of API, Oauth2 work that requires certain content present in header fields, and the only way to correctly test this is  to use the exact output from curl (every

[2011-11-02 08:39] #8 closed, assigned to nobody

[2011-11-30 15:29] dscape opened #9 "Should be able to match request headers"
request headers might be critical factor on the success (or failure) of http requests, and need to be matched

[2011-12-01 22:01] dscape opened #12 "[recorder] Body is being appended"
See

[code]

Strange huh? Body is always appended and always appears even in get requests.

[2011-12-01 22:07] #12 closed, assigned to nobody

[2011-12-02 00:46] dscape opened #13 "[recorder] Bad quoting of json strings"
[code]

`'"{\"foo\":\"bar\"}"'` should be `'{"foo":"bar"}'`

[2011-12-02 02:35] dscape opened #14 "Idea: Auto nock"
Simply require nock and all should work.

Nock could save tests on the first run to the file system. Then replay wouldn't be done cause it was nocked.

A way to invalidate bad results would be necessary, so max a user would do is

[code]

[2011-12-02 03:36] dscape opened #15 "[nock] Repeating URIS"
Sometimes a request will give different answers according to if that happened before.

e.g.

[code]

OR

[code]

It should be possible to express this is nock. For the first request answer foo, for the second answer bar.

Real life example of code I hate to deprecate here: https://github.com/dscape/nano/commit/bb3f5633f9d74a004cf3dc7d42a4af48679e949a

By the way watching a movie about the doors. D

[2011-12-02 11:22] #13 closed, assigned to nobody

[2011-12-03 21:04] pgte opened #16 "a buffer should match the corresponding string."

[2011-12-15 05:01] #7 closed, assigned to nobody

[2012-01-04 13:45] dscape opened #25 "Most recent version breaks in nano"
[code]

`npm.log`

[code]

[2012-01-05 00:49] pgte opened #26 "Mock ClientRequest instead of request"
As pointed out by @indexzero [here](https://github.com/nodejitsu/mock-request/issues/4#issuecomment-3361663):

[2012-01-05 02:14] theycallmeswift opened #27 "Can't stub out host when requesting multiple urls for that host"
When you stub out a host, any legitimate requests to that host (regardless of the path matching the actual stub or not) cause errors because no matching interception exists.

A quick example:

[code]

This would throw the following error:

[code]

The problem is that the keys in the `allInterceptors` array done by host and a match triggers the `processRequest` function which errors out when no mat

[2012-01-11 19:29] #5 closed, assigned to nobody

[2012-01-25 16:49] pyrat opened #29 "Potential issue with nock recorder"
When simply calling

[code]

When I run my tests I get:

[code]

This is line 64 of recorder.js and is due to the callback function being undefined.

This is a strange error, has anyone seen it before?

[2012-02-03 21:22] iangreenleaf opened #30 "> 1 nock scopes, global intercept problems"
I noticed that in my tests using nock, if one test failed to fulfill an expectation, subsequent tests that set up the same expectation would fail, because the requests were being hijacked by a lingering intercept from the previous test. I wrote a test that demonstrates:

[code]

What's your preferred way to fix this?
- One intercepted request could fulfill expectations from multiple scopes (in oth

[2012-02-06 11:16] #26 closed, assigned to nobody

[2012-02-06 11:17] #29 closed, assigned to nobody

[2012-02-06 11:18] #15 closed, assigned to nobody

[2012-02-06 11:19] #9 closed, assigned to nobody

[2012-02-10 04:43] indexzero opened #35 "Set Outgoing Request Headers?"
Is this possible? We need this to transition away from `mock-request` to `nock` in `jitsu`.

[2012-02-10 04:43] #35 closed, assigned to nobody

[2012-02-10 12:23] #27 closed, assigned to nobody

[2012-02-10 21:11] indexzero opened #37 "Specifiy reply headers for every response"
Is this possible?

[2012-02-12 14:55] #37 closed, assigned to nobody

[2012-02-12 15:19] #30 closed, assigned to nobody

[2012-02-24 05:11] jfhbrook opened #39 "Is there a way to skip asserting the request body?"
I was working on the new jitsu tests (nock is fabulous for this btw), and I came across an interesting situation when trying to mock snapshot uploads here:

https://github.com/nodejitsu/jitsu/blob/flatiron-apps-tests/test/commands/apps-test.js#L99

What happens here is that jitsu tries to post a snapshot using content-type chunked, and for the life of me I can't figure out how to specify a request

[2012-02-28 05:28] jherdman opened #41 "Support for http.ClientRequest#setHeader, #getHeader, #removeHeader"
I'm developing a library to consume an HTTP API. I'm seeing the following error since adding an edge case that requires the usage of `http.ClientRequest#setHeader`:

[code]

The lines in question:

[code]

Where `req` is an instance of `http.ClientRequest`.

[2012-03-02 00:08] carlosvillu opened #44 "Problem trying to intercept a request"
Sorry if that is not the best to ask this.

But i am trying to use nock to mock the Shopify´s API, then i have some like this to get all blogs from a shop:

[code]

And parts of my testing they are some like this:

[code]

Sorry but i dont know what is wrong in my code, because allways get the response from the real server. But i need that my calls they are intercepting by nock to response my @fix

[2012-03-02 14:02] #44 closed, assigned to nobody

[2012-03-02 14:10] #41 closed, assigned to nobody

[2012-03-02 15:56] #39 closed, assigned to nobody

[2012-03-06 18:18] dscape opened #45 "Port Support"
Are ports supported or should all mocks be on 80 by default?

I've noticed some issues on nock not intercepting on when you specify `:port`

[2012-03-06 18:51] #25 closed, assigned to nobody

[2012-03-06 18:53] dscape opened #46 "Scope"
All my nock tests look like this:

[code]

I would propose to make this a feature of nock:

[code]

[2012-03-06 20:09] dscape opened #47 "Head Method"
[code]

Any reason not to support head?

[2012-03-07 09:21] #47 closed, assigned to nobody

[2012-03-07 09:57] #45 closed, assigned to nobody

[2012-03-13 13:57] fent opened #49 "Stream file on `replyWithFile`"
It would be more efficient if instead of buffering the entire file contents in sync, nock would stream the file through `response`.

Response could be truly pipeable. Currently it only emits one `data` event.

[2012-03-19 15:53] #49 closed, assigned to pgte

[2012-03-20 10:26] ewoutmeyns opened #52 "ENOTFOUND, Domain name not found"
I ran into a problem while trying to use Nock in an existing node.js script that sends a request to a local node server.

I have reduced the problem to the code below. My server is running on localhost:5000.

Executing this will work:

[code]

But from the moment I require Nock, an error raises:

[code]

[2012-03-28 08:51] #52 closed, assigned to pgte

[2012-03-28 08:58] pgte opened #54 "override and unoverride as needed"
Nock should override and remove that override as needed, depending if there are any pending mocks or not.

[2012-04-02 03:28] andykram opened #55 "Cannot set property headerSent"
When using node v0.4.12 with nock and jasmine-node, I receive the following error:

Stacktrace:
     TypeError: Cannot set property headerSent of #<OutgoingMessage> which has only a getter
    at new OverridenClientRequest (./node_modules/nock/lib/intercept.js:83:22)
    at Object.request (./node_modules/nock/lib/intercept.js:138:15)

The single commit in my fork, which checks hasOwnProperty() in

[2012-04-02 13:42] #55 closed, assigned to nobody

[2012-04-11 15:39] balnagy opened #56 "Reply without body"
It shouldn't be required to pass response body.

Example:

[code]

[2012-04-11 16:05] #56 closed, assigned to nobody

[2012-04-26 16:29] jergason opened #62 "Any plans for VCR-like automatic recording and playback?"
I see that nock lets you record http responses, but it looks like the feature is more so that you can fill in the tests yourself. Is there any support for more [VCR-like](https://github.com/myronmarston/vcr) functionality for recording and playing back HTTP requests and responses?

[code]

It would eliminate the step of having to manually go in and fill out the mock http requests in each of your t

[2012-05-15 10:59] #46 closed, assigned to pgte

[2012-06-06 21:31] jeromegn opened #64 "Not able to test a POST request with or without body"
I've been trying to do this:

[code]

I expected it to be caught, but it didn't. So I did a little digging around.

The method called `matchIndependentOfBody` actually tries to match with the body. This line: https://github.com/flatiron/nock/blob/master/lib/scope.js#L155 does this: `'POST http://uri/claim:80 "{\"some_data\":\"something\"}"' === 'POST http://uri/claim:80'` because `this._key` is al

[2012-06-19 19:07] tjanczuk opened #67 "a recording of a POST request has a duplicated request body if req.end(data) is called"
When you record POST requests (or any other requests with request body), and use req.end(data) to send request data, the recording of the request will contain duplicated request body. For example, if the application calls `req.end('ABC')`, the recoding of the request body will be `ABCABC` and subsequently will not match the request during playback.

I believe the culprit is in https://github.com/f

[2012-07-04 21:49] dscape opened #68 "http `copy`"
Seems like `nock` doesnt support `copy`.

[2012-07-05 11:19] #67 closed, assigned to nobody

[2012-07-05 11:19] #68 closed, assigned to nobody

[2012-07-22 01:43] scottkf opened #70 "Nock + Request + replyWithFile"
I'm having an issue mocking a request using Request (https://github.com/mikeal/request/) where I'm making multiple chained requests

[code]

The second request won't get processed for some reason I have yet to figure out. Changing `replyWithFile` with `reply` and using `readFile` produces the correct results, so perhaps it has something to do with streaming? I will try to reproduce it separately.

[2012-07-22 09:17] #64 closed, assigned to pgte

[2012-08-05 10:09] KonstantinKo opened #71 "Accept string as http request target"
## The Issue

Http allows to simply give the string of a URL instead of providing host, hostname, etc. separately. It would be great if you could add support for this with nock.
## The Test

[code]

[2012-08-16 17:16] andreareginato opened #73 "Mocking on proxying"
Hy everyone. I'm building a proxy to forward some requests to a set of services.
The code I wrote is pretty simple and works just fine.

[code]

The problem comes while trying to test it. I wanted to mock the http requests to the proxies services using nock, but somehow I'm not able to catch the requests. This is the code.

[code]

As you can see I call the running proxy server, which in turn prox

[2012-08-18 08:34] #73 closed, assigned to nobody

[2012-08-26 22:18] #70 closed, assigned to pgte

[2012-09-04 07:23] bigkevmcd opened #74 "TypeError: Cannot call method 'listeners' of undefined in OverridenClientRequest"
I'm trying a simple request, with nock catching, this seems to have broken recently am running Node v0.8.8.

Nock version: "0.13.3"
Request version: "2.11.0"

  describe(".status", function() {
    it("should fetch the device status", function(done) {
      var scope = nock("http://example.com")
          .get("/data_request?id=lu_sdata")
          .replyWithFile(200, __dirname + "/fixtures/lu_sda

[2012-09-05 10:04] #74 closed, assigned to nobody

[2012-09-12 16:10] mgcrea opened #75 "getaddrinfo() error on osx"
When I use nock in OSX (10.8.1 w/ macports), it does not work & i get this error message when using an https host :

[code]
- nock is 0.13.4
- node is 0.8.8

Any idea?

[2012-09-12 22:55] #75 closed, assigned to nobody

[2012-09-28 05:40] dpup opened #76 "matchHeader and multiple headers don't to play well together."
Some headers can be set multiple times on a request, I believe node supports this by allowing header values to be arrays.

Unless there's an undocumented feature I'm missing matchHeader won't work because of this snippet:

[code]

I think changing it to the following should be sufficient:

[code]

Thoughts?

[2012-09-28 06:27] #76 closed, assigned to nobody

[2012-10-27 00:22] nlacasse opened #78 "nocked requests don't have request.path"
Normal http requests (that are not mocked with nock) have a `request.path` property.  Requests that get nocked do not have a `request.path` property.

The following sample code exhibits the difference between a normal request and a nocked request:

[code]

[2012-10-27 08:50] #78 closed, assigned to nobody

[2012-10-31 00:10] cjroebuck opened #79 "Trying to get it working with restify's clients"
Can't seem to get it working with restify's various clients, but mainly the json client. Below test shows the nock stub working fine with a plain http.request call, but in the second attempt -- using the same url/port and method -- the test hangs when making the request..

[code]

console output:

[code]

[2012-11-21 15:09] lefnire opened #81 "Error: Nock: No match for HTTP request (should be matching)"
Hey guys, I'm having trouble with matched requests. I'm seeing `Error: Nock: No match for HTTP request GET /1.1/users/lookup.json?user_id=&screen_name=lefnire`, yet that exact URL is nocked in my code. It's weird because using `.log(console.log)` I see the `Error: Nock: No matches`, then at the end see `AssertionError: Mocks not yet satisfied` with all the previous no-matches verbatim.

[Here's my

[2012-11-21 15:26] #71 closed, assigned to nobody

[2012-11-21 15:28] #79 closed, assigned to nobody

[2012-11-22 10:44] #81 closed, assigned to nobody

[2012-12-03 10:06] em-cliqz opened #82 "query strings and ordering"
I'm having some trouble with query strings. I wish to intercept a path like '/path/load' which can accept multiple parameters, like '?b=123&a=456'. The trouble is that "a" "b" could be in any order (since it'd still be a valid  URL). Is there some way I could do parameter matching like the POST request using an object map instead of constructing this string?

[2012-12-07 00:37] Tivoli opened #83 "Persisting scopes don't actually persist unless defined twice"
For example I have 3 calls to the Twitter API for verify_credentials.json

[code]

With the above the first call is correctly intercepted and the other 2 are not intercepted.  But if I add the call a second time like so

[code]

Then all 3 calls will be correctly intercepted.

[2012-12-07 12:25] #83 closed, assigned to nobody

[2013-01-18 10:24] andreareginato opened #86 "Not working #filteringRequestBody"
Hi,

I'm trying to use  the #filteringRequestBody method but it doesn't work. Actually I tried both the  function and regexp version without results. Here my code.

[code]

I also tried with the function method as my regexp skills are a disaster, but nothing.

[code]

What I want to do is to replace the `nonce` param (from JSON) to a fixed one. Unluckily it doesn't change and i get back the follow

[2013-01-27 07:17] rudyjahchan opened #87 "Nock Recorder Outputting code Missing Protocol"
The recorder in nock does not output the URL protocol in the generated code when using 'http'. As a result, when trying to reuse the code in tests, and calling .done() on a nock-ed call, the test will fail.

For example, if we record the following call:

[code]

The following code is generated by the nock recorder:

[code]

However, using it will fail to match, and output the following:

[code]

Y

[2013-01-27 07:32] #87 closed, assigned to nobody

[2013-02-02 00:16] rgarcia opened #89 "allowUnmocked + https not working"
[code]

Output:

[code]

the code works if you use http instead of https!

[2013-02-04 17:52] #89 closed, assigned to nobody

[2013-02-04 17:54] #86 closed, assigned to nobody

[2013-02-04 21:11] rgarcia opened #91 "allowUnmocked + POST requests not working"
[code]

The `console.log` is never run. The same code works if you do any of the following:
- remove `allowUnmocked: true`
- change the request to a 'get' on '/' with no body

[2013-02-05 10:39] #91 closed, assigned to nobody

[2013-02-21 15:39] andrerod opened #93 "Incorrect verbs when generating recordings"
Right now recordings generate code that, among other things, include a builder pattern with a function that is named after the HTTP verb. The problem is that the scope may not support that verb.

E.g.:

nock('http://ciserversdk.table.core.windows.net:80')
  .filteringRequestBody(function (path) { return '_';})
.merge('/tableservice12(PartitionKey=%27part1%27,RowKey=%27row1%27)', '_')
  .reply(204,

[2013-02-26 19:50] mlchai opened #94 "isDone() working with mikeal/request?"
I'm using mikeal/request with nock, and running this sample code doesn't pass:

nock = require 'nock'
request = require 'request'
expect = require('chai').expect

describe 'hello', ->
  it 'hello', (done) ->
    n = nock('https://hello.dev')
      .post('/world')
      .reply(200, 'hello world')
    m = request.post {url: 'https://hello.dev/world'}, (err, res, body) ->
      console.log body
    d

[2013-02-26 22:20] #94 closed, assigned to nobody

[2013-03-27 21:26] indexzero opened #95 "POST data with different ordered keys"
e.g. this fails.

[code]

[2013-04-01 14:57] #95 closed, assigned to nobody

[2013-04-02 19:11] andrerod opened #96 "Wrong body comparison for JSON"
It seems like with this:
https://github.com/flatiron/nock/commit/30b8308c66dc595464434f7d90673b45f00d0aab

json bodies can now be specified. However, the recordings still use strings for them. Example:

nock('https://management.core.windows.net:443')
  .get('/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/mobileservices/mobileservices/clitest67f3e332-a60c-436c-a459-232827f16732/scheduler/jobs/fooba

[2013-04-03 09:19] #96 closed, assigned to nobody

[2013-04-03 19:47] saw opened #97 "No way to simulate connection errors"
Unless I'm missing something, there doesn't seem to be a way to simulate connection errors like ECONNRESET, etc. Please feel free to close this issue if I'm just dense.

[2013-04-03 20:24] loahou04 opened #98 "body matching"
It seems like the body matching is having some issues.  This was found when i was trying to do a match on a PUT method where the body of the request is an object.

in match_body.js

your current code is saying:
if (typeof spec == 'string') {
    return body.toString() === spec;
  }

toString() will not convert the object to a string.  In fact it will convert it to "[object Object]".

You should be

[2013-04-03 20:33] #98 closed, assigned to nobody

[2013-04-03 22:01] #97 closed, assigned to nobody

[2013-04-07 06:46] cozmo opened #100 "POST handlers fail without body matching"
Currently POST handlers are failing unless you pass a body for matching.

[code]

fails with `Nock: No match for HTTP request POST /post {"some":"data"}`

However, if we change it to match the request body

[code]

Everything works as expected.

[2013-04-09 08:40] #100 closed, assigned to nobody

[2013-04-09 20:46] mfrobben opened #101 "Nock recorder returns JSON.stringified text but nock doesn't accept them"
I've seen a few instances now where JSON.stringified blobs of request bodies that are output by the nock recorder aren't accepted by nock as a string match when the request is made the next go-round.

Example that fails:

[code]

but if I change it to the following non JSON stringified version, it works fine:

[code]

[2013-04-11 10:05] #101 closed, assigned to nobody

[2013-04-12 20:20] ghost opened #102 "delete .npmignore"
Why is there different `.npmignore`? I don't see any real difference in having it there / not having it there, since npm uses `.gitignore` if it does not find `.npmignore`, except unnecessary complexity when one have to have those two files in sync.

[2013-04-30 13:07] #102 closed, assigned to nobody

[2013-05-10 22:23] azylman opened #106 "nock allowing unmocked after all interceptors are satisfied"
Not sure if this is a bug or if it's expected behavior that is just unexpected to me, but if I have something like:

[code]

And then if I make requests to `some_host/some_path` followed by `some_host/some_other_path`, the first one will respond with the nocked reply and the second one will be passed through as if `allowUnmocked` was `true`.

The culprit looks to be the logic in [intercept.js](htt

[2013-05-11 14:29] #106 closed, assigned to nobody

[2013-06-18 14:29] goloroden opened #111 "Response written by reply is not compatible to streams2"
Supposed you are using

[code]

in your test, everything works as expected as long as you use

[code]

in your implementation. If you use the streams2 API it does not work, as the `readable` event is never emitted. Hence, you get no data.

[2013-06-18 21:56] jasonav opened #112 "nock doesn't work with the latest aws-sdk"
We use the aws-sdk for accessing DynamoDb. A pre-release version worked, but the latest does not. Is this something that might be fixed, or is there another nock-friendly DynamoDb client that you recommend?

When recording we get this error:

     TypeError: Cannot read property 'length' of null
      at Object.AWS.util.buffer.concat (/Users/avinger/src/gitKhwaja/hs-web-service/hs-web-service/node

[2013-07-16 21:55] redchair123 opened #115 "LICENSE?"
add to package.json

[2013-07-16 23:05] #115 closed, assigned to nobody

[2013-09-01 11:21] hendrikcech opened #120 "nock doesn't work with hyperquest"
Nock fails to destroy the connection: https://gist.github.com/KenanY/6096236

I took a look into nocks' source and the issue seems to be that `http.OutgoingMessage`s `destroy` function is not overwritten (in `lib/request_overrider.js`).
Sadly I'm not familiar with nock's code, so I don't really know what the destroy function should do. However `req.destroy = new Function` basically solves this bug

[2013-09-21 21:35] chaekit opened #123 "Support for regex matching hostname"
I am trying to stub requests to Dropbox API and I am having some trouble.
It randomly generates hostname number for every request. To illustrate,
the hostname would be _https://api12.dropbox.com_ and then _https://api25.dropbox.com_

[2013-09-23 08:34] #123 closed, assigned to nobody

[2013-10-29 12:37] dunse opened #124 "Can't use .persist() with .replyWithFile()"
When using .replyWithFile() in combination with .persist(), only one request is returned while any subsequent request gets stuck.

Test case:

[code]

[2013-10-31 15:44] alessioalex opened #125 "Feature request: reply with a stream"
It would be nice to have.

[2013-11-07 00:10] piichimochi opened #126 "getaddrinfo ENOTFOUND"
I'm using mocha and nock to test my node client and ran into the following issue. I saw a similar old issue titled "ENOTFOUND, Domain name not found" however my error seems slightly different, and I should preface that doing a GET works just fine with the same host/port/path parameters. However when I try to do a POST, I receive an "getaddrinfo ENOTFOUND" error.

Relevant snippets below, but the c

[2013-11-11 14:25] #124 closed, assigned to nobody

[2013-11-19 04:16] jasonkuhrt opened #128 "Feature Request: Delayed replies"
I need a simple way to send the `.reply(...)` after a given `setTimeout` simulating latency so that I can test that my requests are timing out correctly.

It appears this not possible at the moment.

For the time being I am falling back to writing a small express app for testing.

[2013-11-21 13:43] piranna opened #129 "WebSockets"
Add support to mock WebSocket connections. They are mainly an upgrade from a HTTP connection, so I think it would be feasable easily.

[2013-11-22 11:30] #129 closed, assigned to nobody

[2013-11-25 15:23] serebrov opened #130 "Can not test requests with query string (superagent)"
Requests with query string like "http://myhost.com/path?query=string" can not be tested and nock rasies an error "No match for HTTP request GET /testapi.html".

Here is the testcase (mocha):

[code]

As I understand from documentation this should work. But instead nock does not take query string into account and raises an error:

[code]

So it expects for "/testapi.html" instead of "/testapi.html?

[2013-12-03 11:19] #130 closed, assigned to nobody

[2013-12-03 11:37] #93 closed, assigned to nobody

[2013-12-03 23:57] #126 closed, assigned to nobody

[2013-12-04 09:19] #125 closed, assigned to nobody

[2013-12-04 09:32] #111 closed, assigned to nobody

[2013-12-04 09:33] #16 closed, assigned to pgte

[2013-12-04 09:33] #54 closed, assigned to pgte

[2013-12-04 18:41] leppert opened #131 "Support for nocking DNS queries"
Support for nocking DNS queries would be swell, though I understand if that's out of scope.

[2013-12-17 08:48] #128 closed, assigned to nobody

[2013-12-21 22:16] jskulski opened #135 "Regular expression uri matching"
Hey @pgte, thanks for nock. So far it's been great.

We're trying to expand our use a little bit. I was wondering wondering if there was a way to search some JSON at a url that matches a pattern, rather than a specific key.

For example it would be great if we could have

[code]

all match and send back a random JSON file in a dir.

I get the feeling that I can do this with path filtering and doin

[2013-12-24 01:25] dimichgh opened #136 "It would be great to simulate server dropping requests"
There are two cases:
1. When connection request is never responded.
2. When connection accepted, but never any response written

[2013-12-24 08:10] neerolyte opened #137 "Document (or fix?) simple streams"
I've been trying to get the stream support working and haven't been able to, while the `fs.createReadStream()` does seem to work, the simplest stream that appears to make sense based on the streams API:

[code]

... doesn't.

The above stream can be piped to stdout without issue:

[code]

So I'm assuming it should be enough, but using `nock` I don't get any data:

[code]

(but replacing the `new S

[2013-12-24 10:57] #137 closed, assigned to nobody

[2013-12-28 00:26] #136 closed, assigned to nobody

[2014-01-23 18:31] hildoer opened #139 "Nock doesn't emit 'finish' event on request stream."
If you have a request like this, finish event never fires:

[code]

Pull request en-route...

[2014-01-24 02:28] tlivings opened #141 "Responses with object bodies are empty with content-type header"
It appears that when you provide the `content-type` header to a `reply` that has an object `body`, for example:

[code]

The response body will always be `{}`.

If you remove the `content-type` header it will be as expected.

[2014-01-24 07:32] trym opened #142 "Response never sent when using with aws-sdk"
https://github.com/aws/aws-sdk-js/commit/d75bb771c618aba847dcd20de9e09045bb5f0265 introduced an issue where it seems response is never sent.

[2014-01-24 15:58] #141 closed, assigned to nobody

[2014-01-31 20:22] NodeGuy opened #144 "Recorder doesn't pass through responses."
The recorder feature is great but it looks like it doesn't pass through the responses it records.  Is there a reason for this?  It's getting in my way.

[2014-02-05 18:04] swang opened #145 "Clarify that filteringPath can only be used once."
Hi, first off thanks for making this library.

I was working on something that required filtering out two keys that were generated based on time so I chained two filteringPath regex calls. After seeing nock fail to mock the call, I digged through the code to find out that filteringPath can only be called once.

I know this is solvable via passing a function instead of a regex, which is what I even

[2014-02-07 21:53] tlivings opened #146 "No support for 'readable' event."
If an http client parses data on `readable` event rather than `data`, nock fails.

[2014-02-10 20:27] Janpot opened #147 "Impossible to mock redirects?"
I'm trying to mock a redirect structure as follows:

[code]

This prints a `200 'link'`. If I try to do this on an unmocked url that redirects, I get a proper `3xx` code. Is there a way to do this with `nock`?

[2014-02-10 20:38] #147 closed, assigned to nobody

[2014-02-22 01:09] #139 closed, assigned to nobody

[2014-02-25 16:13] jonprins opened #150 "Does not work with browserify"
Nock expects http.ClientRequest to be defined; the http module that browserify supplies does not use this internal object. Since ClientRequest is an internal object not typically used in an application space, I'm filing this as a bug -- just because you're CommonJS, doesn't mean you're running on node :)

The error that exposes this issue:

[code]

I've traced it down to line 161 of intercept.js.

[2014-03-03 16:08] phedny opened #151 "Unable to match binary data in Buffers for request body"
When using binary data in Buffer objects when doing request.write() and request.end(), matching fails to function properly as the body seems to be converted into a string using UTF-8 conversion.

[2014-03-27 09:16] petrjoachim opened #154 "POST not working on node 0.11.12"
I'm getting this error on node 0.11.12 (latest unstable with harmony generators)

[code]

my code is following:

[code]

[2014-03-27 09:27] #154 closed, assigned to nobody

[2014-03-28 20:31] bgmort opened #156 "request interceptors are executed in reverse order"
Here's another issue of developer surprise, if not a bug:  interceptor request handlers are executed in the opposite order that they are chained in.  Is this the intended behavior?  If it is, it is not obvious and should be documented somewhere.

[2014-03-28 20:32] #156 closed, assigned to nobody

[2014-04-03 13:30] mweibel opened #158 "StrictSSL enabled request throws error"
I'm using the https://github.com/mikeal/request module and it seems that when setting `strictSSL` to true (_If true, requires SSL certificates be valid. Note: to use your own certificate authority, you need to specify an agent that was created with that CA as an option._) nock fails with this error:

[code]

I understand why it is like that (nock isn't issuing a valid certificate obviously), but i

[2014-04-04 19:18] jimkang opened #159 "Need a way to delay the response event – not just the incoming message"
To write a test that checks how a timeout is handled, it would help to be able to set up an interceptor that delays responding _completely_, rather than responding immediately, then delaying the incoming message, which is the behavior .delay() sets up.

I need this because our project uses [request](https://github.com/mikeal/request), which does not consider a request timed out if it gets a respon

[2014-04-15 01:27] rjbordon opened #160 "question on filteringPath and filteringBody"
Hi @pgte,

I've a question about how filteringPath and filteringBody work. Below, my sample code:

[code]

I guessed that using filteringPath and filteringBody options I will be able to do any PUT request to nock (with any path or body) and the _nock rule_ will catch them and reply with my mocked 204.

Unfortunately, it didn't work for me.

Are my assumptions correct? Or I missing something else?

[2014-04-16 20:05] #159 closed, assigned to nobody

[2014-04-21 23:20] jimbru opened #163 "Authorization header isn't mocked"
Mocked requests don't pass through auth headers. This makes it impossible to test for the presence of HTTP basic auth.

See node docs here (http://nodejs.org/api/http.html#http_http_request_options_callback) for how to pass basic auth header (you use the 'auth' key rather than the usual 'headers').

Here's a gist that reproduces the issue. Download and `node nockauth.js` to test. https://gist.gith

[2014-04-24 15:42] gabrielf opened #164 "Support for simulating errors"
Nock is excellent! Something that would make it even excellenter is if nock could be used to simulate connection level errors:

[code]

Especially since these can be otherwise cumbersome to test. Keep up the good work!

[2014-05-07 18:23] assaf opened #167 "Leaking requestBodyBuffer"
[code]

Doesn't seem like `requestBodyBuffers` is ever declared as local variable.

[2014-05-08 08:37] #167 closed, assigned to nobody

[2014-05-09 13:20] rolfst opened #169 "cannot install using npm install due to dependency issue"
it currently depends on debug ^0.8.1 which is not in the repos

[2014-05-09 18:26] #151 closed, assigned to nobody

[2014-05-12 06:29] #169 closed, assigned to nobody

[2014-05-20 13:18] #146 closed, assigned to nobody

[2014-05-26 08:37] mren opened #181 "nock not working with node 0.8"
Hi there.

2be1fd81b4d0bb269d1b8afec4d2e4f99833a962 introduces [setImmediate](http://nodejs.org/api/timers.html#timers_setimmediate_callback_arg), which is only available for [node >= 0.10](https://github.com/joyent/node/wiki/Api-changes-between-v0.8-and-v0.10#added).

As the package.json suggests nock is working with node >= 0.4.10.

It would be nice, to either adjust the minimal node version or

[2014-05-26 09:02] #181 closed, assigned to nobody

[2014-05-26 14:16] pirxpilot opened #182 "replyWithFile cannot be used with `content-encoding` header"
When testing gzipped responses with data from the file:

[code]

nock throws an error

[code]

Looks like it's been broken in 0.31.1 - see this commit:  pgte/nock@af16109b6ba62d5bce525e70781617884d96716c

[2014-05-26 17:04] busticated opened #183 "TypeError: Object #<Object> has no method 'setTimeout'..."
Just started getting the following error in my tests after upgrading to v0.32.1 / v0.32.2

[code]

I do not get the error w/ v0.32.0 and below.

[2014-05-28 08:44] hparra opened #184 "[aws-sdk] Uncaught TypeError: Object #<Object> has no method 'indexOf'"
I can't seem to mock S3 successfully, only getting this error, even when doing a single command like `nock.disableNetConnect()`. Recording works fine.
- nock: 0.32.1
- aws-sdk: 2.0.0-rc.18

[code]

[2014-05-28 09:31] #183 closed, assigned to nobody

[2014-05-28 14:26] avilaton opened #186 "nock request timeout failing test"
Hi all,
first of all, thanks for building this. I have this failing test with nock which I cannot get my head around. My version of nock is 0.32.2. The following snippet fails:

[code]

with the following error

[code]

While if I remove the timeout property and set it as a default, it works perfectly, namely

[code]

Any clue of why this is happening?

[2014-05-28 14:54] #186 closed, assigned to nobody

[2014-05-29 05:00] #184 closed, assigned to nobody

[2014-05-29 05:14] hparra opened #187 "[aws-sdk] Uncaught TypeError: Object #<Object> has no method 'setTimeout'"
See trace at bottom. Problem seems to be in [this hack for restify in `request_overrider.js`](https://github.com/pgte/nock/blob/master/lib/request_overrider.js#L140):

[code]

If I comment out that `if` everything works as expected. It also _seems_ to work if I add an empty function definition for a `setTimeout` key, but I have no idea what other side-effects that has. I defer to you.

Trace:

[co

[2014-05-29 05:19] #187 closed, assigned to nobody

[2014-06-05 08:42] #163 closed, assigned to nobody

[2014-06-09 02:02] lakenen opened #191 "Add support for matching multipart form values"
I'm not sure if this is already supported, but I can't find any docs. I'd like to be able to match some form values from a multipart POST.

Currently, it seems that multipart POSTs are not really supported at all, unless I'm just doing something wrong.

I keep getting the error
[code]

My code:
[code]

I've even tried using the `filteringRequestBody` trick to return `'*'`, but that did not seem to

[2014-06-09 11:54] alanclarke opened #192 "seems to break timeout option in mikeal/request"
[code]

[2014-06-10 21:23] tlivings opened #193 "Readable event broken due to improper stream implementation."
The following would break when parsing an http request in nock:

[code]

This is because nock doesn't seem to send `null` to indicate the stream is complete as per the specification [here](http://nodejs.org/api/stream.html#stream_readable_read_size):

[2014-06-11 08:06] blumus opened #194 "Used interceptor not removed from the interceptor list and/or empty interceptor not throwing error"
It is my understanding of the README that on the 2nd request call , in the following code, nock should throw an error. But it doesn't instead it makes an unmocked request.

var nock = require('nock');
var request = require('http').request;
var scope = nock('http://www.google.com').get('/').reply(200, 'Hey!');
request({host: 'www.google.com', path:'/'}, function(res) {
  console.log('hey!');
  res.

[2014-06-11 08:24] #194 closed, assigned to nobody

[2014-06-12 08:40] pgte opened #195 ".delay API"
Discussion [here](https://github.com/pgte/nock/issues/192).

Implement the following (backwards-incompatible) API.

[code]

[2014-06-12 08:40] #192 closed, assigned to nobody

[2014-06-16 20:01] lakenen opened #197 "matchHeader w/ regex fails on numbers"
[code]

[2014-06-17 07:13] joshacheson opened #200 "Setting Request Expected parameters"
My primary reason for using nock is to fake requests using requestJS. Because of the way Sinon works it's not so good at handling this task.

One thing that I think might be good is to set up request expectations for requests. In a way something like this:

[code]

This is useful for testing in a case where, like an API library, you offer abstractions for http requests like "getTweet(1234)" and ho

[2014-06-17 08:35] #197 closed, assigned to nobody

[2014-06-17 11:15] #144 closed, assigned to nobody

[2014-06-17 11:22] #158 closed, assigned to nobody

[2014-06-17 11:25] #142 closed, assigned to nobody

[2014-06-17 11:25] #62 closed, assigned to nobody

[2014-06-17 11:26] #131 closed, assigned to nobody

[2014-06-17 11:28] #160 closed, assigned to nobody

[2014-06-17 11:30] #145 closed, assigned to nobody

[2014-06-17 11:52] #193 closed, assigned to nobody

[2014-06-20 19:59] gabegorelick opened #201 "Cannot read property 'writable' of undefined"
nock v0.32.1 and above (including the latest: v0.36.2) cause the following error in my tests:

[code]

The relevant portion of http.js:

[code]

I'm running Node v0.10.28 on WIndows 7 64-bit.

The issue is not present in versions of nock before 0.32.1, which means it's probably caused by https://github.com/pgte/nock/commit/ecaa712d0d3c6e2ca7d41b822840dc5f3d1b57b3.

[2014-06-23 09:05] #201 closed, assigned to nobody

[2014-06-23 09:06] #200 closed, assigned to nobody

[2014-06-25 03:56] jeffsmale90 opened #202 "Recording query string in superagent"
When recording a request from superagent, the querystring is ignored.

I believe this is the "reverse" case of: https://github.com/pgte/nock/issues/130

[code]

Outputs:

[code]

Expected:

[code]

[2014-06-26 10:08] #202 closed, assigned to nobody

[2014-06-26 10:47] pgte opened #204 "req.auth and scope.matchHeader"
When using req.auth, the Authorization header is not matched.
See failing case:

[code]

[2014-06-26 10:49] #204 closed, assigned to nobody

[2014-07-07 17:48] blazzy opened #207 "Reply with asynchronous callback?"
Can responses from nock be asynchronous?

I'd like to defer the response to a request until another request completes in order to test a potential race condition. I might be able to get away with using the delay feature, but that seems a bit fragile.

Ideally I would be able to do something like this:

[code]

[2014-07-07 23:28] faiq opened #208 "Elasticsearch mocking Issue"
Hey- Im trying to mock an elasticsearch connection, that the Elasticsearch client makes and I'm not quire sure what this error is. I know elasticsearch opens up a connection that it tries to keep alive, probably through sockets. Here's what I'm getting

[code]

Do you think you can send me any guidance to fixing this? Any help would be greatly appreciated

[2014-07-08 23:12] #208 closed, assigned to nobody

[2014-07-10 20:06] elkelk opened #210 "Recorder reporting port 80 but request fails on 443"
When making a request to https://svcs.sandbox.paypal.com:443 (notice the https) the reporter was incorrectly telling me to stub with port 80:

[code]

[2014-07-12 01:43] buildmaster opened #211 "disableNetConnect causes issues with SuperAgent"
if you have disableNetConnect set and use super agent, the library throws a TypeError rather than showing the original exception. I'm unsure where the fix should really lie, if this is a bug with the way Nock exposes the error or if there is a problem with SuperAgent's expectations of req.path always existing.

I've raised a but with SuperAgent too with a fix for them but I'm unsure really where t

[2014-07-14 04:37] aoberoi opened #212 "nock with proxy tunneling"
i'm currently writing a package that wraps a REST API with an http client and exposes a more usable API. i've been using nock successfully for my tests (thanks!). i just got a feature request to support an http proxy. no problem, since my project uses the `request` module, i can use its `'proxy'` option when i send requests. my only problem, how do i test this?

currently using nock i'm trying som

[2014-07-15 02:49] elnur opened #213 "Is it possible to start nock as a real server?"
The library is great and I'd really like to use it for mocking the backend for tests of my Angular app. The problem seems to be that this library doesn't start a real server but instead hacks Node's HTTP calls. That means that if I don't use it for testing Node apps, it just doesn't work at all.

Is it possible to start it as a standalone server the same way it's done in [shmock](/xetorthio/shmock

[2014-07-15 09:27] #213 closed, assigned to nobody

[2014-07-22 18:53] jpstevens opened #214 "Spying on request body"
Hi there,

Is there currently a way of inspecting the request object received/intercepted by nock?

For example, when doing:

[code]

It would be useful to test that the request sent to that endpoint is as expected:

[code]

This would be massively useful if you need to check (for example) that auth headers were being sent with each request, or that the request body contained the expect data, but

[2014-07-22 21:50] #214 closed, assigned to nobody

[2014-07-23 14:38] divo-ie opened #215 "Nock doesn't handle requests with options object which contains a host name of mixed case."
The domain portion of a URL is not case sensitive. However if I make a http.get(options...) request and the hostname inside that options object is of mixed case nock will fail to match it. Running my demo code below should expose the error.

var nock = require("nock");
var http = require("http");

var options = {
            // Purposely mixing case in hostname to highlight error
            hostn

[2014-07-24 10:17] #215 closed, assigned to pgte

[2014-07-30 23:48] #120 closed, assigned to nobody

[2014-08-01 12:35] dmazine opened #216 "The message shown when `No match for the request was found` should include the server port evidencing that it was correctly set."
The message shown when `No match for the request was found` should include the server port evidencing that it was correctly set. Consider the example below:

[code]

**Nock: No match for request GET http://localhost/employees/?status=ALL**

The error message suggests that the the server port was not set in the request. It took me some time to realize that the problem was not the server port but th

[2014-08-01 14:10] #216 closed, assigned to nobody

[2014-08-04 13:38] claudiopetrini opened #217 "Req.on('socket') support"
Hi,
I'm using the [Stripe](https://github.com/stripe/stripe-node) library but with the latest version they have changed the way they make http request as follows:

[code]

I am not able to mock the response because the library calls req.end inside the req.on('socket') function that is never called.
Can you help me please?
Thank you

[2014-08-04 20:06] #217 closed, assigned to pgte

[2014-08-04 21:27] gramakri opened #218 "Support for multiprocess"
nock works great as long as we are testing within the same process. Would be nice if nock can be made to listen on localhost and reply as configured as well.

The use case is that my server spins off tasklets (separate processes). I would like to check the queries made by the tasklets.

[2014-08-04 21:56] #218 closed, assigned to nobody

[2014-08-07 22:29] #182 closed, assigned to nobody

[2014-08-12 18:41] #210 closed, assigned to nobody

[2014-08-18 17:05] garbados opened #222 "NOCK_OFF ignored if any interceptors defined"
If you have defined any interceptors in your code, then NOCK_OFF will be ignored: https://github.com/pgte/nock/blob/master/lib/intercept.js#L232-L255

Thus, if you have test mocks using nock, then NOCK_OFF will do nothing by default.

[2014-08-27 00:53] CodeFred opened #223 "nock does not work with aws-sdk"
Here's a very simple example that should work:

[code]

If the file above is `test.js` (and assuming both `nock` and `aws-sdk` are installed), running `node test.'s` will hang. A quick debugging seems to point to the Nock request never actually completes, probably due to the way Amazon uses `http.request`.

If, however, `nock` is disabled above (comment out the call to the `nock` intercept), or ev

[2014-08-29 15:26] #223 closed, assigned to nobody

[2014-09-02 16:09] jnordberg opened #225 "filteringPath called multiple times"
I'm trying to create deterministic path filtering for UUID's.

[code]

This function is set with `filteringPath` when replaying and run on each definition's path after recording. This would work except for nock calling the function multiple (5-20?) times per request made.

I had a quick look at the source and tracked it down to `match` being called multiple times but I couldn't see any obvious pla

[2014-09-02 16:09] #225 closed, assigned to nobody

[2014-09-05 21:51] #207 closed, assigned to nobody

[2014-09-23 17:59] ibash opened #228 "Nock DOES NOT throw error for request when interceptor is present"
Steps:
Create a nock interceptor like

[code]

Make two requests like:

[code]

Expected:
Second request causes an error in nock, as discussed here:  https://github.com/pgte/nock#read-this

Actual:
It lets the request go back to foo.com

[2014-09-23 21:56] #228 closed, assigned to nobody

[2014-09-30 21:35] lucasfeliciano opened #230 "Error: connect ECONNREFUSED"
I'm trying to mock one webservice but nock just work when the server is running, so I it is trying to do a real http request.

I already tried to use `nock.disableNetConnect();` without success.

My nock code:

[code]

My http call:

[code]

Error stack:

[code]

[2014-10-01 18:44] #230 closed, assigned to nobody

[2014-10-10 22:38] jasonkuhrt opened #234 "Satisfied events"
It would be great if a nock instance emitted events every time something was satisfied. That way we could avoid `setTimeout`s in tests.

[2014-10-15 17:31] Janpot opened #235 "replyWithFile: stream ended after first time handled"
[code]
Suppose you define replyWithFile for two requests. Suppose you make both requests at different times and read the whole response before making the second request. The response stream has already ended. Is it possible only one readstream is created for the file?

As a workaround, this works:
[code]

[2014-10-16 21:32] pgte opened #237 "measure code coverage"
* use instanbul to measure code coverage
* require a minimum code coverage to commit code (use pre-commit)

[2014-10-24 17:24] PandaWhisperer opened #238 "filteringRequestBody: need more documentation and/or examples"
I am using nock in a situation that involves timestamps being sent via the request body (POST request). I understand I need to make use of `.filteringRequestBody()`, but I don't think examples describe this enough. In the first use case (two parameters, a regex and a string), I think it matches the regex against the request body and replaces all occurrences with the string.

However, in the second

[2014-10-24 18:25] MikeEmery opened #239 "Add option to allow localhost even though disableNetConnect has been called"
I am testing a web service using supertest.  I want to connect to my locally running node app but I don't want that node app to make any external http calls.  As far as I can tell this is not possible using nock currently.

[2014-10-24 18:29] #239 closed, assigned to nobody

[2014-10-29 15:08] #222 closed, assigned to nobody

[2014-11-03 20:48] marcboscher opened #242 "Query string not outputed by recorder when output_objects: false"
This is the same problem as in #130 and #202 but only when setting output_objects: false

Basically the following fix must also be applied to the method `generateRequestAndResponse`:
`options.path = req.path;`

See https://github.com/pgte/nock/commit/9c16f2e07f0145a6a7c86657c2f2e822bfd216c2#diff-10

[2014-11-13 22:10] Exide opened #243 "Tests don't pass when pulling the latest"
I just pulled down the latest revision (@1e1b414aaa6b37d5e1b3d9e39c3b62780112754d) and tried the following:

[code]

Any suggestions?

[2014-11-14 09:26] #243 closed, assigned to nobody

[2014-11-16 20:23] defunctzombie opened #246 "matching request bodies"
Right now, the only way to match request bodies which have "time" or other random fields is to the use `filterRequestBody` function on the scope. However, this presents a problem when you are using a single `nock` scope with multiple chained requests `get`, then `post`, etc. All of the bodies get passed to the filterRequestBody function.

Ideally, what would be good instead is to allow passing a f

[2014-11-18 16:16] redben opened #247 "nock does not intercept requests when recorder is on"
May be I am missing something but when enabling recorder, no requests are intercepted by nock.
mocha test :

[code]

[2014-12-03 11:48] wheresrhys opened #250 "Can't filter by path /"
.filteringPath(/.*/g, '')
          .get('/')

          .filteringPath(/.*/g, '/')
          .get('/')

So it's impossible for .filteringPath to rewrite to `'/'`. Is this a bug?

[2014-12-03 20:57] gingermusketeer opened #251 "Async filteringRequestBody"
Currently the filteringRequestBody callback is assumed to be a sync function this means that async operations such as gzip decompression cannot be done.

Also it would be great if multiple calls to filteringRequestBody was possible. ie.

[code]

[2014-12-20 04:26] carlansley opened #256 "Using nock with AWS S3->putObject greater than or equal to 1024*1024 in size fails"
Using aws-sdk with nock, putting an object into S3 any bigger than 1048575 the callback is never called.  Test:

[code]

[2014-12-20 20:44] #256 closed, assigned to nobody

[2014-12-21 15:55] shlomihaver opened #257 "Nock sends multiple request to aws sqs"
While running my test i got this error from aws sdk: "InvalidChecksum: sendMessage returned an invalid MD5 response. Got "undefined", expecting "af1a2418a805dfb024b9b974c0f358a7"."

I did some digging and i found out thet nock is sending 4 request to sqs server instead of one.
I debugged my code and it dosen't run more then once.

my nock code:

var nock = require('nock');

nock.recorder.rec({

[2014-12-24 00:29] carlansley opened #258 "S3 putObject ~16MB and over fails"
Similar to #256:

[code]

fails with the following errors:

<repeated>
      (node) warning: Recursive process.nextTick detected. This will break in the next version of node. Please use setImmediate for recursive deferral.
      (node) warning: Recursive process.nextTick detected. This will break in the next version of node. Please use setImmediate for recursive deferral.
      (node) warning: Rec

[2015-01-05 03:02] optical commented on #247
Just got caught out by this, would be nice if the docs specified this behavior.

Additionally this might be helpful if you have a series of web requests you need to mock. You can easily record and then mock the initial request, but I don't see any way to record subsequent requests, without pointing the tests at an actual service. In this instance I was only interested in the request body, rather t

[2015-01-05 14:19] ierceg commented on #247
@redben Could you clarify re inspecting the request body. If you use recorder and save the output, you can then load the definitions and assert on them.

@optical How do you use recorder without pointing tests to an actual service? My use case is to write tests against actual services, make them work obviously, record the nocks and then during later tests just replay the recorded nock definitions.

[2015-01-05 14:20] ierceg commented on #14
@kelaban's PR with the said functionality has been merged into `master`.

[2015-01-05 14:20] #14 closed

[2015-01-05 21:30] optical commented on #247
@ierceg A fair point. I ended up making this mistake because nock was not working as I expected and was not mocking some requests. I made use of the recorder to try record the request the client was attempting to make to the service, so that I could configure it using the recorders output. As stated - the response to the service under test was not of significant interest, as I wanted to test the c

[2015-01-06 12:15] #258 closed

[2015-01-06 12:16] pgte commented on #258
@carlansley thanks for the report, I think I've fixed recursion in streams now:

fixed by 67805e7c35820fb561673b4ad1e48f89d4fe1e31

published on v0.55.0

[2015-01-06 19:02] carlansley commented on #258
Thanks, all my S3 tests work now!

[2015-01-09 12:05] gajus commented on #147
I am running into a similar issue:

[code]

Some debugging information:

[code]

[2015-01-13 19:44] bcoe opened #261 "it would be great to be able to assert that a header has not been set"
Is there a way to do this already, basically I'd like to be able to create a mock that raises an exception if a specific header is set, e.g., raise if `authorization` set on a request.

[2015-01-13 22:08] breedx2 commented on #164
+1

[2015-01-19 20:10] dominicbarnes opened #263 "Support to use functions for default response headers"
It would be great if I could set up a default reply header that is generated via a function, the first 2 use-cases I can think of are setting the `Content-Length` header and a `Date` header.

[code]

[2015-01-20 23:14] andrewluetgers opened #264 "nock.disableNetConnect(); should be the default"
Long story short, a series of tests that had hard-coded nock hosts and requests that actually used a config value for the host lead to many requests including mass deletes against our QA server. After much log checking we traced it back to the tests triggering actual calls against the server because we were nocking and requesting different domains. Nock should really really be defaulting to throwi

[2015-01-25 13:10] gajus commented on #147
Request debug log:

[code]

[2015-01-26 09:30] pgte commented on #147
@gajus this is the wrong syntax for specifying reply headers.
Please see [the docs for the proper syntax](https://github.com/pgte/nock#specifying-reply-headers).

This test works for me:

[code]

[2015-01-26 09:55] gajus commented on #147
Indeed. Wrong syntax. Thank you.

[2015-01-27 20:25] jakecraige commented on #112
@pgte I'm having the same issue as @jaridmargolin . Technically using the node-s3 package but the error comes from internal to aws sdk. Happens when I use `listObjects`.

Tests pass when not using nock, when I turn on the recorder with `nock.recorder.rec();` before the tests. They begin to fail with this stack trace

[code]

[2015-01-27 21:43] mkantor commented on #135
Hmm, I'm just getting started with nock, but I've already desired this feature too. Being able to do something like this would be handy:

[code]

But maybe this is just beyond the scope of nock's design goals. If there's another way to accomplish this sort of thing, I'm all ears.

[2015-01-28 09:21] pgte commented on #135
@mkantor replying with a function is already supported.
I'm not against path filtering with a regexp, we already do that for headers and request body.
If you or anyone else is willing to submit a PR for this, I'm all ears.

[2015-01-28 09:23] pgte commented on #112
if it only happens with recording on it's probably recorder-related.
@jakecraige since you probably already have this code, can you please provide a minimum test where this fails?

[2015-01-28 22:18] ierceg commented on #112
Not sure if this is the same problem but I've fixed a AWS problem a while ago. The problem is that the fix breaks nock on node 0.11 so we couldn't merge it. Let me see if I can take a look at it later on.

Minimum pending would of course be highly appreciated @jakecraige

[2015-01-30 06:12] ierceg commented on #112
@jakecraige The PR #266 might be a solution to this though without a minimum test I can't be sure. Please test and let us know.

[2015-01-30 09:28] pgte commented on #112
@jakecraige PR #226 landed on v0.59.0.

[2015-01-30 14:22] jakecraige commented on #112
Looks like #266 fixed it :)

Here's my reproduction:

[code]

Using 0.58.0 it fails, passes with 0.59.0

[2015-01-30 14:59] pgte commented on #112
@jakecraige great, thanks for your feedback!

[2015-01-30 14:59] #112 closed

[2015-01-30 16:02] LoicMahieu commented on #82
I'm mocking an external ugly API which has a lot of query string stuffs...
At this time we write that:
[code]
which is quite ugly but now, ordering is the problem.

As @wejendorp said, marcher like body would be great! :+1:

[2015-01-30 18:31] ierceg commented on #112
@jakecraige Glad to hear it - thanks for the confirmation!

[2015-02-02 15:26] davidchase commented on #250
@wheresrhys Do you have a url that doesn't have the trailing slash and you are trying to add it? if so just do

[code]

[2015-02-02 19:21] twler commented on #247
+1 on documenting this better.  Also not clear to me why recording should be in lieu of mocking, since recording can be useful during testing as well.

[2015-02-03 11:32] doublerebel commented on #82
:+1:

[2015-02-07 23:08] silas commented on #261
I haven't actually confirmed it in the nock code, but `matchHeader('authorization', null)` seems to do this.

[2015-02-10 22:00] tybenz opened #268 "Nock not intercepting"
Running some unit tests in mocha.

When I run `mocha test/unit/service.js` the tests run fine, and nock intercepts the requests.

When I run `mocha $(find test -name '*.js')` the 2 requests that are supposed to be intercepted, no longer are. The requests are actually being sent to the real host.

Any ideas?

[2015-02-10 22:01] tybenz commented on #268
Should clarify... I'm using nock in the other files that are run when running all tests. All requests are intercepted except the 2 in the last test file that gets run.

[2015-02-10 22:49] tybenz commented on #268
Found the culprit. Was doing `nock.restore` in the cleanup of one of my tests (from before I knew that `nock.cleanAll` was what I should be using.

[2015-02-10 22:49] #268 closed

[2015-02-11 12:29] xavierchow commented on #250
@wheresrhys  if you intend to catch any path and redirect to `/`, the following sample code works.
[code]

[2015-02-12 08:09] floatdrop commented on #82
:100: Any plans on this?

[2015-02-12 09:33] pgte commented on #82
Nock is currently not query-string aware, but I agree this is annoying.

We can either
a) make a scope query-string aware by defau (making it match the query object instead of the string). Here an option would be needed to switch this off.
b) make it easy for the programmer to create a query string filter that they can activate with something like this:

[code]

I'm inclined to support the first o

[2015-02-12 10:27] svnlto commented on #82
I also think the first option fits nicer into `nock`'s api.

[2015-02-12 20:21] ierceg commented on #82
@pgte I agree.

[2015-02-12 22:02] doublerebel commented on #82
The way I was imagining, was an extension to the API.  Similar to the [above proposal for `.allowAnyQueryString()`](https://github.com/pgte/nock/issues/82#issuecomment-60702289):
[code]
This matches up with the [superagent syntax used in nock's test suite](https://github.com/pgte/nock/blob/d81bcf07d0aef54624bc86dca7cff61cbc1de253/tests/test_recorder.js#L556).

In the best case, we could parse the

[2015-02-16 04:40] Bjvanminnen opened #269 "No match for request after interceptor exhausted"
I'm trying to run the following code from the readme
[code]
I get the following error.
[code]
Based on what I see in the readme, I would expect that on the fifth attempt, we would hit the server instead of using our mocked response.

[2015-02-16 17:48] aoberoi commented on #212
any feedback for this?

[2015-02-17 22:41] vvo commented on #150
I made https://github.com/algolia/faux-jax/ which is a mock around XHR/XDR with feature detection to support and mimick as many browsers implementations as possible.

Would it be trivial to add it to nock? Let me know.

Also, this issue was resolved, does it means we can mock ajax requests in the browser using nock? Does it supports [XDomainRequests](https://msdn.microsoft.com/en-us/library/ie/cc2

[2015-02-18 11:41] pgte commented on #212
I believe that a proxy is something handled at the `request` level, and since nock works at the node client HTTP level, I don't think we can do anything differently.

@aoberoi What would you suggest?

[2015-02-18 11:47] pgte commented on #269
Once you mock a server, any unmatched requests yield an error.
Otherwise, it would make it very hard to detect what's really going once a hostname is not mocked any more for some reason...

[2015-02-18 11:47] #269 closed

[2015-02-18 11:48] pgte commented on #150
It uses the browserify http client request, which wraps XHR.
@vvo If you try it with browsererify and it doesn't work, please reopen this.

[2015-02-18 16:31] Bjvanminnen commented on #269
It seems like that section from the readme ought to be updated in that case, as it seems to imply a different expected behavior.

[2015-02-18 17:22] pgte opened #270 "README: clarify scope is not bypassed"
Clarify that, when a scope gets created, it will always error if no mocks get matched.

[2015-02-18 17:22] pgte commented on #269
@Bjvanminnen agree.
Created #270 to clarify this.

[2015-02-20 12:20] wejendorp commented on #212
@aoberoi Let me know if you find a solution for proxy tests.

[2015-02-23 19:08] chainlink opened #271 "Recorder Output to file"
Love using nock, but it would be great to have a flag which outputs the result of the recorder to html files (to be used with replyWithFile). Totally down to submit a PR, but any hot tips on where to start would be great!

[2015-02-24 16:17] chainlink commented on #164
Related: http://stackoverflow.com/questions/27708960/how-to-test-error-in-request-with-nock

[2015-02-25 20:13] Nutelac commented on #264
+1

[2015-02-25 22:17] mayurva commented on #164
:+1:

[2015-03-02 08:43] kevinhodges commented on #82
Has anyone started a branch for this?  I'm happy to give it a crack, from a first look at the codebase we'd want to extend the scope => intercept function with a `.query()`, but then it should probably use a lot of the `.match()` functionality, any thoughts/ideas on the best solution let me know.

[2015-03-02 13:00] lo1tuma commented on #264
:+1:

[2015-03-02 13:40] c089 commented on #264
:+1: most def

[2015-03-02 15:51] redbugz opened #272 "Nock doesn't seem to work with superagent and xml"
I have to use an XML service with superagent, but using nock to mock out that request is failing for me. I wrote a test to see if it would pass, but it fails for me as well. res.text is always undefined. The actual superagent call works fine, but the nock test fails.

Here is the test that I tried:
[code]
 gives this test failure:

[code]

[2015-03-02 16:59] ierceg commented on #272
XML parser is not supported out-of-box by superagent. I have tested with adding a custom parser and that works but `.text` is not set by superagent (looking at its source code here), only `.body` is. So if to your test I add this:

  superagent.parse['application/xml'] = function(str, callback) {
    callback(null, {text:responseText});
  };

I will get `{"text":"<root><child/><child/></root>"}` i

[2015-03-02 17:17] jviotti opened #273 "Cannot find module './_stream_duplex'"
I suddenly get the following error message when running a spec with mocha that contains `nock`:

I tried with `0.52.4`, `0.59.1` and node `v0.10.24` and node `v0.12.0`.

[code]

You can clone https://github.com/resin-io/resin-sdk and `npm install` to reproduce.

[2015-03-02 20:21] redbugz commented on #272
Yes I know superagent does not support xml out of the box, but my understanding is that it passes the response string through as res.text, but doesn't parse it into res.body unless you provide your own parsers function, which I don't do. Even if I did the example parser function parses res.text

My code that uses superagent gets res.text set to the xml string from the server, and response.body is

[2015-03-02 20:34] #272 closed

[2015-03-02 20:35] raine commented on #270
From this I got the idea that nock would throw error on ALL requests that I have not specifically mocked. That doesn't seem to be the case, as the mocked requests have to be to the same port and host as the requests being made. This could be clarified in the README.

[2015-03-03 19:48] raine opened #274 "Doesn't handle encoded query params"
This got me very confused for a while.

I was doing

[code]

The actual request goes to `https://ci.jenkins.com/api/json?tree=jobs%5Bname%5D`, so I finally figured out you have to encode query parameters for nock:

[code]

Is there a possibility nock could be smart about this?

[2015-03-03 21:05] raine commented on #264
I agree.

[2015-03-04 08:59] pgte commented on #264
I'm inclined of making this change and doing a major release of nock (1.0, finally).
@ierceg @svnlto thoughts?

[2015-03-04 09:07] joaquimserafim commented on #264
:+1:

[2015-03-04 09:13] svnlto commented on #264
word.

[2015-03-04 09:41] pgte commented on #274
@raine I added this test and I couldn't make it fail:
https://github.com/pgte/nock/blob/50912da57c881fd5fbb1a824f9514ea7cc3b7496/tests/test_url_encoding.js

Is it possible that some library you're using transforms the URL before it reaches the native Node HTTP client?

If not, can you make some change to the test that makes it fail?

[2015-03-04 09:45] pgte commented on #273
@jviotti Looks like a bug in request or readable-stream.
Also, it looks like you're perhaps using an outdated version of either.
If possible, can you update the versions, and if it breaks again, post the start trace here again?

[2015-03-04 10:52] pgte commented on #264
Pushed [this](https://github.com/pgte/nock/commit/151fbcb47a9e1eb4fb8c0c5cc92b5ac858d9275e) to master. Care to take this for a spin?

[2015-03-04 11:48] pgte commented on #264
Landed on v1.0.0.

[2015-03-04 11:48] #264 closed

[2015-03-04 11:49] pgte commented on #270
I believe this is fixed via #264

[2015-03-04 11:49] #270 closed

[2015-03-04 12:23] pgte commented on #271
@ierceg tips?

[2015-03-04 12:24] pgte commented on #263
@dominicbarnes That would be nice, I would be open to accepting a tested PR with that :)

[2015-03-04 12:26] pgte commented on #257
Nock itself is not making HTTP requests, it avoids them.
Perhaps your lib is making them for you?
Also, perhaps try the latest version where, by default, network requests are disabled.
If you find that this is the fault of nock, please reopen this or another issue.

[2015-03-04 12:26] #257 closed

[2015-03-04 12:27] pgte commented on #251
That would be nice. Perhaps involving argument sniffing to detect whether function is or not async?

Anyway, would be open to a tested PR for this one :)

[2015-03-04 12:29] pgte commented on #261
Currently we don't support that, but would be open for a PR :)

[2015-03-04 12:29] pgte commented on #250
@wheresrhys if this didn't solve your issue, please reopen.

[2015-03-04 12:29] #250 closed

[2015-03-04 12:33] pgte commented on #246
@defunctzombie sorry for the super late reply.

A match function is now supported in nock, please check last part of https://github.com/pgte/nock#specifying-request-body

[2015-03-04 12:33] #246 closed

[2015-03-04 12:36] #247 closed

[2015-03-04 12:37] pgte commented on #238
I'm open to a PR with this :)

[2015-03-04 12:39] pgte commented on #234
Would welcome PR with this :)

[2015-03-04 12:43] pgte commented on #82
@kevinhodges I wouldn't want to break backwards compatibility.

One way I see this working is if, instead of a string with the path you provide an object like this:

[code]

this should also work:

[code]

Care to give it a go?

[2015-03-04 12:48] jviotti commented on #273
@pgte I opened an issue at readable-stream explaining the issue and a solution: https://github.com/iojs/readable-stream/issues/119.

I was indeed running an old version of Nock (`0.52.4`). I upgraded:

- nock to `1.0.0`.
- request to `2.53.0`.
- readable-stream to `1.1.13`.

The error persists:

[code]

[2015-03-04 12:53] jviotti commented on #273
I was wondering if running my test suite with `gulp` was altering the paths for some reason, but I get the same error if running the test suite directly with the `mocha` cli tool.

[2015-03-04 14:00] pgte commented on #273
This is totally strange, looks like you're using a module mocking library or something similar.
That or it's a bug in mocha. I'm closing this one since it's to me obvious that it's not a problem with Nock.
Please reopen if you find it isn't so. :)

[2015-03-04 14:00] #273 closed

[2015-03-04 14:01] pgte commented on #274
Related: #82

[2015-03-04 14:13] raine commented on #274
I'm using [`qs`](https://www.npmjs.com/package/qs) to create a query string which is appended to a url with a path, and the whole thing is passed to [`request`](https://www.npmjs.com/package/request).

So the URL actually already looks like `... ?tree=jobs%5Bname%5D` before it reaches `request`. It appears `qs` does encoding.

[2015-03-04 14:15] pgte commented on #274
request already supports a qs argument our of the box, no need to use qs directly.

Anyway, closing this as it's not a Nock problem.

[2015-03-04 14:15] #274 closed

[2015-03-04 14:19] pgte commented on #212
This can't be handled at the Nock level, you would have to mock the request package.

[2015-03-04 14:19] #212 closed

[2015-03-04 14:44] c089 commented on #264
:sparkling_heart:

[2015-03-04 15:07] chainlink commented on #271
Actually, I've implemented this, will submit as PR

[2015-03-04 15:48] andrewluetgers commented on #264
awesome thanks!!

[2015-03-04 16:42] defunctzombie commented on #246
Nice!

[2015-03-04 18:11] ierceg commented on #271
@chainlink Tnx - looking forward to it.

[2015-03-05 22:26] raine commented on #274
Isn't it an unnecessary inconvenience if user of Nock needs to manually encode the query string?

[2015-03-05 22:44] pgte commented on #274
The point is that you wouldn't have to encode the URL if a lib didn't encode it (unnecessarily since those are valid characters).

What do you think nock could do to help?

[2015-03-06 16:12] landau opened #277 "Provide changelog"
It's difficult to see what changes are occurring without hunting through commits. A user friendly changelog would be great! Thanks for the hard work!

[2015-03-06 18:43] raine commented on #274
Instead of

[code]

I'd rather do

[code]

But I can see why it would be tricky to implement because Nock has no idea about how user's code encodes the querystring, right? Best it could do is guess.

[2015-03-07 09:22] pgte commented on #277
I've been meaning to do proper release management. Was thining about using [`semantinc-release`](https://github.com/boennemann/semantic-release/).
@ierceg @svnlto what do you think?

[2015-03-07 09:30] svnlto commented on #277
@pgte I'm a little biased but agree :)

[2015-03-07 17:24] PavelPolyakov opened #278 "back to nock, after nock.restore"
Hi,

Assuming I want to perform the next :
1. Mock the request with nock, make a request and receive the mock results
2. Unmock the request, do the real request and receive the real results
3. Mock the server again, do the request and receive the mock results

How could this be done?

I've experimented with:
[code]

But the 3rd query goes to the real server as well. It seems that I can do the ```n

[2015-03-08 02:32] redben commented on #247
Thanks for the clarification. Now I understand how recorder is meant to be used :

[2015-03-08 09:37] pgte commented on #247
Added to README for clarification: edcbb5850011ffa29b88e0d07bca24fb83c34913

[2015-03-10 16:31] jasonkuhrt commented on #234
I've hacked together something on the fly like this:

[code]

It leverages `the .log` function: https://github.com/pgte/nock#logging.

[2015-03-10 21:02] chainlink opened #280 "Use enableNetConnect with Nock Back?"
How do I use enableNetConnect with Nock Back?

[2015-03-13 16:34] Natim opened #283 "reply with an asynchroneous response."
I am trying to do the following:
[code]

The aim is to basically use the local file storage api to mock the remote aws one.
But by the time I am reading the buffer, it is still empty.

The good call would be to be able to get a callback on the reply callback function in order to tell nock when it is finished.

[2015-03-13 16:42] Natim commented on #283
Similar questions:
 - http://stackoverflow.com/questions/25697093/node-js-nock-and-nedb-reply-gets-executed-before-the-call-back-finishes
 - http://stackoverflow.com/questions/25684307/node-js-module-nock-reply-with-a-callback-doesnt-work

[2015-03-13 16:44] pgte commented on #283
yeah, we don't support an asynchronous handler. I would love a PR with that :).

Basically nock would have to check function arguments length to see if the function would or not be asynchronous and provide a callback when it is.

[2015-03-13 16:45] Natim commented on #283
Yes it seems that mocha is doing a similar thing with the `done` parameter.

[2015-03-13 17:05] Natim commented on #283
The code to add stand apparently there: https://github.com/pgte/nock/blob/master/lib/request_overrider.js#L264-L268

[2015-03-13 18:41] chevdor commented on #150
I am writting my tests using karma/browserify and thus http-browserify.

As soon as I add ```var nock = require('nock');``` to my test, it breaks as described above and show below:
[code]

[2015-03-24 10:26] pgte opened #287 "automate changelog update"
Automate the generation of the change log.

[2015-03-24 10:27] pgte commented on #277
for now we have a hand-made changelog.
Created #287 to automate this.

[2015-03-24 10:27] #277 closed

[2015-03-24 10:29] pgte commented on #237
Fixed by https://github.com/pgte/nock/pull/285, 6f0ad5f7527fce09434c8102464ace10601997b5 and 20b99e2d972c746155a3423abc7f00b582a4698d

[2015-03-24 10:29] #237 closed

[2015-03-24 10:30] pgte commented on #235
Fixed by 19bb1bb752fb914464219bb44a6a472a763ac12a

Landed on v1.2.1

[2015-03-24 10:30] #235 closed

[2015-03-24 16:42] gajus opened #288 "How to perform Request Headers Matching using the name of the cookie?"
https://github.com/pgte/nock#request-headers-matching assumes that you know the name of the header. When debugging, it would be useful to see what are the incoming headers.

e.g.

[code]

[2015-03-25 16:55] ryanzec commented on #150
Getting the same type of error when trying to use nock in the browser through browserify, should this work as with browserify?

[2015-03-25 21:00] arb opened #289 "Random Reply"
Is there any way to send back random data with `reply`? I would like to send back random valid results from the same match.

[2015-03-25 21:25] arb commented on #289
You can pass a function into `reply`.

[code]

[2015-03-25 21:25] #289 closed

[2015-03-26 12:14] ruiquelhas opened #290 "Matching different request payloads for the same endpoint"
I was trying to match the request body for each specific request made to the same endpoint, something like this:

[code]

If I try to do it like this, all the requests are matched by the first `reply`.

Is there anyway to do this (or set the `reply` order for that matter)?

[2015-03-26 12:21] pgte commented on #290
the reply order is defined by the sequence.
when you setup an interceptor and that interceptor is used, it's removed from the list.
You can check the documentation on that here:
https://github.com/pgte/nock#read-this-1---about-interceptors

If this is still a problem for you then please reopen this.

[2015-03-26 12:21] #290 closed

[2015-03-26 14:32] ruiquelhas commented on #290
Yes, it works fine, my mistake.

Thanks!

[2015-03-27 13:49] arb opened #291 "Abort on Reply"
I have a permanent interceptor running using `.permanent()`. My code looks something like this:

[code]

I was expecting that if the first `.post` returned `true`, then the second `.post` wouldn't even be called because the incoming request had already been handled. Is there a built in way to manage this or is this a feature that can be added?

As you can see, I need to be able to mix different st

[2015-03-27 14:26] arb opened #292 "Headers not Used with Reply Function"
With this code

[code]

I would expect the 'x-test' header to be set to 'foo'. This does not appear to be the case.

[2015-03-27 23:38] pgte commented on #291
It all seams to work as expected to me. The following script works as expected:

[code]

If I run this, this yields:

[code]

And if I change the postal code to an invalid one, say "4", it yields:

[code]

[2015-03-28 00:04] pgte commented on #292
I've added a test just for this and I see no problem happening:

https://github.com/pgte/nock/commit/0874e88788216b149655d4496a9e2043279edb52

Can you try to create a test that fails?

[2015-03-28 14:04] arb commented on #291
If you put logs in each of the `.post()` handlers, you'll see that both of them are called. Is there a way to prevent that? I'd like to have the first block validate the payload and if that fails, don't run any of the other matching `.post` methods.

[2015-03-28 18:26] pgte commented on #291
Hmmm... the way that it works is by trying to match all unused matchers. When a matcher matches, it gets executed. If not, it tries to match the next.

I'm not sure what I could do to help you...

[2015-03-29 02:24] arb commented on #291
Could you clear the list of possible matches after the first match? You don't want to reply more than once anyway. Looking through the code I notice that you keep a list of possible matches; could you clear that list? Just a broad suggestion; not sure if it's possible.

[2015-03-29 11:54] pgte commented on #291
Oh, I think I understand what you want.
Is it possible for you to try using `nock.restore()` after you get a response on the client?

[2015-03-30 12:34] arb commented on #291
No because if I `restore` then the interception goes away, I'm using `persist()` because I want nock running as long as the server is alive.

[2015-04-01 01:52] awlayton commented on #150
I get `TypeError: 'undefined' is not an object (evaluating 'superCtor.prototype')` too.

When I apply the changes from substack/http-browserify#75, that error goes away but nock is making real HTTP requests instead of mocking them.

[2015-04-01 15:32] pho3nixf1re opened #294 "latest releases missing tags"
It would be ideal if the tags were kept up-to-date with the current release to ease examining the differences between releases and viewing old versions. As a note, `npm version` commits to package.json and pushes the correct tag automatically so this should be a rather trivial task when creating a new release.

[2015-04-03 10:42] pgte commented on #294
My bad, forgot to `git push --tags`. Should be fixed now.

[2015-04-03 10:42] #294 closed

[2015-04-06 09:14] xavierchow commented on #238
I think the inappropriate parameter name `path` in example codes misleads lots of guys. :)

[2015-04-06 11:07] #238 closed

[2015-04-06 11:08] pgte commented on #238
@xavierchow thanks for correcting this!

[2015-04-06 11:11] pgte commented on #292
@arb please reopen if you can reproduce this with a failing test.

[2015-04-06 11:11] #292 closed

[2015-04-06 11:16] pgte commented on #291
@arb Hmmm...

I think I have 2 alternatives for solving this:
a) Instead of hard-coding the status code, defining a function that returns the proper status code
b) Instead of having 2 separate functions, one for the status code and one for the body, just one function that returns `[status, body]`.

It all boils down into turning nock into a dynamic "server". Would this solve your case?

[2015-04-06 13:20] arb commented on #291
Yea that is what I was trying to do with `nock`, use it as a standing, dynamic mock server that stays active. Of those two options, B seems like it would give the most flexibility with the least amount of development effort.

[2015-04-06 14:05] pgte opened #296 "fully dynamic replies using one function"
Allow to reply like this:

[code]

[2015-04-06 14:10] #296 closed

[2015-04-06 14:13] pgte commented on #291
Addressed in #296

[2015-04-06 14:13] #291 closed

[2015-04-06 14:13] pgte commented on #296
Landed on v1.5.0

[2015-04-07 13:49] dominykas commented on #278
What you're looking for is:
[code]

As a side note, I must say, that my personal opinion is that hijacking everything during `require` is a horrible horrible pattern and should be fixed to explicitly require activation.

[2015-04-14 17:13] prayerslayer opened #299 "Access random path data in reply"
Hi there,

I’m writing a mock for an OAuth2 authentication endpoint. According to the RFC the server *must* include the `state` parameter from the client in its response.

(So for the request `GET https://server.com/auth?state=123&otherparams` the server must include `state=123` in its answer, directly in JSON or in the URL fragment via redirect.)

The spec also says that the state should be rando

[2015-04-14 18:35] prayerslayer commented on #299
Ah, never mind. I figured that I have access to the **original** URI, so I can just do `querystring.parse(uri)`. Sorry.

[2015-04-14 18:35] #299 closed

[2015-04-17 05:13] kevinburkeshyp opened #300 "Strip sensitive data from nock's “back” function before saving to disk"
We are using nock's back function to store and later replay external HTTP requests in our tests. We commit the stored fixtures to our git source so that our tests can be run in environments where they don't need to make network requests.

Nock does not store request headers, but it does store the URI of the request. Unfortunately, some of those HTTP requests contain sensitive data in the query str

[2015-04-17 08:45] pgte commented on #300
Nock doesn't interpret the query string (yet).
I suggest that you use [path-filtering](https://github.com/pgte/nock#path-filtering) to solve this.

Any issue with that please reopen this.

[2015-04-17 13:57] kevinburkeshyp commented on #300
thanks for the quick response!

I guess I am a little confused about how to use path-filtering with nock
back - there doesn't seem to be any post-capture hook into the response. I
could load the file from disk and strip it there, but that seems cumbersome.

-kevin

On Apr 17, 2015, at 01:45, Pedro Teixeira <notifications@github.com> wrote:

Nock doesn't interpret the query string (yet).
I suggest

[2015-04-17 14:02] pgte commented on #300
Ha, sorry, you mean you don't want to record some data, hmmm...

Any ideas @kelaban ?

[2015-04-17 14:40] kelaban commented on #300
@pgte, we can expose some more hooks such as `afterRecord` which can pass the recorded nock back before writing it to disk. We can go the simple route and let the caller be responsible for doing whatever they want to that output object or abstract away some of the details

[2015-04-17 14:43] pgte commented on #300
@kelaban want to propose an API?

[2015-04-17 14:49] kelaban commented on #300
The easiest would be something like this.

[code]

[2015-04-17 21:06] lafave commented on #300
Exposing `afterRecord` would be great. Currently the only way that I know of to whitelist hosts w/ nockBack e.g. "don't record localhost" is to open the recording, parse it, delete the localhost recordings, and write it back to disk.

The same method could be applied to removing sensitive data, but I'm not sure that there's a way to get the requests to match when using the modified recording:

`"p

[2015-04-20 00:40] kelaban commented on #300
Look here under nock back [usage](https://github.com/pgte/nock#usage) and [options](https://github.com/pgte/nock#options-1). See the [pre/post processing](https://github.com/pgte/nock#output_objects-option) options you have. The `scope` object you get passed is one of those

[2015-04-20 00:45] kevinburkeshyp commented on #300
Hi @kelaban, I am pretty sure I tried this with the latest `nock` version and didn't see anything like those properties attached to the `before` function call. I didn't set up a reduced test case, however.

[2015-04-20 00:50] kelaban commented on #300
Please test it (assuming you're loading a fixture which has already been recorded) looking at these [code](https://github.com/pgte/nock/blob/master/lib/back.js#L223) it iterates through each scope and calls your handler which each scope object

[2015-04-20 01:23] kevinburkeshyp commented on #300
On Sun, Apr 19, 2015 at 5:50 PM, Keith Laban <notifications@github.com>
wrote:

This might be the key assumption. So, if the fixtures are already on disk,
we have access to the scope and can strip params etc from them but the keys
are already visible on disk in the test fixture. We commit these to source
so Circle, travis etc can run without making third party network requests.

If they are not on

[2015-04-20 18:19] jtremback commented on #150
1+

[2015-04-20 22:04] jdzak opened #301 "Cannot assign to read only property '_recording'"
We're receiving an error when trying to use nockback (see below) with the latest version of node (0.12.2). We tried with an older version of node 0.10.0 and it worked. Here's a [gist](https://gist.github.com/jdzak/df7c445d7db10d3843c5) of the code to test with.

[code]

[2015-04-21 08:15] pgte commented on #301
@jdzak I'm having a hard time reproducing this. Can you send me a piece of code that triggers this?

[2015-04-21 08:53] pgte commented on #301
I think I spotted the problem in your gist:

[code]

You're calling `nockDone()` too soon, and the fixture gets recorder empty. You have to let the request completely finish before you do that.

Here's an example of how to do it:

[code]

[2015-04-21 08:53] #301 closed

[2015-04-21 09:47] Janpot commented on #211
Running int he same issue:

[code]

[2015-04-21 15:22] jdzak commented on #301
I copied your code, but ran into the same issue. Here's the stracktrace I got with your example.

[code]

[2015-04-21 15:53] jdzak commented on #301
Here's my example project I'm getting the error with.

https://www.dropbox.com/s/6miualxp7v1o7j0/nock-error.zip?dl=0

[2015-04-21 16:06] pgte commented on #301
Fix landed in v1.6.1.

[2015-04-21 16:53] jdzak commented on #301
@pgte Thanks for fixing this so quickly! You're awesome.

[2015-04-23 11:11] benstokoe opened #302 "Nock 1.6.1 breaks Mocha tests with Superagent"
When trying to use Nock 1.6.1 with Mocha 2.2.4 and Supertest 0.15 I get this error:

NetConnectNotAllowedError: Nock: Not allow net connect
at /Users/developer/projects/ethan-proxy/node_modules/nock/lib/intercept.js:399:21
at Object.module.request (/Users/developer/projects/ethan-proxy/node_modules/nock/lib/common.js:128:14)
at Test.Request.request (/Users/developer/projects/ethan-proxy/node_modul

[2015-04-23 11:17] pgte commented on #302
Since version 1.0, you have to explicitely allow net connect to allow your app to send HTTP requests into the network when a mock is not present.

Try doing `nock.enableNetConnect();`  before.

[2015-04-23 11:21] benstokoe commented on #302
My bad! Didn't think this would be needed for localhost. Sorry and thanks!

[2015-04-23 11:21] #302 closed

[2015-04-24 01:11] ksheedlo commented on #261
+1

Perhaps this could be implemented in the configuration object alongside `reqheaders`, so for instance

[code]

I'm interested in this feature and will look into crafting a PR for it.

[2015-04-24 09:27] jakubholynet opened #303 "Docs: Clarify what scope/path/body filtering does"
Hi, thanks for this great library!

I had real troubles to understand what is meant by "filtering" in `filteringScope , filteringPath , filteringRequestBody`.

It would have really helped if the documentation mentioned something like this:

Scope:

Path:

Thank you!

[2015-04-24 12:38] poluyanov opened #304 "View all request headers"
Sometimes it is useful to be able to see the request headers in .reply() .
e.g. HTTP request with variable Range header.
As i see not have this functionality, isn't it?

[2015-04-24 13:56] pgte commented on #304
Fixed in a86019c5104c86d548cce66ca7d793f90a5344ca

[2015-04-24 13:57] pgte commented on #304
@poluyanov you can now, using nock master. Instructions here:

https://github.com/pgte/nock#access-original-request-and-headers

[2015-04-24 13:59] poluyanov commented on #304
Thanks!

[2015-04-24 14:39] #304 closed

[2015-04-24 21:46] pgte commented on #304
Landed on v1.7.0

[2015-04-24 21:47] pgte commented on #280
I'm not sure I understand the question. Perhaps @kelaban can chime in?

[2015-04-25 04:25] kelaban commented on #280
using the mode mode `dryrun` should do exactly this. https://github.com/pgte/nock/blob/master/lib/back.js#L105

[2015-04-25 20:12] ksheedlo opened #306 "Tests failing on clean checkout of master"
I just forked Nock and tried running the tests and I have 3 tests failing before making any changes. Since the Travis build is passing, it probably means that one of our dependencies broke us recently. Typically you would solve this by either pinning the older version or fixing the break and pinning the new version. I haven't had enough time yet to figure out how exactly it broke, though.

Here's

[2015-04-25 20:27] ksheedlo commented on #306
Update: I pinned all the dependencies to the same versions as the latest passing build and my build is still failing. ¯\_(ツ)_/¯

[2015-04-27 08:35] #306 closed

[2015-04-27 10:18] mpareja opened #307 "replyWithError does not satisfy expectation"
Here is a test you can add to `test_intercept.js` which highlights the issue:

[code]

[2015-04-27 10:42] poluyanov opened #308 "response.statusCode"
Hi!

My code have an strict === operators.
statusCode property in request does have the same type which i send by .reply()

case:
[code]

Maybe it must be always number/string?

[2015-04-27 11:09] #307 closed

[2015-04-27 11:09] #308 closed

[2015-04-27 11:09] pgte commented on #308
Coherced into number.

Fix landed on v1.7.1.

[2015-04-27 11:09] pgte commented on #307
Thanks for reporting this.

Fix landed on v1.7.1.

[2015-04-27 11:10] poluyanov commented on #308
Thanks!

[2015-04-27 11:55] mpareja commented on #307
Great, thanks for the quick fix!

[2015-04-27 16:03] chainlink commented on #280
Cool, thanks!

[2015-04-30 13:45] dariospadoni opened #309 "Nocking cross-api calls"
Hello
This is maybe a silly question but...I'm writing test for my micro services architecture: basically from the tests I call some endpoint from Api1 which in turns internally calls some end point from Api2. Can nock intercept the calls made from Api1 to Api2 (of course by setting it properly) or it can only intercept calls to Api1?

[2015-04-30 14:12] pgte commented on #309
If they’re done inside the same process, they’re intercepted.
If the AP1 is not on the same process you’re testing from, then nock won’t intercept them.

-Pedro

On Thursday 30 April 2015 at 14:45, Dario Spadoni wrote:

[2015-05-04 08:21] #261 closed

[2015-05-08 10:29] AlexRRR commented on #303
Hi! for scopeFilter you might want to take a look at https://github.com/pgte/nock/blob/e068c448e7d0113cddf82c70cf1c07508a373f11/lib/intercept.js#L162-166

Basically you pass a function which if the basePath of the url currently being tested matches the regular expression will be treated as a match.

[code]
Would match https://api1.dropbox.com or https://api20.dropbox.com.

[2015-05-09 18:37] #164 closed

[2015-05-10 06:34] jakubholynet commented on #303
Nice, thank you. I hope the documentation can get extended with the proposed information and the example your provided.

[2015-05-18 09:29] yeahoffline opened #316 "replyWithFile error if file not found?"
the actual replyWithFile allows a broken / not found file path. Maybe a error would be useful? If so i could provide a pull request

[2015-05-18 11:47] naugtur opened #317 "filteringRequestBody is documented to be an attribute"
https://github.com/pgte/nock/blame/f73b5c6edc944be51624e1cacdbcd74c19b589cb/README.md#L807

Nowhere in the nock codebase is `filteringRequestBody` used for referencing anything. `filteringRequestBody` is a part of the API and to affect mocks in any way it absolutely has to be called as a method, not overwritten with something else.

Not sure what https://github.com/pgte/nock/blame/f73b5c6edc944be5

[2015-05-19 06:59] hellboy81 opened #319 "[help wanted] filtering JSON body field with filteringRequestBody"
How can I with filteringRequestBody filter JSON body as follows

[code]

[2015-05-19 21:15] ianmacl commented on #208
One thing to note is that ElasticSearch-js seems to be (admittedly probably rightfully) picky about the Content-Type header in the response.  If you don't send application/json as the header then it won't parse it and you get unexpected errors.

[2015-05-21 10:54] #263 closed

[2015-05-25 13:45] goloroden commented on #131
Just out of curiosity: Does anybody actually know an actual module for this?

[2015-05-26 13:15] dmeehan1968 opened #320 "If no expectations set, Nock does not raise exception"
According to the documentation (or by omission), the following should raise an error `Nock: No match for request GET http://google.com/`.

The documentation states that all network requests (after nock as been required) will be mocked, and the default mode for the scope is for `allowUnmocked` to be `false` (or undefined).

Not setting an expectation on the scope should be equivalent to saying "I d

[2015-05-26 13:19] dmeehan1968 opened #321 "removeInterceptor() doesn't remove from pendingMocks()"
Calling `removeInterceptor()` doesn't remove the call from the scopes list of `pendingMocks()`, so a subsequent call to `done()`, `isDone()`, or `pendingMocks()` returns the wrong result.

[code]

[2015-05-27 10:18] pgte commented on #321
I think the interceptor spec is missing a `path: '/'` component. Can you try it?

[2015-05-28 11:01] pgte commented on #321
Closing, please reopen if this doesn't work.

[2015-05-28 11:01] #321 closed

[2015-06-02 06:45] afeld opened #324 "connections not disabled by default"
Per [the README](https://github.com/pgte/nock#read-this-2---about-enablenetconnect),

but running

[code]

prints `200`. Adding `nock.disableNetConnect()` after the first line gives me what I expect:

[code]

Am I missing something?

[2015-06-02 08:00] pgte commented on #324
Can't reproduce this with latest version.
@afeld what version of nock are you using?

[2015-06-02 17:32] afeld commented on #324
Really? Using nock v2.3.0 on Node v0.10.32.

[2015-06-03 14:46] #324 closed

[2015-06-03 14:46] pgte commented on #324
@afeld sorry, you were right.

Fixed.

[2015-06-03 15:00] afeld commented on #324
Thanks for verifying! Would you be open to switching to the previously described behavior? Happy to look into implementing it, since I would guess that is the behavior most people would want anyway.

[2015-06-03 16:09] pgte commented on #324
I’m not sure, since I never encountered the need for requiring nock and not setting up a mock.

Any thoughts @ierceg @svnlto ?

[2015-06-03 17:09] ierceg commented on #324
@pgte Disabled by default is useful when running tests but not when actually creating tests. Take a project where you already have a bunch of go-to-the-network tests and you want to switch to mocking. Just by requiring `nock`, without doing anything else, all your network tests will suddenly fail. Then for each test you have to figure out exactly what needs to be done before each will work again (

[2015-06-03 17:13] ierceg commented on #324
@pgte Re my previous answer, when I say "different rules apply" I mean "nock is intercepting HTTP calls". So within the test the mocking is going on but after the test is done, the `nock`'s state goes back to disabled. This better shows testing intent and an easy incremental conversion to mocked tests.

[2015-06-03 17:14] pgte commented on #324
@ierceg I'm not questioning the "disabled by default" feature.

The issue is that, if you require nock but don't set up a mock, normal unmocked HTTP requests still happen.

[2015-06-03 17:39] ierceg commented on #324
@pgte Alright, I just checked what "fixed" meant - it was clarifying the README, not changing the behaviour.

If setting up a scope in a single test disables the HTTP requests for other tests in the suite, then that's pretty unexpected and something that I think we should change. One option could be to enable HTTP requests after all the mocks are exhausted but that could also lead to unintended co

[2015-06-05 10:04] AlexRRR opened #325 "nockback: setting mode to record, complains about NetConnectNotAllowedError"
Hello!

I am confused about this. If `nockBack.setMode('record');` function is to record and playback, why am I getting a `NetConnectNotAllowedError` ? do I need to set the `nock.enableNetConnect()?` somewhere (i've tried that but no joy)? how would this look like?

Doing the tests with *dryrun* mode works.

Cheers!

[2015-06-05 10:55] ssbrewster opened #326 "Mocking soap services with nock"
I'm working on a `node` app that communicates with soap services, using the `foam` module to parse json into a valid soap request and back again when the response is received. This all works fine when communicating with the soap services.

The issue I'm having is writing unit tests for this (integration tests work fine). I'm using `nock` to mock the http service and send a reply. This reply does g

[2015-06-05 11:40] AlexRRR commented on #325
Seemed to be a scope problem for me. move along, nothing to see here.

Thanks!

[2015-06-05 11:40] #325 closed

[2015-06-06 16:45] dmfenton opened #327 "Can't set number of times"
I get a type error when I try to set up the number of times a mock can be requested.

Here's the relevant details:

### Testing code
[code]

### Stack Trace
[code]

### Versions
[code]

[code]

[2015-06-06 17:34] pgte commented on #327
To use `.times` you will have to use a later version.

[2015-06-06 17:34] #327 closed

[2015-06-07 23:21] LAD500 opened #328 "res.on('data') event doesn't seem to be fired"
I'm using nock to mock an endpoint my app hits on an external api - however I seem to be get the error..

Uncaught SyntaxError: Unexpected end of input
      at Object.parse (native)

Adding some trace to my code I've found that the response never emits the data event, so I get the above when attempting to parse data thats undefined (more specifically an empty string).

My nock block looks like
[c

[2015-06-08 07:47] pgte commented on #328
A similar example of this is working for me against latest master.

@LAD500 What version of node and nock are you using?

[2015-06-08 08:04] pgte commented on #326
@ssbrewster It can. I don't know foam well, but I guess you have to set the response content type header (see https://github.com/pgte/nock#specifying-reply-headers ) so that the client can parse the XML correctly.

@ssbrewster please reopen this if this doesn't work.

[2015-06-08 08:04] #326 closed

[2015-06-08 10:29] LAD500 commented on #328
Node is v0.10.26

Looking at Nock's package.json the version is 2.3.0

On 8 June 2015 at 08:47, Pedro Teixeira <notifications@github.com> wrote:

[2015-06-08 10:38] pgte commented on #328
I've created a trimmed-down version of the test. Could you please try running this?

[code]

[2015-06-08 10:38] pgte commented on #328
@LAD500 please replace the first line with

[code]

[2015-06-08 14:40] ierceg opened #329 "`done` asserts on intercepted but persisted scopes"
My colleague @yuklai reported an apparent problem: when a scope is persisted then `scope.done()` always asserts. This seemed wrong to both him and me so I wanted to fix it. However, looking at the testing code the behavior is actually intended (from `test_intercept.js`):

[code]

@pgte is this behavior really intentional? To me it seems incorrect - I think that a scope that has been persisted shou

[2015-06-08 17:44] pgte commented on #329
@ierceg I agree with you.

To be able to answer `isDone()`, we would need to track whether there has been a call for a persisted mock or not.

[2015-06-08 18:09] ierceg commented on #329
@pgte Ok, cool. I'll fix this then. I was thinking tracking the number of intercepts for all scopes and then just test for `> 0` on persisted in `isDone()`.

[2015-06-08 18:44] LAD500 commented on #328
Thanks Pedro,

Unfortunately I still get the same result. var body is never populated as
the data event never fires

On 8 June 2015 at 11:38, Pedro Teixeira <notifications@github.com> wrote:

[2015-06-08 21:25] dkenzox opened #330 "Request doesn't have a body prop"
Hey guys, I'm having a few issues trying to mock a request to my api, the response object doesn't have a body property.
Here is how I'm doing it
[code]
I even tried to track this on your library and it seems that something is happening in [request_overrider.js#L436](https://github.com/pgte/nock/blob/master/lib/request_overrider.js#L436) with the body.
This test is working for my friends with MAC b

[2015-06-09 11:25] pgte commented on #328
@LAD500 I was able to reproduce this in Node v0.10.26.

Going to dig in.

[2015-06-09 11:40] pgte commented on #328
Also, this problem does not happen in node >= v0.10.27.

[2015-06-09 12:14] #328 closed

[2015-06-09 12:14] pgte commented on #328
Fixed landed on v2.4.1.

[2015-06-09 12:16] pgte commented on #330
Hi @dkenzox can you tell me which version of Node and Nock you're using?

[2015-06-09 13:38] dkenzox commented on #330
Sure,
[code]
**Note**
Just updated to v2.4.1 and it looks like it is fixed now, maybe this e42028ed82eac582fc73a7cc7c6401a9fdbf51b0 fixed it?

[2015-06-09 14:41] ssbrewster commented on #326
thanks @pgte I will try this out and let you know how I get on

[2015-06-09 17:33] LAD500 commented on #328
Thanks Pedro,

Will shift up to the new version

[2015-06-10 02:54] ierceg commented on #317
@naugtur You are 100% correct. I wrote documentation without writing a test for it :( I have fixed this in the #331.

[2015-06-10 02:55] ierceg commented on #319
I don't quite understand the question but you can check #331 and updated example in the README.

[2015-06-10 23:45] kevinawoo opened #333 "nock back appending to recording.json"
I noticed that nock.back isn't appending to `recording.json` like I was expecting it to, from reading the readme, when using `nockBack.setMode('record');`

I thought the behavior was:
- record some nocks to `recording.json`
- run it again, append to `recording.json`

Now that I think about it, how would `nock` prevent duplicates? Maybe a fingerprint?

[2015-06-11 10:38] matiassingers opened #335 "Nock + Osmosis support"
I wasn't really sure where I should create this issue, so I created it on both projects. See https://github.com/rc0x03/node-osmosis/issues/33

----

I'm facing some issues using [Osmosis] and [Nock] for mocking HTTP responses in my unit tests, see the build failing on [Travis](https://travis-ci.org/matiassingers/spotify-countries). The `before` timeout in mocha gets triggered because [Osmosis] is

[2015-06-11 10:52] pgte commented on #335
@matiassingers Osmosis shouldn't be checking private properties at all (much less two levels of those), but the general policy we've been using on Nock is to broaden the HTTP client support (and include them in the test suite) as long as it doesn't require introducing too much logic.

[2015-06-11 12:38] matiassingers commented on #335
@pgte thanks for your quick response! Yeah I though the checking of private properties looked wrong as well, I'll close this issue and continue it on the Osmosis repo.

Thanks!

[2015-06-11 12:38] #335 closed

[2015-06-12 11:35] rashthedude commented on #330
Very good call. I was dealing with similar issues and all is working fine since the upgrade to 2.4.1.

[2015-06-12 11:36] #330 closed

[2015-06-12 11:38] pgte commented on #320
Documentation fixed by 8ae2f6494f73e14d20417fe44d6f077bcbfc6470

[2015-06-12 11:38] #320 closed

[2015-06-12 11:40] pgte commented on #317
See #331

[2015-06-12 11:40] #317 closed

[2015-06-12 11:45] pgte commented on #316
Any error on the body stream is being propagated to the response by this:

https://github.com/pgte/nock/blob/e42028ed82eac582fc73a7cc7c6401a9fdbf51b0/lib/request_overrider.js#L375-L377

@yeahoffline Do you have a snippet or a piece of code where this fails?

[2015-06-15 07:56] yeahoffline commented on #316
you are right and i was just wrong.

[2015-06-15 07:56] #316 closed

[2015-06-17 12:41] ierceg commented on #329
Fixed in #336

[2015-06-17 12:41] #329 closed

[2015-06-17 12:44] ierceg commented on #319
@hellboy81 Please reopen the issue if this is still a problem for you.

[2015-06-17 12:44] #319 closed

[2015-06-17 21:41] holic commented on #300
:+1:

[2015-06-18 09:45] #280 closed

[2015-06-19 20:03] darxtrix opened #338 "nock back : Is there a persist mode ?"
I am looking for a way to generate fixtures for my test if there aren't any. There are two options :

1) Either I use a nock.recorder.rec() and then log these fixtures to a file. Everytime before runnning the test I need to check for the existence of this file manually. If the file is not present, I need to record back and flood it.

2) Other way I used is nock back that automatically does this, b

[2015-06-22 08:51] black-perl opened #339 "nock back : It alows to specify only one scope per fixture json file?"
When we specify a single json file for different URLs, it only flood the file for a single URL from these ? It should flood it with all the json objects corresponding to all URLs, so that the same file can be referred again and again.

It only works when I specify different json file names for different endpoints.

[2015-06-25 07:50] jezenielzapanta commented on #82
@pgte what is the news about this issue? Is this implemented?

[2015-06-26 09:16] pgte commented on #82
It's not implemented.  Would appreciate some help here.

[2015-06-26 11:49] donbitto opened #340 "nock response object doesn't trigger the on('data') or on('end') event"
I have a problem with the response object, it doesn't trigger the res.on('data') or red.on('end').
Nock intercepts correctly the http request (in my case a PUT),
I'm able to output the response object created  but it doesnt trigger none of the events

[code]

[2015-06-26 11:52] pgte commented on #340
Hi, can you please tell me:

* which version of nock you're using
* which version of node you're using

Can you also paste here a small code example that I can run on my side to test this?

[2015-06-26 13:55] donbitto commented on #340
node : 0.12.0
nock : 2.6.0

## account-spec.js
[code]

## account.js
[code]

[2015-06-26 18:59] pgte commented on #340
I replicated your code (with a minor fix because `options` must be defined in `account.js` and nock must be required on account-spec.js), and can't replicate your problem:

[code]

[2015-06-29 15:12] donbitto commented on #340
hello,
thanks for the rapid response.
I replicated the scenario with the code that i sent to you, and it worked fine.
the problem is my spec file.. i'm adding a TAP reporter to my jasmine env

if i remove these lines everything runs ok
[code]

[2015-06-29 15:13] pgte commented on #340
I don't know enough Jasmine to be able to help you.

I'm closing this, please reopen if you find a problem on nock.

[2015-06-29 15:13] #340 closed

[2015-06-30 22:03] dmitry commented on #150
Experiencing the same issue. Running chai + webmock + karma under phantomjs.

[2015-07-02 10:34] pgte commented on #82
Fixed by https://github.com/pgte/nock/pull/341

[2015-07-02 10:34] #82 closed

[2015-07-02 17:30] moneypenny opened #342 ""lib/recorder" has not been loaded yet for context"
I'm trying to `require(['path/to/nock/index'], function(nock)` but it gives me the error above. How can I require nock not using the `require('nock')` syntax?

[2015-07-08 12:52] ssbrewster commented on #326
All good see here http://stackoverflow.com/a/31293297/1230663

[2015-07-08 20:54] chainlink commented on #280
Is there a way to use ```enableNetConnect('specificUrl') with nockback?

[2015-07-08 23:43] vhpoet opened #344 ".reply callback requestBody should automatically parse to JSON"
I feel like the requestBody should automatically be parsed to JSON. It's a string on my example.

Doesn't work
[code]

Works
[code]

[2015-07-10 14:33] Zurico commented on #150
+1

[2015-07-13 04:22] jamestalmage opened #346 "add `andCallThrough` sugar to forward actual requests."
[code]

The idea came from the Jasmine mocks function of the same name.

[2015-07-13 04:30] jamestalmage opened #347 "Allow regexp for interceptor specs."
Due to the high occurrence of `/` in paths, most people will probably use the `string` constructor form.

[code]

[2015-07-14 17:18] danillouz commented on #150
+1

[2015-07-15 23:30] vhpoet opened #349 "Recorder doesn't record the query params"
@lambertsteven recorder needs to be changed after your [pull-request](https://github.com/pgte/nock/pull/341).

[code]

records

[code]

while it should be

[code]

[2015-07-16 16:05] lambertsteven commented on #349
I'll take a look at it

[2015-07-17 22:48] lambertsteven commented on #349
@pgte so this brings up the question of which would you prefer. Since you can still match query strings using the full path as well as the `query()` function, would you prefer the recorder to output the query strings in the `get()` or append the `query()` to the recorder whenever a query string is used?

[2015-07-18 10:21] pgte commented on #349
@lambertsteven I think the later is preferred since it yields more maintainable code.

[2015-07-20 14:01] Janpot opened #351 "Issue with proxy"
Trying out following code:

[code]

Gives me following error:

[code]

[2015-07-20 14:03] pgte commented on #351
`.get()` takes a path, not an entire URL.

[2015-07-20 14:03] #351 closed

[2015-07-20 14:44] Janpot commented on #351
@pgte the path *is* a url in this case. Can you reopen the issue please?

The full match should be `http://proxy.com/http://example.com/ ` not `http://proxy.comhttp://example.com/ `

[2015-07-20 14:46] pgte commented on #351
Given the request you're doing, `http://proxy.com/http://example.com/` is not the path you will get.

[2015-07-20 14:54] Janpot commented on #351
@pgte Did you notice I'm using the `proxy` functionality in request?

[2015-07-20 15:01] pgte commented on #351
I did, and I don't think that's how proxies work.

[2015-07-20 15:16] Janpot commented on #351
Enabling request debug mode:

[code]

Yields folowing output:

[code]

[2015-07-20 21:31] lambertsteven commented on #349
@vhpoet did #350 fix this issue for you?

[2015-07-22 15:53] clicktravel-martindimitrov opened #353 "Tests fail the first time being run but then succeed the second and on."
Hi,

I got an issue where a test runs and fails the first time around but then I run it again and it goes green. Has anyone else had this before?

Thank you,
Martin

[2015-07-24 21:55] vhpoet commented on #349
@lambertsteven I can confirm it works. Thank you!

[2015-07-24 21:55] #349 closed

[2015-08-03 12:24] mtt87 opened #354 "rawHeaders is an empty array in the response"
Hi! :smile:
I'm using Popsicle https://github.com/blakeembrey/popsicle and using Nock for testing but seems like there is a problem, Popsicle expects `rawHeaders` and Nock is setting this array to empty so I can't test response headers.

Is this a bug or there is a reason behind this choice?

I think Nock shouldn't set this array to empty.

Node API:
https://nodejs.org/api/http.html#http_message_h

[2015-08-03 14:12] pgte commented on #354
@mtt87 if it's part of the public API then there's no reason for Nock not to include it.

PR is welcome :)

[2015-08-04 22:53] mtt87 commented on #354
@pgte I'm not that good but I'm trying, can you point me in the right direction? :smile:

As far as I can see you deal with the headers here:
https://github.com/pgte/nock/blob/master/lib/scope.js#L104-L113
and I tried to use a `this.rawHeaders` but no success so far :frowning:
[code]

Thanks

[2015-08-04 23:35] mtt87 commented on #354
I think I've found it and seems like it's working for me
`request_overrider.js`
[code]

I'm gonna write a test now :smile:

[2015-08-05 00:11] mtt87 commented on #354
Problem with this test
[code]

[code]

Because
[code]

Can you help me and tell me where are the headers as function converted into value?

[2015-08-05 05:28] justinhelmer commented on #191
+1 for multipart form data support

[2015-08-05 09:30] #354 closed

[2015-08-05 09:32] pgte commented on #354
Fix landed on v2.10.0

[2015-08-07 13:01] goloroden opened #356 "nock and custom http agent"
The [documentation says](https://github.com/pgte/nock#how-does-it-work):

Does this have any effect on code that uses a custom agent, e.g. to use SPDY? The background of my question is that I have a bunch of unit tests that run perfectly fine when using Mikeal's `request` module as-is, but not if I use a `spdy` agent.

Has anybody experience in using nock with a custom agent?

[2015-08-07 13:04] pgte commented on #356
shouldn't be an issue since mocked requests don't even reach the agent.
OTOH, if there are any spdy-specific events emitted in the request or response objects, that will probably fail.

[2015-08-07 13:16] goloroden commented on #356
Hmmm, okay…

Then I'm now going to try to create a small code sample that reproduces the problem.

[2015-08-07 13:51] goloroden commented on #356
Okay, I managed to come up with a test-case to reproduce…

First, run:

[code]

Then, run the following code using `mocha --ui tdd`:

[code]

On my machine, the first test passed while the second one crashes:

[code]

Any idea what I am missing?

[2015-08-07 14:08] goloroden commented on #356
PS: Versions used are:

- iojs@3.0.0
- assertthat@0.6.0
- nock@2.10.0
- request@2.60.0
- spdy@1.32.4

[2015-08-08 13:27] madhavan020985 opened #357 "Use nock with third party synchronous http libraries"
I have a http service X that calls another http service Y. Now, http calls to Y are driven using sync-requests (https://www.npmjs.com/package/sync-request).. When my test code sends request to X, X must talk to nock and not the other machine, Y.

[code]
Most of the online examples, i noticed were ran using inbuilt http module, i am just curious if the other http libraries calls will also be interc

[2015-08-09 15:47] goloroden commented on #356
Okay, I think I found it…

You need to add an event handler for `error` to the agent, and just re-emit the event. Then everything works as expected. So instead of

[code]

it should be:

[code]

[2015-08-09 15:47] #356 closed

[2015-08-10 10:59] pgte commented on #357
This is because `sync-request` spawns a worker process just to do the request (basically it just exploits node's new `child_process.spawnSync`, which should never be used in callbacks on a server).

[2015-08-10 10:59] #357 closed

[2015-08-10 11:00] pgte commented on #357
https://github.com/ForbesLindesay/sync-request/blob/362d8b5508aed4ce7f8005dae823b4c1308721a5/index.js#L19

[2015-08-10 19:14] madhavan020985 opened #358 "Nock with request library throws 404 error"
I have a simple http test using nock, request, mocha
[code]

I ran this with `mocha test.js` and it fails with the error,

[Error: Nock: No match for request POST http://localhost:8003/ ] status: 404, statusCode: 404 }

[2015-08-10 21:53] pgte commented on #358
I think you're missing the path in `,post()`. Should be:

[code]

[2015-08-10 21:53] #358 closed

[2015-08-11 00:14] jasonkuhrt commented on #234
This is an at least useful feature for integration and end to end tests

[2015-08-12 07:26] calidion opened #359 "unable to mock xml posting"
Uncaught Error: There are errors in your xml file: not well-formed (invalid token)

    var couchdb = nock(url, {'Content-Type': 'text/xml'})
      .post('/', xml)
      .reply(200, reply);

[2015-08-12 11:49] calidion opened #360 "unknown error on parsing url with hash"
url:
https://api.weixin.qq.com/sns/oauth2/access_token?appid=aaaa&secret=aaa&grant_type=authorization_code&code=sosos&access_token=hsosos#wechat_redirect

[code]

[2015-08-12 18:49] peterkc opened #361 "update chai semver to support versions < 4.0.0"
Latest version of chai 3.x is 3.2.0. The current semver string in package.json does not allow/match 3.2.0.

Current:

[code]

Recommened:

[code]

[2015-08-13 10:55] #361 closed

[2015-08-19 19:06] justincy commented on #135
@pgte It looks like nock already has "path filtering" though the behavior is different than what's being asked for here. The current implementation of path filtering will modify the url before matching against mocked requests. This issue is requesting the ability for one mocked request/function to match multiple urls via a regex.

In my particular case, I want to define one function that is called

[2015-08-20 07:34] danpantry commented on #150
+1

[2015-08-22 05:23] saraf commented on #211
Running into the same issue - when an incorrect hostname is specified.
If we enableNetConnect before firing off a test, we get a proper ENOTFOUND error.
However, if nock is actively mocking with disableNetConnect(), then we get a TypeError: Cannot call method 'indexOf' of undefined as reported above.

In the problem case, req.path is indeed absent - inside superagent - request.end -
I put in a con

[2015-08-24 18:02] pwmckenna opened #364 "expose enable_reqheaders_recording option to nock.back"
I'd like to use nock.back, but record the request headers. Is it possible to pass this option through? I'm assuming it uses rec under the hood. Can work on a patch if that would be helpful.

[2015-08-24 22:23] adamhadani opened #365 "Update Chai dependency to support Chai 3.2.0"
Latest Chai is 3.2.0, which is breaking the semver spec of chai@'>=1.9.2 <3.0.0' that nock currently asks for, would be nice to fix this if no breaking changes from Chai side

[2015-08-25 06:03] pwmckenna commented on #353
this has been happening consistently on specific tests for me. My theory is that one of the request headers is being sent initially, but not on subsequent requests that nock handles. waiting on https://github.com/pgte/nock/issues/364 to tell this theory out.

[2015-08-25 08:05] clicktravel-martindimitrov commented on #353
Hi,
thanks for your reply.
``` this has been happening consistently on specific tests for me ``` Do you mean ```this``` as in - run tests, test fail, run again they pass?

[2015-08-26 07:54] pwmckenna commented on #353
exactly that.

[2015-08-29 10:24] pgte commented on #353
@clicktravel-martindimitrov can you provide a log of the test error if you have one?

[2015-08-29 10:29] pgte commented on #365
Fixed by b73b6032

[2015-08-29 10:29] #365 closed

[2015-08-29 10:29] clicktravel-martindimitrov commented on #353
@pgte
How can I get my hands on a more detailed log? At the moment I only have the `npm test` log which I don't think is going to help you a whole lot. But it is goes like this:
First run:
`npm test`
`test1 failed`
`test2 failed`
Second run:
`npm test`
`test1 failed`
`test2 passed`
Third run:
`npm test`
`test1 passed`
`test2 passed`

[2015-09-01 13:56] pgte commented on #364
@kelaban any comment?

[2015-09-01 14:00] pgte commented on #338
@kelaban any comment?

[2015-09-08 15:29] pvoisin opened #367 "Does `socketDelay` actually works?"
Either I don't understand it correctly or there's a flaw in the [implementation](https://github.com/pgte/nock/blob/a407b73ac8f0daa947dccf4a29b86b8f99138157/lib/request_overrider.js#L463) but I can't get `socketDelay` to work.

Here's a small example below. By placing some debug traces I can see that the "timeout" event is fired quite immediately but the "response" will also be fired anyhow...
When

[2015-09-13 21:18] pwmckenna commented on #353
This bug appears to only apply to node 12. the difference that immediately stands out is that the response header contains `'transfer-encoding': 'chunked' ` in the working case, and `connection:close` where it fails.

# working : node 0.10.38
[code]

# failing: node 0.12.7

body is '' instead of the json object that was expected)

[code]

[2015-09-13 21:49] pwmckenna commented on #353
Hacky fix: on versions of node that this error repros (0.12.x, 4.0.0), change line https://github.com/pgte/nock/blob/master/lib/recorder.js#L307 with

`if (true || !_.isEmpty(readableListeners)) {`

[2015-09-14 13:30] pgte commented on #353
@pwmckenna could you please check if v2.11.0 fixes this?

[2015-09-14 13:57] pwmckenna commented on #353
will do. thanks for the quick merge

[2015-09-14 15:45] pwmckenna commented on #353
verified that 2.11.0 fixed my issue. @clicktravel-martindimitrov still seeing the issue on your end?

[2015-09-15 07:47] clicktravel-martindimitrov commented on #353
@pwmckenna
Im gonna have to check but it will be later this week.

[2015-09-16 08:39] pgte commented on #367
`scope.socketDelay` simulates a lag in the body of the response.
I remind you that the request `response` event is fired when the response stream begins not when it ends.

If you're looking for a connection delay, use `scope.delayConnection()`.

[2015-09-16 08:39] #367 closed

[2015-09-16 08:46] pgte commented on #135
@justincy gotcha. Right now, matching is string-based. What I think you're asking then is to implement a router. This would be a big change to nock.
Anyway, as I said, I'd be glad to review a PR with this feature.

[2015-09-16 13:20] pvoisin commented on #367
Well, isn't the socket to be established before the response starts to flow in? I thought that 1) the socket is established, 2) the connection happens, 3) the request is sent, 4) the response is gotten. Please correct me if I'm wrong. I'd really like to understand! :)

[2015-09-16 14:01] justincy commented on #135
@pgte Yeah. I ended up going with [mitm](https://github.com/moll/node-mitm).

[2015-09-16 14:07] #135 closed

[2015-09-16 14:53] pgte commented on #367
A response comes in chunks.

Quick explanation:

If you run [this example](https://gist.github.com/pgte/cd559940dd1ee1d81cc1) you should observe the following events:

[code]

By using `scope.socketDelay()` you're placing a delay here:

[code]

If, instead, you use `scope.delayConnection` you place the delay here:

[code]

[2015-09-16 16:52] pvoisin commented on #367
Indeed, that's the sequence of events I expected to see. I may be confused with the naming of that delay feature. Calling it `socketDelay` appears a bit strange to me but it shall pass... :)

[2015-09-18 20:00] wallacyyy commented on #338
I'm having the same problem right now, someone got something on this ?

[2015-09-19 08:23] clicktravel-martindimitrov commented on #353
@pwmckenna
Still having the same issue thou I found a workaround. Maybe I should have added that I am on Node v 0.10.32

[2015-09-19 22:43] pwmckenna commented on #353
@clicktravel-martindimitrov which http lib are you using? request/superagent/etc?

[2015-09-20 00:38] angrygoats opened #371 "Cannot mock stripe https calls"
Go ahead and delete this issue. My problem is that the call is never intercepted by Nock because the node.js code does the call.

[2015-09-20 11:32] #371 closed

[2015-09-21 07:44] clicktravel-martindimitrov commented on #353
@pwmckenna
I am using the usual `http` one.

[2015-09-21 13:15] pkyeck commented on #214
@pgte I'm stuck with the same thing JP tried to achieve.
how exactly would I go about and check if the POST body has the expected values in it?

[2015-09-21 16:08] pkyeck commented on #214
experimented some more - think we need to be able to catch errors from the "bodyParser":

[code]

`scope` should throw the `Error`, so that surrounding methods could `catch` it.
is this somehow possible?

`scope.done()` just tells me that `Mocks not yet satisfied`.

[2015-09-22 01:07] ruimarinho commented on #214
@pkyeck the assert you're doing (`should.equal`) is already handled automatically by nock if you just pass it the expected body. Here's a more complete example:

[code]

However:

[code]

[2015-09-22 07:57] pkyeck commented on #214
@ruimarinho thanks for the example. it returns a `404`, right?

so far, so good, but I'd rather get the information what params weren't present or had the wrong value when `http://foobar.com` got called:

[code]

Instead of getting the
`Error: Nock: No match for request POST http://foobar.com/ {"foo":"biz"}`
error, something like
`Expected "bar" - actual "biz" ...`
would be - in my opinion - a bet

[2015-09-24 13:26] luanpotter commented on #342
Same error here...

[2015-09-29 10:50] aronwoost opened #373 "Option to throw on unmocked request"
During development it would be helpful if there would be the option `{throwUnmocked: true}`.

Currently an unmocked request just silently fails and with `xhr.done()` we can only see that a nock did not run, but when developing it would be super helpful to see what request was made instead. There might a a way around with `.log(console.log)` but since I know how my app should behave, I'd prefer thr

[2015-10-01 22:26] ruimarinho commented on #214
Indeed @pkyeck, that would be a more interesting output. Would you like to submit a PR for showing the diff?

[2015-10-02 23:00] marfarma opened #375 "Question: Can I export the contents of nock.scope as json?"
Not being aware of the benefit of json output, I had created monk request as you illustrate on most of your documentation.  Now I would like to move the noise out of my tests into fixture files.  But they have to be json = and I'd prefer not to have to build them again from recorder output.

[2015-10-03 06:24] pgte commented on #375
@marfarma Even though we have an internal representation of a mock, that interface needs to be defined and extracted. Short answer: no, not yet.

[2015-10-07 11:27] arjanfrans commented on #150
+1

[2015-10-07 11:31] dmitry commented on #150
Looks like it's not possible to run it out of the box on the browser side, just because the browser doesn't have a filesystem.

[2015-10-07 12:16] danpantry commented on #150
@dmitry yep. A solution I've done is simply to make all code runnable in node - i.e, using jsdom or by using shallow rendering in react.

For some values of  "a solution".

[2015-10-07 12:40] dmitry commented on #150
Looks like the "real" solution could be: load a tapes through ajax/websocket to a browser into a memory (could be pouchdb or plain indexeddb, depending on browser support), then ajax mockers should be loaded and those tapes now could be used, but I feel it should be totally another package, lets name it `vcr-browser`. I don't believe anyone tried to implement similar thing as OSS.

[2015-10-07 23:04] adborden opened #376 "Support for array-style query parameters"
Some frameworks specify array parameters in a query string like this:

[code]

It would be nice to specify this with an option to query, e.g.

[code]

Right now, specifying a query param for nock expectation `{'list[]': 1}` works, but only for a single element.

[2015-10-09 06:22] vinaykkaimal opened #377 "Nock + Superagent request path without leading slash not mocked"
I am currently using nock to test a request that i am making using superagent. What I have observed is that whenever I make a request to a path that does not start with a '\' through superagent, nock is confused into thinking that the path is in fact the hostname.

For eg.

---------------------------------------------

request.get('/endpoint') => nock records the request as being made to 'http://

[2015-10-09 07:47] pgte commented on #377
@vinaykkaimal is this a recorder problem?

[2015-10-09 13:07] matto1990 commented on #300
This would be extremely helpful to me. I'm testing my server, so the tests are making a request to the express server using the request library and then that makes requests to various services. When using nockback it will also record and playback the HTTP request made to the server I would like to test, which obviously means none of my code is ever actually run.

The method described by @kelaban w

[2015-10-09 15:53] fourq opened #379 "Not mocking my amazon calls"
[code]

also I checked to see if there was a match, and there is: `matching POST https://dynamodb.us-east-1.amazonaws.com:443/ to POST https://dynamodb.us-east-1.amazonaws.com:443/: true`

full example gist:
https://gist.github.com/fourq/d49ea7825aea3e989c5d

[2015-10-10 16:36] #300 closed

[2015-10-12 08:12] pgte commented on #379
@fourq From [this line](https://gist.github.com/fourq/d49ea7825aea3e989c5d#file-test-js-L37) in your gist it looks like you're recording instead of mocking...

[2015-10-12 08:13] pgte commented on #377
closing this issue for now. Please reopen once you have feedback.

[2015-10-12 08:13] #377 closed

[2015-10-12 08:15] pgte commented on #376
I welcome a PR with this.

[2015-10-12 08:15] pgte commented on #373
I welcome a PR with this.

[2015-10-12 08:16] pgte commented on #364
@pwmckenna go ahead if you will, I'll review a PR.

[2015-10-12 08:17] pgte commented on #360
@calidion what error are you getting?

[2015-10-12 08:20] pgte commented on #359
@calidion this is not how you specify request headers.
Read here: https://github.com/pgte/nock#specifying-request-headers

[2015-10-12 08:20] #359 closed

[2015-10-12 08:23] pgte commented on #353
@clicktravel-martindimitrov some debugging output on a failed run would be useful. That or a failing test case.

You can enable debug logs using the `DEBUG` environment variable:

[code]

[2015-10-12 08:25] pgte commented on #346
PR is welcome

[2015-10-12 08:25] pgte commented on #344
PR is welcome

[2015-10-12 08:27] pgte commented on #342
nock works only on node, using synchronous require.

[2015-10-12 08:27] #342 closed

[2015-10-12 08:28] pgte commented on #339
@black-perl I don't know if I follow.
Could you please provide a failing test case?

[2015-10-12 08:31] pgte commented on #309
@dariospadoni closing this for now. Please reopen once you have feedback.

[2015-10-12 08:31] #309 closed

[2015-10-12 08:33] pgte commented on #288
@gajus I'm confused by your title. Cookies always use the same headers...
https://en.wikipedia.org/wiki/HTTP_cookie

@gajus Please reopen once you have feedback.

[2015-10-12 08:33] #288 closed

[2015-10-12 08:34] pgte commented on #278
@PavelPolyakov I'm closing this for now, please reopen once you have feedback.

[2015-10-12 08:34] #278 closed

[2015-10-12 08:35] #271 closed

[2015-10-12 08:37] pgte commented on #242
Glad to accept PR with this fixed.

[2015-10-12 10:26] aronwoost commented on #373
@pgte I have problems understanding the life circle of nock. Can you point me to a starting point? Where would something like `{throwUnmocked: true}` be handled?

[2015-10-12 10:32] pgte commented on #373
@aronwoost going through the code, the request object should emit an error from here:

https://github.com/pgte/nock/blob/4f4d62b0290866fa5c0ddf53282871b61c93e110/lib/request_overrider.js#L250-L253

@aronwoost isn't this your experince? If not, can you show me a code gist that fails?

[2015-10-12 10:48] aronwoost commented on #373
Check [initial post](https://github.com/pgte/nock/issues/373#issue-108845073):

In the lines you referring to we could emit all the requests that where made instead of the mocked one. So yes, this would be helpful.

However, even better would be, of nock could throw *right when a unmocked request is made*.

I'm totally willing to get my hands dirty with a PR. I'm unsure where to start tho...

[2015-10-12 10:57] pgte commented on #373
@aronwoost The request object should be already throwing an error if you're using the same host name but there's no match.

What would be missing is to throw an error on a hostname that is not mocked, but I think you can achieve that [using `nock.disableNeConnect()`](https://github.com/pgte/nock#enabledisable-real-http-request) before running the tests.

[2015-10-12 12:58] fourq commented on #379
It ended up being that that the recorder was recording at the same time. Thanks for looking at this. Great lib.

[2015-10-12 12:58] #379 closed

[2015-10-13 08:31] aronwoost commented on #373
You are very right! It works as expected.

[2015-10-13 08:31] #373 closed

[2015-10-13 21:27] chainlink commented on #271
Ended up going with the excellent nock back :)

[2015-10-14 14:03] CacheControl commented on #303
:+1: I agree, the filtering documentation is confusing, which is what led me to this issue.  Thanks for the explanation @jakubholynet

[2015-10-14 15:11] clicktravel-martindimitrov commented on #353
@pgte
Managed to find a workaround by wrapping it in a ```setTimeout(function() { ...```

[2015-10-14 15:48] pgte commented on #353
@clicktravel-martindimitrov looks like you may have some sort of race condition there.
If you still it's a nock problem please reopen this.

[2015-10-14 15:48] #353 closed

[2015-10-16 16:33] sidabs opened #380 "Nockback with filteringRequestBody not working as per example"
@pgte I've taken your [example for `nockback`](https://github.com/pgte/nock#usage), and attempted to filter the request body to return something else.  Below is my code and console output, which shows that the filtering isn't working as I expected based on the docs (you'll note that the console logs in the `before` function are never output).

The issue is probably with my implementation, so I apo

[2015-10-19 05:56] lucasfeliciano opened #381 "No match for request POST"
My mock
[code]

My call
[code]

error
[code]

[2015-10-19 05:59] lucasfeliciano commented on #381
Nevermind,
it was missing the final `/` in the mock endpoint.

[2015-10-19 05:59] #381 closed

[2015-10-20 11:36] izaakrogan opened #382 "Does {allowUnmocked: true} apply to the host url or to the host + path?"
Both requests hit the real url when I was expecting one of them to get undefined. How is this working internally? Does `{allowUnmocked: true}` apply to the host url or to the host + path?

[code]

[2015-10-20 13:10] pgte commented on #382
@izaakrogan in this gist you're hitting `/search` two times. Was that your intention?

[2015-10-20 14:58] izaakrogan commented on #382
@pgte thanks for getting back to me. It took me a while to realise that using allowUnmocked: true means the interceptor will not removed from the interceptor list. I made a small PR for the readme.

[2015-10-22 07:40] finderL opened #384 "how it start?"
I think that nock is very great , but I don't know how it works, it can start a http server? can you help me ? thanks!

[2015-10-22 08:00] pgte commented on #384
No, it doesn's start an HTTP server, it overrides Node.js `http(s).request`.

See here: https://github.com/pgte/nock#how-does-it-work

[2015-10-22 08:00] #384 closed

[2015-10-22 09:21] finderL commented on #384
if I can't start web server, so the ajax request how to get mock datas in webpage?

[2015-10-22 09:34] pgte commented on #384
Nock doesn't work on the browser

[2015-10-22 09:43] finderL commented on #384
Okay, But still thank you very much!

[2015-10-22 09:54] sindresorhus opened #385 "Wildcard matching"
It would be useful if it was possible to do wildcard matching. Sometimes I just want to match any path on a domain and reply back with some data.

The following would match any path, like `http://website.com/foo/bar`.

[code]

[2015-10-22 09:56] pgte commented on #385
I'd prefer we go with a function or a regular expression rather than a string.

[2015-10-22 09:56] pgte commented on #385
Duplicate of #347

[2015-10-22 09:56] #385 closed

[2015-10-22 11:11] sindresorhus commented on #347
:+1: I think `.get()` should support both a regex and a function. This matches the filtering methods.

[2015-10-23 12:05] neophob opened #386 "Support for ipv6"
It looks like ipv6 is not supported, I use it for example with `nock('http://[2607:f0d0:1002:51::4]:8080').post('/update', payload).reply(200)`.

Or should ipv6 be supported?

[2015-10-23 13:05] pgte commented on #386
`require('url').parse` apparently supports it, it seams to work on `http.request` so nock should support it.

@neophob what's your experience?

[2015-10-23 18:13] neophob commented on #386
hey @pgte

my calls to http://[2607:f0d0:1002:51::4]:8080') aren't mocked but executed... do you have a code example/unit test of a ipv6 mock?

[2015-10-24 15:13] pgte commented on #386
@neophob we do now: https://github.com/pgte/nock/blob/master/tests/test_ipv6.js , and they're passing.

[2015-10-28 09:35] neophob commented on #386
Hi @pgte , thanks for the test. I  just verified it on my side but nope. I use request promise

[code]

with the nock definition in the first post in the test. but somehow this fails with ipv6, my tests fails with ```RequestError: Error: connect EHOSTUNREACH``` and ```AssertionError: Mocks not yet satisfied:
POST http://2607:f0d0:1002:51::4:8080/update```

[2015-10-28 09:42] pgte commented on #386
@neophob that doesn't look like a valid encoding for an IPv6 in the `uri` option.
Did you try with `http://[2607:f0d0:1002:51::4]:8080/update`?

If so, could you post a full failing test case so that I can try to reproduce?

[2015-10-28 09:55] neophob commented on #386
Yes saw this too, my address contains the brackets, I'll dig deeper and post a reproducable test case

[2015-10-28 12:51] neophob commented on #386
Ok, I added a request promise test, see https://github.com/neophob/nock/commit/dfd95ff7e5aa6aa00a9999609b7ee82d1b24c194

-> if you enable ```var target = 'http://[2607:f0d0:1002:51::4]:8080';``` the test fails.

[2015-10-28 12:53] pgte commented on #386
@neophob intersting, can you make a pull request with the failing test so that I can merge it here?

[2015-10-28 14:03] neophob commented on #386
done

[2015-10-28 15:13] drazisil opened #392 "socketDelay not working"
Hello,

I'm running into issues with socketDelay(). It would seem that I'm still getting my reply (status code 200, per your example), when what I'm really looking for is a connect ETIMEDOUT. I think I should not get any body with a true timeout, or am I using the wrong type?

The tests seem to agree.

https://github.com/pgte/nock/blob/a46ed6edfb926ce5bb6a93b82c79e04441e0d7a9/tests/test_intercept.

[2015-10-28 19:00] neophob commented on #386
could you reproduce the issue?

[2015-10-29 09:38] #386 closed

[2015-10-29 09:42] pgte commented on #386
@neophob thanks for the test!

Fix landed on v2.16.1.

[2015-10-29 10:18] pgte commented on #392
To be honest, I'm not a user of socketDelay.

Any input @brettporter ?

[2015-10-29 10:30] neophob commented on #386
cool, thanks for the quick fix!

[2015-10-31 19:08] jpetitcolas opened #394 "http.ClientRequest undefined?"
When I try to mock an URL, I got the following response:

I got this message when I import (or require) `nock`.

I've succeeded to locate the issue on [intercept.js](https://github.com/pgte/nock/blob/master/lib/intercept.js#L269):

[code]

`http.ClientRequest` is undefined. Am I missing something? :)

I am using node 4.1.

[2015-11-02 20:56] pgte commented on #394
@jpetitcolas I've tried with node v4.1.2 and I can't reproduce this issue.
Which exact node version are you using?

[2015-11-08 23:48] carpeliam commented on #394
@jpetitcolas any chance this is a duplicate of #150? are you testing this with browserify/webpack?

[2015-11-09 05:29] jpetitcolas commented on #394
Good catch, it is indeed a duplicate (I'm using Webpack). Closing the issue in favor of #150. :)

[2015-11-09 05:29] #394 closed

[2015-11-09 15:52] pgte commented on #150
Just published v2.18.0-alpha.1 targetting browserify support.

Testing appreciated.

[2015-11-09 16:31] tarun commented on #274
The issue still exists now - when combining `.post()` with `.query(...encoded_params)`

[2015-11-10 02:47] brettporter commented on #392
@drazisil how does the code look? It doesn't actually generate an `ETIMEDOUT`, but instead triggers anything you've added with `setTimeout` to occur.

[2015-11-10 03:51] drazisil commented on #392
Right, and that's not what I'm looking for. I'm looking to simulate something listening on a port, but not responding, so a connection timeout?

[2015-11-10 09:38] pgte commented on #392
To clear things up, I've added a few examples on each type of time-related methods.

## delayConnection:

code: https://github.com/pgte/nock/blob/master/examples/delay-connection.js
Output:

[code]

## delayResponse

code: https://github.com/pgte/nock/blob/master/examples/delay-response.js
Output:

[code]

## socketDelay (without abort)

code: https://github.com/pgte/nock/blob/master/examples/sock

[2015-11-10 09:39] pgte commented on #392
@drazisil I hope this helps. I'm closing this for now, if you have any problem please reopen.

[2015-11-10 09:39] #392 closed

[2015-11-10 09:42] #382 closed

[2015-11-10 09:43] pgte commented on #380
@kelaban any input?

[2015-11-10 09:44] pgte commented on #360
Closing this for lack of feedback.

[2015-11-10 09:44] #360 closed

[2015-11-10 09:44] pgte commented on #339
Closing this one for lack of feedback.

[2015-11-10 09:44] #339 closed

[2015-11-10 10:44] drazisil commented on #392
@pgte Perfect, thank you very much

[2015-11-10 16:10] black-perl commented on #339
Yeah, you can close this one. Sorry, i looked at it too late :) If there would be something else I will notify here.
Thanks !

[2015-11-10 16:30] soroushjp opened #398 "More helpful errors for unmatched requests"
When a request fails to match a nock, an error resembling the following is generated:

[code]

There are two issues with this:
- With support for request header matching, all of the above may match an existing nock without the request matching a nock. In this case, this error is not very helpful.
- With support for request body filtering, the error presents the _pre-filter_ request body, which wil

[2015-11-10 17:50] jackfranklin opened #399 "Headers coming in as an array"
Caveat: I'm not sure if this is a problem with nock or isomorphic-fetch, doing some more digging.

Something (maybe Nock, maybe isomorphic-fetch) is changing the headers from a string to an array of a string. This means I have to match using the function matching of request headers. The code below demonstrates this:

[code]

If you comment out the `reqheaders` with the function, and use the standa

[2015-11-10 17:50] jackfranklin commented on #399
@pgte plan on doing some more digging later but have to run. Will follow up this evening.

[2015-11-10 17:59] jackfranklin commented on #399
So I think this is me misunderstanding the library. If I swap `reqheaders` to `headers`, it matches as expected. Apologies for the noise, although I think maybe the README could be clarified a little.

[2015-11-10 18:24] brettporter commented on #392
:+1: nice, thanks @pgte

[2015-11-11 09:53] pgte commented on #398
@soroushjp I agree, this is an obvious pain point for nock when doing some more complex matching.

We can't show the filtered body because they're scope-related, not request-related. (anyway, I think there's a better way to help debugging the filters).

To make this better, I'd suggest the following:

* add the request header fields to the error message.
* present the candidate interceptors for th

[2015-11-11 10:39] #399 closed

[2015-11-11 10:42] pgte commented on #399
@jackfranklin `options.headers` should be ignored.

The headers come as arrays, node-fetch is exploiting the fact that `['abc'].toString() == 'abc'`.

Landed a generic fix on v2.18.0.

[2015-11-12 06:51] soroushjp commented on #398
@pgte Great and agree that this makes sense since debugging is scope related. I will begin tackling this and keep this thread posted!

[2015-11-12 11:14] pgte opened #401 "[doc] clarify (enable|disable)NetConnect behaviour"
The README is not consistent about the behaviour of netconnect.
To clarify this:

* create examples
* update the readme, clarifying

[2015-11-12 11:36] pgte commented on #401
Examples:

## default net connect, no mock:

code: https://github.com/pgte/nock/blob/master/examples/net-connect-default-no-mock.js
result:

[code]

## default net connect, mock other host name:

code: https://github.com/pgte/nock/blob/master/examples/net-connect-default-other-mock.js
result:

[code]

## default net connect, mock same hostname, different path

code: https://github.com/pgte/nock/bl

[2015-11-12 11:39] #401 closed

[2015-11-13 06:06] keenaudio commented on #150
Uncaught Error: Cannot find module "fs"

scope.js, line 5

[2015-11-13 11:56] #150 closed

[2015-11-13 11:56] pgte commented on #150
fs fixes have gone into 2.18.2. Care to try it now?

[2015-11-14 15:41] hyphenbash commented on #150
This might be another issue but I've tried it with mocha and chai using karma. Now I am getting AssertionError like this:

[code]

but if I run it with only mocha it works fine!

[2015-11-14 16:08] cressie176 opened #402 "nock hangs when intercepting a previously mocked host"
We have a mocha test suite where some tests use nock to mock requests to AWS S3 and subsequent ones need to make real requests to AWS S3. We've put ```nock.cleanAll()``` in the teardown for the tests which use it, and specified ```{ allowUnmocked: true }``` when setting up our interceptors, however the tests which need to make real calls to S3 are timing out. Running with debug shows

[code]

If I

[2015-11-14 16:46] hyphenbash commented on #150
This might be a different issue. But, using karma it still hits the real server, as now it throws an AssertionError comparing the real response returned from the server with the expected mock.

Is there a chance to have a separate package supporting karma, as I don't have an issue when running by mocha?

[2015-11-16 05:13] miazoom commented on #150
Same problem here: Using Karma and nock hits the real server. :(  Any solutions ??

[2015-11-16 09:17] pgte commented on #402
@cressie176 I'm not sure I fully understand the whole scenario. It looks like the request is being actually sent to S3, and to me it's not clear what is timing out: the test or the request.

Could you please create the simplest node script that recreates this problem?

[2015-11-16 09:19] pgte commented on #150
@hyphenbash @miazoom Are you sure that nock is being loaded by the browser?

[2015-11-16 10:05] pgte commented on #211
Tested with latest version of superagent and nock, seams to be working.
Closing.

[2015-11-16 10:05] #211 closed

[2015-11-16 19:50] plynchnlm opened #403 "Please update debug npm module"
Package "debug" needs to be updated to 2.1.2 or later to remove this vulnerability on sub-dependency "ms":  https://nodesecurity.io/advisories/46

[2015-11-16 21:03] gwicke commented on #402
We ran into this as well. It's isolated to node 0.10. For us, reverting to nock 2.17.0 did the trick for now.

[2015-11-16 23:20] cressie176 commented on #402
I confirm what @gwicke reports. Sample project that can be used to reproduce [here](https://github.com/guidesmiths/nock-issue-402)

[2015-11-17 09:38] pgte opened #404 "recorder tests fail with latest superagent"
By running

[code]

I get 4 failing tests, all due to diffing deepEquals on objects given by superagent.

I'm removing test_recorder.js for now from test.js, but this needs to be fixed soon.

[2015-11-17 09:46] #403 closed

[2015-11-17 09:57] pgte commented on #402
@cressie176 thanks, I managed to reproduce it. I'm going to take a look into this.

[2015-11-17 11:27] #402 closed

[2015-11-17 11:33] pgte commented on #402
Fix landed in v3.1.0.

[2015-11-17 11:50] marco-c opened #405 "Don't match requests without query strings if query strings were expected"
The change https://github.com/pgte/nock/commit/5eb5e2e7dc950c20f65b26fd6fed50dacec27cdf broke our tests: https://github.com/mozilla/oghliner/issues/211.

I think this feature was useful for writing tests.

[2015-11-17 11:53] pgte commented on #405
@marco-c what about this alternative: using `query({})` to specify no query string params?

[2015-11-17 12:12] marco-c commented on #405
The problem is that the library does a few different requests to https://api.github.com:443/authorizations, we relied on the old nock's behavior and defined the replies in a non-temporal order.

This allowed us to simplify the tests by putting the requests in common between tests in a single function:
[code]

[code]

The nockGetTokenFailureExists().get('/authorization') request happens after `nock

[2015-11-17 12:33] rstacruz opened #406 "Maintain a changelog/releases list"
I'd like to know what changed from 2.x to 3.x.

[2015-11-17 12:35] pgte commented on #406
Unfortunately, until someone tackles #287, one way to do this is to look at the commit log.
duplicate of #287

[2015-11-17 12:35] #406 closed

[2015-11-17 13:09] ierceg commented on #404
Ok, I'll look into this.

[2015-11-17 13:18] pgte commented on #404
@ierceg thanks.
Just so you know, I think it's a side effect of updating the version of superagent.

[2015-11-17 13:26] ierceg commented on #404
Yep, figured as much. It now correctly reports 405 so I fixed the tests.

[2015-11-17 13:31] #404 closed

[2015-11-17 13:33] #405 closed

[2015-11-17 13:37] marco-c commented on #405
Does the closure mean that this is now the expected behavior? Just checking because I don't want to rewrite the tests if you're going to change the behavior again.

[2015-11-17 16:30] pgte commented on #405
@marco-c sorry, should have told something. Yes, this is now the expected behavior.

[2015-11-17 16:31] marco-c commented on #405
OK, thank you!

[2015-11-17 20:08] garrypolley opened #408 "Socket Hang Up Errors"
I'm not sure exactly what is causing the error but I believe it is due to this commit:

https://github.com/pgte/nock/commit/f9063fc593138204c6ba01e336095ba18c7b7458

With version `2.17.0` we have no issues with version `2.18.0` our HTTP requests are getting a `socket hang up` error.

I think it's related to the conditional checking on the `http.ClientRequest` that was added to support borwserify.

[2015-11-17 20:25] garrypolley commented on #408
I believe this is due to the socket not getting close properly.  Looking at the node code this is where that is raised as an error:

https://github.com/nodejs/node-v0.x-archive/blob/v0.12.7/lib/_http_client.js#L214-L218

[2015-11-17 21:24] plynchnlm commented on #403
Thanks.  Do you intend to tag 3.1.0?  I see you updated the version in package.json, but I don't see a tag in GitHub.

[2015-11-17 22:35] pgte commented on #403
landed on v3.1.0.

[2015-11-17 22:39] pgte commented on #408
This may have been fixed by 13b65dd4fc195112453e00a55ae6dce05ed67945, which landed in 3.1.0.
@garrypolley are you able to test with this version?

[2015-11-17 22:43] garrypolley commented on #408
I'll take a look tomorrow in the morning. I think that may fix it.  Thanks for pointing it out.

[2015-11-18 01:33] hyphenbash commented on #150
@pgte I see what you mean. I think my nock build was incorrect so it was not even being called and it was hitting the real server. Built it again and failing fs when running on phantomjs. Can this module be also available on browsers like sinon?

[2015-11-18 04:19] rstacruz commented on #287
How will this be done?

[2015-11-18 05:35] miazoom commented on #150
@pgte

- We are trying to intercept calls to localhost and use nock reply, but for whatever reason our call is still going to the real server.
- We're using phantomjs and karma.
- We use 'isomorphic-fetch' library to send request to server.

[code]

Any help is appreciated

[2015-11-18 07:49] ali322 commented on #150
@miazoom why not try "fetch-mock"

[2015-11-18 09:51] pgte commented on #150
@hyphenbash at least from version 3.0 onwards it should be compatible with browsers (even though the automated tests don't run in a real browser.
Did you try with latest?

[2015-11-18 10:08] #287 closed

[2015-11-18 10:10] pgte commented on #287
You can now check the updated change log here: https://github.com/pgte/nock/blob/master/CHANGELOG.md

[2015-11-18 14:45] hyphenbash commented on #150
@pgte I am using the latest. but I can see that @ali322 suggested to use fetch-mock as I am also using isomorphic-fetch, but it shouldn't make a difference as isomorphic-fetch is also for node and browserify, that are supported I guess, or it should?

[2015-11-18 14:57] garrypolley commented on #408
I _think_ that will fix it, however, our test suite is having issues right now related to mock data.  I'll try and let you know for sure as soon as I can.

[2015-11-18 16:13] pgte commented on #150
@hyphenbash ha, I've read the code of `isomorphic-fetch`. In the browser it uses the native `fetch` (or a polyfill), so it's not catched by nock.

[2015-11-18 16:22] pgte opened #409 "browser: support fetch"
Intercept the browser `fetch` API calls as we do now for `http(s).request` calls.

[2015-11-18 16:23] pgte commented on #150
related: #409

[2015-11-18 16:29] hyphenbash commented on #150
Thanks for the follow up @pgte

[2015-11-18 22:07] redben opened #410 "Testing ECONNREFUSED"
When using nock one can test server http errors.
Is there any way to test request errors like ENOTFOUND or ECONNREFUSED using nock ?

[2015-11-19 03:46] miazoom commented on #150
Thank for reponding @ali322 , I've tried fetch-mock, fetchmock and reqwest, non of them works yet - I'll keep trying other modules :(

@pgte I don't think it was because of the native fetch:  I've also tried something simpler:
- created index.js with below content;
- run "node index.js n"

[code]
nock was able to intercept the (isomorphic) fetch call and return me 499999999.

[2015-11-19 09:10] pgte commented on #150
@miazoom yes, nock can catch ieomorphic-fetch because when it runs in node it uses the node native HTTP client.
I'm afraid I can't say the same for the browser...

[2015-11-19 09:18] pgte commented on #410
You could use `.replyWithError(err)` to simulate that. You would have to create a mock error object with the `.code` attribute, etc.

I'm keeping this issue open, since I think nock could provide an easier way to reply with those types of errors.

[2015-11-19 10:37] antoinerey opened #411 "Delay error response"
Hey

I'm struggling to delay error responses. I'm testing that my app dispatches the correct actions, in correct order, when the authentication fails. To achieve this, I need to apply a little delay before fetching the result. This allow my loader to appear like planned.

### My setup

[code]

Basically, I'm testing that when the authentication fails, I get **in that order**:
  1. Display the load

[2015-11-19 14:37] garrypolley commented on #408
I cannot reproduce the issue currently. Something changed in the last few days with out tests that is no longer getting the socket hang up.

I do believe that the commit shown would resolve the issue I was seeing, since the socket would not get properly closed without it.

[2015-11-19 16:36] #411 closed

[2015-11-19 16:38] pgte commented on #411
Fix landed on v3.1.1

[2015-11-22 14:57] macscripter opened #412 "Is is possible to use this library to perform SOAP communications?"
Olá,

Is is possible to use this library to perform SOAP communications?

Thanks

[2015-11-22 22:42] austinmao commented on #150
I am still seeing this with v3.1.1. Running karma + webpack using https://github.com/erikras/react-redux-universal-hot-example

[code]

[2015-11-23 00:29] aromatt opened #413 "Query params doubly-encoded when using record/playback feature"
When attempting to record requests and play them back, query parameters are encoded twice--once when the request is made, and again upon loading the generated code.  To illustrate, consider the following request:
[code]
which produces this output:
[code]
If this is output loaded for playback, then the value of the "foo" query parameter will be encoded a second time, resulting in a value of `'with%

[2015-11-23 09:43] #413 closed

[2015-11-23 09:44] pgte commented on #413
Fix landed in v3.2.0

[2015-11-23 09:45] pgte commented on #412
If it's SOAP over HTTP, it is, but due to the chattiness of th SOAP protocol, you may find that nock is too low level, you may want to mock at a higher abstraction level..

[2015-11-23 09:45] #412 closed

[2015-11-23 09:56] pgte commented on #150
@austinmao looks like a warning only, since the require is in a try-catch block (https://github.com/pgte/nock/blob/master/lib/scope.js#L17 ).
Can you confirm  that?

[2015-11-23 12:59] asafm opened #415 "Support done() returns false if a request was sent more than expected times"
If you want to test that an http request is sent only once, and make sure it's not sent twice, there's not easy way to do it.

[2015-11-23 16:28] michaelmosher opened #416 "Issue with .query and paren encoding"
This is mostly a problem because the behavior is different from how the Request module handles query strings. If the querystring contains `(` or `)`, Request replaces them with `%28` and `%29`, but Nock doesn't, which cause the request to not match. If I replace the parens with `%28` and `%29` in the nock querystring, they are double-encode to `%2528` and `%2529`.

Code sample to replicate:
[code]

[2015-11-23 22:24] aromatt commented on #416
Yep, Request does not use `encodeURIComponent()` for this; [they use](https://github.com/request/request/blob/master/lib/querystring.js#L44-L46):
[code]
which is actually mentioned as a suggestion in the [doc](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent) for `encodeURIComponent()`, "to be more stringent in adhering to RFC 3986."

[2015-11-23 22:32] aromatt commented on #416
FWIW, until this is fixed you should be able to get around this by encoding the parens yourself and using the new `encodedQueryParams` flag:
[code]
See this test: https://github.com/pgte/nock/blob/3b71d8689315ae4d81507d1a27ea3f3448bfa773/tests/test_intercept.js#L4205

In general, to be sure your query params are always encoded the way Request does it, you could run all your query params through th

[2015-11-24 02:25] michaelmosher commented on #416
Thanks for the thorough response, @aromatt. Just to be clear, are you saying that Nock is likely to match Request's behavior in the future? I don't mind the workaround (and TBH it's better than the workaround I was expecting to have to do), I'm just curious.

[2015-11-24 04:10] aromatt commented on #416
@michaelmosher I think it should.

[2015-11-24 09:24] #416 closed

[2015-11-24 09:24] pgte commented on #416
Fix landed in v3.3.0.

[2015-11-24 09:41] pgte commented on #415
Before the meat of my reply, notice that:

`scope.done()` asserts and throws if it's not done.
`scope.isDone()` is the one that replies a boolean.

Anyway, if you want to test that a given request is only being sent out once, you just need to:
* disable net connect
* mock once

If you do this, a second request should fail.

[2015-11-24 09:41] #415 closed

[2015-11-24 14:18] SaidTayebi opened #417 "Override fixture files"
Is there a way to override the son files in the /fixtures folder ? For now when recording and the folder exists, the files are not overridden.

[2015-11-24 16:46] jakecraige opened #418 "Cannot shrinkwrap with 3.3.0"
I can no longer run a shrinkwrap when nock is added as a devDependency. This seemed to happen > 3.0 but I haven't looked too deeply into exactly which version caused it.

The error looks like:

[code]

I've created a repo to reproduce https://github.com/jakecraige/nock-shrinkwrap

Steps to reproduce:

1. Clone repo `git clone https://github.com/jakecraige/nock-shrinkwrap.git && cd nock-shrinkwrap`

[2015-11-24 21:48] blackxored commented on #409
+1

[2015-11-25 09:03] pgte commented on #417
@ierceg any thoughts on this?

[2015-11-25 09:08] pgte commented on #418
This happens if I use NPM v2.11.3.
If I use NPM v3, it works.
This looks like an NPM bug, since NPM shouldn't care about dev dependencies..
Please reopen if you think this is something that nock should solve.

[2015-11-25 09:08] #418 closed

[2015-11-25 09:09] pgte commented on #408
@garrypolley Closing for now. Please reopen if you find the bug still occurring.

[2015-11-25 09:09] #408 closed

[2015-11-25 10:38] outsideris opened #420 "Converting circular structure to JSON error in v3.3.1"
I just updated nock, but a "Uncaught TypeError: Converting circular structure to JSON" error is occured.

[code]

In `debug('match %j, body = %j', options, body);` (`lib/scope.js:175`), debug module throw the error because the object(I think `options` is guilty) has curcular reference). There are no error if I turn off logs for `debug`. I guess it happened under specific situation but I didn't fin

[2015-11-25 10:58] ierceg commented on #417
@SaidTayebi If I understand you correctly, you want to overwrite the already recorded JSON files? I often need this as well. We could add a new Nock Back mode for this.

[2015-11-25 11:01] SaidTayebi commented on #417
Yes, when I record and create the JSON files, I want to override the files every time I record again

[2015-11-25 11:24] #420 closed

[2015-11-25 11:27] pgte commented on #420
Fix landed on v3.3.2

[2015-11-25 11:29] ierceg commented on #417
Alright, let me see what I can do.

[2015-11-25 19:04] asafm commented on #415
What do you mean by disable net connect? Can you give a simple code example?

‏בתאריך יום שלישי, 24 בנובמבר 2015, Pedro Teixeira <notifications@github.com>
כתב:

[2015-11-25 23:02] pgte commented on #415
I'm referring `nock.disableNetConnect()`, explained here: https://github.com/pgte/nock#enabledisable-real-http-request

[2015-11-26 01:19] outsideris commented on #420
:+1:

[2015-11-30 12:59] sprzybylski opened #421 "an option that match any request regardless query params"
For now we have .query(true) that expect at least '?'.
I've an issue with stubbing service discovery responses for given service in generic way.
[code]
Some of the request to the service discovery are parameterized some don't.

I can implement that feature but I'd like to discuss the api and the fact if you want it at all in nock.

[2015-11-30 13:13] pgte commented on #421
5eb5e2e7dc950c20f65b26fd6fed50dacec27cdf should have fixed this, landed in v3.1.0.
Can you verify this?

[2015-11-30 13:19] sprzybylski commented on #421
yep, thats it, thank you

[2015-11-30 13:20] #421 closed

[2015-12-01 02:15] okcompute opened #422 "How to nock request without scope?"
Hi,

I have looked the code and documentation and I can't find how to nock a request like this:

    fetch('/api/something').then(...)

I have tried nock without a scope:

    nock().get('/api/something').reply(...)

But it fails. A scope seems to be expected.

Any suggestion on how to handle this usage?

Thanks a lot. Great library :)

[2015-12-01 09:06] pgte commented on #422
Nock doesn't support the fetch API (see #409).

[2015-12-01 09:06] #422 closed

[2015-12-02 10:02] hyprstack opened #423 "dependency deprecated"
When installing `nock` I am getting the following `npm WARN` message:

[code]

[2015-12-02 14:51] Cordazar commented on #423
:+1:

[2015-12-04 16:20] danny-andrews commented on #409
+1

[2015-12-05 23:59] cyberthom commented on #418
I am having the same issue.

If you download the latest package you can see that the extraneous package `changelog`, which shrinkwrap complains about is actually included in the tarball.

This is not a bug in npm, this is a problem with the published package.

http://registry.npmjs.org/nock/-/nock-3.3.2.tgz

[2015-12-06 00:03] cyberthom commented on #418
(This might help: https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package)

[2015-12-06 10:10] cyberthom commented on #418
ok I did some more investigation. Turns out this might be a bug in npm directly but not when installing modules but rather when packaging them up.

I have run `npm pack` with various different patterns to explicitly try and exclude the `changelog` module without any luck. From my understanding there is no reason npm should include it in the first place though even with the current configuration.

[2015-12-06 16:40] pgte commented on #418
I can use  global install to generate the changelog.
Removed the devDependency.
"Fix" landed on v3.4.0.

[2015-12-06 16:49] pgte commented on #423
Triedupgrading to latest `lodash` and tests don't pass. Will investigate further.

[2015-12-06 17:59] jdalton commented on #423
For help with what's changed check out the lodash 3.0 [release notes](https://github.com/lodash/lodash/releases/tag/3.0.0), [changelog entry](https://github.com/lodash/lodash/wiki/Changelog#v300), and [lodash-migrate](https://www.npmjs.com/package/lodash-migrate).

[2015-12-07 16:21] alixeb commented on #150
having same issue as @austinmao

[2015-12-07 16:38] rixth commented on #150
@pgte I'm getting a couple warnings, *then* an error:

    WARNING in ./~/nock/lib/scope.js
    Module not found: Error: Cannot resolve module 'fs' in /Users/trix/workspace/project/app/node_modules/nock/lib
     @ ./~/nock/lib/scope.js 18:7-20

    WARNING in ./~/nock/lib/back.js
    Module not found: Error: Cannot resolve module 'fs' in /Users/trix/workspace/project/app/node_modules/nock/lib

[2015-12-08 14:55] vyorkin commented on #150
@pgte getting the same error as @austinmao and @rixth, the problem is this call to [mkdirp.sync(dir, opts)](https://www.npmjs.com/package/mkdirp#mkdirp-sync-dir-opts) => https://github.com/pgte/nock/blob/master/lib/back.js#L175, for now I've just commented it out

[2015-12-08 15:42] Poplava commented on #150
I have the same problem with 'fs'.

[2015-12-10 20:43] judikdavid commented on #409
+1

[2015-12-10 20:50] vyorkin commented on #409
@danny-andrews @judikdavid @blackxored for now you can use [fetch-mock](https://github.com/wheresrhys/fetch-mock), [here is an example](https://github.com/vyorkin-play/fetch-mock-example) with [isomorphic fetch](https://github.com/matthew-andrews/isomorphic-fetch) + karma + webpack

[2015-12-10 22:20] blackxored commented on #409
Yes I switched to fetch-mock after a bit of research :(

[2015-12-10 22:37] vyorkin commented on #409
Sorry for ad of other solutions here. I'll definitely switch back to nock later (when it will support fetch) because I really like the API, code quality & docs

[2015-12-10 22:40] pgte commented on #409
@vyorkin np at all.

I think that a good solution for everyone would be for browserify / webpack to use fetch an HTTP client backend..

[2015-12-11 10:57] judikdavid commented on #409
Yes, I'm also using fetch-mock with webpack, just wanted to switch back to nock.

[2015-12-12 14:14] ericsaboia commented on #347
+1

[2015-12-14 16:01] aronwoost commented on #191
+1

[2015-12-15 07:20] yinrong opened #424 "new Buffer(xxx, 'hex) is missing in rec() generated statements"
currently, nock generate the following code:

[code]
which should be:

[code]

[2015-12-15 07:21] yinrong commented on #424
I'm currently manually changing the generated code.

[2015-12-15 13:46] fiznool commented on #418
Unfortunately this is still an issue with nock 3.4.0.

Notice the `changelog` package which is bundled with the tarball...

[code]

[2015-12-15 15:40] gr2m opened #426 "Issue with nock & pouchdb"
Hello there :wave:

I try to nock out a simple `GET` request from PouchDB, here is my code:
https://tonicdev.com/gr2m/56702dab76e5fd0c00e1a402

The `nock` code is copy&past from nock recroder. If I turn on the recorder and requests go through, it works, if I turn it off and use the code logged from the recorder, it does not.

I'm a bit puzzled. Any idea what might be happening here?

Tested in noc

[2015-12-15 16:07] jo commented on #426
What is the `.query({})` for?

[2015-12-15 16:14] pgte commented on #426
It's an issue in nock related to matching with the query string.
A quick fix for this case is to match `.get('/mydb/mydoc?')` instead of `.get('/mydb/mydoc')`.
Another fix is to wait for me to fix this in nock itself, which I intend to do today..

[2015-12-15 16:16] pgte commented on #426
Another (more appropriate) quick fix is to use `query(true)` instead of `query({})`.

[2015-12-15 16:31] jo commented on #426
@pgte does `query(true)` solve the original issue?

[2015-12-15 16:33] gr2m commented on #426
confirmed, `.query(true)` fixes the issue, you are the best <3 <3 <3

[2015-12-15 16:45] #426 closed

[2015-12-15 16:50] pgte commented on #426
Fix landed in v3.4.1.

[2015-12-15 17:09] janl commented on #426
<3

[2015-12-16 16:35] gr2m commented on #426
Thanks so much for the quick help @pgte, it helped a lot!

[2015-12-17 14:59] massimocode opened #427 "Confusing error API"
Hi

I have been using nock today and found the API for simulating errors via callbacks a little confusing.

Please see the attached code. There are 5 different examples. A 200, 404 and 500 as expected. However, there is then a scenario where I call the callback passing an error argument. For some reason, this does not translate into a "hard error" (i.e. no response from server) when making the req

[2015-12-19 10:02] subblue commented on #150
I'm also getting the same errors as @rixth and others. Commenting out the mkdirp references in lib/back.js as mentioned by @vyorkin is a temporary hack fix for the moment.
My testing setup is using Webpack via Karma using PhantomJS and Jasmine.

[2015-12-20 03:24] lecstor commented on #150
Not sure if this will break something else, but in Karma.conf you can try this to get around `fs` issues:
[code]

[2015-12-21 18:06] CodisRedding opened #429 "option to choose the type of quotes wrap recorded strings in"
It would be nice to have the option to choose a single-quote or double-quote for strings that are generated via nock.recorder.rec();

[2015-12-21 18:16] hyzhak commented on #347
:+1: definitely it will be great to have function in `scope.get` that be able to generate body of reply based on parsed path.

Something like this:

[code]

[2015-12-22 12:00] liorbrauer commented on #150
@lecstor Thanks! This is the second time you've helped me with my karma config issues :) :+1:

[2015-12-22 12:34] lecstor commented on #150
@liorbrauer 8) cool, glad I could help!

[2015-12-22 19:23] filipedeschamps commented on #410
@pgte like this:

[code]

Doesn't seems to work.

[2015-12-22 19:25] kevinburkeshyp commented on #410
I wrote a project that starts servers for this in Python: http://github.com/kevinburke/hamms

The easiest way is simply to connect to a port where nothing is listening. ETIMEDOUT you can generally use `10.255.255.1` and set a timeout, though I guess `nock` can just throw errors on its own if you want.

[2015-12-23 06:46] 1999 commented on #410
There's a problem with replyWithError: it doesn't support `.delay` option. I mean that mocked requests with replyWithError reply immediately with an error regardless of the delay value.

[2015-12-23 12:05] pgte commented on #410
@1999 could you please create a separate issue for this?

[2015-12-23 12:06] pgte commented on #410
@redben what's the status of this?

[2015-12-23 12:06] pgte commented on #410
@filipedeschamps could you please elaborate?

[2015-12-23 12:09] liorbrauer opened #431 "Using relative path?"
All the ajax calls in my app's code are using relative paths (since the hostname can change, depending on the user's account).

For example:

[code]

Is there a way to make nock catch these calls? I am using karma + mocha as my test runner / library

[2015-12-23 12:11] pgte commented on #431
nock is designed to work on node.
browser is still limited to require('http') in browserify, and still with some problems.
Direct AJAX is not supported.

[2015-12-23 12:11] #431 closed

[2015-12-23 13:01] 1999 commented on #410
@pgte I can also PR this if you think that's unexpected behaviour

[2015-12-23 15:30] pgte commented on #410
@1999 PR is  welcome :)

[2015-12-23 17:42] 1999 commented on #410
@pgte sorry, I've just re-run tests and acknowledged that everything is okay. The problem was in old nock version used in webdriverio.

[2015-12-24 11:20] pgte commented on #410
I'm closing this for lack of feedback. Please reopen if you have more info.

[2015-12-24 11:20] #410 closed

[2015-12-25 08:01] choonkending commented on #150
@miazoom Did you ever get around to mocking the requests on the browser?

[2015-12-26 08:38] choonkending commented on #409
+1

[2015-12-26 21:55] pgte commented on #427
`.replyWithError` emits an error on the request object, not the response.
This should be clarified on the documentation.

[2015-12-26 21:59] pgte commented on #427
Clarified in e305c18864e9fbe5000ca60273c0d518bef6f798

[2015-12-26 21:59] #427 closed

[2015-12-26 22:00] pgte commented on #424
I think nock assumes the response to be utf-8. Would need an option on the expected encoding..

[2015-12-28 08:10] massimocode commented on #427
Sorry to reopen the issue. Thanks for clarifying the behaviour of replyWithError. Do you think you might clarify the behaviour of the reply callback as well? I can envision people wanting to use the node-style callback function to raise an error on the request, only to find it gets JSON serialized as a 500 server response. If it's a change that can't be made now because of existing code that might

[2015-12-28 11:16] pgte commented on #427
@massimocode cood call.

Fixed by a6adb4e092583f225f36d6f96328c41f27dbc462

[2015-12-31 00:39] FuzzySockets opened #435 "cannot get nock to match superagent post"
I cannot for the life of me get nock to work with a simple superagent post request. Here is both my superagent and nock configuration.

    import request from 'superagent'
    request
        .post('https://test.com/api/login')
        .send({
            email: 'test@test.com',
            password: 'testpassword'
        })
        .end((err, res) => {
            if (err) {
                con

[2015-12-31 01:15] FuzzySockets commented on #435
Ok -- figured it out.  After digging through the docs a bit more I found the .log function.  I chained my nock config like so

    nock('https://test.com')
        .log(console.log)...

and it turns out the request bodies were not matching.

[2015-12-31 01:15] #435 closed

[2016-01-01 16:41] redben commented on #410
Sorry didn't pay attention to notifications.

- For ECONNREFUSED, I ended up disabling nock and passing a url to the unit under test with a port that I know is closed (``http://localhost:{closed-port}`` )
- For ENOTFOUND i set the url to a random hostname.

So basically these two can be tested without nock. Thanks anyway !

[2016-01-05 16:48] #423 closed

[2016-01-06 01:42] annyh opened #437 "nocking a non-standard port, on localhost, gives connect ECONNREFUSED"
Hello,

My app runs on port 3000.  I am trying to test the http methods, using nock.
Logged errors say nock is trying to use port 80, even though I specified to use port 3000.

When I nock with the following:
    nock('http://localhost:3000')
      .patch('/v1/subjects/' + id)
      .reply(200, [subject]);

I get this error
{ [Error: connect ECONNREFUSED 127.0.0.1:80]
  code: 'ECONNREFUSED',
  err

[2016-01-06 10:50] pgte commented on #437
it looks like the client is trying to connect to port 80.
can you provide a snippet of the client code?

[2016-01-06 18:38] djmitche opened #438 "Ability to stop persisting a persistent nock"
[code]

I can use `nock.cleanAll`, but I'm writing a library that fakes out a particular service using nock, and it seems rude for my library to rip out all interceptors, and not just the interceptors it installed..

[2016-01-06 19:28] cody-greene opened #439 "nock.delayConnection() and req.abort()"
When aborting a request after using `.delayConnection(N)`, an error isn't emitted until `N` milliseconds has passed. Is there a good reason for this? The `http` module's actual behavior is to emit an error almost immediately.

[code]

[2016-01-06 21:14] shawnzhu opened #440 "How to mock a TCP connection reset?"
It provides `.delayConnection()` to delay the TCP connection. is there any way to mock a TCP connection reset?

[2016-01-06 22:34] annyh commented on #437
Using the request library,
    request
      .patch(`/v1/subjects/` + subject_id)
      .send(formObj)
      .end((error, res) => receiveAndToggle(error, res, dispatch))

[2016-01-07 09:27] pgte commented on #437
@annyh looks like you're not specifying a port when doing a request.

[2016-01-07 09:27] #437 closed

[2016-01-07 10:03] pgte commented on #440
@shawnzhu you would need to call `.replyWithError(err)` with a synthetic error, which emits that error on the `request` object.

[2016-01-07 10:03] #440 closed

[2016-01-07 10:21] deoxen0n2 opened #441 "Is there a way to set connection delay of loaded nock definitions?"
I tried searching the source but no luck so far. Here an example of what I want to do:

[code]

If I understand the current source code correctly, there is no way we can get `interceptors` variable defined in that scope?

Or is there a way to set connection delay without accessing to those interceptors?

[2016-01-07 10:35] pgte commented on #439
@cody-greene aborting shouldn't emit an error, this behaviour was wrong.
I've changed your test to this: https://github.com/pgte/nock/blob/master/tests/test_abort.js

[2016-01-07 10:40] pgte commented on #439
Fix landed in v5.1.0.

[2016-01-07 10:54] pgte commented on #441
Fixed by 8b55243d4a92fd7742203931e45b639a55c8875a

[2016-01-07 10:56] pgte commented on #441
Landed in v5.2.0.

[2016-01-07 10:56] #441 closed

[2016-01-07 11:55] deoxen0n2 commented on #441
That was fast. Thanks you.

[2016-01-07 18:31] cody-greene commented on #439
It might make more sense to only emit the `abort` event, but in practice the `http` module does emit an `ECONNRESET` error after aborting. Should nock deviate from the actual behavior?

[code]

[2016-01-08 06:38] DeoLeung opened #442 "is there a way to find out how many non-nocked request the method makes?"
I have a method which makes 3 http requests.(and I only care the counts)
if I nock it 3 times or less, I can use the scope.isDone() to assert it.

how ever, if the method makes 4 requests, I got some log
{ [Error: Nock: No match for request POSTxxxxxxxx] status: 404, statusCode: 404 }

but the scope.isDone() is still true, is there a way to capture the error or find out how many calls it make so I

[2016-01-08 09:43] pgte commented on #439
@cody-greene thanks! By looking at node http client code I didn't realize that was would be the case.
Fix coming out soon.

[2016-01-08 09:49] #439 closed

[2016-01-08 09:55] pgte commented on #439
Fix landed in v5.2.1.

[2016-01-08 12:52] pgte commented on #442
I'm working on emitting `request` and `replied` events.
Check the tests: https://github.com/pgte/nock/blob/master/tests/test_events.js
Would this work for you?

Just in master for now.

[2016-01-08 13:15] pgte commented on #442
About the non-matched requests, it must be emitted from a central place, I'm going to think of a solution..

[2016-01-08 13:35] jviotti opened #444 "Sending gzipped data with Nock"
Hi, I want to write a test case for an API endpoint which sends `gzip` compressed data, omits a `Content-Length` header and instead sends a custom `X-Transfer-Length` header equivalent to the *compressed data length*.

My test case currently looks like this:

[code]

But get the following error:

[code]

The issue is gone when commenting out `'Content-Encoding': 'gzip'`, but it's important for my

[2016-01-08 13:39] jviotti commented on #444
I've also tried:

[code]

And sending `compressedMessage.data`, which is an array of bytes, e.g

[code]

But get:

[code]

Which is guess is expected since I'm piping an array to `zlib.createGunzip`.

[2016-01-08 14:57] #442 closed

[2016-01-08 15:20] pgte commented on #444
Fixed by 22667de15b0a77c9e0fd0a5edf8b11d8adbc29e6

Landed on v5.3.1

[2016-01-08 15:20] #444 closed

[2016-01-08 19:57] jviotti commented on #444
@pgte Works flawlessly. Thanks!

[2016-01-12 15:32] piranna opened #446 "Move interception mechanism to independent project"
This would allow to create general purposses interceptions, not only for mocking. For example, I could use it to test a streaming server on localhost without needing to start it, similar to how [supertest](https://github.com/visionmedia/supertest) allow to test them directly by giving a function.

[2016-01-12 15:35] pgte commented on #446
@piranna could you elaborate? I'm failing to picture what could be commonly abstracted here..

[2016-01-14 14:52] solsend2l opened #447 "Confusing removeInterceptor"
Hi, I was reading in source code that `.get` [returns](https://github.com/pgte/nock/blob/master/lib/scope.js#L580) an [interceptor](https://github.com/pgte/nock/blob/master/lib/scope.js#L576), so I was looking to do basically:

[code]

But that doesn't seem to be working. Am I misunderstanding something? If not, could it be supported?

[2016-01-14 20:31] solsend2l commented on #438
Interesting! See my related issue #447

[2016-01-14 20:46] solsend2l opened #449 "return headers from .reply"
It'd be _really_ nice to also support mocked headers from the `.reply` callback return, like this:

[code]

[2016-01-15 22:28] ruiquelhas opened #450 "Streaming with request"
I'm trying to use `nock` to test streaming an image from one url into another. It goes something like this:

[code]

When I'm mocking the `GET` request, what should I do with `reply()` to make sure the `POST` actually gets through (maybe using `nock` for that endpoint itself)? I've tried some alternatives like `replyWithFile()`, `reply()` with a readable file stream and others but it seems to hang

[2016-01-16 11:46] ruiquelhas commented on #450
It seems to be some problem with the implementation after all. Sorry.

[2016-01-16 11:46] #450 closed

[2016-01-18 11:30] pgte commented on #447
The API for `removeInterceptor` is not that one. It's:
https://github.com/pgte/nock/blob/master/README.md#removeinterceptor

[2016-01-18 11:34] pgte commented on #447
Anyway, I see now what you're doing on this PR https://github.com/pgte/nock/pull/448.
You're trying to use the interceptor as the options for removing.
I'll keep this open for tracking.

[2016-01-18 12:17] #449 closed

[2016-01-18 12:18] pgte commented on #449
Landed on v5.4.0

[2016-01-18 12:18] pgte commented on #446
Closing for lack of feedback.

[2016-01-18 12:18] #446 closed

[2016-01-18 16:00] solsend2l commented on #449
nice, ty!

[2016-01-19 10:23] piranna commented on #446
I have been busy lately. What I'm asking about is to have the intercept code in an independent project and offer an API where you simply give it a middleware-like function (`function(req, res){...}`) and all the request for the intercepted domain will be procesed by that function. The same as `nock` is doing, but instead of doing it the processing of the requests to return a particular predefined

[2016-01-21 21:14] fourq opened #453 "Unable to record using Hapi.js"
If, at a glance, someone can see the issue that would be wonderful. Thanks

## status.js
[code]
## output
[code]

[2016-01-21 22:53] pgte commented on #453
If you're using hapi, `server.inject()` doesn't create an HTTP request, so there's nothing to record.

[2016-01-21 23:37] fourq commented on #453
I am using it, but it's the http calls within the endpoint that I'm checking. I understand that the call to the hapi endpoint doesn't create a HTTP request, but the code it executes does, and those are the ones that I want to mock.

[2016-01-22 08:54] pgte commented on #453
@fourq it's not clear what your exact issue is to me then.

[2016-01-22 10:10] pgte commented on #453
@fourq if the problem is that you're not getting the ouput into the stdout, it's probably because mocha takes control of stdout. If this is the case you'll have to use the [`dont_print` option](https://github.com/pgte/nock#dont_print-option).

Please reopen if you found that this is a problem on nock.

[2016-01-22 10:10] #453 closed

[2016-01-22 14:54] fourq commented on #453
Well I added nock to the src code and ran it without mocha, and it still doesn't work.

[code]

[code]

[2016-01-22 17:49] alekbarszczewski opened #454 "Specifying reply headers by function does not work as expected"
I've recently encountered strange behaviour of nock (nock@5.2.1, node@0.12.7):

[code]
Am I doing something wrong or it is a bug?

[2016-01-24 02:55] wprater opened #457 "Nock back is recording response as binary array"
For a handful of my nocks, Im getting an array as the response being recorded when only json was sent from the server.  It's an array of two entries of what seems to be binary data.

Im using supertest and nock.back.

thoughts?

[2016-01-24 03:46] wprater commented on #457
compression was on for the express app, turned this off in the test ENV and it was fixed.  does not explain why only sometimes the response was not being decoded tho.  the header `transfer-encoding': 'chunked'`.  will close this issue, unless you think there is a bug in nock, feel free to re-open.

[2016-01-24 03:46] #457 closed

[2016-01-24 03:47] wprater commented on #457
maybe this was a regression of https://github.com/pgte/nock/issues/444 ?

[2016-01-25 09:20] #454 closed

[2016-01-26 21:29] nicinabox opened #460 "TypeError: (contentType || "").toLocaleLowerCase is not a function"
I'm getting this error...

[code]

...testing this method:

[code]

The error seems to be around using `Content-Type` in the request headers for `fetch`.

This is my test:

[code]

I logged `contentType` from `common.js:192`. It looks like the header values come out as arrays, but I'm not sure that's the expected behavior:

[code]

[2016-01-27 09:32] #460 closed

[2016-01-27 09:34] pgte commented on #460
Should be fixed by 83168f6, which landed on v7.0.1.

[2016-01-27 14:17] mickaeltr opened #461 "Since 7.0.1, some tests fail with "Cannot read property 'setEncoding' of null""
Hello,

Since I updated my application to nock 7.0.1, some of my tests fail with the following error

[code]

It seems to be related to #460

[2016-01-27 16:58] pgte commented on #461
Should be fixed by 603fd52f7cfc4d56f34cbc127bef7940495aeccf, which landed on v7.0.2.

[2016-01-27 16:58] #461 closed

[2016-01-27 17:22] mickaeltr commented on #461
Thanks

[2016-01-28 09:13] ciccia commented on #409
+1

[2016-01-28 11:46] dmitry commented on #409
Any proposals how it should work?

[2016-01-28 17:05] joseph-norman opened #463 "Nock mismatching method & throwing error"
Hey,

Forgive me if I haven't scoured through the issues properly for a fix, but I'm currently hitting a wall trying to use Nock to mock a `PUT` request that I'm making against a remote URI in my unit tests. For example:

[code]

For some reason, this is returning a message along the lines of:

[code]

Has this occurred before? Am I missing something?

Thanks.

[2016-01-28 17:09] pgte commented on #463
Looks like your client is making a POST and not a PUT request.
To make sure, can you share the client code that triggers that?

[2016-01-28 17:17] joseph-norman commented on #463
After what you mentioned, I double checked the client code - looks like a POST was actually being sent (typo...typical).

Thanks anyway, I'll close it

[2016-01-28 17:17] #463 closed

[2016-01-29 09:47] rashthedude commented on #128
Hi Pedro, hope all is well with you. I was wondering if the delay method is now part of Nock 2.4.1?

[2016-02-04 22:33] sethen opened #466 "No match for GET request"
I have been searching up and down for documentation to point me in the right direction of what the issue may be.  I am getting a no match error when the URL I am mocking with nock is exactly the same.  Here is the code:

	it('should be able to get all accounts', (done) => {
		nock(URL.API)
			.get('twitter_accounts/1/user_lookup')
			.query({
				twitter_ids: [ 2 ]
			})
			.reply(200, {});

		con

[2016-02-04 22:52] owiber commented on #466
Since you specified an array for the value of `twitter_ids`, it's expecting the query parameter to be `twitter_ids[]=`.

[2016-02-04 22:57] owiber commented on #466
Also not sure if it's valid to have a path in the scope. It maybe should just be protocol + host.

[2016-02-04 23:02] sethen commented on #466
Even if I changed it to be `query({ twitter_ids: '2,3,4,5' })`, I get the same result.

[2016-02-05 02:54] JemiloII commented on #429
what do you mean? for the generated nock code or the generated json?

[2016-02-05 15:38] JemiloII opened #467 "nock.load, nock.define is not working right?"
So I'm recording with nock.recorder.rec with the output_objects = true option.

I organize files and such and combined them all into an array. Each file contains the exact object out that nock generates. I make no changes to the object.

Once I have my array, trying nock.define will load them, but return 404s for every nock route in the array. Likewise, if I save all the nocks to a single file and

[2016-02-05 15:51] JemiloII commented on #333
only thing i could think of, is to load recording.json's scope, path, and body attributes. then check against those. when a new one needs inserting, do a last 2 line delete in recording.json file and insert. Only thing I'm weary of is if someone has 100s of nocks to be read from the file.

[2016-02-05 17:04] JemiloII commented on #467
Actually going to close this as most of the nocks are actually working as expected. I have a couple not working, and I'm not quite sure why.

[2016-02-05 17:04] #467 closed

[2016-02-06 23:08] wprater opened #468 "No match for request in `dryrun`"
I should never be seeing this Error when using nockback in a `dryrun` mode, correct?

[2016-02-08 16:08] carolynnvu opened #469 "Add statusMessage to response, not response.body"
There doesn't seem to be a way to add [statusMessage](https://nodejs.org/api/http.html#http_response_statusmessage) to the response object with nock. It seems that we can only add properties to response.body, and the only allowed "direct" property of response is statusCode.

Example:
[code]

With nock-ing, console.log(response) in client code outputs:
[code]

Desired output:
[code]

[2016-02-08 21:42] JemiloII opened #470 "Bug: nock.define does not properly read reqheaders!"
So using `nock.define(nocks);` I get an error when my `nockDef.body = ''` and `nockDef.reqheaders[content-length] = 0;`

Always a 404! I've had to resort to removing the content-length property.

Thought I'd note the bug. I was trying to dive in and figure out what it was so, but couldn't quite figure it out. My nockDef comes from being recorded and saved to json from

[code]

[2016-02-08 22:24] JemiloII commented on #470
[code]

here is an example

[2016-02-09 11:00] fjakop opened #471 "nock failing with system proxy set"
When I try to use nock in tests like this `nock('http://localhost').get('/success').reply(200, 'some data');` and the system which runs the tests has `http_proxy` set, the requests will be passed to the proxy whatever I try to define in system's proxy exceptions.

Since I did not find any documentation on this, I'd like to know if there's anything I can do to make nock / request not unsing the pro

[2016-02-09 14:37] xavierchow commented on #471
It may be out of scope of `nock`, what's the http request module you're using?

[2016-02-09 14:51] fjakop commented on #471
I'm using https://www.npmjs.com/package/request

[2016-02-09 15:06] xavierchow commented on #471
Cool, see https://github.com/request/request#controlling-proxy-behaviour-using-environment-variables,
you can set the `no_proxy` env var for localhost http request.

[2016-02-09 19:18] sethen commented on #466
I am going to close this... After messing with the test a little longer the issue seemed to resolve itself.  I will chalk this one up to a malformed request on my end.

[2016-02-09 19:18] #466 closed

[2016-02-09 22:37] JemiloII commented on #417
interesting, I don't see any fixtures getting recorded on my end. I had to make my own using the logging function. kind of wish there was a sugar syntax of raw or raw_output for logging since it just sends us the nockDef it recorded.

[2016-02-10 03:57] danosaure commented on #431
Just so everyone curious, i'm just using: nock(/.*/).get('/absolute/path') and that seems to work well without a hostname.

[2016-02-10 07:27] fjakop commented on #471
Thanks a lot, that's basically it. It took a while for me to figure out that the `ical` module I'm using relies on a too old version of `request` (2.40.0) which does not support these variables (since 2.51.0).

[2016-02-10 07:27] #471 closed

[2016-02-10 14:48] satispunk opened #472 "Slow tests peformance with nock"
Hi,

I am using nightwatch + nock to write some UI tests. I have noticed that test execution time depens on how much mock is used. The more the slower.

I have setup some persisten mocks and each test has their own mocks.
Example:

[code]

Do you have any idea what could be wrong?

[2016-02-11 05:07] owiber opened #473 "Interceptors do not get removed when path is specified with function"
Example:

[code]

This will intercept this request forever. I believe the problem is with the key that gets generated for this interceptor. It ends up looking like:

[code]

So when we get to this part:
https://github.com/pgte/nock/blob/master/lib/intercept.js#L121:L124 the hostKey is calculated incorrectly.

[2016-02-11 05:29] owiber commented on #473
Here's an adjusted intercept callback test that demos the issue:

[code]

[2016-02-12 03:40] HowlingEverett opened #475 "Webpack/Browserify: `Error: Cannot find module "fs"`"
This is an edge case, but likely to become more common as more people use Webpack/Browserify to support modular javascript in the browser.

Nock's modules themselves wrap its `require('fs')` try/catch to handle for the browser. However, the source of the error is the `mkdirp` import inside `lib/back.js`. The `mkdirp` module imports `fs` without the try/catch.

Since nock doesn't appear to use `mkd

[2016-02-12 04:04] HowlingEverett commented on #475
Looks like nock isn't really supported this way/in the browser, I'll close this for now and use something else :)

[2016-02-15 09:35] pgte commented on #475
Fix landed on v7.2.0.

[2016-02-15 15:53] JemiloII commented on #375
Just use the property logging and create your own from there. It's what I do. It gives you a complete nockDef for every request when you record. Very useful. Also when you combine the nockDefs or even just a single nockDef, you must create an array to use nock.define().

[2016-02-15 16:58] #473 closed

[2016-02-16 15:32] kimmobrunfeldt opened #477 "Is there a better way than .times(Infinity) ?"
I would need nock to fake the responses no matter how many requests were done. Is the best way to achieve this by:

[code]

[2016-02-16 15:45] pgte commented on #477
@kimmobrunfeldt did you try `persist()`?
https://github.com/pgte/nock#persist

[2016-02-16 15:52] kimmobrunfeldt commented on #477
Didn't try that one. I tried to find something like that but missed it. That is exactly what I would need. Thanks! :+1:

[2016-02-16 15:52] #477 closed

[2016-02-20 07:50] bigomega commented on #431
Found a workaround for this. Have a _ajax-setup.js in your test folder
[code]

and test with
[code]

[2016-02-20 19:11] danosaure commented on #431
I modified my code to query:

    document.location.host + '/my/path';

and use global.document.location.href = 'http://fake.host/'; in my tests.

[2016-02-21 05:46] hermansb opened #478 "Add support to not nock URLs in nock back"
You'd want to do this if for example you are testing a server that you start at the beginning of your tests, and just want to nock all the outgoing requests from that server.

[2016-02-21 17:50] maorhayoun opened #479 "nockback: ability to invalidate recorded fixtures using 'before' hook or by time expiration"
hi, is there a way I can pass a hint to nockback which will make it ignore recorded fixtures and re-record them?
some kind of cancelation token passed back by the 'before' hook,
in there I can add my custom invalidation logic - e.g. check if original request time has exceeded...

current context load method checks if fixture exists and and sets the _isLoaded_ flag,
in case it will be set to false,

[2016-02-22 09:36] pgte commented on #472
@satispunk You can try and cleanup between each test, using [`nock.cleanAll()`](https://github.com/pgte/nock#cleanall).
What version are you using? (there were [some optimizations introduced in v7.2.2](https://github.com/pgte/nock/pull/476))

[2016-02-22 22:16] JemiloII commented on #470
I've narrowed the error down. By removing the reqheaders content-length, I can successfully have my nocks work. So now I have to add an extra step to remove content-length. When using nock.define().

[2016-02-23 13:00] maorhayoun commented on #479
any comment?

[2016-02-23 18:06] brian-mann opened #481 "Question about reqheaders and matchHeader"
Why do these options both exist?

When would you ever need to specifically use one vs the other since they can both take strings, regexp or callback functions?

I guess the object literal pattern of the first may be useful in specific testing scenarios vs the fluent API, but it seems like unnecessarily increasing the surface area of the API.

[code]

vs

[code]

[2016-02-24 09:38] vquigley commented on #398
@soroushjp how is this going? I am having similar struggles with post body. The error message is too high level.

[2016-02-24 14:14] #447 closed

[2016-02-24 14:32] pgte commented on #481
As you can see [here](https://github.com/pgte/nock/blob/master/lib/scope.js#L326-L328), reqheaders uses `scope.matchHeader()` to add the header.

And you're right, in hindsight it's unnecessarily increasing the API surface..

[2016-02-24 14:32] #481 closed

[2016-02-24 16:53] timjonischkat opened #483 "nock does not intercept requests made by request/request-promise"
I was trying to mock a REST webservice that is consumed by a request-promise-powered client.

Unfortunately, nock does neither intercept the call nor is the recorder able to record the request. :(

[2016-02-24 17:10] #483 closed

[2016-02-24 18:00] JemiloII commented on #483
did you solve this?

[2016-02-24 18:34] timjonischkat commented on #483
Nope. - I think this was a false negative. I still didn't fix it, but couldn't reproduce it in a controlled setup. Will reopen this issue in case I can.

[2016-02-24 18:41] JemiloII commented on #470
So I narrowed it down. If you have reqHeaders with a post request, either in the nockDef or in the options, it will fail. Glad I found this, kinda a bummer if you want to have request headers matching with post request.

other notes:
nockback is nice when you know what route to record, but I enjoy nock.record.rec using the logging option to record because I can get the reqHeaders.

[2016-02-24 20:51] eddieantonio commented on #469
:+1: My API has tests depending on status messages; this would be a great addition!

[2016-02-25 09:51] timjonischkat commented on #483
Yep. Works like a charm. Must've been a different problem in my setup.

`
'use strict';

const nock = require('nock');
const rp = require('request-promise');

nock.disableNetConnect();

let body = {country: 'fr', email: 'francoise.minault@bonjour.fr', userAgent: 'Gecko/1.2.3'};
let serverMock = nock('http://www.google.com').post('/index/test', body).reply(200, 'ok');

rp({
	method: 'POST',
	uri: '

[2016-02-25 11:23] andrenarchy opened #484 "nock.back does not respect enableNetConnect"
I just noticed with @bitgal that `nock.back` even records http requests that are explicitly allowed via `nock.enableNetConnect()`. Is this the expected behavior?

### Example

We want to allow unmocked requests to a local elasticsearch instance so we set
[code]
However, `nock.back` still records all requests to elasticsearch. Is there another way to white-/blacklist hosts/paths for which `nock.bac